/**
 * Created by Leonid Bartenev
 */

.THIS.rr-white-panel {
    padding: 16px;
    border-bottom: none;
}

.THIS .vpi-path-panel{
    background-color: #f8f9fb;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
}

.THIS .vpi-path-panel .collapse-section.opened{
    background-color: white;
}

.THIS .vpi-status-btns button{
    margin-top: 15px;
}


@media all and (min-width: 1024px) {
    .THIS .vri-state-label{
        display: block;
    }
    .THIS .width-basis{
        flex-basis: 0;
    }

    .THIS .state-ico-wrapper{
        width: 28px;
        height: 28px;
        top: -15px;
        left: -14px;
    }

    .THIS .state-ico-wrapper .rr-icon-default{
        width: 16px;
        height: 14px;
    }

    .THIS .state.missed .state-ico-wrapper .rr-icon-default{
        width: 24px;
        padding: 1px;
    }
}

@media screen and (max-width: 500px) {
        
    .THIS.rr-white-panel {
        padding: 1rem;
    }
}