/**
 * Created by Leonid Bartenev
 */

.THIS.rr-white-panel {
    padding: 16px 0 0;
}

.THIS .vpi-path-panel{
    background-color: #F8F9FB;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
}

.THIS .vpi-path-panel .collapse-section.opened{
    background-color: white;
}

.THIS .vpi-status-btns button{
    margin-top: 15px;
    width: 100%;
    min-width: auto;
}


@media all and (min-width: 1024px) {
    .THIS .vri-state-label{
        display: block;
    }
    .THIS .width-basis{
        flex-basis: 0;
    }

    .THIS .state-ico-wrapper{
        width: 28px;
        height: 28px;
        top: -15px;
        left: -14px;
    }

    .THIS .state-ico-wrapper .rr-icon-default{
        width: 24px;
        height: 24px;
        padding: 1px;
    }

}