.widthLimiter {
    background: #fff;
    border-radius: 4px 4px 0 0;
    border: 1px solid #e9e9e9;
    border-width: 1px 1px 0 1px;
    box-shadow: 1px 0 2px 0 rgb(0 0 0 / 4%);
    max-width: 700px;
    margin: auto;
}
.container {
    padding: 2% 2% 1% 5%;
    font-size: 13px;
    line-height: 16px;
}
.ediariy {
    font-size: 18px;
    line-height: 16px;
    font-weight: 600;
    padding: 0% 2% 1% 5%;
}
