.THIS.ssp-header {
    font-size: 16px;
    font-family: 'Proxima Nova';
    padding-top: 10px;
    align-items: stretch;
}

.THIS .ssp-label {
    letter-spacing: 0;
    align-self: center;
}

.THIS .ssp-content {
    display: inline-flex;
    flex-grow: 1;
    padding-bottom: 8px;
}

.THIS .ssp-select {
    position: relative;
    width: 200px;
    margin-top: -3px;
    margin-left: -16px;
}

.THIS .ssp-button-search {
    margin-left: 16px;
}

.THIS .ssp-button-reset {
    margin-left: 16px;
}

.THIS .ssp-sort-list {
    width: 220px;
    margin-left: 20px;
    padding-left: 20px;
}

.THIS .ssp-search {
    max-width: 275px;
    margin-left: 16px;
}

.THIS .ssp-search .rri-container .slds-input,
.THIS .ssp-search-input .rri-container .slds-input {
    padding-left: 25px;
    background: #fff url(/resource/1570111512000/searchIcon) no-repeat 7px 9px;
    background-size: 14px 14px;
    position: relative;
    top: 0;
    left: 0;
}
