.THIS .width{
    width:100%;
}

.THIS .textoverflow{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

.THIS.ssp-header {
    font-size: 16px;
    font-family: 'Proxima Nova';
    padding-top: 10px;
    align-items: stretch;
}

.THIS .ssp-label {
    letter-spacing: 0;
    align-self: center;
    width:100px;
}

.THIS .ssp-content {
    display: inline-flex;
    flex-grow: 1;
    padding-bottom: 8px;
}

.THIS .ssp-select {
    position: relative;
    width: 220px;
    margin-top: -3px;
    /*margin-left: -16px;*/
}

.THIS .ssp-selectRTL {
    position: relative;
    width: 200px;
    margin-top: -3px;
  /* @noflip */  margin-left: 9px;
   /* @noflip */  /*margin-right: -25px;*/
}

.THIS .ssp-button-search {
    margin-left: 16px;
}

.THIS .ssp-button-reset {
    margin-left: 16px;
}

.THIS .ssp-sort-list {
    width: 220px;
    /*margin-left: 20px;
    padding-left: 20px;*/
}
.THIS .ssp-sort-listRTL {
   /* width: 67%;*/
   width:200px;
  /* @noflip */  /*margin-right: 30px;*/
}

.THIS .ssp-search {
    max-width: 275px;
    margin-left: 16px;
}

.THIS .ssp-search .rri-container .slds-input,
.THIS .ssp-search-input .rri-container .slds-input {
    padding-left: 25px;
    background: #fff url(/resource/1570111512000/searchIcon) no-repeat 7px 9px;
    background-size: 14px 14px;
    position: relative;
    top: 0;
    left: 0;
}

@media all and (max-width: 768px) {
    .THIS .ssp-content {
        flex-wrap: wrap;
    }
    
    .THIS .ssp-button-search {
        margin: 25px 0;
    }
    
    .THIS .ssp-button-reset {
        margin-top: 30px
    }
}

@media all and (max-width: 500px) {
    
    .THIS .ssp-content > div:nth-of-type(-n+3) {
        min-width: 100%;
        margin: 0 0 25px 0;
    }

    .THIS .cRrSelect.rrs-container {
        width: 100%
    }
    
     .THIS .ssp-button-search {
        width: 50%;
        margin: 10px 15px 25px 0;
    }
    
     .THIS .ssp-button-search .apollo-btn.primary,
     .THIS .slds-grid_align-spread > .slds-col {
        width: 100%;
    }
    
     .THIS .ssp-button-reset {
        width: 40%;
        margin-top: 15px;
    }
        
     .THIS .slds-grid_align-spread,
     .THIS .slds-grid_align-spread > .slds-col > span {
            flex-wrap: wrap;
     }
        
    .THIS .ssp-sort-list {
    	margin: 15px 0 25px;
        padding: 0;
        min-width: 100%;
    }
        
    .THIS.ssp-header {
    	margin-bottom: 30px;        
    }
        
    
}