/*Created by Chetna Chauhan Sep 9,2022*/
.header-card {
    background-blend-mode: color;
    background-color: transparent;
    border-style: none;
    padding: 0;
    /* width: 350px; */
}
.container-card {
    background-color: transparent;
    border-top-color: #00a3e0;
    border-top-width: 8px;
    padding: 0;
    border-radius: 7px;
    height: 416px;
}

.container-card-upcoming {
    background-color: transparent;
    border-top-color: #00a3e0;
    border-top-width: 8px;
    padding: 0;
    height: 416px;
    border-radius: 8px;
    width: 412px;
}
.upcoming {
    height: 3.14%;
    color: #444444;
    font-family: 'Proxima Nova';
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 32px;
}
hr {
    margin: -1px;
}
.more {
    height: 2.36%;
    width: 14.64%;
    color: #757575;
    font-family: 'Proxima Nova';
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 32px;
    text-align: center;
}
.visit-text {
    height: 2.36%;
    /*width: 20.89%;*/
    color: #444444;
    font-family: 'Proxima Nova';
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 21px;
    margin-bottom: 6px;
    margin-top: 7px;
}
.location {
    height: 2.06%;
    /*width: 19.11%;*/
    color: #6e6e6e;
    font-family: 'Proxima Nova';
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 21px;
}
.icon-name {
    height: 2.36%;
    color: #6e6e6e;
    font-family: 'Proxima Nova';
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 32px;
}
/* .icon {
    height: 1.57%;
} */
.expect-icon {
    height: 2.32%;
}
.expect-text {
    height: 2.36%;
    color: #444444;
    font-family: 'Proxima Nova';
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 32px;
}
.visit-title {
    height: 3.14%;
    color: #444444;
    font-family: 'Proxima Nova';
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 32px;
}
.no-expect {
    height: 4.71%;
    color: #999999;
    font-family: 'Proxima Nova';
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 24px;
    text-align: center;
    word-wrap: normal;
    padding: 15%;
}
.content1 {
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0;
}
.content {
    margin:10px;
}
.card-wrap {
    padding: 0;
}

.icon-box {
    padding-top: 0;
    padding-bottom: 0;
}
.visit-card {
    padding-top: 10px;
    padding-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.visit-card-upcoming {
    height: 377px;
    width: 381px;
    display: grid;
}
.center-align {
    text-align: center;
}
.text-colour {
    color: #a9a9a9;
    margin-top: 8px;
}
.label {
    height: 24px;
    width: auto;
    color: #015ff1;
    font-family: 'Proxima Nova';
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 24px;
    text-align: center;
}
.icon-card {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: 1px solid lightgrey;
}
.padding-top {
    padding-top: 16px;
}
.no-upcoming-img {
    height: 64px;
    width: 86px;
}
.uc-text {
    margin-top: 3px;
    padding: 0;
    font-family: 'Proxima Nova';
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 32px;
    text-align: center;
    color: #ffffff;
}
@media only screen and (max-width: 600px) {
    .container-card {
        height: 37px;
        border-radius: 16px 16px 0 0;
        background-color: #005587 !important;
        border-top-color: #005587;
        border-top-width: 1px !important;
        width: 351px;
        margin-right: 4px;
        margin-left: 8px;
    }
    .content {
        margin-top: 1px !important;
    }
    .container-card-upcoming {
        height: 37px;
        border-radius: 16px 16px 0 0;
        background-color: #005587 !important;
        border-top-color: #005587;
        border-top-width: 1px !important;
        width: 360px;
        margin-left: 15px;
    }
    .visit-card-upcoming {
        width: 360px;
        margin-left: -17px;
        margin-top: -35px;
    }
}
