/**
 * Created by Leonid Bartenev
 */
.THIS .study-title{
    font-weight: bold;
    font-size: 16px;
}

.THIS .study-description{
    padding: 20px 0;
}

.THIS .rr-fields-cutter{
    margin-bottom: 20px;
}

.THIS .resource-item{
    padding: 5px;
}

.THIS .no-resources-message {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: gray;
    padding: 20px;
}

.THIS .rr-output-field > .label {
    font-size: 1rem;
    font-weight: 400;
}

.THIS .rr-output-field > .value {
    font-size: 1rem;
}

.THIS .profile-pic {
    max-width: 200px;
    height: auto;
}