/**
 * Created by Leonid Bartenev
 */

 .THIS {
    margin-bottom: 15px;
}

.THIS .vpi-fields {
    padding: 0 0 20px 0;
    display: flex;
    justify-content: space-between;
    width: 100% !important;
}

.THIS.rtl .vpi-fields {
    flex-direction: row-reverse;
}

.THIS.vpi-clip-item-borders {
    overflow: hidden;
    padding: 0 16px 15px 5px;
    /*border-bottom: 1px solid #d9d9d9;*/
}

.THIS .vpi-field {
    padding: 0 12px;
    margin: 0;
}

.THIS.rtl .vpi-field {
    /* @noflip */  direction: rtl;
}

.THIS .vpi-value-length-max {
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #297dfd;
    font-size: 1rem;
    line-height: 16px;
}

.THIS .vpi-field > .label {
    color: #595959;
    font-size: 1rem;
    line-height: 16px;
    display: inline-flex;
    height: 43px;
    align-items: flex-start;
    margin-bottom: 5px;
}

.THIS .vpi-field > .label_PP {
    align-items: flex-end;
}

.THIS .vpi-field > .value {
    color: #000000;
    font-size: 1rem;
    line-height: 18px;
    font-weight: 400;
}

@media all and (max-width: 890px) {
    .THIS .vpi-fields {
        flex-wrap: wrap;
    }
    .THIS .vpi-fields .vpi-field {
        flex: 0 0 50%;
    }

    .THIS .custom-plus {
        display: block;
        position: absolute;
        bottom: 15px;
        padding: 5px;
    }
}
@media all and (max-width: 500px) {
    .THIS .vpi-fields .vpi-field {
        flex: 0 0 100%;
        padding: 0;
    }

    .THIS.vpi-clip-item-borders {
        padding: 0 0 1rem;
    }

    .THIS .custom-plus {
        position: absolute !important;
        bottom: 5px !important;
        padding: 5px !important;
        z-index: 1 !important;
        left: 0;
        right: 0;
        text-align: center;
    }
}
.THIS .custom-plus {
    display: block;
    position: absolute;
    bottom: 15px;
    padding: 5px;
}
