/**
 * Created by Leonid Bartenev
 */

.THIS .vpi-fields{
    padding: 0 0 20px 0;
    display: flex;
    justify-content: space-between;
    width: 100%!important;
}

.THIS.rtl .vpi-fields{
    flex-direction: row-reverse;
}

.THIS.vpi-clip-item-borders{
    overflow: hidden;
    padding: 0 16px 15px 5px;
    border-bottom: 1px solid #d9d9d9;
}

.THIS .vpi-field{
    padding: 0 12px;
    margin: 0;
}

.THIS.rtl .vpi-field{
    direction: rtl;
}

.THIS .vpi-value-length-max{
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #297DFD;
    font-size: 1rem;
    line-height: 16px;
}

.THIS .vpi-field > .label{
    color: #595959;
    font-size: 1rem;
    line-height: 16px;
    display: inline-flex;
    height: 30px;
    align-items: flex-end;
    margin-bottom: 5px;
    white-space: nowrap;
}

.THIS .vpi-field > .value{
    color: #000000;
    font-size: 1rem;
    line-height: 18px;
    font-weight: 400;
}

@media all and (max-width: 890px){
    .THIS .vpi-fields {
        flex-wrap: wrap;
    }
     .THIS .vpi-fields .vpi-field {
        flex: 0 0 50%;
    }
    
}