/**
 * Created by Leonid Bartenev
 */

.THIS.mode-block {
    display: inline-block;
    position: relative;
    height: 50px;
    color: white;
    background-color: rgba(255, 255, 255, 0.05);
}

.THIS .mode-label{
    max-width: 245px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
    font-size: .875rem;
}

@media all and (max-width: 550px) {
    .THIS.mode-block{
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        height: 30px;
    }
}