.qr-text {
    height: 24px;
    transform: rotate(-360deg);
    font-family: 'Proxima Nova';
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 24px;
}

.arrow {
    color: blue;
    text-align: right;
}

.container-qrc {
    box-sizing: border-box;
    padding: 2px;
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.04);
}

.custom-btn {
    box-sizing: border-box;
    height: 48px;
    width: 382px;
    border: 1px solid #d9d9d9;
    background-color: #ffffff;
    padding: 12px 48px 12px 16px;
    border-radius: 8px;
    color: #015FF1;
    text-align: left;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.04);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7.41' height='12' viewBox='0 0 7.41 12'%3E%3Cpath d='M10,6,8.59,7.41,13.17,12,8.59,16.59,10,18l6-6Z' transform='translate(-8.59 -6)' fill='%230768FD'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 16px center;
}

.get-support-container {
    box-sizing: border-box;
    padding: 16px 16px 24px 16px;
    height: auto;
    width: 100%;
    border: 1px solid #d9d9d9;
    border-radius: 16px;
    background: linear-gradient(180deg, #ffffff 0%, #ffffff 100%);
}

.mb-15 {
    margin-bottom: 15px;
}
@media (max-width: 486px) {
    .custom-btn {
        width: 100% !important;
    }
    .get-support-container {
        width: 100%;
    }
}
