.result-card {
    height: 149px;
    box-sizing: border-box;
    border: 1px solid #e9e9e9;
    border-radius: 16px;
    background-color: #ffffff;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.04);
}
.actual-value {
    color: #c42ea5;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    padding-bottom: 30px;
}
.not-available-text {
    color: #444444;
    font-size: 18px;
    font-weight: 600;
    line-height: 10px;
}
.result-name {
    color: #444444;
    font-size: 18px;
}
.expected-range {
    color: #757575;
    font-size: 0.875rem;
}
