.disclaimer {
    color: #444444;
    font-family: 'Proxima Nova';
    font-size: 14px;
    letter-spacing: 0;
    line-height: 19px;
    text-align: center;
}
.labs-header {
    color: #444444;
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
}
.labs-subtype {
    margin-bottom: 1rem;
}
.no-result-image {
    height: 4.84rem;
    width: 5.69rem;
}
.no-result-text {
    color: #999999;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    width: 245px;
    line-height: 24px;
}
.no-visit-result-container {
    height: 213px;
    box-sizing: border-box;
    border: 1px solid #e9e9e9;
    border-radius: 16px;
    background-color: #ffffff;
}
