/** pop code **/
.title {
    color: #000000;
    font-family: "Proxima Nova";
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 32px;
}
.sub-text{
    font-size: 16px;
    line-height: 24px;
    color: #444444;
}
.deletebtn{  
    background: #E20000;
    color: white;
}
.deletebtn:hover{
    background: #de4141;
    color: white;
}
.bar {    
    height: 4px;
    background: linear-gradient(270deg,#0076ae,#250056);
    position: relative;
}
.model-small{
    width: 420px;
    max-width: 52.0625rem;
    min-width: 0;
}
.close-arrow-left{
    margin-right:0;
}
.close-icon{
    cursor: pointer;
    padding-left: 10px;
}
.btn-height{
    height: 40px;
}
.save-btn{
    float: right;
    margin-left: 15px;
}
.discard-btn{
    border: 1px solid #ffffff;
    box-shadow: 0 4px 4px 0 rgb(255 255 255 / 4%);
}
.participant-text{
    font-size: 16px;
    font-weight: 500;
}
.container_popup{
    z-index: 9999;
}
.containerbackdrop_popup{
    z-index: 9998;
}


@media (max-device-width: 767px) {
    .model-small{
        width: auto;
        min-width: auto;
    }
    .mobile-width{
        width: 100%;
    }
    .close-icon{
        padding-left: 25px;
    }
    .save-btn{
        float: left;
        margin-left: 0;
        width: 100%;
        margin-bottom: 20px;
    }
    .discard-btn{
        width: 100%;
        margin-left: 0;
    }
}  
@media (min-width: 767px) {
    .model-small{
        width: 100%;
    }
}
@media (min-width: 992px) {
    .model-small{
        width: 470px;
    }
} 
 /** pop code End **/
 /**RTL Start **/
.rtl .save-btn{
    float:left;
    margin-right:15px;
}
 /**RTL END**/