.my-televisits {
  height: 48px;
  width: 340px;
  color: #444444;
  font-family: "Proxima Nova";
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 110px;
  padding-left: 32px; 
}
.my-televisits-delegate{
    height: 48px;
    width: 340px;
    color: #444444;
    font-family: "Proxima Nova";
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 70px;
}
.delegatecss{
    padding-left: 32px; 
    padding-top: 13px;
}
.my-televisits-mobile{
  height: 32px;
  width: 217px;
  color: #444444;
  font-family: "Proxima Nova";
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 32px;
  }
.delegate-televisit {
    height: 24px;
    width: 67px;
    color: #444444;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 24px;
}
.icon-chevron-right {
    height: 10px;
    width: 10px;
}
.televisit-card-upcoming {
    height: 152px;
    width: 630px;
    display: grid;
    border-radius: 16px;
    border: 1px solid #D9D9D9;
}
.televisit-card-upcoming-mobile {
  height: 152px;
  width: 315px;
  border: 1px solid #D9D9D9;
  border-radius: 16px;
  background-color: #FFFFFF;
  display : grid;
}
.text-colour {
  height: 24px;
  width: 203px;
  color: #999999;
  font-family: "Proxima Nova";
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 45px;
  text-align: center;
}
.text-colour-mobile {
    color: #999999;
    font-size: 16px;
    font-weight: 500;
    line-height: 45px;
    text-align: center;
  }
.center-align {
    text-align: center;
}
.col1 {
    height: 720px;
    min-width: 380px;
    border-right-width: 1px;
    border-right-color: #999999;
}
.up-button {
    border-radius: 16px 0 0 16px;
    border: 1px solid #d9d9d9 !important;
}
.active-button-background {
    color: white !important;
    background-color: #015ff1;
}

.inactive-button-background {
    color: #595959 !important;
    background-color: #ffffff !important;
}

.past-button {
    box-sizing: border-box;
    border: 1px solid #d9d9d9;
    border-radius: 0 16px 16px 0 !important;
    font-family: 'Proxima Nova';
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
    text-align: center;
    height: 32px;
    width: 109px;
    margin-left: -1px;
}
.list-selection,
.list-align-mob {
    display: flex;
    justify-content: center;
}

.list-selection {
    margin-bottom: 1.5rem;
}
.active-custom-box .slds-grid,
.inactive-custom-box .slds-grid {
    align-items: center;
}
.active-custom-box .slds-grid,
    .inactive-custom-box .slds-grid {
        justify-content: space-between;
    }

    .active-custom-box .slds-grid .slds-col:first-child,
    .inactive-custom-box .slds-grid .slds-col:first-child {
        width: 0.25rem;
    }

    .active-custom-box .slds-grid .slds-col:nth-child(2),
    .inactive-custom-box .slds-grid .slds-col:nth-child(2) {
        margin-left: -1rem;
    }

    .active-custom-box .slds-grid .slds-col:nth-child(-n + 2),
    .inactive-custom-box .slds-grid .slds-col:nth-child(-n + 2) {
        padding-left: unset;
        padding-right: unset;
    }


    