.THIS.ts-tab-container {
    display: flex;
    min-height: 62px;
    width: 97%;
    overflow-y: hidden;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    margin: 0 15px;
    position: relative;
}


.THIS.ts-tab-container:after {
    content: '';
    height: 1px;
    width: 100%;
    position: absolute;
    background: #d9d9d9;
    bottom: 2px;
    left: 0;
}


.THIS.ts-tab-container .ts-tab-right,
.THIS.ts-tab-container .ts-tab-left {
    display: flex;
    min-height: 62px;
}
.THIS.ts-tab-container .ts-tab-right {
    float: right;
}

.THIS.ts-tab-container .ts-tab-right .ts-tub-button{
    display: grid;
    width: 62px;
    padding-top: 10px;
    white-space: normal;
    color: #297dfd;
    font-size: 10px;
    font-weight: 600;
    line-height: 14px;
    text-align: center;
}

.THIS.ts-tab-container .ts-tab-left {
    float: left;
    margin-right: auto;
}

.THIS.ts-tab-container .ts-tab {
    min-width: 70px;
    border-collapse: collapse;
    opacity: 0.6;
    text-align: center;
    padding: 10px 20px;
    white-space: nowrap;
}

.THIS.ts-tab-container .ts-tab:first-child {
    padding: 10px 20px 10px 0;
}

.THIS.ts-tab-container .ts-tab:hover {
    opacity: 1;
    color: #000;
}

.THIS .ts-tab .rr-icon-default{
    display: block;
    width: 24px;
    height: 24px;
    margin: 0 auto;
}

.THIS .ts-tab label{
    font-size: 1rem;
    line-height: 12px;
    display: inline-block;
    margin-bottom: 10px;
     position: relative;
}

.THIS .ts-tab.selected{
   opacity: 1;
   pointer-events: none;
    color: #000;
/*   text-shadow:
        -.25px -.25px 0 #000,
        .25px -.25px 0 #000; */
}

.THIS .ts-tab.selected label:after {
    content: '';
    background-color: #297dfd;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: -20px;
    left: 0;
    z-index: 1000;
}

.THIS .ts-tab.disabled {
    background-color: #FFFFFF;
    pointer-events: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
.THIS .ts-tub-button.disabled {
    opacity: 0.6;
    pointer-events: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}


@media all and (max-width: 768px) {
    .THIS {
        flex-direction: column;
    }
    .THIS .ts-tab-left {
        order: 2
    }
    .THIS .ts-tab-right {
        order: 1;
        justify-content: flex-end;
    }
}