.cardRTL {
    direction: rtl;
}

.header-panel {
    padding: 1.5rem;
}

.header-panel-mobile {
    padding: 1rem;
}

.back-button {
    color: #015FF1;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 2rem;
    margin-bottom: 8px;
    margin-left: -3px;
}

.as-title {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 2rem;
    color: #444444;
    margin-bottom: 20px;
}

.as-title-small {
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 2rem;
    color: #444444;
    margin-bottom: 10px;
    margin-top: 10px;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

.cp-red {
    color: red;
    font-size: 20px;
    margin-left: -5px;
}
.cp-red-prefred-lan {
    color: red;
    font-size: 20px;
}

.margin-lr-15 {
    margin-left: 15px;
    margin-right: -15px;
}

.margin-lr-15Plus {
    margin-left: -15px;
    margin-right: 15px;
}

.saveButton {
    height: 32px;
    width: 96px;
    font-family: 'Proxima Nova';
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 16px;
    text-align: center;
    margin-top: 10px;
    border-radius: 20px;
}

.saveButtonMobile {
    height: 32px;
    width: 100%;
    font-family: 'Proxima Nova';
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 16px;
    text-align: center;
    margin-top: 10px;
    border-radius: 20px;
}

:host {
    --slds-c-tooltip-color-background: #444444 !important;
}

.new-title {
    color: #444;
    font-size: 0.9rem;
    font-weight: 600;
    line-height: inherit;
}
.label-p-right {
    padding-right: 0px;
}
@media all and (max-width: 768px) {
    .label-p-right {
        padding: 0px 0px 0px 0px;
        margin: -2px 0 0 0;
    }
}
