.dropdown {
    position: relative;
    display: inline-block;
}
.sv-element {
    /* padding: 4px 10px;*/
    /* margin-right: 120px;*/
    padding-bottom: 4px;
    white-space: nowrap;
}

.bg {
    padding-bottom: 4px;
    font-family: 'Proxima Nova';
    font-size: 16px;
}
.bg a {
    color: #444 !important;
    font-size: 16px;
    padding: 4px 16px;
    display: inline-block;
}
.tsRtl {
    text-align: right;
}
.dropdown-content div:hover {
    background-color: #eef5ff;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: fit-content;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 0;
    z-index: 1;
    width: 147px;
    color: grey;
}
.no-travels-message {
    margin-bottom: 1.5em;
    margin-top: 1.5em;
    font-size: 1rem;
    color: #999;
    margin-left: 13rem;
}
.no-travels-message_rtl {
    margin-bottom: 1.5em;
    margin-top: 1.5em;
    font-size: 1rem;
    color: #999;
    margin-left: 13rem;
    margin-right: 13rem;
}
.rectangle {
    box-sizing: border-box;
    height: 31px;
    width: 610px;
    border: 1px solid #f8f9fb;
    background-color: #f8f9fb;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.button-menu-small-default {
    height: 32px;
    width: fit-content;
}
.mr8 {
    margin-top: 8px;
    padding-left: 4px;
}
.mr {
    margin-top: 40px;
    text-align: right;
}
.mr_rtl {
    margin-top: 32px;
    text-align: left;
}
.labels {
    height: 24px;
    transform: rotate(-360deg);
    color: #0768fd;
    font-family: 'Proxima Nova';
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 24px;
    text-align: center;
    padding-left: 6px;
}

table {
    margin-top: 15px;
}

th {
    height: 30px;
    background-color: #f8f9fb;
    padding: 4px 10px;
    font-weight: 600;
    font-size: 14px;
    font-family: 'Proxima Nova';
}
td {
    color: #595959;
    padding: 2px 10px;
    height: 36px;
    font-size: 14px;
    font-family: 'Proxima Nova';
}

tr:not:last-child td {
    border-bottom: 1px solid #eaeaea;
}
/*tr td {
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 1.5rem;
    padding-top: 0;
}*/

a {
    color: #297dfd;
    font-size: 1rem;
    line-height: 21px;
}

.travel-support {
    height: 24px;
    color: #000;
    font-family: Proxima Nova;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 24px;
    /* margin-left: 15px; */
    margin-top: 40px;
    padding: 0;
}

.travel-support + .slds-col {
    padding: 0;
}

.slds-grid {
    justify-content: space-between;
}

@media (max-width: 468px) {
    .slds-grid {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .travel-support {
        padding-left: 0;
        margin-top: 25px;
    }

    .no-travels-message,
    .no-travels-message_rtl {
        margin: 1.5rem;
        text-align: center;
    }

    .slds-grid > .slds-col.slds-size_1-of-2.mr {
        margin-top: 15px;
        margin-left: 0;
        padding-left: 0;
    }

    .slds-grid {
        padding-right: 5px;
    }

    .mr,
    .mr_rtl {
        margin-top: 15px;
    }
}
