.slds-grid-visit {
    padding: 0 1rem 0 1rem;
    margin-bottom: 1rem;
}

.slds-grid-visit .slds-col.slds-p-left_xx-small {
    padding-right: unset;
}
.slds-grid-visit .slds-col.slds-p-right_xx-small {
    padding-left: unset;
}

.curve-input {
    display: flex;
    position: relative;
    width: 100%;
    padding-left: 2.25rem;
    border-radius: 1rem;
    border: 1px solid #d9d9d9;
    background-color: #f2f2f2;
}

.curve-input .svg-icon {
    position: absolute;
    top: 45%;
    transform: translateY(-50%) translateX(-50%);
    left: 20px;
    fill: #00a3e0;
}

.curve-input:focus-within {
    border: 1px solid #015ff1;
}

.curve-input input[type='date'] {
    height: 2rem;
    width: 350px;
    display: flex;
    align-items: center;
    max-width: 100%;
    font-size: 0.875rem;
    border-radius: 1rem;
    border: none;
    background: #fff;
    color: #595959;
    text-align: left;
    padding-left: 1rem;
}
.curve-input input::-webkit-date-and-time-value {
    text-align: left;
    padding-left: 1rem;
}

.curve-input input[type='date']:focus,
.curve-input input[type='date']:focus-visible {
    outline: unset;
    box-shadow: unset;
}

.curve-input input[type='date']:disabled {
    background: #f2f2f2;
}

input[type='date']::-webkit-calendar-picker-indicator,
.curve-input .slds-input__icon-group_right {
    position: absolute;
    left: 0;
    height: 25px;
    width: 100%;
    opacity: 0;
}

.slds-input::placeholder {
    font-size: 0.875rem;
}

.task-due-date-time {
    height: 273px;
    width: 334px;
}
.slds-required {
    font-size: 16px;
    font-weight: bold;
}

.error-date {
    font-size: 0.75rem;
    color: rgb(234, 0, 30);
}

@media all and (min-width: 768px) and (max-width: 870px) {
    .slds-small-size_1-of-2.slds-p-right_xx-small,
    .slds-small-size_1-of-2.slds-p-left_xx-small {
        min-width: 100%;
        margin-bottom: 1rem;
        padding-left: 0;
    }

    .slds-grid-visit {
        margin-bottom: unset;
    }
}

@media all and (max-width: 486px) {
    .slds-small-size_1-of-2.slds-p-right_xx-small,
    .slds-small-size_1-of-2.slds-p-left_xx-small {
        margin-bottom: 1rem;
        padding-left: unset;
        padding-right: unset;
    }

    .slds-grid-visit {
        margin-bottom: unset;
    }
}
