.slds-grid-visit {
    padding: 0 1rem 0 1rem;
    margin-bottom: 1rem;
}

.slds-grid-visit .slds-col.slds-p-left_xx-small {
    padding-right: unset;
}

.slds-grid-visit .slds-col.slds-p-right_xx-small {
    padding-left: unset;
}

.task-due-date-time {
    height: 273px;
    width: 334px;
}

@media all and (min-width: 768px) and (max-width: 870px) {
    .slds-small-size_1-of-2.slds-p-right_xx-small,
    .slds-small-size_1-of-2.slds-p-left_xx-small {
        min-width: 100%;
        margin-bottom: 1rem;
        padding-left: 0;
    }

    .slds-grid-visit {
        margin-bottom: unset;
    }
}

@media all and (max-width: 486px) {
    .slds-small-size_1-of-2.slds-p-right_xx-small,
    .slds-small-size_1-of-2.slds-p-left_xx-small {
        margin-bottom: 1rem;
        padding-left: unset;
        padding-right: unset;
    }

    .slds-grid-visit {
        margin-bottom: unset;
    }
}
