.container-name div { 
    display: inline-block; 
	width: 500px; 
	min-height: 50px; 
	background-color: #eee; 
	height: auto; 
  }  

.title-label {
	color: #000000;
	font-family: "Proxima Nova";
	font-size: 16px;
	font-weight: bold;
  }

  .linkcss{
	font-weight: 600;
    margin-bottom: 3px;
  }