.container-name div { 
    display: inline-block; 
	width: 500px; 
	min-height: 50px; 
	background-color: #eee; 
	height: auto; 
  }  

.title-label {
	/*color: #000000;
	font-family: "Proxima Nova";
	
	font-weight: bold; */
	font-size: 14px;
  }

  .linkcss{
	font-weight: 600;
    margin-bottom: 3px;
  }
  .audiocss{ 
	text-align: center;
    width: 30%;
  }

  @media (max-device-width: 767px) {
	  
	.audiocss{ 
		margin-left: 16px;
		text-align: center;
		width: 90%;
	}
  }