.rr-white-panel {
    border: 1px solid #F2F2F2;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 4%);
}
.slds-text-heading_small {
    color: #000000;
    font-size: 18px;
    font-weight: 600
}
.siteDBtitle {
    padding: 8px;
    font-weight: 600;
    font-size: 18px;
    color: #000000;
}
.barTitle {
    text-align: right;
    padding-right: 10px;
    font-size: 16px;
    color: #000000;
} 
.chartLabel{
    color: #000000;
    font-size: 18px !important;
    font-weight: 600 !important;

}
.layout{
    height: 228px !important;
}
.btn {
    min-width: 115px;
    white-space: nowrap;
    height: 40px;
}
.line{
border-bottom: 1px solid black;
}
.thick {
    font-weight: bold;
    color: #297dfd;
    background: #f8f9fb;
    border-top: solid 1px #e9e9e9;
    min-height: 49px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.apollo-btn.primary {
    background: #297DFD;
    box-shadow: 0 4px 8px 0 rgb(41 125 253 / 16%), 0 4px 4px 0 rgb(0 0 0 / 4%), 0 8px 16px 0 rgb(41 125 253 / 32%);
    color: #FFFFFF;
    font-size: 1rem;
    padding: 6px 16px;
    margin-top: 0.5px;
}
.thick1 {
    font-weight: bold;
    color: #297dfd;
}
.site-footer {
    background: rgba(255, 255, 255, 0.15) 50% !important;
  }
.slds-card{
    margin-top: 1rem;
    background: #ffffff;
    border: 1px solid #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 4%);
}
.siteDB-footer {
    border-radius: 5px;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 4%);
  }
 .barContainer {
    width: 100%;
    display: flex;
}

 .db-section {
    margin-left: -20px;
    margin-right: -20px;
}

 .barTitle {
   text-align: right;
   padding-right: 10px;
   padding-bottom: 10px;   
   margin-left: 10px;
   font-size: 16px;
   color: #000000;
   width: 100px;
   word-wrap: break-word;
   margin-top: 10px;
}

 .barGrp {
    display: flex;
}

 .showMore {
    font-size: 18px;
    color: #297dfd;
    font-weight: 600;
}
.slds-size--9-of-12 > div {
    max-width: 60%;
}
.processBody .slds-scrollable{
    height: 25rem;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 15px;
}
.processBody .slds-scrollable::-webkit-scrollbar {
    width: 10px !important;
    display: block !important;
  }
  
  .processBody .slds-scrollable::-webkit-scrollbar-track {
    background: #c7c7c7;
    border-radius: 10px;
  }
  
  .processBody .slds-scrollable::-webkit-scrollbar-thumb {
    background-color: #898888;
    border-radius: 10px;
    border: 3px solid #8b8686 ;
  }
  .processBody{
    margin-bottom: 30px;
  }
  
  .modal_btns span {
    margin-right: 1rem;
  }
.bar{
    height: 50px;
 }
 .barText {
   padding-top: 10px;
}



@media all and (max-width: 768px) {
    /* { 
        margin-top: 1rem;
    } */

 .db-qal-items > .slds-col {
        max-width: 60%;
        display: inline-flex;
    }

 .db-qal-items {
        overflow-y: visible;
    }

 .db-qal-items > .slds-col.slds-size--9-of-12 > div {
        max-width: 60%;
    }

 .db-qal-items > .slds-col:nth-of-type(2n + 1) {
        min-width: 30%;
        justify-content: flex-end;
    }

 
.db-qal-items > .slds-col:nth-of-type(2n + 1) {
        min-width: 40%;
    }

 .db-qal-items {
        min-height: 200px;
        max-height: 345px;
        padding: 0 16px;
    }

 .barContainer {
        width: 100%;
        padding: 5px 1rem 30px;
        position: relative;
        border-bottom: 1px solid #e9e9e9;
    }

    .barTitle {
        float: left;
        display: inline;
        text-align: left;
        font-size: 1rem;
        margin-left: 10px;
        min-width: 45%;
        color: #000;
        padding-top: unset;  
        width: unset;
        word-wrap: unset;
        margin-top: unset;          
     }
 .barGrp {
        /* position: absolute;
        display: inline-flex; */
        min-width: 100%;
        /* margin-top: -21px;
        top: 30px;
        left: 0;
        max-width: 100%; */
    }
 .bar{
        max-width: 85%;
        position: absolute;
        left: 25px;
        top: 35px;
        height:20px;
		 
    }
 .barText {
        text-align: right;
        position: absolute;
        top: 5px;
        right: 1.5rem;
        padding-top: unset;
    }
    .modal_btns{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        align-items: center;
        
    }
    .modal_btns span {
        margin-right: unset;
      }
    .processBody{
        margin-bottom: 0;
    }
    
}