.cardRTL {
    direction: rtl;
}

.po-custom-card {
    height: 123px;
    border-radius: 16px;
    background-color: #fff;
    border: 1px solid #e9e9e9;
    font-family: Proxima Nova Medium;
}

.po-custom-card-mobile {
    height: 114px; /* 64px */
    background-color: #fff;
    font-family: Proxima Nova Medium;
}

.po-custom-card-mobile-no-study {
    height: 200px;
    background-color: #fff;
    font-family: Proxima Nova Medium;
}

.po-center {
    text-align: center;
}

/*.po-logo {
    width: 110px;
    height: 69px;
}*/

.po-logo-mobile {
    width: 76px;
    height: 48px;
}

.border-right {
    border-right: 1px solid #e9e9e9;
}

.po-text {
    font-size: 16px;
    line-height: 19px;
    text-align: left;
    color: #595959;
    max-width: 468px;
    height: 57px;
    font-family: 'Proxima Nova';
    font-weight: 500;
    letter-spacing: 0;
}

.po-text_2 {
    font-size: 14px;
    line-height: 19px;
    text-align: left;
    color: #595959;
    margin-left: 24px;
    max-width: 722px;
    font-family: 'Proxima Nova';
    font-weight: 500;
    letter-spacing: 0;
    padding-right: 20px;
}

.po-text_3 {
    font-size: 14px;
    line-height: 21px;
    text-align: left;
    color: #595959;
    margin-left: 24px;
    margin-right: 24px;
    max-width: 414px;
    font-family: 'Proxima Nova';
    font-weight: 500;
    letter-spacing: 0;
}

.po-more {
    min-height: 24px;
    width: 199px;
    color: #015ff1;
    font-family: 'Proxima Nova';
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 24px;
    /*PEH-11588*/
    padding-top: 10px;
}

.po-more-text {
    height: 24px;
    width: 162px;
    color: #015ff1;
    font-family: 'Proxima Nova';
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 24px;
}

.borderLeft {
    border-left: 1px solid #e9e9e9;
}

.borderRight {
    border-right: 1px solid #e9e9e9;
}

/*PEH-11588*/
.li3 {
    display: table-row;
}

.piPhone {
    height: 17px;
    /*width: 96px;*/
    color: #444444;
    font-family: 'Proxima Nova';
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 16px;
}

.piName {
    min-height: 17px;
    width: 129px;
    color: #444444;
    font-family: 'Proxima Nova';
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 16px;
    padding-top: 10px;
}

.phoneIcon {
    height: 13.33px;
    width: 13.33px;
    margin-right: 10px;
}

.piIcon {
    height: 13.33px;
    width: 12px;
    margin-right: 12px;
}
.piNameText {
    width: 199px;
    word-wrap: break-word;
}

.piIcon-li {
    margin-right: 12px;
}
