.THIS.mrrl-container {
    padding-bottom: 30px;
}

.THIS.mrrl-container .mrrl-body .mrrl-body-list{
    min-height: 100px;
}

.THIS .mrri-header{
    color: #444;
    font-size: 16px;
    font-weight: 400;
}