.THIS.mrrl-container {
    padding-bottom: 30px;
}

.THIS.mrrl-container .mrrl-body .mrrl-body-list{
    min-height: 100px;
}

.THIS .mrri-header{
    color:#999999;
    font-size: 13px;
    font-weight: 500;
}