/**
 * Created by Leonid Bartenev
 */
.THIS.db-content{
    margin-top: 10px;
    padding-bottom: 60px;
}
.THIS.db-content-empty{
    margin-top: 20px;
}

.THIS .db-header{
    font-size: 18px;
    line-height: 40px;
    font-weight: 600;
    display: flex;
    margin-bottom: 10px;
}

.THIS .db-header.centered{
    justify-content: center;
}

.THIS .db-header svg{
    fill: black;
    width: 32px;
    height: 32px;
    margin-right: 6px;
    flex-shrink: 0;
}

.THIS .db-list-item{
    border-bottom: 1px solid #d9d9d9;
    padding: 10px 0;
    line-height: 26px;
}

.THIS .db-list-item:not(.header){
    min-height: 54px;
}

.THIS .db-list-item.header{
    padding-bottom: 4px;
}

.THIS .db-list-item.header > .apollo-btn {
    margin-bottom: 4px;
    display: inline-block;
    font-size: .875rem;
}

.THIS .db-list-item.header > span{
    font-size: 14px;
    font-weight: 600;
}

.THIS .rr-large-down-hide .db-list-item {
    position: relative;
    line-height: 22px;
    padding-right: 180px;
}

.THIS .rr-large-down-hide .db-list-item .apollo-btn{
    position: absolute;
    top: 10px;
    right: 0;
    max-width: 180px;
}

.THIS .db-list-item .apollo-btn.text{
    line-height: 16px;
}

.THIS .db-list-item .cRRLink.rr-link {
    padding: 4px;
}

.THIS .db-list-item .rr-link.only-text {
    margin-left: -4px;
    margin-right: -4px;
}

.THIS .db-list-item > .rr-link.only-text:nth-of-type(1) {
    margin-left: -4px;
}

.THIS .db-list-item .apollo-btn.tertiary,
.THIS .db-list-item .apollo-btn.primary{
    padding: 6px 16px;
    line-height: 18px;
    font-size: 14px;
    min-width: inherit;
}

.THIS .db-section{
    margin-left: -20px;
    margin-right: -20px;
}

.THIS .db-section > .slds-col{
    padding-left: 20px;
    padding-right: 20px;
}

.THIS .db-section2{
    margin-left: -15px;
    margin-right: -15px;
}

.THIS .db-section2 > .slds-col{
    margin-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
}

.THIS .db-charts{
    margin-top: 20px;
}

.THIS .db-section-devider{
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: #d9d9d9;
    height: 1px;
}

.THIS .cDonut .dt-legend-section .slds-grid {
    display: flex;
    align-items: flex-start;
    margin-bottom: 5px;
}

.THIS .cDonut .dt-legend-circle {
    margin-top: 2px;
}

.THIS .cDonut .dt-link {
    margin: 0;
    padding: 4px 8px;
}

.THIS .db-hcp-chart{
    padding-top: 20px;
    padding-bottom: 20px;
}

.THIS .btn-block{
    padding-top: 10px;
    padding-bottom: 4px;
}

.THIS .db-list-item .btn-block .apollo-btn{
    float: none;
    margin-left: 0;
}

@media (max-width: 768px){ 
   .THIS .db-list-item .rr-small-down-hide {
        display: none;
    } 
    .THIS .db-list-item .rr-small-up-hide .apollo-btn {
        width: 100%;
    }
}