/**
 * Created by Kryvolap on 25.03.2019.
 */
.THIS .ssi-site-name{
    color: #000000;
    font-size: 15px;
    font-weight: bold;
}
.THIS .ssi-pi-name {
    color: #999999;
    font-size: 13px;
}
.THIS .ssi-site-type {
    color: #999999;
    font-size: 14px;
}
.THIS .ssi-site-distance{
    color: #999999;
    font-size: 14px;
}
.THIS .ssi-address{
    color: #333333;
    font-size: 13px;
}
.THIS .btn-request-to-refer{
    color: #63C900;
}
.THIS .btn-refer-patient{
    color: #297DFD;
}

@media all and (min-width: 768px){
    .THIS .ssi-site-distance,
    .THIS .ssi-site-type{
        text-align: right;
    }
}
.THIS .apollo-btn{
    width: 100%;
}

