/**
 * Created by Leonid Bartenev
 */
.THIS .edit-vp-container {
    min-height: 180px;
    position: relative;
}

.THIS .toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}

.THIS .toolbar .btns {
    flex-shrink: 0;
    margin-left: 20px;
    min-width: 165px;
}

.THIS .toolbar .toolbar-btn + .toolbar-btn {
    margin-left: 20px;
}

.THIS .inline-input {
    display: flex !important;
    width: 80%;
    white-space: nowrap;
}

.THIS .visits-table {
    margin-top: 15px;
}

.THIS .slds-form-element__label {
    min-width: 124px;
    text-align: center;
}

/**
 * SPRING 23 UI defect fix
 */

 .THIS .sprint23-visit-fix div{
    width: 100%;
    display: inherit;
}
