.THIS.width-limiter {
    max-width: 1140px;
    margin: auto;
    padding: 25px 15px 25px 35px;
    background: #fff;
    border: 1px solid #e9e9e9;
    border-width: 0 1px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.04);
    border-radius: 0 0 4px 4px;
}

.THIS.mainCard {
    background: #fff;
    border: 1px solid #e9e9e9;
    padding: 0 35px;
    border-top: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.04);
    border-radius: 0 0 4px 4px;
}

.THIS .emergency-disclaimer {
    font-style: italic;
    color: #999999;
    font-size: 14px;
}

.THIS.mainCardCoi {
    background: #fff;
    border: 1px solid #e9e9e9;
    padding: 15px 35px;
    border-top: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.04);
    border-radius: 0 0 4px 4px;
}

.THIS .mar_grid {
    display: flex;
    flex-wrap: wrap;
    margin: 15px 0;
}

.THIS .mar_btn {
    display: flex;
}

.THIS .mar_btn .slds-form-element .slds-form-element__label {
    display: none;
}

.THIS .url-disclaimer {
    font-size: 14px;
}

.THIS .slds-input {
    height: 40px;
    width: 440px;
}

.THIS .disabled {
    opacity: 0.4;
    color: #0768fd;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 24px;
    text-align: center;
    margin-left: 1px;
}

.THIS .btn {
    height: 40px;
    width: auto;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-left: 15px;
}

.THIS .resource-disclaimer {
    text-align: center;
    margin-bottom: 15px;
    font-style: italic;
    color: #999999;
    font-size: 14px;
}

.THIS .slds-col:first-child {
    position: relative;
}

.THIS .slds-col:first-child:after {
    position: absolute;
    content: '';
    /*width: 1px;*/
    height: 100%;
    background: #e9e9e9;
    right: 10px;
    top: 0;
}

.THIS .resource-right {
    margin: 0;
}

.THIS .rr-white-panel {
    border: 1px solid #e9e9e9;
    border-width: 1px;
}

.THIS .resource-disclaimer {
}

.THIS .slds-col:first-child:after {
    display: none;
}

.THIS.resource-noTAMessage {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    color: #999999;
    font-size: 18px;
    line-height: 26px;
    background: #fff;
    border: 1px solid #e9e9e9;
    border-width: 0 1px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.04);
}

@media (max-width: 1020px) {
    .THIS.width-limiter {
        display: block;
    }
    .THIS .resource-right {
        margin: 5% 0 0 0 !important;
    }
}

@media only screen and (max-width: 768px) {
    .THIS .slds-col:first-child:after {
        display: none;
    }
    .THIS rr-white-panel resource-card {
        margin: 0 auto;
    }
}

@media screen and (max-width: 500px) {
    .THIS.width-limiter {
        padding: 25px 15px;
    }

    .THIS.mainCard {
        padding: 0 15px;
    }

    .THIS .videoSubmit {
        margin-top: 10px;
    }

    .THIS .mar_btn {
        display: flex;
        flex-direction: column;
    }

    .THIS .slds-input {
        width: 100%;
    }

    .THIS .btn {
        width: 100%;
        margin: 15px 0;
    }
}
