.THIS.width-limiter {
	max-width: 1140px;
	margin: auto;
	padding: 25px 15px 25px 35px;
    background: #fff;
    border: 1px solid #e9e9e9;
    border-width: 0 1px 1px 1px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.04);
    border-radius: 0 0 4px 4px;
}

@media (max-width: 1020px) {
	.THIS.width-limiter {
		display: block;
	}
	.THIS .resource-right {
		margin: 5% 0 0 0 !important;
	}
}

.THIS .slds-col:first-child {
    position: relative;
}

.THIS .slds-col:first-child:after {
    position: absolute;
    content: '';
    width: 1px;
    height: 100%;
    background: #e9e9e9;
    right: 10px;
    top: 0;
}

.THIS .resource-right {
	margin: 0;
}


.THIS .rr-white-panel {
    border: 1px solid #e9e9e9;
    border-width: 1px;
}

.THIS.resource-disclaimer {
	margin-top: 20px;
	color: #999999;
	font-family: "Proxima Nova";
	font-size: 12px;
	font-style: italic;
	line-height: 14px;
	text-align: center;
}

.THIS.resource-noTAMessage {
	display: block;
	text-align: center;
	padding-top: 15%;
	height: 52px;
	color: #999999;
	font-family: "Proxima Nova";
	font-size: 17px;
	line-height: 26px;
}

@media only screen and (max-width: 768px) {
	.THIS .slds-col:first-child:after {
        display: none;
    }  
    .THIS rr-white-panel resource-card {
        margin: 0 auto;
    }
}

@media screen and (max-width: 500px) {
 	.THIS.width-limiter {
        padding: 1.5rem 1rem;
    }   
}