.visit-list-container {
    min-width: 380px;
    border-right-width: 1px;
    border-right-color: #999999;
    padding-right: 1rem;
}

.my-results {
    color: #444444;
    font-size: 32px;
    font-weight: 600;
}
.col1-height {
    height: 627px;
    width: 356px;
    margin-top: 1.5rem;
}
.no-task-box {
    box-sizing: border-box;
    height: 213px;
    /* width: 800px; */
    border: 1px solid #e9e9e9;
    border-radius: 16px;
    background-color: #ffffff;
    display: grid;
}
.center {
    text-align: center;
}
.no-result-txt {
    color: #999999;
    font-size: 16px;
    font-weight: 500;
}
@media all and (max-width: 500px) {
    .my-results {
        margin-left: 1.5rem;
    }
    .no-task-box {
        margin: 0.8rem 1.5rem 0.8rem 1.5rem;
    }
}
@media all and (min-width: 500px) and (max-width: 768px) {
    .my-results {
        margin: -1.5rem 0 1rem 0;
    }
    .no-task-box {
        margin: 0.8rem 1.5rem 0.8rem 1.5rem;
    }
}
@media all and (max-width: 1200px) {
    .col1-height {
        width: 370px;
    }
}
