/**
 * Created by Igor Malyuta on 18.11.2019.
 */
.rr-icon_default {
    height: 32px;
    width: 26px;
    display: inline-block;
}

.rr-icon_exSmall {
    height: 9.87px;
    width: 15.99px;
}

.rr-icon_small {
    height: 15px;
    width: 15px;
}

.rr-icon_medium {
    height: 20px;
    width: 20px;
}

.rr-icon_task_mobile {
    height: 33.33px;
    width: 27.42px;
}

.rr-icon_medium-large {
    height: 25px;
    width: 25px;
}

.rr-icon_large {
    height: 35px;
    width: 35px;
}
.rr-icon_big-custom {
    height: 45px;
    width: 45px;
}
.rr-icon_big {
    height: 60px;
    width: 60px;
}

.rr-icon_small-custom {
    height: 11px;
    width: 14px;
}

.tooltip:hover {
    fill: #595959 !important;
}

.rr-icon_xsmall-custom {
    height: 12px;
    width: 12px;
    margin-bottom: 2px;
    margin-left: 2px;
}
