/**
 * Created by Igor Malyuta on 18.11.2019.
 */
.rr-icon-default{
    height: 32px;
    width: 26px;
    display: inline-block;
}

.rr-icon-small {
    height: 15px;
    width: 15px;
}

.rr-icon-big{
    height: 60px;
    width: 60px;
}