/**
 * Created by Igor Malyuta on 18.11.2019.
 */
.rr-icon_default {
    height: 32px;
    width: 26px;
    display: inline-block;
}

.rr-icon_small {
    height: 15px;
    width: 15px;
}

.rr-icon_big {
    height: 60px;
    width: 60px;
}

.rr-icon_small-custom {
    height: 11px;
    width: 14px;
}

.tooltip:hover {
    fill: #595959 !important;
}
