.THIS.as-container {
    padding-bottom: 50px;
}

.THIS .NavContainer {
    display: flex;
    box-shadow: 0 4px 16px 0 rgba(0,0,0,0.04);
    border: 1px solid #e9e9e9;
    border-radius: 4px;
    background: #fff;
    min-height: 1000px;
}

.THIS .cRrSelect.rrs-container select,
.THIS .rr-form-element input[type='text'],
.THIS .rr-form-element input[type='password'],
.THIS .rr-form-element input[type='email']{
    height: 40px;
}

.THIS .cRrSelect .slds-select_container:after {
    top: 16px;
}

.THIS.container1 {

}

.THIS .slds-vertical-tabs__nav {

}

.THIS .container-white-normal {

}

.THIS .title {
}

.THIS .navBar {
    font-family: "Proxima Nova";
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    color: #444444;
    margin-top: 1.75rem;
}

.THIS .NavContainer1 {
    border-right: 1px solid #e9e9e9;
    min-width: 300px
}

.THIS .NavContainer1 h2 {
    font-size: 24px;
    white-space: nowrap;
    font-weight: 600;
    padding: 1.5rem 0 0 1.5rem;
}

.THIS .navItem {
    border-bottom: 1px solid #E9E9E9;
    height: 48px;
}

.THIS .rr-white-panel {
    border: none;
    border-radius: 0;
    box-shadow: none;
    overflow: auto;
}

.THIS .navItem1 {
    height: 48px;
}

.THIS .NavComponent {

}

.THIS .hoverColor {
    background-color: yellow;
}

.THIS .mouse-hover {
    background: #0768FD;
    color: white;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 24px;
}

.THIS .slds-navigation-list-vertical__action:active,
.THIS .slds-navigation-list--vertical__action:active {
    background: #0768FD;
}