.THIS.as-container {
    padding-bottom: 50px;
}

.THIS .NavContainer {
    display: flex;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.04);
    border: 1px solid #e9e9e9;
    border-radius: 4px;
    background: #fff;
    min-height: 1000px;
}
.THIS .RTL {
   /* @noflip */  direction: rtl;
}

.THIS .cRrSelect.rrs-container select,
.THIS .rr-form-element input[type='text'],
.THIS .rr-form-element input[type='password'],
.THIS .rr-form-element input[type='email'] {
    height: 40px;
}

.THIS .apollo-btn {
    height: 40px;
}

.THIS .cRrSelect .slds-select_container:after {
    top: 16px;
}

.THIS.container1 {
}

.THIS .slds-vertical-tabs__nav {
}

.THIS .container-white-normal {
}

.THIS .title {
}

.THIS .navBar {
    font-family: 'Proxima Nova';
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    color: #444444;
    margin-top: 1.75rem;
    min-width: 300px;
}

.THIS .NavContainer1 {
    width: auto;
}

.THIS .NavContainer1 h2 {
    font-size: 24px;
    white-space: nowrap;
    font-weight: 600;
    min-width: 320px;
}
.THIS .NavContainer1 .RTL {
    /* @noflip */  padding: 1.5rem 1.5rem 0 0;
 }
 
.THIS .NavContainer1 .LTR {
    padding: 1.5rem 0 0 1.5rem;
}
.THIS .navItem {
    border-bottom: 1px solid #e9e9e9;
    height: 48px;
}

.THIS .rr-white-panel {
    border: none;
    border-radius: 0;
    box-shadow: none;
}

.THIS .navItem1 {
    height: 48px;
}

.THIS .hoverColor {
    background-color: yellow;
}

.THIS .mouse-hover.navItem {
    background: #015FF1;
    color: white;
    font-family: 'Proxima Nova';
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 24px;
}

.THIS .slds-navigation-list-vertical__action:active,
.THIS .slds-navigation-list--vertical__action:active {
    background: #015FF1;
    color: #fff;
}

.THIS .NavComponent {
    border-left: 1px solid #e9e9e9;
    width: 100%;
    margin-right: 20px;
}

.THIS .navBar ul li a {
    white-space: nowrap;
}

.THIS .NavComponentRTL .cPP_LanguageSwitcher .label,
.THIS .NavComponentRTL .smallName .label,
.THIS .as-email-preference .mar_top {
    margin-right: 5px;
}

.THIS .NavComponentRTL .slds-form-element__label {
    padding-right: 0;
}

@media all and (max-width: 768px) {
    .THIS .NavContainer {
        flex-direction: column;
    }

    .THIS .NavContainer1,
    .THIS .NavComponent {
        width: 100%;
    }

    .THIS .navBar {
        position: relative;
        height: 50px;
        margin-top: 0;
         border-bottom: 1px solid #c9c9c9;
    }

    .THIS .navBar ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 225px;
        z-index: 100;
    }

    .THIS .navBar .navItem {
        order: 2;
        display: none;
        border: none;
        background: #fff;
    }

    .THIS .navBar .navItem.mouse-hover {
        order: 1;
        display: block;
        font-size: 1rem;
        padding-left: 20px;
    }

    .THIS .navBar .navItem.mouse-hover .navItem1 {
        padding: 0.75rem 5px 0 6px;
        display: inline-block;
        border: none;
        width: 100%;
    }

    .THIS .RTL .navBar .navItem.mouse-hover .navItem1 {
        padding-right: 25px;
    }

    .THIS .mouse-hover.navItem,
    .THIS .slds-navigation-list-vertical__action:active,
    .THIS .slds-navigation-list--vertical__action:active {
        background: none;
        border: none;
        color: #444;
        position: relative;
        color: #015FF1;
    }

    .THIS .mouse-hover.navItem .navItem1:after {
        content: '';
        background: url(/resource/1593008431000/IconTriangleDownBlue);
        top: 5px;
        background-repeat: no-repeat;
        background-size: 20px 20px;
        width: 20px;
        height: 20px;
        position: relative;
        display: inline-block;
    }
    /*

     .THIS .navBar .navItem.mouse-hover .navItem1:hover {
        background-color: transparent;
    }


    .THIS .navBar ul:hover {
        box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.16);
    }

 */

    .THIS .slds-navigation-list-vertical__action:hover,
    .THIS .slds-navigation-list-vertical__action:focus,
    .THIS .slds-navigation-list--vertical__action:hover,
    .THIS .slds-navigation-list--vertical__action:focus {
        background: transparent;
    }

    .THIS .navBar ul:hover .navItem {
        display: block;
    }
}

@media (any-pointer: coarse) and (orientation: portrait) {
    .THIS .NavContainer1 {
        min-width: 250px;
    }

    .THIS .NavContainer {
        min-height: 100vh;
        
    }

    .THIS .navBar ul {
        width: 250px;
        min-width: 250px;
        z-index: 840;
    }
}