/*  Tooltip for Text length overflow -added by Enugothula Srinath */
.THIS .tooltip span {
    text-decoration: none;
    /*  transform: translate(-50%, -100%) scale(.5); */
    position: absolute;
    background-color: #000459;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    font-size: 0.8rem;
    font-weight: 400;
    text-align: left;
    /*  box-shadow: 0 0 4px 2px rgba(0,0,0,.2);*/
    width: max-content;
    max-width: 240px;
    top: 0;
    left: 30%;
    margin-top: -10px;
    visibility: hidden;
    opacity: 0;
}
.THIS .tooltip:hover {
    position: relative;
}
.THIS .tooltip:hover span {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -100%) scale(1);
    animation: pulse 1s;
}
.THIS .tooltip:hover span::after {
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border: solid transparent;
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-top: 8px solid #002448;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    border-width: 10px;
}
.THIS .tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.THIS.input-text {
    padding-top: 3px;
    /* font-weight: 600; */
    font-size: 16px;
    text-align: center;
}
.THIS .textoverlap {
    width: 18rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
/* --------------------END---------------- */
.THIS .rr-white-panel {
    min-width: 50rem;
    padding: 1.5rem;
}
.THIS .rightAlign .slds-datepicker table {
    table-layout: fixed;
    width: 300px;
}
.THIS .rightAlign .slds-input__icon_right {
    /*@noflip*/
    margin-right: 9rem;
}
.THIS .slds-form-element__label {
    width: max-content;
}
.THIS .rightAlign .slds-datepicker .slds-day {
    width: auto !important;
    min-width: auto !important;
    height: auto !important;
    line-height: inherit !important;
}
.THIS .emails-that-notify-y {
    height: 72px;
    color: #444444;
    font-family: 'Proxima Nova';
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
}

.THIS .avatar-icon-minor {
    background-color: #df216d;
    height: 55px;
    min-width: 55px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.THIS .single-avatar-minor {
    height: 24px;
    width: 21px;
}

.THIS .profileImg {
    align-items: center;
    margin-bottom: 1rem;
}

.THIS .profileImg > .profileEmail {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 15px;
}

.THIS.as-container {
    position: relative;
}

.THIS .as-email-input {
    margin: 0;
}

.THIS .slds-select_container {
    /*  width: fit-content; */
}

.THIS .slds-input {
    color: #000000;
    font-family: 'Proxima Nova';
    font-size: 1rem;
    letter-spacing: 0;
    line-height: 24px;
    height: 40px;
    display: inline-flex;
    align-items: center;
}

.THIS .stateCss {
    margin-top: -21px;
}

.THIS.as-container .as-email,
.THIS.as-container .as-password {
    margin-top: 10px;
    margin-bottom: 30px;
}

.THIS.as-container .as-email-preference {
    margin-top: 30px;
}

.THIS.as-container .as-info,
.THIS.as-container .as-language-switcher {
    margin-top: 10px;
}

.THIS .rr-form-element {
    margin-top: 15px;
}

.THIS .as-email-preference .business-info.as-info .rr-form-element:first-child {
    margin-top: 0;
}

.THIS .state-input {
    margin-top: 36px;
}

.THIS.as-container .as-privacy {
    margin-top: 20px;
    margin-bottom: 10px;
}

.THIS.as-container .as-title {
    color: #000000;
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.THIS .as-title {
    color: #444;
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 8px;
}

.THIS.as-container .as-sub-title {
    color: #333333;
    font-size: 14px;
    line-height: 24px;
    width: 60%;
}

.THIS.as-container .as-password .as-password-button {
    margin-top: 20px;
}

.THIS .rightAlign input {
    /* @noflip */
    text-align: right;
    /* @noflip */
    direction: rtl !important;
}

.THIS .as-email-input.slds-gutters,
.THIS .as-password-input {
}

.THIS .slds-gutters.as-email-input .slds-col,
.THIS .slds-gutters.as-password-input .slds-col {
    padding-left: 0;
    padding-right: 1.5rem;
}

.THIS .collapse-section.slds-m-top_large,
.THIS .collapse-section.slds-m-top--large {
    margin-top: 0;
}

.THIS .rr-link {
    color: #297dfd;
    display: inline-flex;
    align-items: center;
}

.THIS .as-privacy-form textarea {
    height: 200px;
    margin-top: 30px;
}

.THIS .as-submit-button {
    margin-top: 25px;
}

.THIS .ah-toggle {
    flex: inherit;
    margin-top: 2.25rem;
}

.THIS .ah-toggle .slds-form-element__control {
    margin-top: 10px;
}

.THIS .ah-toggle + .rr-form-element {
    margin-top: 3rem;
    padding-left: 0;
}

.THIS .mar_25 {
    margin-top: 25px;
}

.THIS .username {
    height: 20px;
    color: #000000;
    font-family: 'Proxima Nova';
    font-size: 17px;
    letter-spacing: 0;
    line-height: 20px;
}

.THIS .longName {
    max-width: 325px;
}

.THIS .smallName {
    width: auto;
}
.THIS .smallNameRTL {
    width: fit-content;
}
.THIS .delegate-birthDate {
    width: 215px;
}

.THIS .nickname {
    max-width: 263px;
}

.THIS .slds-checkbox_toggle .slds-checkbox_faux {
    border: none;
}

.THIS .contactDesc {
    width: 80%;
    color: #444;
}

/*.THIS .slds-avatar{
    border-radius: 50%;
    width:55px;
    height: 55px;
}*/
.THIS .username_title {
    height: 17px;
    color: #000000;
    font-family: 'Proxima Nova';
    font-size: 14px;
    letter-spacing: 0;
    line-height: 17px;
}

.THIS.ah-main-container {
    margin-top: 30px;
    padding: 10px;
}

.THIS .ah-main-panel {
    background-color: #ffffff;
    padding: 0 20px 30px 20px;
}

.THIS .ah-item-label {
    color: black;
    font-weight: 600;
    font-size: 17px;
}

.THIS .ah-item-sublabel {
    color: #666666;
    font-size: 13px;
}

.THIS .ah-item-panel {
    box-sizing: border-box;
    border: 1px solid #e9e9e9;
    background-color: #f8f9fb;
    padding: 17px;
}

.THIS .ah-section-title {
    color: black;
    font-weight: 600;
    font-size: 17px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.THIS .as-buttons-footer {
    display: flex;
    justify-content: flex-start;
    padding: 0;
    margin-top: 30px;
}

.THIS .opt-in-popup-button {
    width: 130px;
}

.THIS .opt-in-popup-button + .opt-in-popup-button {
    margin-left: 30px;
}

@media (max-width: 768px) {
    .THIS .rr-white-panel {
        padding: 0 1.5rem 1.5rem;
        min-width: auto;
    }

    .THIS.as-container .as-sub-title,
    .THIS .cLanguageSwitcher .section-description {
        width: 100%;
    }

    .THIS .as-email-pref-item {
        display: flex;
        align-items: center;
        position: relative;
    }

    .THIS .as-email-pref-item .ah-toggle {
        position: static;
        padding-top: 12px;
    }

    .THIS .nickname + .smallName + .rr-form-element {
        min-width: 200px;
    }
    .THIS .nickname + .smallNameRTL + .rr-form-element {
        min-width: 200px;
    }

    .THIS .contactDesc {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .THIS .apollo-btn,
    .THIS .slds-select_container {
        width: 100%;
    }

    .THIS .smallName {
        min-width: 100%;
    }
    .THIS .smallNameRTL {
        min-width: 100%;
    }

    .THIS.cPopup .p-container .p-footer {
        padding: 15px 15px 30px;
    }

    .THIS .apollo-btn + .apollo-btn {
        margin-left: 0;
        margin-top: 1rem;
    }

    .THIS .nickname,
    .THIS .longName,
    .THIS .smallName {
        max-width: 100%;
    }
    .THIS .nickname,
    .THIS .longName,
    .THIS .smallNameRTL {
        max-width: 100%;
    }

    .THIS.as-container .as-language-switcher .apollo-btn {
        width: 100%;
        margin-top: 30px;
        height: auto;
    }

    .THIS .rr-form-element {
        margin-top: 30px;
    }

    .THIS .as-email-input .rr-form-element {
        margin-top: 0;
    }

    .THIS .ah-toggle + .rr-form-element {
        width: 70%;
        margin-top: 1rem;
    }

    .THIS .ah-toggle {
        margin-top: 1rem;
    }

    .THIS .ah-toggle .slds-form-element__control {
        margin-top: 0;
    }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .THIS .delegateInfo {
        width: 720px;
    }
}
.THIS .slds-datepicker {
    max-width: 30rem;
}
.THIS .alignAge {
    margin-top: 14px;
    margin-left: 5px;
}
