.desktopList,
.mobileCards {
    height: 100%;
    min-height: 69vh;
    display: block;
}

.desktopList > div:last-child {
    position: relative;
    width: 100%;
    bottom: 0;
}

.Instructions {
    overflow-y: auto;
    max-height: 360px;
}

.mobileCards .buffermain > div:last-child {
    width: 100%;
}

.mobileCards .buffermain .slds-card {
    height: 100%;
    /* min-height: 52vh; */
    overflow-y: auto;
}

.mobileCards .buffermain .slds-card .slds-card__body_inner {
    padding-left: 0;
    padding-right: 0;
}

.bulk-import {
    line-height: 21px !important;
}

.bulk-import-files {
    height: 30px;
    width: 304px;
    color: #000000;
    font-family: 'Proxima Nova';
    font-size: 20px;
    letter-spacing: 0;
    line-height: 30px;
    padding-left: 16px;
}

.bulk-import-buttons {
    padding-right: 16px;
    font-family: 'Proxima Nova';
    font-size: 14px;
    font-weight: 550;
    letter-spacing: 0;
    line-height: 24px;
}
/*
.bulk-import-buttons .leftMargin {
    margin-bottom: 6px;
}
*/
.neutral-button {
    color: #0768fd;
}

.table-header-label {
    color: #7a7a7a;
    font-family: 'Proxima Nova';
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 21px;
}

.inprogress {
    height: 24px;
    width: 166px;
    color: #eb8100;
    font-family: 'Proxima Nova';
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    top: -42px;
    right: 124px;
}
.completed {
    color: green;
}

.table-header {
    height: 30px;
    width: 1174px;
    background-color: #f8f9fb;
}

.table-data {
    text-align: center;
    color: #000000;
    font-family: 'Proxima Nova';
    font-size: 16px;
    letter-spacing: 0;
    line-height: 21px;
}

.table-row {
    height: 49px;
    width: 1173.6px;
}

.table-row:nth-child(even) {
    background-color: #f8f9fb;
}

.table-rejected {
    color: #e20000;
    font-weight: bold;
}

.table-text-left {
    text-align: left;
}

.saveButton {
    background-color: rgb(41, 125, 253);
    color: white;
    border-color: #297dfd;
}
.saveButton:hover {
    background-color: #1c577f;
    border-color: #1c577f;
}
.modalBody {
    /* font-family: "Inv Maison Neue","Maison Neue",-apple-system,BlinkMacSystemFont,"Open Sans",open-sans,sans-serif;*/
    min-height: 250px;
}
.modalBody .label {
    color: #444444;
    font-family: 'Proxima Nova';
    font-size: 14px;
    letter-spacing: 0;
    line-height: 24px;
}
.modalBody .slds-progress-bar__value {
    background-color: #0768fd;
}
.fileInput {
    width: 100%;
    height: 117px;
    position: absolute;
}
.fileBox {
    width: 100%;
    height: 135px;
    border: 1px dashed #b5b5b5;
    border-radius: 4px;
    background-color: #f2f2f2;
    position: absolute;
    pointer-events: none;
    padding-left: 7px;
}
.fileHolder {
    min-height: 130px;
}
.uploadLabel {
    color: #595959;
    font-family: 'Proxima Nova';
    font-size: 14px;
}
.linkLabel {
    color: #0768fd;
}
.fileName {
    color: #444444;
    font-family: 'Proxima Nova';
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: 1rem;
}

.elipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.iconBlue {
    fill: #297dfd;
}
.progressBar {
    width: 95%;
    display: inline-block;
}
.closeIcon {
    width: 5%;
    display: inline-block;
    padding-left: 2%;
}

.importInfo {
    font-family: Proxima Nova;
    font-size: 20px;
    line-height: 24px;
    padding-left: 22px;
    padding-right: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.importInfo ol {
    list-style: decimal;
}
.importInfo ol > li > ol {
    list-style: lower-alpha;
    padding-left: 2rem;
}
.importInfo > .processTextBody > ol > li {
    padding-bottom: 10px;
    margin-left: 23px;
}
.slds-checkbox .slds-checkbox__label .slds-form-element__label {
    font-size: 14px;
}
.processtext {
    overflow-y: scroll;
    height: 22rem;
}
.importInfo .header1 {
    position: absolute;
    top: -20px;
    /* left: 24px;  not required for desktop */
    font-size: 24px;
    font-weight: 600;
}
.okButton {
    height: 40px;
    width: 80px;
}
.disabledB {
    opacity: 0.5;
}
.leftMargin {
    margin: 0px 8px 0px 8px;
}

.label-icon-color {
    -webkit-text-fill-color: #297dfd;
    --lwc-colorTextIconDefault: #297dfd;
}

/*mobile*/

.mobileCards {
    display: none;
}

@media (max-device-width: 768px) {
    .desktopList {
        display: none;
    }

    .slds-card__body.slds-card__body_inner div {
        padding-bottom: 2px;
    }

    .mobileCards .bulk-import-files,
    .inprogress {
        padding: unset;
    }
    .inprogress {
        top: -17px;
        right: 7rem;
    }

    .bufferSides {
        float: left;
        width: 10%;
        border: 0.1px solid white;
    }

    .slds-dropdown_right,
    .slds-dropdown--right {
        top: 55px;
        width: 175px;
        right: 10px;
    }
    .bulk-importButton {
        background: #0768fd;
        color: white !important;
    }

    .bulkUploadTitle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .bulkUploadBtn {
        color: #0768fd;
        text-align: left;
        padding-left: 0;
    }

    .bulkUploadBtn .slds-icon-utility-down {
        display: none;
    }

    .bulkUploadBtn:after {
        content: '';
        position: absolute;
        background-image: url(/resource/1630921848000/IconTriangleDownBlue);
        background-size: 16px 16px;
        height: 16px;
        width: 16px;
        top: 25px;
        right: 19px;
    }

    .processtext {
        height: auto;
    }
    .processBody {
        zoom: 0.8;
    }
    .importInfo .header1 {
        top: -27px;
        left: -5px;
    }
    .importInfo {
        padding: 10px 12px 10px 30px;
    }

    .popUpDisplay {
        width: auto;
        height: auto;
        max-height: 60vh;
        overflow-y: auto;
    }
    .mobileCards {
        display: block;
    }
}

@media (max-device-width: 486px) {
    .popUpDisplay {
        width: auto;
        height: auto;
        max-height: 90vh;
        overflow-y: auto;
    }
    .processtext {
        overflow-y: scroll;
        height: 30rem;
    }

    /* .processtext{
        height: auto;
    } */
    .processBody {
        zoom: 0.8;
    }

    .modalBody {
        min-height: 400px;
    }

    .fileHolder {
        min-height: 250px;
    }

    .fileBox,
    .fileInput {
        height: 250px;
    }

    .uploadLabel {
        text-align: center;
        overflow-wrap: anywhere;
        max-width: 15rem;
    }

    .bulkUploadTitle .slds-dropdown_right {
        top: 55px;
        right: 10px;
    }

    .slds-dropdown__item > a {
        font-size: 14px;
        justify-content: flex-start;
    }

    .importInfo {
        padding: 10px 0;
    }

    .importInfo ol {
        padding-left: 10px;
    }

    .uploadLabel {
        word-break: break-word;
    }
}

.enforce-temp-title{
    width: auto;
}
