.bulk-import-files {
    height: 30px;
    width: 304px;
    color: #000000;
    font-family: "Proxima Nova";
    font-size: 20px;
    letter-spacing: 0;
    line-height: 30px;
    padding-left: 16px;
}

.bulk-import-buttons {
    padding-right: 16px;
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: 550;
    letter-spacing: 0;
    line-height: 24px;
}

.neutral-button {
    color: #0768FD;
}

.table-header-label {
    color: #7A7A7A;
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 21px;
  }

  .inprogress {
    height: 24px;
    width: 82px;
    color: #EB8100;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    top: -42px;
    right: 124px;
  }

  .table-header {
    height: 30px;
    width: 1174px;
    background-color: #F8F9FB;
  }
  
  .table-data {
    text-align: center;
    color: #000000;
    font-family: "Proxima Nova";
    font-size: 16px;
    letter-spacing: 0;
    line-height: 21px;
  }

  .table-row {
    height: 49px;
    width: 1173.6px;
  }

  .table-row:nth-child(even) {
    background-color: #F8F9FB;
}



.table-rejected{
    color: #E20000;
    font-weight: bold;
}

.table-text-left{
    text-align: left;
}

.saveButton {
    background-color: rgb(41, 125, 253);
    color: white;
    border-color: #297dfd;
}
.saveButton:hover {
    background-color:#1c577f;
    border-color: #1c577f;

}
.modalBody{
    font-family: "Inv Maison Neue","Maison Neue",-apple-system,BlinkMacSystemFont,"Open Sans",open-sans,sans-serif;
    min-height: 250px;
}
.modalBody .label {
    color: #444444;
    font-family: "Proxima Nova";
    font-size: 14px;
    letter-spacing: 0;
    line-height: 24px;
  }
.modalBody .slds-progress-bar__value{
    background-color: #0768FD;
}
.fileInput{
    width: 100%;
    height: 117px;
    position: absolute;
}
.fileBox{
    width: 100%;
    height: 117px;
    border: 1px dashed #B5B5B5;
    border-radius: 4px;
    background-color: #F2F2F2;
    position: absolute;
    pointer-events: none;

}
.fileHolder{
    min-height: 130px;
}
.uploadLabel{
    color: #595959;
    font-family: "Proxima Nova";
    font-size: 14px;
}
.linkLabel{
    color: #0768fd;    
}
.fileName{    
    color: #444444;
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 24px;
}
.iconBlue {
    fill : #297dfd;
}
.progressBar {
    width: 95%;
    display: inline-block;
}
.closeIcon {
    width: 5%;
    display: inline;
    padding-left: 2%;
}

.importInfo {
    font-family: Proxima Nova;
    font-size: 20px;
    line-height: 24px;
    padding-left: 45px;
    padding-right: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.importInfo ol{
    list-style : decimal;
}
.importInfo ol>li>ol{
    list-style : lower-alpha;
    padding-left: 2rem;
}
.importInfo>ol>li 
{
    padding-bottom: 10px;
}
.importInfo .header1 {
    position: absolute;
    top: -20px;
    left: 24px;
    font-size: 24px;
    font-weight: 600;
}
.disabledB{
    opacity : 0.5;
}
.leftMargin{
    margin: 0px 8px 0px 0px;
}
@media (max-device-width: 768px) {    
    .processtext{
        overflow: scroll;
        height: 210px;
    }
    .processBody{
        zoom: 0.8;
    }
    .importInfo .header1{
        top: -27px;
        left: -5px;
    }
    .importInfo{
        padding: 10px 12px 10px 7px;
    }
}
@media (max-device-width: 360px) {
    .processtext{
        overflow: scroll;
        height: 350px;
    }
    .processBody{
        zoom: 0.8;
    }
}

/*mobile*/

.mobileCards{
    display:none;
}
.desktopList{
    display:unset;
}
@media (max-device-width: 768px) {
    .desktopList{
        display:none;
    }
    .mobileCards
    {
        display:unset;
    }
    .slds-card__body.slds-card__body_inner div {
        padding-bottom: 2px;
    }
    .bulk-import-files{
        padding: unset;
    }
    .inprogress{
        position: unset;
    }
}