.bulk-import-files {
    height: 30px;
    width: 304px;
    color: #000000;
    font-family: "Proxima Nova";
    font-size: 20px;
    letter-spacing: 0;
    line-height: 30px;
}

.table-header-label {
    height: 21px;
    width: 64px;
    color: #7A7A7A;
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 21px;
  }