.dim{ opacity: 0.6; }
.keyup:focus-visible {
    outline: none;
}
.list-card:focus-visible {
    outline: none;
}
.card-content{
    min-height: 40px;
}
.noRecords {
    margin-left: 5rem;
    font-family: 'Proxima Nova';
    font-size: 14px;
    color: #999;
}

.text-overflow{
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width:100%;

}

.dropdown-zindex{
    z-index: 9;
}
.filterTextButton{
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
}
.filterIconButton{
    height: 32px;
    width: 82%;
    background: white;
    display:none;
}
.labelHide .labelhide_1 .slds-form-element__label{
    display: none!important;

}
.selected{background: #ECF3FF;}
.dividerTop{ border-color: #E9E9E9;}
.textBold{font-weight: 600; }
.textBolds{font-weight: 700; }
.w-filter{
    width: 28%;
    margin-left: 7px;
}
.filter-color{color: #297dfd;}
.w-truncate {width: 70px;}
.w-100{
    width: 100%;
}
.text-width{
    width: 140px;
    text-align: left;
}
.btn-shadow:focus{
    border-color: var(--lwc-colorBorderInputActive,rgb(27, 150, 255));
    box-shadow: var(--lwc-shadowButtonFocus,0 0 3px #0176d3);
}
.j-content{
    justify-content: left;
}
.w-action{
    margin-left: 7px;
    width: 47%;
}
.pen{
    zoom: 0.8;
}
.disablePreset{
    opacity:0.5;
}
.enablePreset{
    cursor: pointer;
}
.subInfo{
    color: #999999;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 18px;
}
.flags{
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0;
}
.disablefilter{
    opacity: 0.4;
}
.flags span{min-height: 18px;}
.actionReq{  color: #FF9300; padding-right: 0.5rem; }
.priority{ color: #9E54B0; padding-right: 0.5rem; }
.risk{ color: #DF216D; padding-right: 0.5rem;}
.breakW{
    overflow-wrap: break-word;
    line-height: 20px;
    padding-bottom: 2px;
}
.flag-width{
    flex-wrap: wrap;
    align-items: flex-start;
    display: flex;
}
.actionwidth{
    width: 33%;
    font-size: 11px;
}
.actionReconsent{
   color:blueviolet;
}
.flags img{
    height: 14px;
    background-color: rgba(158,84,176,0.08);
    border-radius: 50%;
    display: inline-block;
    border-width: 131px;
    padding: 1.5px;
    margin: 2px 0px 4px 0px;
}
.wait{
    top: 28vh;
    position: absolute;
    width: 100%;
}
.flags .actionReq span{ background-color: rgba(255,147,0,0.08); }
.flags .priority span{ background-color: rgba(158,84,176,0.08); }
.flags .risk span{ background-color: rgba(223,33,109,0.08); }
.list-card{ cursor:pointer; padding-top: 3px;}
.overflowSet{height: 47vh; overflow: auto;}
.filter-relative{margin-left: 8px;margin-top: 4px;}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background: #999999;
    border-radius: 4px;
    cursor:pointer;
}
::-webkit-scrollbar-thumb:hover {
    background: #858383;
}
@media all and (max-width: 76.25em) {
    .filterIconButton{
        display:inline-flex;
    }
    .filterTextButton{
        display:none;
    }
}
@media all and (max-width: 48em) {
    .overflowSet{height: unset;overflow: unset; }
    .filterIconButton{
        height: 40px;
    }
}

@media all and (max-width: 47.9375em) {
    .selected{background:white;}

}
@media (max-device-width: 767px) {
    .filter-relative{margin-left: 0;margin-top: 4px;}
    .w-filter{
        width: 25%;
        margin-left: 0;
    }
}

/*  Tooltip for Text length overflow  */
.tooltip {
    position: relative;
    /* display: inline-flex; */
  }

  .tooltip .tooltiptextBottom {
    visibility: hidden;
    width: 210px;
    background-color: #444444;
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    text-align: left;
    border-radius: 6px;
    padding: 10px 12px;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 34%;
    margin-left: -60px;
  }

  .tooltip .tooltiptextBottom::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 7px;
    border-style: solid;
    border-color: transparent transparent #444444 transparent;
  }

  .tooltip:hover .tooltiptextBottom {
    visibility: visible;
  }
/* --------END Bottom --------------- */
.tooltip .tooltiptextTop {
    visibility: hidden;
    width: 210px;
    background-color: #444444;
    color: #fff;
    text-align: left;
    font-size: 14px;
    line-height: 24px;
    border-radius: 6px;
    padding: 10px 12px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 34%;
    margin-left: -60px;
  }
  .tooltip .tooltiptextTop::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 7px;
      border-style: solid;
      border-color: #444444 transparent transparent transparent;
  }
  .tooltip:hover .tooltiptextTop {
    visibility: visible;
  }
  .checkboxdisplay  {
    display: flex;
  }
  .w-7{
      width: 7%;
  }
  .w-90{
      width: 90%;
  }
  .checkbox-place{
    margin-left: 9px;
    padding: 3px 0px 0px 0px;
}
.checkbox-padding{
    padding: 10px;
}
.menu-style{
    white-space: nowrap;
}
.hideDesktop{
    display: none;
}
.font-dropdowns{
    font-size:12px;
}

@media all and (max-width: 47.9375em) {
.hideDesktop{
    display: unset;
}
.showDesktop{
    display: none;
}
}
.checkbox-color{
    background: #F6F7FB;
    border: 1px solid #E9E9E9;
    height: 26px;
}

.checkbox-colordct{
    background: #F6F7FB;
    border: 1px solid #E9E9E9;
    height: 28px;
}
.checkbox-placedct{
    margin-left: 12px;
    padding: 3px 0px 0px 0px;
}
.participantStatus{
    padding-bottom: 5px !important;
}
/** pop code **/
.title {
    color: #000000;
    font-family: "Proxima Nova";
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 32px;
}
.sub-text{
    font-size: 16px;
    line-height: 24px;
    color: #444444;
}
.bar {
    height: 4px;
    background: linear-gradient(270deg,#0076ae,#250056);
    position: relative;
}
.model-small{
    width: 420px;
    max-width: 52.0625rem;
    min-width: 0;
}
.close-arrow-left{
    margin-right:0;
}
.close-icon{
    cursor: pointer;
    padding-left: 10px;
}
.btn-height{
    height: 40px;
}
.save-btn{
    float: right;
    margin-left: 15px;
}
.discard-btn{
    border: 1px solid #ffffff;
    box-shadow: 0 4px 4px 0 rgb(255 255 255 / 4%);
}
.participant-text{
    font-size: 16px;
    font-weight: 500;
}
@media (max-device-width: 767px) {
    .model-small{
        width: auto;
        min-width: auto;
    }
    .mobile-width{
        width: 100%;
    }
    .close-icon{
        padding-left: 25px;
    }
    .save-btn{
        float: left;
        margin-left: 0;
        width: 100%;
        margin-bottom: 20px;
    }
    .discard-btn{
        width: 100%;
        margin-left: 0;
    }
}
@media (min-width: 767px) {
    .model-small{
        width: 100%;
    }
}
@media (min-width: 992px) {
    .model-small{
        width: 470px;
    }
}
/** landscape changes**/
@media screen and (orientation:landscape)
and (max-device-width: 898px) 
{
    .w-action{
        margin-left: 7px;
        width: 30%;
    }
    .sort{ 
        width :23.666667%;
    }
    .last-mod{
        width :41.666667%;
    }

}
 /** pop code End **/
/*RTL start */

.rtl .w-filter {
    margin-right: 7px;
    margin-left: 0;
}
.rtl .w-action {
    margin-right: 7px;
    margin-left: 0;
}
.rtl .tooltip .tooltiptextBottom {
    text-align: right;
}
.rtl .checkbox-place{
    margin-right: 10px;
    padding: 3px 0px 0px 0px;
}
.rtl .checkbox-placedct{
    margin-right: 13px;
    padding: 3px 0px 0px 0px;
}
.rtl .noRecords{
    margin-right:3rem;
}
.rtl .text-width{
    text-align:right;
}
@media (max-device-width: 767px) {
    .rtl .w-filter{
        margin-left: 0px;
        margin-right: 0px;
    }
    .rtl .rtl-margin-right{
        margin-right: var(--lwc-spacingXSmall,0.5rem);
    }
    .rtl .filterIconButton{
        width:86%;
    }
    .rtl .rtl-marg{
        padding-left:3px;
    }
    .rtl .rtl-p-r{
        padding-right:5px;
    }
    .rtl .rtl-pad-right{
        /* padding-right: var(--lwc-spacingXLarge,2rem); */
        padding-right: 8px;
    }

}
.searchTextDisabled{
    background-color: #bfbfbf;
}

/* RTL End*/
.disableclass{
    background-color: #f3f3f3;
    border-color: #c9c9c9;
    color: #747474;
    cursor: not-allowed;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.disable-filter-button{
    opacity : 0.4;
}
.clearFilterBtn{
    width:94%;
    box-shadow: 0 4px 8px 0 rgb(41 125 253 / 16%), 0 4px 4px 0 rgb(0 0 0 / 4%), 0 4px 12px 0 rgb(41 125 253 / 32%);
}

  /* --------END Top --------------- */