.THIS.rri-container,
.THIS.rri-container lightning-input,
.THIS.rri-container .lightningInput {
    width: 100%;
}
.THIS .slds-select {
    font-size: 1rem;
    line-height: 22px;
    height: 32px;
}
.THIS.rri-container .rri-body {
    display: flex;
}

.THIS.rri-container .rri-icon {
    padding-top: 9px;
}

.THIS.rri-container label {
    display: none;
}

.THIS.rri-container .rri-label {
    display: flex;
    color: #444;
    font-size: .874rem;
    font-weight: 500;
    line-height: 21px;
}

.THIS.rri-container .rri-label .rri-error {
    color: #FF0031;
}

.THIS.rri-container input {
    font-size: 1rem;
    line-height: 22px;
    height: 32px;
}
.THIS .pwdText{
   font-size: 30px;
    opacity:0.6;
}

.THIS.rri-container svg {
    height: 22px;
    width: 22px;
    margin-right: 5px;
}

.THIS.rri-container .rri-password{
    position: relative;
    width: 100%;
}

.THIS.rri-container .rri-password .rri-show-password{
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}