/**
 * Created by Igor Malyuta on 06.12.2019.
 */

.webPopup .p-content.with-scroll {
    padding-bottom: 50px;
}
.rightAlign .slds-dropdown_left {
    text-align: right;
    right: auto;
    left: 0px;
}
.mr_10 {
    margin-top: 10px;
}
.mar_right_rtl {
    margin-right: 10px;
}
.mr_25 {
    margin-top: 25px;
}
.mr_50 {
    margin-top: 50px;
}
.mr_20 {
    margin-top: 35px;
}
.mr_40 {
    margin-top: 40px;
}
h2 {
    margin-left: -11px;
}
.slds-checkbox {
    margin-left: -11px;
}
.label {
    height: 24px;
    width: 209.13px;
    color: #444444;
    font-family: 'Proxima Nova';
    font-size: 14px;
    letter-spacing: 0;
    line-height: 24px;
}
.reminderDate {
    margin-left: -105px;
    padding-top: 3px;
}

.reminderDate_rtl {
    margin-right: -105px;
    text-align: right;
}

.reminder {
    margin-left: -118px;
    margin-top: 5px;
}

.wi {
    width: 209px;
}

.container {
    /* box-sizing: border-box;*/
    height: 40px;
    width: 209px;
    /*border: 1px solid #D9D9D9;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0);*/
}
.vis-input {
    width: 209px;
}
.container1 {
    height: 40px;
    width: 418px;
}
.title {
    height: 60px;
    /* width: 190px; */
    color: #000;
    font-family: Proxima Nova;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0;
    white-space: nowrap;
    margin-top: -25px;
    margin-left: 8px;
}

.label_rtl_remind {
    display: flex;
    justify-content: flex-start;
    margin-bottom: -20px;
}

.title_rtl {
    height: 60px;
    /* width: 190px; */
    color: #000;
    font-family: Proxima Nova;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0;
    white-space: nowrap;
    margin-top: -25px;
    margin-left: 450px;
}
.label_rtl {
    margin-right: -79px;
}
.mr_right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.group-6 {
    height: 694px;
    width: 668px;
}
.form-checkbox-ui-small-default {
    height: 24px;
    width: 62px;
}

.mr_left6 {
    margin-left: 6px;
}
.mr_left_5 {
    margin-left: 5px;
    padding-top: 0.25rem;
}

.mr_left_5:last-child {
    padding-top: 0;
}

.mr_left_5:nth-child(3) .slds-has-error .slds-form-element__help {
    height: 15px;
}

.mr_left_5:nth-child(5) {
    margin-bottom: 20px;
    padding-top: 20px;
}

.slds-grid.mr_left_5:last-child .mr_10 {
    margin: 0 0 10px;
}

.slds-grid.mr_left_5:last-child .mr_right .mr_10.mr_left6 {
    margin-left: 5px;
}

.label_rtl + .container1 {
    text-align: right;
}

.what-to-expect {
    height: 24px;
    color: #000000;
    font-family: 'Proxima Nova';
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -28px;
    margin-left: 10px;
}
.what-to-expect_rtl {
    height: 24px;
    width: max-content;
    color: #000000;
    font-family: 'Proxima Nova';
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -28px;
    margin-right: 20px;
}
.icons-container {
    display: flex;
    overflow: visible;
    min-height: 32px;
    max-width: 60%;
    margin-left: 13px;
    justify-content: space-between;
}
.icons-container_rtl {
    display: flex;
    overflow: hidden;
    min-height: 32px;
    max-width: 60%;
    margin-left: 13px;
    margin-right: 20px;
    justify-content: space-between;
}

.icons-row {
    display: flex;
    flex-wrap: wrap;
}

.icons-row .icon:last-child .dots {
    display: none;
}

.icon {
    position: relative;
    display: flex;
    overflow: visible;
    padding-top: 6px;
    padding-left: 10px;
}
.icon:hover {
    fill: #595959 !important;
}

.icon-item {
    padding-left: 10px;
    fill: #999 !important;
}

.dots {
    padding-left: 2px;
    padding-top: 13px;
    font-weight: bold;
    position: absolute;
    left: 32px;
}

.icon-item:hover {
    fill: #595959 !important;
}

.free-space {
    flex-shrink: 0;
    width: 32px;
}
.path-panel {
    background-color: #ffffff;
}

.path-panel .path-section {
    padding: 30px 5px 25px;
}
.arrow-border span {
    text-align: center;
    justify-items: center;
    float: left;
    width: 23px;
    height: 23px;
    border: 1px solid #979797;
    border-radius: 100%;
    background-color: #f8f9fb;
    display: flex;
    align-items: flex-start;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
}

.arrow-borders-right {
    justify-content: space-around;
}

.arrow-border i span {
    font-size: 13px;
    align-self: center;
    color: #979797;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    margin: 0 auto;
}

.arrow-border i span::before {
    display: inline-block;
    text-decoration: none;
}

.vis-path {
    max-width: 630px;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
    padding-top: 26px;
    position: relative;
}

.vis-path::-webkit-scrollbar {
    display: none;
}

.state-ico-wrapper .rr-icon-default {
    width: 16px;
    height: 14px;
}
.state-ico-wrapperRTL .rr-icon-default {
    width: 16px;
    height: 14px;
}

.width-basis {
    flex-basis: auto;
}

.state {
    padding-left: 0 !important;
    padding-right: 0 !important;
    min-width: 125px;
}

.state-label {
    text-align: center;
    font-size: 1rem;
    color: #444;
    overflow-wrap: break-word;
}
.state-labelRTL {
    text-align: center;
    font-size: 1rem;
    color: #444;
    overflow-wrap: break-word;
    min-width: 125px;
    max-width: inherit;
}

.line-div {
    height: 22px;
    border-top: 2px solid;
    padding-right: 0;
    padding-left: 0;
}

.line-div.neutral {
    border-top-color: #b5b5b5;
}

.line-div.success {
    border-top-color: #00c221;
}

.line-div.missed {
    border-top-color: #00c221;
}

.line-div.planned {
    border-top-color: #005ff1;
}

.missed .state-label {
    color: #999;
}
.missed .state-labelRTL {
    color: #999;
}

.state-ico-wrapper {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    left: -9px;
    line-height: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.state-ico-wrapperRTL {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    right: -9px;
    line-height: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.state .state-ico-wrapper {
    width: 30px;
    height: 30px;
    top: -18px;
    left: -16px;
}
.state .state-ico-wrapperRTL {
    width: 30px;
    height: 30px;
    top: -18px;
    right: -16px;
}

.state.planned .state-ico-wrapper-middle {
    border-radius: 50%;
    position: absolute;
    line-height: 1;
    justify-content: center;
    top: -22px;
    left: -20px;
    width: 38px;
    height: 38px;
    opacity: 0.25;
    background-color: #005ff1;
}
.state.planned .state-ico-wrapper-middleRTL {
    border-radius: 50%;
    position: absolute;
    line-height: 1;
    justify-content: center;
    top: -22px;
    right: -20px;
    width: 38px;
    height: 38px;
    opacity: 0.25;
    background-color: #005ff1;
}

.state.planned .state-ico-wrapper-large {
    border-radius: 50%;
    position: absolute;
    line-height: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #005ff1;
    top: -27px;
    left: -24px;
    width: 48px;
    height: 48px;
    opacity: 0.1;
}
.state.planned .state-ico-wrapper-largeRTL {
    border-radius: 50%;
    position: absolute;
    line-height: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #005ff1;
    top: -27px;
    right: -24px;
    width: 48px;
    height: 48px;
    opacity: 0.1;
}

.state.neutral .state-ico-wrapper {
    background-color: #b5b5b5 !important;
}
.state.neutral .state-ico-wrapperRTL {
    background-color: #b5b5b5 !important;
}

.state.success .state-ico-wrapper {
    background-color: #00c221 !important;
}
.state.success .state-ico-wrapperRTL {
    background-color: #00c221 !important;
}

.state.missed .state-ico-wrapper {
    background-color: #99e7a6 !important;
}
.state.missed .state-ico-wrapperRTL {
    background-color: #99e7a6 !important;
}

.state.planned .state-ico-wrapper {
    background-color: #005ff1 !important;
}
.state.planned .state-ico-wrapperRTL {
    background-color: #005ff1 !important;
}

.date-edit {
    display: flex;
    justify-content: center;
}

.arrow-left {
    opacity: 0;
    transition: opacity 200ms;
    -webkit-transition: opacity 200ms;
    min-width: 30px;
    margin-left: 5px;
    display: flex;
    padding-top: 15px;
}
.arrow-leftRTL {
    opacity: 0;
    transition: opacity 200ms;
    -webkit-transition: opacity 200ms;
    min-width: 30px;
    margin-right: 5px;
    display: flex;
    padding-top: 15px;
}

.arrow-right {
    opacity: 0;
    transition: opacity 200ms;
    -webkit-transition: opacity 200ms;
    min-width: 30px;
    margin-right: 5px;
    display: flex;
    padding-top: 15px;
}
.arrow-rightRTL {
    opacity: 0;
    transition: opacity 200ms;
    -webkit-transition: opacity 200ms;
    min-width: 30px;
    margin-left: 5px;
    display: flex;
    padding-top: 15px;
}
.icon .tooltiptext {
    visibility: hidden;
    background-color: #444;
    color: #fff;
    border-radius: 4px;
    padding: 5px;
    width: 300px;

    /* Position the tooltip */
    position: absolute;
    top: 125%;
    z-index: 1000;
    overflow: visible;
    font-size: 1rem;
    line-height: 1.5;
    padding: 1rem;
}

.icon .tooltiptitle {
    font-size: 18px;
    font-weight: 600;
}

.tooltiptext._rtl {
    right: -50%;
}
.tooltiptext._ltr {
    left: -50%;
}

.icon:hover .tooltiptext {
    visibility: visible;
}

.add-date {
    color: #297dfd;
}

@media only screen and (min-width: 1000px) and (orientation: portrait) {
    .state .state-ico-wrapper {
        width: 30px;
        height: 30px;
        top: -16px;
        left: -13px;
    }

    .state .state-ico-wrapperRTL {
        width: 30px;
        height: 30px;
        top: -16px;
        right: -13px;
    }

    .arrow-left {
        margin-right: 4px;
    }

    .arrow-left + .slds-col > .vis-path.slds-grid > .slds-col:nth-of-type(n + 2) .state-label {
        padding-right: 36px;
    }
    .arrow-leftRTL
        + .slds-col
        > .vis-path.slds-grid
        > .slds-col:nth-of-type(n + 2)
        .state-labelRTL {
        padding-right: 0px;
    }
}

@media screen and (max-width: 768px) {
    .slds-grid.mr_left_5:last-child .mr_10 {
        margin: 0 0 20px;
    }

    .mr_reminderDate_rtl,
    .reminderDate_rtl + .container1 {
        margin-right: 0;
        text-align: right;
    }
}

@media screen and (max-width: 600px) {
    .vis-path {
        /*   max-width: 310px; */
        overflow-x: scroll;
        -ms-overflow-style: none;
        scroll-behavior: smooth;
        padding-top: 21px;
    }

    .state {
        min-width: 225px;
    }

    .state .state-ico-wrapper {
        width: 40px;
        height: 42px;
        top: -22px;
        left: -19px;
    }
    .state .state-ico-wrapperRTL {
        width: 40px;
        height: 42px;
        top: -22px;
        right: -19px;
    }

    .arrow-left {
        padding-left: 8px;
    }

    .state-ico-wrapper .rr-icon-default {
        width: 18px;
        height: 20px;
    }
    .state-ico-wrapperRTL .rr-icon-default {
        width: 18px;
        height: 20px;
    }

    .container1 {
        width: 100%;
    }

    .icons-row {
        position: relative;
    }

    .mr_left_5.slds-grid {
        flex-direction: column;
    }

    .slds-form-element__label.mr_left {
        text-align: right;
    }

    .title,
    table {
        margin-left: 0;
    }

    .reminderDate {
        margin-left: 0;
        margin-top: 15px;
        min-width: 100%;
    }

    .reminderDate_rtl {
        margin-right: 0;
    }

    .mr_left_5 .slds-col {
        padding-left: 0;
    }

    .mr_left_5 > .slds-size_1-of-2 > .mr_10 {
        margin: 20px 0 0;
    }

    .mr_left_5 > .slds-size_1-of-2 > .mr_10:nth-child(1) {
        margin: 0;
    }

    .what-to-expect {
        margin-left: 3px;
    }

    .icon {
        padding-left: 5px;
        margin: 8px;
        position: static;
    }

    .icons-container,
    .icons-container_rtl {
        max-width: 100%;
    }

    .icon .tooltiptext {
        top: 40px;
    }

    .icon:nth-of-type(n + 8) .tooltiptext {
        top: 85px;
    }

    .icon:nth-of-type(n + 15) .tooltiptext {
        top: 125px;
    }

    .icon:nth-of-type(n + 22) .tooltiptext {
        top: 165px;
    }

    .icon:nth-of-type(n + 25) .tooltiptext {
        top: 205px;
    }

    .tooltiptext._ltr {
        left: -10px;
    }

    .tooltiptext._rtl {
        right: -10px;
    }
}

@media only screen and (min-width: 650px) and (max-width: 800px) and (orientation: portrait) {
    .path-section {
        padding: 30px 5px 25px;
        max-width: 750px;
    }

    .vis-path {
        max-width: 630px;
        overflow-x: scroll;
        -ms-overflow-style: none;
        scroll-behavior: smooth;
        padding-top: 16px;
    }

    .state {
        min-width: 145px;
    }

    .state-label {
        display: block;
    }

    .state-ico-wrapper .rr-icon-default {
        width: 20px;
        height: 18px;
        margin-bottom: 2px;
    }
    .state-ico-wrapperRTL .rr-icon-default {
        width: 20px;
        height: 18px;
        margin-bottom: 2px;
    }

    .width-basis {
        flex-basis: 0;
    }

    .state .state-ico-wrapper {
        width: 32px;
        height: 32px;
        top: -17px;
        left: -14px;
    }

    .state .state-ico-wrapperRTL {
        width: 32px;
        height: 32px;
        top: -17px;
        right: -14px;
    }

    .arrow-left,
    .arrow-right {
        padding-left: 30px;
        margin-left: 0;
    }
}

@media only screen and (min-device-width: 800px) and (max-device-width: 1000px) and (orientation: landscape) {
    .arrow-left {
        margin-right: 5px;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .path-section {
        max-width: 700px;
    }

    .vis-path {
        max-width: 535px;
        overflow-x: scroll;
        -ms-overflow-style: none;
        scroll-behavior: smooth;
        padding-top: 30px;
    }

    .state {
        min-width: 145px;
    }

    .state-label {
        display: block;
    }

    .state.planned .state-ico-wrapper-large {
        left: -25px;
    }

    .state.planned .state-ico-wrapper-largeRTL {
        right: -25px;
    }

    .state.planned .state-ico-wrapper-middle {
        top: -22px;
        left: -21px;
        width: 39px;
        height: 38px;
    }

    .state.planned .state-ico-wrapper-middleRTL {
        top: -22px;
        right: -21px;
        width: 39px;
        height: 38px;
    }
    .mr_16 {
        margin-right: 16px;
    }

    .width-basis {
        flex-basis: 0;
    }

    .state .state-ico-wrapper .rr-icon-default {
        width: 20px;
        height: 22px;
    }
    .state .state-ico-wrapperRTL .rr-icon-default {
        width: 20px;
        height: 22px;
    }

    .arrow-left,
    .arrow-right {
        padding-top: 20px;
        margin-left: 0;
    }
}
