/**
 * Created by Olga Skrynnikova on 6/10/2020.
 */

 .THIS {
    width: 100%;
}

.THIS .pp-item:first-child .main-box .menu-item-box .icon-settings-box .icon-cog {
    visibility: visible;
    opacity: 1;
    display: block;
}

.THIS
    .contain:first-child
    .pp-item:first-child
    .main-box
    .menu-item-box
    .icon-settings-box
    .icon-delegate-box
    .icon-delegate {
    visibility: visible;
    opacity: 1;
    display: block;
}

.THIS .rtlMain {
   /* @noflip */  direction: rtl;
  /* @noflip */   padding-left: 10px;
}

.THIS .rtlHover {
   /* @noflip */  direction: rtl;
}

.THIS .item-line {
    display: flex;
    flex-direction: row;
    width: 75%;
}

.THIS .menu-item-box {
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    font-weight: 600;
    line-height: 28px;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

.THIS .menu-sub-item {
    width: 250px;
    color: #797979;
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 5px;
}

.THIS .contain li.pp-item:hover {
    cursor: pointer;
}

.THIS .selected {
    color: #015FF1;
    font-weight: bold;
}

.THIS .selected-sub-title {
    color: #015FF1;
}
.THIS .subtitleRTL {
  /* @noflip */  text-align: right;
}

.THIS .overflow {
    max-width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.THIS .icon-cog,
.THIS .icon-delegate {
    width: 16px;
    height: 16px;
    visibility: hidden;
    display: none;
    opacity: 0;
    fill: #666666 !important;
}

.THIS .icon-check {
    width: 20px;
    height: 20px;
    fill: #015FF1;
    margin-left: 5px;
}

.THIS .icon-settings-box {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

.THIS .main-box {
    width: 100%;
    padding-left: 32px;
    border-bottom: 1px solid #f8f9fb;
}

.THIS .icon-box {
    margin-left: 21px;
}
.THIS .icon-boxRTL {
    /* @noflip */margin-right: 25px;
}

.THIS.toggle {
    display: none;
}
.THIS.container {
    height: 30px;
    width: 81px;
    border-radius: 4px;
    background-color: #444444;
    box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.16);
}
.THIS.tooltip {
    position: absolute;
    top: 33%;
    left: 69%;
    width: auto;
    height: auto;
    word-break: break-all;
    white-space: normal;
    width: max-content;
}
.THIS.tooltipRTL {
    position: absolute;
    top: 10%;
    /* @noflip */
    left: 17%;
    width: auto;
    height: auto;
    word-break: break-all;
    white-space: normal;
    width: max-content;
}
.THIS.tooltipAS {
    position: absolute;
    top: 32%;
    left: 76%;
    width: auto;
    height: auto;
    word-break: break-all;
    white-space: normal;
    width: max-content;
}
.THIS.tooltipASRTL {
    position: absolute;
    top: 10%;
    /* @noflip */
    left: 1%;
    min-width: 5%;
    width: auto;
    height: auto;
    word-break: break-all;
    white-space: normal;
    width: max-content;
     /* @noflip */
    float: right;
}
.THIS.tooltipSubTitle {
    position: absolute;
    top: -60%;
    left: 15%;
    min-width: 10%;
    width: auto;
    height: auto;
    word-break: break-all;
    white-space: normal;
}
.THIS.tooltipSubTitleRTL {
    position: absolute;
    top: -60%;
    left: 70%;
    margin-left: auto;
    min-width: 10%;
    width: auto;
    height: auto;
    word-break: break-all;
    white-space: normal;
   /* @noflip */  direction: rtl;
    text-align: right;
    width: max-content;
    float: right;
}
.THIS.tooltipNotActive {
    display: none;
}