/**
 * Created by Olga Skrynnikova on 6/10/2020.
 */

.THIS .unset:first-child .main-box .menu-item .icon-cog{
    visibility: visible;
    opacity: unset;
}

.THIS .contain:first-child .unset .main-box .menu-item .icon-delegate{
    visibility: visible;
    opacity: unset;
}

.THIS .menu-item{
    font-size: 14px;
    color: #000000;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 24px;
    padding: 9px 0 9px 0px;
}

.THIS .menu-item:first-child{
    padding-top: 8px!important;
}

.THIS .menu-sub-item{
    width: 200px;
    font-size: 14px;
    color: #797979;
}

.THIS .selected{
    color: #0768FD;
    font-weight: bold;
    max-width: 80%;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.THIS .overflow-ellipsis{
    max-width: 80%;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.THIS .icon-cog, .THIS .icon-delegate{
    width: 16px;
    height: 16px;
    padding-left: 4px;
    visibility: hidden;
    opacity: 0;
}

.THIS .icon-check{
    width: 16px;
    height: 16px;
    fill: #0768FD;
}


