/**
 * Created by mkotenev on 3/5/2019.
 */
.THIS.te-task-panel{
    min-height: 400px;
    max-width: 832px;
    margin-top: 60px;
    margin-bottom: 30px;
    margin-left: 15%;
}

.THIS .te-col {
    margin-bottom: 10px;
}

.THIS .te-col-horizontal {
    margin-bottom: 10px;
    max-width: 360px;
}

.THIS .te-col-header {
    margin-bottom: 10px;
    font-size: 17px;
}

.THIS .slds-form-element__label{
    padding-bottom: 5px;
}

.THIS .te-form > .slds-col{
    margin-bottom: 8px;
}

.THIS .icon-alert{
    margin-top: 8px;
    display: flex;
    align-items: center;
}

.THIS .icon-alert .text{
    padding-left: 10px;
}