.sfdx
.vscode
.DS_Store
.idea
.gitignore
sfdx
IlluminatedCloud
*.iml
output
tmp
ant/dist
ant/rollback
force-app/main/default/siteDotComSites/IQVIA_Referral_Hub_C.site
git-report/Reports
force-app/main/default/email/unfiled$public
force-app/main/default/profiles/Custom%3A Marketing Profile.profile-meta.xml
force-app/main/default/profiles/Custom%3A Sales Profile.profile-meta.xml
force-app/main/default/profiles/Custom%3A Support Profile.profile-meta.xml
force-app/main/default/settings/Address.settings-meta.xml
force-app/main/default/flows/net_promoter_score.flow-meta.xml
force-app/main/default/flows/customer_satisfaction.flow-meta.xml
/force-app/libs/scheduled-batch/lwc/.eslintrc.json
/force-app/libs/ui-common/lwc/.eslintrc.json
/force-app/main/community-common/lwc/.eslintrc.json
/force-app/main/community-template/lwc/.eslintrc.json
/force-app/main/default/lwc/.eslintrc.json
/force-app/main/deprecated/lwc/.eslintrc.json
/force-app/main/user-communications/lwc/.eslintrc.json
/force-app/main/visits/lwc/.eslintrc.json
/force-app/libs/scheduled-batch/lwc/jsconfig.json
/force-app/libs/ui-common/lwc/jsconfig.json
/force-app/main/community-common/lwc/jsconfig.json
/force-app/main/community-template/lwc/jsconfig.json
/force-app/main/default/lwc/jsconfig.json
/force-app/main/deprecated/lwc/jsconfig.json
/force-app/main/user-communications/lwc/jsconfig.json
/force-app/main/visits/lwc/jsconfig.json
