/**
 * Created by Leonid Bartenev
 */
.THIS {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}

.THIS .section{
    padding: 10px;
}

.THIS .section-header{
    font-weight: bold;
    margin-bottom: 10px;
}

.THIS .import-form{
    display: flex;
    align-items: center;
    justify-content: start;
}

.THIS .export-form .slds-col{
    margin-bottom: 10px;
}
.THIS .study-input{
    width: 400px;
}

.THIS .export-btn{
    float: right;
}

.THIS .import-btn{
    margin-left: 20px;
}

.THIS .border-panel{
    padding: 20px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
}

.THIS .rr-spinner{
    opacity: 1;
    visibility: visible;
    transition: 0.4s linear;
    z-index: 1200;
}

.THIS .rr-spinner.fixed{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.THIS .rr-hide,
.THIS .siteforcePanelsContainer.hideEl{
    opacity: 0;
    visibility: hidden;
}

.THIS .platform-object{
    border: 1px solid #dadada;
    border-radius: 5px;
    padding: 0 10px;
    margin-bottom: 6px;
    display: inline-block;
    background-color: #757575;
    color: white;
}

@media only screen and (min-device-width: 1028px) and (min-device-height: 700px){
    .THIS .export-panel {
        min-height: 250px;
        max-height: 250px;
    }
}