.THIS.mt-container .mt-stub {
    width: 100%;
}
.THIS .mt-button {
    width: 100%;
}
.THIS .mt-panel {
    background: #ffffff;
}
.THIS .modal-text {
    text-align: center;
    width: 320px;
    height: 51px;
}
.THIS .modal-button {
    width: 50%;
    margin-bottom: 19px;
}
.THIS .modal-header {
    color: #ffffff;
    font-size: 15px;
    background: linear-gradient(306.04deg, #0076ae 0%, #250056 100%);
}
.THIS .delegate-info-table-container {
    background: #ffffff;
    border: 1px solid #d9d9d9;
    margin-top: 30px;
}

.THIS .team-items-panel {
    margin-bottom: 30px;
}
@media all and (max-width: 767px) {
    .THIS .team-items-panel {
        margin-bottom: 0;
    }
}
.THIS .empty-list {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    color: #999999;
    font-size: 17px;
}
.THIS .delegate-parent-tabs {
    margin-bottom: 20px;
}

@media all and (max-width: 500px) {
    .THIS .mt-button-container {
        margin-top: 2rem;
    }
}
/*REF-4985*/
.THIS .showMobile {
    display: none;
}
.THIS .hideMobile {
    display: block;
}
.THIS .buttonMargin{
    margin-bottom: 20px
}
@media all and (max-width: 768px) {
    .THIS .showMobile {
        display: block;
    }
    .THIS .hideMobile {
        display: none;
    }
}