img {
    height: 440px;
    width: 786px;
}

iframe {
    min-height: 440px;
    min-width: 786px;
}
.icon-container{
    background-color: #E8E8E8;
    height: 440px;
    width: 786px;
}
.icon-center {
    margin: 0% 35%;
}
