img {
    height: 440px;
    width: 100%;
}

iframe {
    min-height: 600px;
    width: 100%;
}
.icon-container {
    background-color: #e8e8e8;
    height: 440px;
    width: 100%;
}
.icon-center {
    margin: 0% 35%;
}
@media (max-width: 486px) {
    img {
        height: 219px;
    }
    iframe {
        min-height: 214px;
        min-width: 99.5%;
    }
    .icon-container {
        background-color: #e8e8e8;
        height: 214px;
        width: 99.5%;
    }
    .icon-center {
        margin: 0% 55%;
        place-content: center;
        display: grid;
        height: 214px;
    }
}
