.fsr-country {
    padding: 24px;
    padding-left: 0;
}

.fsr-study {
    padding: 24px;
    padding-right: 8px;
    padding-left: 0;
}

.fsr-label {
    color: #595959;
    font-family: 'Proxima Nova';
    font-size: 14px;
    padding: 24px;
    padding-right: 8px;
    align-items: center;
    display: flex;
}
