.fsr-country {
    padding: 24px 0px 24px 0;
    width: 215px;
    margin-right: 24px;
}

.fsr-study {
    padding: 24px 0px 24px 0;
    width: 215px;
    margin-right: 8px;
}

.frs-txt-reset {
    content: url(/resource/1611822084000/searchResetIcon);
    position: absolute;
    width: 14px;
    height: 14px;
    margin-top: 9px;
    margin-left: -18px;
    cursor: pointer;
}

.frs-txt-reset-cnt-RTL {
    content: url(/resource/1611822084000/searchResetIcon);
/* @noflip */    position: absolute;
/* @noflip */   width: 14px;
/* @noflip */    height: 14px;
/* @noflip */    margin-top: 9px;
/* @noflip */  margin-right: -258px;
   
    cursor: pointer;
}

.frs-txt-reset-srs-RTL {
content: url(/resource/1611822084000/searchResetIcon);
/* @noflip */  position: absolute;
/* @noflip */   width: 14px;
/* @noflip */  height: 14px;
/* @noflip */   margin-top: 9px;
/* @noflip */   margin-right: 221px;
    
    cursor: pointer;
}

.fsr-label {
    color: #595959;
    font-family: 'Proxima Nova';
    font-size: 14px;
    padding: 24px;
    padding-right: 8px;
    align-items: center;
    display: flex;
}