.delegate-bg{
    background-color:#F2F2F2;
    margin-top: 25px;
}
.rr-link {
    color: #297dfd;
    padding: 4px 8px;
    align-items: center;
    border-radius: 4px;    
}
.rr-link:hover {
    text-decoration: none;
    background-color: #eef5ff;
    transition: .25s;
}
.delegate-border{
    border: 1px solid #E9E9E9;
    box-shadow: var(--sds-c-card-shadow,0 0 1px 0 rgba(0,0,0,.1));
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 4%);
}
.duplicatemsg{
    width:100%;
}
.mtop{
    margin-top: 21px;
}
.label_align{
    display:flex;
    align-items: baseline;
}
.checkbox_size {
    max-width: 15px;
}
.addParticipantCls{
    padding-left: 17px;
}
.addParticipantClss{
    padding-left: 20px;
}
.check-box-m-topUSError{
    margin-top: 9px;
}
.check-box-m-topUSNoError{
    margin-top: 0px;
}
@media (max-device-width: 767px) {
    .delegate-bg{
        margin-top: 15px;
    }
    .connect-patient-btn{
        width: 100%;
    }
    .stop-sharing-btn{
        width: 100%;
    }
    .outcome-form-element{
        margin-bottom: 10px;
    }
    .slds-form-element__label {        
        text-overflow: unset;
        white-space: unset;
    }
    .addParticipantClss{
        padding-left: 27px;
    }
 }
 .slds-form-element__label {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
 }
 .input-margin{
    margin-top:-5px;
}
/*RTL start*/
.rtl .connect-patient-btn{
    margin-top: 10px;
}
/* RTL End*/