/**
 * Created by Igor Malyuta on 12.04.2019.
 */
.THIS.sv-body{
    padding-bottom: 50px;
}

.THIS.sv-body.hidden{
    display: none;
}

.THIS .tt-title{
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 23px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.THIS td{
    border-bottom: 1px solid #eaeaea;
    min-height: 45px;
}

.THIS th {
    color: #595959;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
}

.THIS .sv-t-name{
    padding-left: 34px !important;
    width: 30%;
}

.THIS .sv-t-reminder {
    color: #297DFD !important;
    cursor: pointer;
}

.THIS .sv-t-status {
    width: 10%;
}

.THIS .sv-t-time{
    width: 20%;
}

.THIS .sv-t-completed-date {
    width: 20%;
}

.THIS .sv-t-icons{
    width: 30%;
}
.THIS .svl-icon{
    height: 32px;
    width: 32px;
}

.THIS .pagination{
    margin-top: 20px;
    margin-bottom: 15px;
}

.THIS .invisible {
    display: none;
}