/**
 * Created by Leonid Bartenev
 */
.THIS{
    max-width: 290px;
    padding-bottom: 40px;
    margin: auto;
}

.THIS  a {
    color:white;
    text-decoration: none;
}
.THIS  a:not(.no-float) {
    float: right;
}

.THIS  a:hover {
    color:white;
    text-decoration: none;
}

.THIS label.uiLabel-hidden {
    display:none;
}