.summary-title {
    color: #444444;
    font-family: 'Proxima Nova';
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 17px;
}

.summary-text {
    color: #000000;
    font-family: 'Proxima Nova';
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    overflow-wrap: break-word;
}

.summary {
    padding-left: 2%;
    margin-left: 1%;
    border: 1px solid #f2f2f2;
    contain: size;
    overflow: auto;
    height: 200px;
}
.title-row {
    padding: 2% 1% 0% 0%;
}
.title-row-document {
    padding: 1% 0% 0% 0%;
}
.summary-date {
    color: #898989;
    padding-bottom: 2%;
    font-size: 14px;
}
.resource-icon {
    display: block;
}
.resource-pointer {
    cursor: pointer;
    padding-left: 85%;
}
.study-title {
    color: #6e6e6e;
    font-weight: 500;
    margin-left: 32px;
}
.resource-heading {
    color: #444444;
    font-size: 32px;
    font-weight: 600;
    margin-left: 32px;
}
.rr-all-content .page-container {
    background-color: #f6f7fb !important;
}
.page-margin {
    margin: -30px 0 0 0;
}
.resource-container {
    padding: 1.5% 19%;
}
.back-link {
    margin: 12px 84% 0 28px;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #015ff1;
}
.ah-video-iframe {
    position: relative;
    padding-bottom: 56.25%;
    height: 620px;
    overflow: hidden;
    margin-top: -1%;
}
hr {
    margin: 0%;
    margin-top: 2px;
}
.icon-center {
    margin: 0% 35%;
}
@media (max-width: 486px) {
    .back-link {
        padding: 36px 0 24px 0;
        margin: 20px 40% 0 28px;
    }
    .resource-heading {
        font-size: 24px;
        padding-top: 8px;
        margin-left: 18px;
    }
    .study-title-mobile {
        margin-right: 32px;
    }
    .study-title {
        padding-right: 32px;
        margin-left: 18px;
    }
    .resource-container {
        padding: 3.86%;
        min-height: 500px;
    }
    .title-row {
        padding: 16px 16px 0 0;
    }
    .page-container {
        background-color: #f6f7fb;
    }
}
.my_iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
