.summary-title {
    color: #444444;
    font-family: 'Proxima Nova';
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 17px;
}

.summary-text {
    color: #000000;
    font-family: 'Proxima Nova';
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    overflow-wrap: break-word;
}

.summary {
    padding-left: 2%;
    margin-left: 1%;
    border: 1px solid #f2f2f2;
    contain: size;
    overflow: auto;
    height: 200px;
}
.title-row {
    padding: 2% 1% 0% 0%;
}
.title-row-document {
    padding: 1% 0% 0% 0%;
}
.summary-date {
    color: #898989;
    padding-bottom: 2%;
    font-size: 14px;
}
.resource-icon {
    display: block;
}
.resource-pointer {
    cursor: pointer;
    padding-left: 85%;
}
.study-title {
    color: #6e6e6e;
    font-weight: 500;
    margin-left: 32px;
}
.resource-heading {
    color: #444444;
    font-size: 32px;
    font-weight: 600;
    margin-left: 32px;
}

.resource-container {
    padding-top: 2%;
    max-width: 1000px;
    margin: auto;
}
.suggested-container {
    max-width: 1000px;
    margin: auto;
}
.back-link {
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #015ff1;
    width: fit-content;
}
.ah-video-iframe {
    position: relative;
    padding-bottom: 56.25%;
    height: 620px;
    overflow: hidden;
    margin-top: -1%;
}
hr {
    margin: 0%;
    margin-top: 2px;
}
.icon-center {
    margin: 0% 35%;
}
@media (max-width: 486px) {
    .resource-heading {
        font-size: 24px;
        padding-top: 8px;
        margin-left: 18px;
    }
    .study-title-mobile {
        margin-right: 32px;
        margin-top: 10px;
    }
    .study-title {
        padding-right: 32px;
        margin-left: 18px;
    }
    .resource-container {
        padding: 3.86%;
        min-height: 300px;
    }

    .title-row {
        padding: 16px 16px 0 0;
    }
}
.my_iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) and (orientation: landscape) {
    .portrait-mode {
        display: none;
    }
    .resource-container1 {
        min-height: auto;
    }

    .forceOrientation {
        width: 100%;
        height: 100%;
    }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 486px) and (orientation: portrait) {
    .landscape-mode {
        display: none;
    }
    .resource-container1 {
        padding: 3.86%;
        min-height: auto;
    }

    .full-width-container {
        width: 100%;
    }
}

.back-button-multimedia {
    opacity: 0.3;
    position: relative;
    float: right;
    right: 10px;
    bottom: 35px;
    transition: 0.5s;
    margin-top: 5%;
}

.back-to-res{
    width: 35px;
    height: 35px;
    position: fixed;
    top: 19%;
    left: 1%;
}

.mobile-ladscape-back-button{
    display: none;
}

@media screen and (orientation: landscape) and (max-width: 896px) {
    .mobile-ladscape-back-button{
        display: block;
    }
}
