.THIS .rr-link{
    color: #297DFD;
    padding: 4px 8px;
  /*  display: inline-flex; */
    align-items: center;
    border-radius: 4px;
    margin: 1px 0 0 -8px;
}
.THIS .rr-link .limit-width{
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
 /*   white-space: nowrap; */
    display: inline-block;
    padding-top: 4px;

}