.add-Delegate-Btn {
    height: 32px;
    /* width: 131px; */
    color: #ffffff;
    font-family: 'Proxima Nova';
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    text-align: center;
    /* margin-top: 24px; */
    background-color: #0768fd;
    border: 1px solid #dddbda;
    line-height: 24px;
    border-radius: 4px;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.04), 0 4px 8px 0 rgba(7, 104, 253, 0.32);
}
.remove-Delegate-Btn {
    height: 32px;
    /* width: 52px; */
    transform: rotate(-360deg);
    color: #e20000;
    font-family: 'Proxima Nova';
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 24px;
    text-align: center;
    box-sizing: border-box;
    width: 107px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.04);
}

.remove-btn {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    color: #e20000;
    background-color: #ffffff;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.04);
    padding: 5px 30px 5px 30px;
    font-size: 14px;
    font-weight: 600;
}
/* .add-assignment-Btn {
    border: none;
    background-color: #ffffff;
} */
.add-assignment-label {
    height: 24px;
    /* width: 115px; */
    color: #0768fd;
    font-family: 'Proxima Nova';
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 24px;
}
.manage-delegates-header {
    height: 24px;
    /* width: 202px; */
    color: #444444;
    font-family: 'Proxima Nova';
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 24px;
}
/* .test {
    height: 35px;
    border: 1px solid red;
} */
.width-100 {
    width: 100%;
}
.m-top-30 {
    margin-top: 30px;
}
.m-top-24 {
    margin-top: 24px;
}
.m-top-16 {
    margin-top: 16px;
}
.m-top-10 {
    margin-top: 10px;
}
.m-top-8 {
    margin-top: 8px;
}
.mr-5 {
    margin-right: 0.5rem;
}
.ml-5 {
    margin-left: 0.5rem;
}
.mr-24p {
    margin-right: 24px;
}
.ml-24p {
    margin-left: 24px;
}
.mr-27p {
    margin-right: 27px;
}
.ml-27p {
    margin-left: 27px;
}

.h-40 {
    height: 40px;
}

.manage-del-continer {
    margin: 20px;
    margin-right: 0px;
}
.manage-del-items {
    margin: 24px;
}
.height-32 {
    height: 32px;
}
/* .manage-Del-witdh {
    width: 50%;
} */
.cardRTL {
    direction: rtl;
}
.del-container {
    box-sizing: border-box;
    /* height: 291px; */
    /* width: 813px; */
    border: 1px solid #e9e9e9;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.04);
    /* margin-top: 16px; */
}
.email-masked {
    -webkit-text-security: disc;
}
.delegate-name {
    color: #444444;
    font-size: 18px;
    font-weight: 600;
}
.delegate-email {
    height: 24px;
    width: 303px;
    color: #595959;
    font-size: 16px;
}
.study-rectangle {
    box-sizing: border-box;
    /* height: 64px; */
    /* width: 765px; */
    border: 1px solid #e9e9e9;
    border-radius: 4px;
    background-color: #f2f2f2;
}
.study-code-name {
    color: #444444;
    font-size: 18px;
    font-weight: 600;
}
.add-assignment-rectangle {
    box-sizing: border-box;
    height: 41px;
    /* width: 765px; */
    border: 1px solid #e9e9e9;
    border-radius: 4px;
}
.slds-box {
    box-shadow: none;
    border: none;
    font-weight: 600;
    height: 40px;
    min-width: 160px;
    border-radius: 4px;
}
