/* Tooltip for Text length overflow  */
.tooltip span
{
text-decoration: none;
position: absolute;
background-color: #002448;
color: white;
padding: 0.5rem 1rem;
border-radius: 4px;
font-size: .850rem;
font-weight: 400;
text-align: left;
width: max-content;
max-width: 352px;
top:0;
left:50%;
margin-top: -10px;
visibility: hidden;
opacity: 0;
}
.tooltip:hover{
position: relative;
}
.tooltip:hover span
{
opacity: 1;
visibility: visible;
transform: translate(-50%, -100%) scale(1);
animation: pulse 1s;
}
.tooltip:hover span::after
{
top: 100%;
left: 50%;
transform: translateX(-50%);
border: solid transparent;
content: '';
height: 0;
width: 0;
position: absolute;
pointer-events: none;
border-top: 8px solid #002448;
border-right: 8px solid transparent;
border-left: 8px solid transparent;
border-width: 10px;
}
.tooltip {
position: relative;
display: inline-block;
cursor: pointer;
/*white-space: nowrap;*/
width:100%;
} 
.textoverlap
{
width: 15rem;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
}
.telephone{
  width:9rem !important;
}

/* ----------------END-----------*/

.divider {
    margin-top: 50px;
    border-bottom: 1px solid #D9D9D9;
}

.slds-p-around_small,
.slds-p-around--small {
  padding: 0.5rem 0.25rem;
}

.patient-button {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
}

.topIcon {
  width: 38px;
  height: 40px;
  background: #297DFD;
}
.topIcon-control {
  position: absolute;
  right: 0;
}

.information {
  /* display: flex; */
  color: #000000;
  font-family: "Proxima Nova";
  font-size: 16px;
  font-weight: 510;
  letter-spacing: 0;
  line-height: 30px;
}

.smsmargin{
  display: flex;
  align-items: baseline;
  margin-top: 10px;
}
.smsmargin_span{
  margin-left: 6px;
  margin-top: 22px;
}


:dir(rtl) .information > div {
  margin-left: 2.25rem;
  margin-top: -1.45rem;
  line-height: 16px;
  padding-right: 30px;
}
.information > div {
  margin-left: 2.25rem;
  margin-top: -1.45rem;
  line-height: 16px;
  margin-bottom: 8px;
}

.slds-spinner_container {
  background-color: white;
}

.dateBox {
  width: 43px;
  margin-left: -51px;
  margin-top: 23px;
}
:host {
  --sds-c-checkbox-color-background-checked: #297dfd;
  --sds-c-checkbox-mark-color-foreground: white;
}

.apollo-btn.primary {
  margin-top: 0;
}

.apollo-btn + .apollo-btn {
  margin-left: 10px;
}

.delegate-back-btn {
  display: none;
}

.slds-modal__header {
  border-bottom: none;
  border-radius: 0;
}

.slds-modal__container:before {
  content: '';
  display: block;
  height: 4px;
  width: 100%;
  background: linear-gradient(to right, #250056 10%, #0076ae 90%);
  border-radius: 0;
}

.slds-modal__content {
  margin-top: -1px;
}

.slds-modal__footer {
  border-top: none;
}

.slds-text-heading_medium {
  text-align: left;
  color: #000;
  font-weight: 600;
}
@media (max-device-width: 767px) {  
  .smsmargin_span{
    margin-left: 15px;
    margin-top: 34px;
  }
  .information > div {
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 486px) {
  .information > div {
    margin-top: -2rem;
  }
  .delegate-back-btn {
    display: block;
  }
  .information {
    line-height: 45px;
  }
}
@media screen and (orientation:landscape)
and (max-device-width: 898px) 
{
    .del-phonelandscape{
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    .altphone-landscape{
      width: 13rem;
    }
}
