.prof-img-icon {
    display: inline-flex;
    padding-left: 0.5rem;
}
.caret-icon {
    margin: 3px 0px 0px 5px;
}
.profile-caret-icon {
    padding: 0 0px 0 10px;
}
.small-avatar {
    height: 30px;
    width: 30px;
}
.avatar-delegate-size {
    margin: 0 0px 0 -4px;
}

.down-icon {
    --sds-c-icon-color-foreground-default: #ffffff;
}
@media all and (max-width: 768px) {
    .caret-icon {
        display: none;
    }
    .profile-caret-icon {
        display: none;
    }
    .prof-img-icon {
        padding-left: 2rem;
    }
}
