.prof-img-icon {
    display: inline-flex;
    padding-left: 1rem;
}
.caret-icon {
    margin: 3px 0px 0px 5px;
}
.small-avatar {
    height: 30px;
    width: 30px;
}
.avatar-delegate-size {
    /*  width: 32px;
    height: 32px;*/
    margin: 0.5rem 0.5rem 0 0;
}

.down-icon {
    --sds-c-icon-color-foreground-default: #ffffff;
}
@media all and (max-width: 768px) {
    .caret-icon {
        display: none;
    }
}
