.THIS .p-container .p-content {
    padding: 0 16px 30px;
}   
.THIS .delegate-selectRTL{
    margin-right: 0px !important;
}

.THIS .slds-file-selector,
.THIS .slds-file-selector__dropzone {
    width: 100%;
}

.THIS .slds-grid .slds-m-around--small {
    margin-bottom: 0;
}

.THIS .icon-trash {
    margin: 0 0 3px 8px;
    fill: black;
    height: 14px;
    width: 14px;
    display: inline-block;
}

.THIS .slds-grid .slds-m-around--small.uploadFiles {
    margin-top: 0;
    margin-bottom: 20px;
}

.THIS .uploadFiles .input-fields-labels {
    margin-top: 10px;
    color: #297dfd;
}

.THIS .icon-download-brand-new {
    fill: #297dfd;
    margin: 0 5px 3px 8px;
    height: 16px;
    width: 16px;
    display: inline-block;
}

.THIS .uploadFiles .input-fields-labels .upload-close,
.THIS .upload-icon {
    margin: 0 0 3px 8px;
}

.THIS .slds-scrollable {
    max-height: 500px;
}

.THIS .upload-icon {
    height: 16px;
    width: 16px;
}

.THIS .upload-close {
    height: 14px;
    width: 14px;
}

.THIS .slds-item_label {
    width: 497px;
    color: #000000;
    font-family: 'Proxima Nova';
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 28px;
}

.THIS .slds-textInfo-label {
    background-color: #f2f2f2;
}

.THIS .ap-section {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

@media screen and (max-width: 500px) {
    .THIS .cPopup .p-container .p-footer {
        max-height: 40vh;
    }

    .THIS .p-footer .p-buttons-container .slds-size--5-of-12 {
        display: flex;
        width: 100%;
        margin: 1rem 0;
        justify-content: center;
    }
}