.mBackButton {
    display: flex;
    align-items: center;
}

.mVisitContent {
    padding: 0 .75rem;
}

.visit3-mobile {
    color: #444444;
    font-family: 'Proxima Nova';
    font-size: 24px;
    letter-spacing: 0;
    line-height: 32px;
}
.what-to-expect {
    height: 32px;
    color: #444444;
    font-family: 'Proxima Nova';
    font-size: 18px;
    margin-top: 18px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 32px;
}
.icon-cont-mobile,
.card-content {
    min-height: 209px;
    border-radius: 16px;
    background: linear-gradient(180deg, #ffffff 0%, #ffffff 100%);
}
.card-content{
    border: 1px solid #d9d9d9;
}

.visit-date-time {
    display: flex;
    font-size: 1rem;
    font-weight: 500;
}

.icon-cont-mobile {
    border: 1px solid #d9d9d9;
    max-height: 400px;
}

.scroll-position{
    max-height: 400px;
    min-height: inherit;
}

.no-data-mobile{
    height: 207px;
    color: #999999;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 500;
}



.check-for-results-on {
    height: 32px;
    color: #999999;
    font-family: 'Proxima Nova';
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 32px;
    text-align: center;
}
.center {
    text-align: center;
}
.icon-cont1-mobile {
    box-sizing: border-box;
    height: auto;
    border: 1px solid #d9d9d9;
    border-radius: 16px;
    background: linear-gradient(180deg, #ffffff 0%, #ffffff 100%);
}
.vertical-mobile {
    padding: 180px 0;
}
.view-result {
    color: #2e7cf3;
    margin-bottom: 2rem;
}
.visit3 {
    color: #444444;
    font-size: 1.5rem;
    letter-spacing: 0;
    font-weight: 600;
    margin-top: 1rem;
}
.image-result-mobile {
    height: 92px;
    width: 128px;
    margin: 1rem 1rem 0 1rem;
}
