/**
 * Created by Leonid Bartenev
 */
.THIS.rr-icon-default{
    fill: #686868;
    height: 32px;
    width: 26px;
    display: inline-block;
}

.THIS.rr-icon-big{
    height: 40px;
    width: 40px;
}
.THIS.rr-icon--left{
    margin-left: -60px;
    position: absolute;
}