.THIS  a {
    color:white;
    text-decoration: none;
}
.THIS  a:hover {
    color:white;
    text-decoration: none;
}
.THIS .lg-form-element input {
    padding: 4px 0 6px 0;
    margin-top: 3px;
    width: 100%;
    border: none;
    background: none;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
    box-shadow: none!important;
}
.THIS  input:focus {
background-color: transparent!important;   
}