.THIS .divpadding{
    padding-top: 8px;
    padding-bottom: 8px;                                                       
    /* font-size: 15px; */
    font-weight: 500;
}

.THIS .forceContentPreviewerAction .forceContentPreviewerActionsBar .forceActionsContainer{
    color: red !important;
}

.THIS .headerdiv{
    font-size: 1rem;
    line-height: 36px;
    color: #000;
    font-weight: 600;
}
.THIS.maindiv{
    /*padding-left: 10px;*/
}

.THIS  .filediv{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
}

.THIS .resourceLinkHover:hover {
    text-decoration: none;
    background-color: #eef5ff;
    transition: 0.25s;
}

.THIS.forceContentPreviewPlayerTopToolbar .file-preview-buttons .forceActionsContainer:nth-of-type(n+2) {
    display: none;
}
@media only screen and (max-width: 768px) {
    .THIS .text-lng-truncate{
        width: 8.5rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 1rem;
    }
}