.text-truncate{
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.fix{
    position: sticky;
    left: 0;
    z-index: 1;
    background: #f8f8f8;
}
.form-element_button{
    opacity: 0.5;
}

.form-element_button:hover{
    opacity: 1;
    cursor: pointer;
}
