.customSelect select {
    padding-right: 1.25rem;
    min-height: inherit;
    line-height: normal;
    height: 1.4rem;    
}
.customSelect label {
    margin-top: .1rem;
}
.customSelect .slds-select_container::before {
    border-bottom: 0;
}
.customInput {
    width: 2.5rem;
    height: 1.9rem;
    text-align: end;
    border: 1px solid #dddbda;
    border-radius: 3px;
    background-color:#fff;
    text-align: center;
}
.items {
    margin-left:10px;
    color: #444444;
    font-family: "Proxima Nova";
    font-size: 16px;
    letter-spacing: 0;
  }


.iconColorChange1 {
    color: #595959;
    cursor: pointer;
    opacity: .5 !important;

}

@media screen and (max-width: 1000px) {
    .slds-grid_align-spread {   
         flex-direction: column-reverse;
         padding: 5px 0 10px;
        }
        .items {
           margin-left: 0;
           display: block;                            
           margin-top: 10px;
       }
}
    

.first-page-arrow-button-icon-s1 {
    height: 13px;
    width: 13px;
    opacity: 1 !important;
    cursor: pointer;
  }

  .iconColorChange2 {
    color: #595959;
    opacity: .5 !important;

}

.first-page-arrow-button-icon-s2 {
    height: 13px;
    width: 13px;
    opacity: 1 !important;
  }