.back-button {
    color: #0768fd;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 2rem;
    margin-top: 15px;
    margin-left: 21px;
    margin-bottom: -15px;
}

.communication-pref {
    margin-top: 32px;
    padding-left: 20px;
    padding-right: 11px;
}

.as-title {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 2rem;
    color: #444444;
    margin-bottom: 20px;
}

.cardRTL {
    direction: rtl;
}

.mobile-bg {
    background-color: #f7f7fb;
    padding-top: 10px;
}
.mobile {
    background: white;
    border: 1px solid lightgray;
    margin-top: 10px;
    border-radius: 5px;
    margin-right: 10px;
}

.po-mobile-text {
    padding-left: 2px;
}

.text-ceter {
    text-align: center;
}

.po-bradius-20 {
    border-radius: 20px;
}

.po-text-red {
    color: #d43e33;
    font-weight: 600;
}

.po-no-communication-del {
    border-radius: 10px;
    background-color: #f2f2f2;
    color: #5c5c5c;
    border: 1px solid #e9e9e9;
    padding: 10px;
    margin-top: 10px;
    margin-left: 5px;
}

.communication-pref .header {
    color: #444;
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;
    margin: 0px 0px 10px 5px;
}

.study-container,
.outreach-container {
    margin: 0px 10px 0px 5px;
    height: auto;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-top: 20px;
}

.study-container-mobile,
.outreach-container-mobile {
    margin: 0px;
    height: auto;
    border: none;
}

.study-container .header,
.outreach-container .header {
    margin-top: 10px;
    padding-left: 6px;
    padding-top: 10px;
}

.study-container .headerMobile,
.outreach-container .headerMobile {
    padding-left: 5px;
}
.study-container .sub-header,
.outreach-container .sub-header {
    color: #444;
    font-size: 16px;
    font-weight: 500;
    margin-top: 12px;
    padding-right: 11px;
    text-align: justify;
}

.study-card {
    background-color: #f2f2f2;
    margin: 15px 10px 20px 0px;
    border-radius: 5px;
    vertical-align: middle;
}

.study-card-mobile {
    background-color: #f2f2f2;
    margin: 0px 10px 20px 10px;
    border-radius: 5px;
}

.study-content {
    padding-top: 6px;
    font-size: 15px;
    /* text-align: left; */
    padding-left: 2%;
    word-break: break-word;
}

.study-content-mobile {
    padding: 16px 0px 14px 11px;
}

.study-paramters {
    font-size: 14px;
    padding: 6px;
    text-align: center;
    font-weight: 500;
}

.border-right {
    border-right: 1px solid lightgray;
}

.border-left {
    border-left: 1px solid lightgray;
}

.no-right-margin {
    margin-right: 0px;
}

.blue-highlight-text-color {
    color: #0f6efd;
}

.blue-highlight-text-color:hover {
    cursor: pointer;
}

.slds-checkbox_faux {
    margin-right: 0px !important;
}

.ml-5 {
    margin-left: 0.5rem;
}

.mb-child-div-10 div {
    margin-bottom: 5px;
}

.align-center {
    text-align: center;
}

.mt-30 {
    margin-top: 30px;
}

.mb-10 {
    margin-bottom: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.ml-0 {
    margin-left: 0px;
}

.pb-10 {
    padding-bottom: 10px;
}

.align-left {
    text-align: left;
}

.overridePad {
    padding: 10px 0px 0px 10px;
}

.save-btn {
    color: #fff;
}

.po-mr-10 {
    margin-right: 10px;
}

.po-mr-15 {
    margin-right: 20px;
}

.po-margin {
    margin-top: 20px;
    margin-left: 5px;
    border-radius: 5px;
}

.border-r {
    border-radius: 5px;
}

.pad-top-10 {
    padding-top: 10px;
}

.pad-r-10 {
    padding-right: 10px;
}

.pad-b-10 {
    padding-bottom: 10px;
}

.com-icon {
    fill: #595959;
    height: 20px;
    width: 20px;
}

.exclamation_orange {
    fill: #ff9300;
}

/* Error Box */

.po-error-container {
    background: #faeae8;
}

.po-error {
    padding: 5px 13px 10px 13px;
}

.po-white-border-right {
    border-right: 2px solid #fff;
}

.po-white-border-left {
    border-left: 2px solid #fff;
}

/* Spinner */

.web-spinner {
    opacity: 1;
    visibility: visible;
    transition: 0.4s linear;
    z-index: 1200;
    border-radius: 5px;
}

.fixed {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

:host {
    --sds-c-checkbox-color-background-checked: #0769fd;
    --sds-c-checkbox-mark-color-foreground: #fff;
    --slds-c-input-radius-border: 20px;
}

.highlightErrorCheckbox {
    --sds-c-checkbox-color-background-checked: #fff;
    --slds-c-checkbox-color-border-checked: red;
    --slds-c-checkbox-color-border-focus: red;
    --slds-c-checkbox-color-border: red;
}
.participant-empty-card {
    border-radius: 25px;
    background: #808080;
    width: 200px;
    height: 150px;
}

.slds-size-custom_2-of-9 {
    width: 22.5%;
}
.slds-size-custom_1-of-9 {
    width: 10%;
}

.static-msg {
    font-size: 14px;
    background-color: #fff4e5;
    border: 1px solid #ffce89;
    padding: 5px;
    margin-right: 10px;
    padding-left: 10px;
    margin-top: 5px;
    border-radius: 5px;
    font-weight: normal;
}

.center-align {
    text-align: center;
}

.saveBtn {
    font-family: 'Proxima Nova';
    width: 90%;
    color: #0070d2;
    margin-top: 0;
    background-color: #fff;
    border: 1px solid #dddbda;
    line-height: 28px;
    border-radius: 5px;
}
.saveBtn:hover:not(disabled) {
    cursor: pointer;
}

.saveBtn:disabled {
    cursor: not-allowed;
    color: rgb(188, 190, 192);
}

.h-40 {
    height: 40px;
}

.ml-5 {
    margin-left: 0.5rem;
}

.mr-5 {
    margin-right: 0.5rem;
}

.mr-10 {
    margin-right: 10px !important;
}

.mobile-align {
    text-align: right;
    margin-right: 10px;
}
