/**
 * Created by Kryvolap on 13.08.2019.
 */
.THIS .invite-popup{
    max-width: 500px;
}

.THIS .pi_selection_container{
    padding: 1rem;
    color: #000;
}

.THIS .pi_selection_header{
    font-size:16px;
    font-weight:600;
}

.THIS .pi_selection_info{
    font-size: 14px;
    margin: 1% 0 1% 0;
}

.THIS .select_all_checkbox{
    margin: 0 0 2% 0;
}

.THIS .select_all_checkbox .slds-form-element__label{
    font-weight: 600;
    font-size: 16px;
}

.THIS .select_checkbox_group .slds-form-element__label{
    font-weight: 600;
    font-size:16px;
}

