.cardRTL {
    direction: rtl;
}

.back-button {
    color: #0768fd;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 2rem;
    margin-bottom: 8px;
    margin-left: -3px;
}

.as-title {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 2rem;
    color: #444444;
    margin-bottom: 20px;
}

.as-title-small {
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 2rem;
    color: #444444;
    margin-bottom: 10px;
    margin-top: 10px;
}

.header-panel {
    padding: 1.5rem;
}

.header-panel-mobile {
    padding: 1rem;
}

.mb-5 {
    margin-bottom: 5px;
}
.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mr-4{
    margin-right: 10px;
}

.margin-lr-15 {
    margin-left: 15px;
    margin-right: -15px;
}

.margin-lr-15Plus {
    margin-left: -15px;
    margin-right: 15px;
}

.icon-check {
    height: 12px;
    width: 14px;
    margin-right: 4px;
    vertical-align: inherit;
    fill: #7e7e7e;
}

.icon-check-green {
    height: 12px;
    width: 14px;
    margin-right: 4px;
    vertical-align: inherit;
    fill: #2ac243;
}

.password-must-includ {
    height: 24px;
    width: 224px;
    color: #444444;
    font-family: 'Proxima Nova';
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
}

.pass-characters {
    height: 24px;
    width: 172px;
    color: #444444;
    font-family: 'Proxima Nova';
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 28px;
}

.pass-characters-green {
    height: 24px;
    width: 172px;
    color: #2ac243;
    font-family: 'Proxima Nova';
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 28px;
}

.updateButton {
    height: 40px;
    width: 200px;
    font-family: 'Proxima Nova';
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 16px;
    text-align: center;
    margin-top: 30px;
    border-radius: 20px;
}

.apollo-btn.primary {
    background: #297dfd;
    box-shadow: 0 4px 8px 0 rgb(41 125 253 / 16%), 0 4px 4px 0 rgb(0 0 0 / 4%),
        0 8px 16px 0 rgb(41 125 253 / 32%);
    color: #ffffff;
    font-size: 1rem;
    padding: 6px 16px;
    margin-top: 0.5px;
}

.cp-red {
    color: red;
    font-size: 20px;
    margin-left: -5px;
}

.apollo-btn:disabled {
    opacity: 0.4;
}

.red {
    color: red;
    margin-top: 3px;
}

.icon-eye {
    float: right;
    position: absolute;
    margin-top: 6px;
    z-index: 1002;
    right: 0;
    cursor: pointer;
    height: auto;
}

.icon-eye-mobile {
    float: right;
    position: absolute;
    margin-top: 8px;
    z-index: 1002;
    right: 0;
    cursor: pointer;
    height: auto;
}

.icon-eye-rtl {
    float: left;
    position: absolute;
    margin-top: 6px;
    z-index: 1002;
    left: 5px;
    cursor: pointer;
    height: auto;
}

.icon-eye-mobile-rtl {
    float: left;
    position: absolute;
    margin-top: 8px;
    z-index: 1002;
    left: 5px;
    cursor: pointer;
    height: auto;
}

.icon-eye-gray {
    fill: #999999;
    height: 35px;
    width: 35px;
    display: inline-block;
}

.icon-eye-blue {
    fill: #297dfd;
    height: 35px;
    width: 35px;
    display: inline-block;
}

.searchOutputGrid{
    background-color: #f4f8fb;
    padding: 5px;
    border-radius: 5px;
}

.cursor{
    cursor: pointer;
}

.mr-8{
    margin-right: 8px;
}

.pill .btn{
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 18px;
    cursor: default;
    padding: 6px;
    padding-left: 12px;
    padding-right: 23px;
    font-weight: 600;
    opacity: 0.8;
}

.pill .btn-primary {
    font-size: 14px;
    color: #000;
    border-color: #d9d9d9;
}
.pill .btn .badge {
    position: relative;
    top: 6px;
    right: -8px;
}

.pill .btn .badge-rtl {
    position: relative;
    top: 6px;
    right: 4px;
}

.pill-margin{
    margin-left: -4px;
}

.pill-margin-rtl{
    margin-left: 4px;
}

.saveButton {
    height: 32px;
    width: 112px;
    font-family: 'Proxima Nova';
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 16px;
    text-align: center;
    margin-top: 10px;
    border-radius: 20px;
}

.saveButtonMobile {
    height: 32px;
    width: 100%;
    font-family: 'Proxima Nova';
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 16px;
    text-align: center;
    margin-top: 10px;
    border-radius: 20px;
}

.com-icon {
    fill: #b5b5b5;
    height: 20px;
    width: 20px;
    margin-top: -13px;
    margin-right: -11px;
    opacity: 0.6;
}

.bold{
    height: 24px;
    width: 838px;
    color: #444444;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 24px;
}

