.information-text{
    font-size: 16px !important;
    color: black !important;
    font-weight: bold !important;
}

label{
    height: 48px;
    width: 812px;
    font-size: 16px !important;
    color: black !important;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 24px;
}

.bulkimportFont{
    font-size: 14px !important;
}

.label_align{
    display:flex;
    align-items: baseline;
}

:dir(rtl) .LabelRTL {
    margin-left: 17px;
}

:dir(rtl) .labelRTL{
    margin-left: 15px;
}

.bulkimportmargin {
    margin-bottom: -8px;
    margin-top: 6px;
}

.errorMsg{
    color: rgb(234, 0, 30);
}

.checkbox_size{
    max-width: 7px;
}
.bulkimportMarginConsent{
    margin-bottom: 5px;
}

.importParticipantClass {
    padding-left: 15px;
}
.addParticipantClass {
    padding-left: 17px;
}
.editParticipantClass {
    padding-left: 18px;
}

@media all and (max-width: 767px) {
    .importParticipantClass {
        padding-left: 18px;
    }
    .p-left_mobile{
        padding-left: 2px;
    }

    .importtMbl_phonecss {
        width: 38%;
        padding-left: unset;

    }

    .importtMbl_Emailcss {
        width: 50%;
    }
    
    .importtMbl_SMScss {
        width: 39.7%;
        margin-left: -16px;

    }

    .importtMbl_DMailcss {
        width: 50%;
        margin-left: 25px;

    }
}