.information-text{
    font-size: 16px !important;
    color: black !important;
    font-weight: bold !important;
}

label{
    height: 48px;
    width: 812px;
    font-size: 16px !important;
    color: black !important;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 24px;
}

.bulkimportFont{
    font-size: 14px !important;
}

.label_align{
    display:flex;
    align-items: baseline;
}

.bulkimportmargin {
    margin-bottom: -8px;
    margin-top: 6px;
}

.errorMsg{
    color: rgb(234, 0, 30);
}

.checkbox_size{
    max-width: 7px;
}

.importParticipantClass {
    padding-left: 15px;
}
.addParticipantClass {
    padding-left: 17px;
}
.editParticipantClass {
    padding-left: 18px;
}

@media all and (max-width: 767px) {
    .importParticipantClass {
        padding-left: 18px;
    }
    .p-left_mobile{
        padding-left: 2px;
    }
    
}