.information-text{
    font-size: 16px !important;
    color: black !important;
    font-weight: bold !important;
}
label{
    height: 48px;
    width: 812px;
    font-size: 16px !important;
    color: black !important;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 24px;
}

.label_align{
    display:flex;
    align-items: baseline;
}

.errorMsg{
    color: rgb(234, 0, 30);
}

.checkbox_size{
    max-width: 15px;
}
.p-l-20{
    padding-left: 20px;
}

@media all and (max-width: 767px) {
    .checkbox_size{
        margin-right: 10px;
    }
}