.THIS .slds-accordion__section{
    padding-top: 0px;
    padding-bottom: 0px;
}
.THIS .slds-accordion__summary .apollo-btn span {
    font-size: 24px;
}
.THIS .button-RTL {
	margin-left: 28rem!important;
}