/**
 * Created by Leonid Bartenev
 */
.THIS .slds-modal__content {
    height: 100% !important;
}

.THIS .form-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.THIS .info-text {
    color: darkslategrey;
    font-size: 12px;
    padding-top: 2px;
}