<html lang="en">
    <body>
        <script>
            var metadatRecMap = {};
            function handleMetadataChange() {
                var xmlhttp = new XMLHttpRequest();
                var metadataName = document.getElementById('metadataType').value;
                var select = document.getElementById('metadataList');
                select.innerHTML = '';
                if (metadataName) {
                    var params = {};
                    params['metadataName'] = metadataName;
                    xmlhttp.open('POST', 'http://localhost:3000/getMetadata', true);
                    xmlhttp.onreadystatechange = function () {
                        if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                            console.log('response');

                            var options = JSON.parse(xmlhttp.responseText);
                            console.log(xmlhttp.responseText);
                            for (let i = 0; i < options.length; i++) {
                                var option = document.createElement('option');
                                option.value = options[i];
                                option.text = options[i];
                                console.log(options[i]);
                                select.appendChild(option);
                                document.getElementById('metadataListDiv').style = 'display:block';
                            }
                        }
                    };
                    xmlhttp.setRequestHeader('Content-type', 'application/json');
                    xmlhttp.send(JSON.stringify(params));
                } else {
                    document.getElementById('metadataListDiv').style = 'display:none';
                }
            }
            function createPackage() {
                var xmlhttp = new XMLHttpRequest();
                var params = {};
                params['selectedMetadata'] = metadatRecMap;
                xmlhttp.open('POST', 'http://localhost:3000/createDeltaPackage', true);
                xmlhttp.onreadystatechange = function () {
                    if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                    }
                };
                xmlhttp.setRequestHeader('Content-type', 'application/json');
                xmlhttp.send(JSON.stringify(params));
            }
            function getSelectedMetadata() {
                var select = document.getElementById('metadataList');
                console.log(typeof metadatRecMap);
                var metadataName = document.getElementById('metadataType').value;
                for (let i = 0; i < select.options.length; i++) {
                    if (select.options[i].selected) {
                        if (metadataName in metadatRecMap) {
                            if (
                                metadatRecMap[metadataName].indexOf(select.options[i].value) == -1
                            ) {
                                metadatRecMap[metadataName].push(select.options[i].value);
                            }
                        } else {
                            let metadataRecArr = [];
                            metadataRecArr.push(select.options[i].value);
                            metadatRecMap[metadataName] = metadataRecArr;
                        }
                    } else {
                        if (metadataName in metadatRecMap) {
                            let metadataRecArr = metadatRecMap[metadataName];
                            let index = metadataRecArr.indexOf(select.options[i].value);
                            if (index > -1) {
                                metadataRecArr.splice(index, 1);
                            }
                            if (metadataRecArr.length == 0) {
                                delete metadatRecMap[metadataName];
                            }
                        }
                    }
                }
                console.log(metadatRecMap);
            }
        </script>
        <main>
            <div>
                <h1>This is great</h1>
                <p>Welcome to templating using EJS</p>
                <select id="metadataType" onchange="handleMetadataChange()">
                    <option value="">Select</option>
                    <% var options = helper.metadataOptions; for ( var i = 0; i < options.length;
                    i++ ) { %>
                    <option value="<%=options[ i ] %>"><%=options[ i ] %></option>
                    <% } %>
                </select>
                <br /><br />
                <div style="display: none" id="metadataListDiv">
                    <select id="metadataList" multiple></select>

                    <button type="button" value="Select" onclick="getSelectedMetadata()">
                        Select
                    </button>
                    <br /><br />
                    <button type="button" value="Submit" onclick="createPackage()">Submit</button>
                </div>
            </div>
        </main>
    </body>
</html>
