/**
 * Created by Leonid Bartenev
 */
.THIS {
}

.THIS .hp-welcome-msg{
    color: #999999;
    font-size: 17px;
    line-height: 26px;
    margin-bottom: 20px;
}

.THIS .rr-white-panel{
    margin-bottom: 20px;
}

.THIS .hp-logo-panel{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.THIS .hp-logo-panel img{
    max-width: 200px;
}

.THIS .logo-text{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}