/**
 * Created by Yulia Yakushenkova on 12/10/2019.
 */
.checkbox-container {
    /*height: 2em;*/
    padding-top: 1.5%;
    max-width: 330px;
}

.search-input {
    width: 330px;
}

.label-default {
    height: 1.7em;
    width: 100%;
}

.label {
    color: #444444;
    font-family: 'Proxima Nova';
    font-size: 14px;
}

.slds-form-element__label {
    color: #000000;
    font-family: 'Proxima Nova';
    font-size: 16px;
}

.slds-input {
    height: 32px;
    width: 330px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0);
}

.margin-top {
    margin-top: 1.15em;
}

.slds-button .slds-button_neutral {
    border: 0.5px solid #d9d9d9;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 4px 10px 0 rgba(41, 125, 253, 0.2);
}

.slds-checkbox .slds-checkbox--faux {
    border: 1px solid #999999;
    width: 16px;
    height: 16px;
    border-radius: 3px;
}
.slds-dropdown {
    /* @noflip */
    left: 50% !important;
    /* @noflip */
    right: unset !important;
}
@media (max-width: 768px) {
    .search-input {
        width: auto !important;
    }
}
