.destop-top-padding{
    /* margin-top:1rem; */
    display:inline-flex;
    align-items:center;
}
.cursor{
    cursor: pointer;
}
.border-shadow{
    margin-left: 10px;
    margin-right: 10px;
}
.mrr-alert{
    text-align: center;
    padding-top: 106px;
    min-height: 500px;
}
.main-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 48px;
    color: #595959;
}
.mrr-btn{
    display: block;
    margin: 20px auto;
}
.back-to-my-participant{
    color: #297dfd;
    padding: 6px 16px;
    font-size: 1rem;
    line-height: 20px;
    min-width: 100px;
}
.mrr-icon-pass{
    fill: #00c221;
    height: 64px;
    width: 64px;
    display: block;
    margin: 5px auto;
}
.mrr-icon-fail{
    fill: #e20000;
    height: 64px;
    width: 64px;
    display: block;
    margin: 5px auto;
}
.per-mobile{
  height: 20px;
  width: 159px;
  color: #444444;
  font-family: "Proxima Nova",sans-serif;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
}
.per-study-details{
    height: 20px;
    width: 300px;
    color: #444444;
    font-family: "Proxima Nova",sans-serif;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 20px;
}
.per-header-name{
  height: 28px;
  display:inline-flex;
  color: #000000;
  font-family: "Proxima Nova",sans-serif;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 28px;
}
.per-header-Refno{
    height: 14px;
    width: 62px;
    color: #444444;
    font-family: "Proxima Nova",sans-serif;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 13px;
    margin-top:10px;
}
.shadowbox{
    box-shadow: 0 2px 3px silver;
}
.header-section{
   padding-left: 5px;
}
.button-section{
    padding-right:10px;
}
.truncate-name{
    width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.name-id-inline{
    display:flex;
}
.pername{
    max-width: 11.5em;
}
/* progress-bar */

.progress-bar{
    max-width: 1140px;
    margin: auto;
}
.screenercss{
    margin-left: 8px;
}
.status-bar{
    display: flex;
    justify-content: space-between;
    padding-top: 13px;
    padding-bottom: 6px;
}
.status-path-item{
    border-top-color: #d9d9d9;
    color: #d9d9d9;
    border-top: 5px solid;
    text-align: center;
    font-size: 14px;
    line-height: 12px;
    padding-top: 4px;
    transition: 0.4s;
    width: 100%;
    margin-left: 8px;
}
.progress{
    border-top-color: #0663a0;
}
.completed{
    border-top-color: #26af0a;
    height:8px; 
}

@media(max-width:767px){
    .btn-lrg{
      width:100%;
    }
    .btn-dt{
        padding-top: 5px;
        padding-bottom: 5px;
        height: auto;
    }
    .shadowbox-mob{
        box-shadow:unset;
    }
    .header-section-mob{
        margin-top: 15px;
    }
    .button-section{
        padding-right: unset;
    }
}
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 1) {
    .ipad-mode{
        margin-left:30%;
       
    }
    .ipad-mode-btn{
        margin: 5px 0 0px 5px;
        line-height: 14px;
    }
    .destop-top-padding{
        margin-top:unset;
    }
    
}
@media all and (max-width: 73.8125em) {
    .tabview{
        zoom: 0.8;
    }
}
@media all and (max-width: 61.25em) {
    .tabview{
        zoom: 0.6;
    }
}
/*  Tooltip for Text length overflow  */
.tooltip {
    position: relative;
    display: inline-flex;
  }
.tooltip .tooltiptextTop {
    visibility: hidden;
    width: auto;
    background-color: #444444;
    color: #fff;
    text-align: center;
    font-size: 13px;
    line-height: 18px;
    border-radius: 6px;
    padding: 8px 10px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
  }
  .tooltip .tooltiptextTop::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 7px;
      border-style: solid;
      border-color: #444444 transparent transparent transparent;
  }
  .tooltip:hover .tooltiptextTop {
    visibility: visible;
  }
  /* --------END Top --------------- */
  .tooltip .tooltiptextBottom {
    visibility: hidden;
    width: auto;
    background-color: #444444;
    color: #fff;
    font-size: 13px;
    line-height: 18px;
    text-align: left;
    border-radius: 6px;
    padding: 8px 10px;
    position: absolute;
    z-index: 1;
    top: 120%;
    left: 50%;
    margin-left: -60px;
  }
  
  .tooltip .tooltiptextBottom::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 7px;
    border-style: solid;
    border-color: transparent transparent #444444 transparent;
  }
  
  .tooltip:hover .tooltiptextBottom {
    visibility: visible;
  }

  .rtl .rtl-m-left{
    margin-left: 15px;
}
/*.processBody {
    height: 430px;
}*/