/**
 * Created by Yehor Dobrovolskyi
 */
.THIS {
}

.THIS .reminder-text {
    font-family: "Proxima Nova";
    font-size: 25px;
    margin: 10px;
    font-weight: bold;
    text-align: center;
}
.THIS .red-text {
    color: darkred;
}

.THIS .orange-text {
    color: darkorange;
}