.desk-cookies-banner {
    bottom: 64px;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    z-index: 99999;
    background: rgba(0, 0, 0, 0.8);
    height: auto;
    width: 900px;
    border-radius: 16px;
    background-color: #ffffff;
    box-shadow: -2px 8px 10px 0 rgba(0, 0, 0, 0.15);
}


.desk-cookies-banner-post-login {
    bottom: 0;
    left: 0;
    position: fixed;
    border-radius: 16px 16px 0 0;
    box-shadow: -2px 8px 10px 0 rgba(0, 0, 0, 0.15);
    z-index: 99999;
    background: rgba(0, 0, 0, 0.8);
    height: 180px;
}

.rh-cookies-banner {
    border-radius: 8px;
}

.we-care-about-your-p {
    color: #000;
    margin: 32px 48px;
}
.banner-heading {
    height: 32px;
    width: 100%;
    color: #2b3942;
    font-family: 'Proxima Nova';
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 32px;
}
.banner-txt {
    height: auto;
    width: 100%;
    color: #2b3942;
    font-family: 'Proxima Nova';
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 24px;
}

.desk-btn-margin {
    margin-top: 2.2rem;
}
.btn-container {
    height: 40px;
    width: 264px;
    border-radius: 20px;
    background-color: #015ff1;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.04), 0 4px 8px 0 rgba(7, 104, 253, 0.32);
}

.accept-btn-container {
    height: 32px;
    width: 156px;
    border: none;
    border-radius: 16px;
    background-color: #015ff1;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.04), 0 4px 8px 0 rgba(7, 104, 253, 0.32);
}

.btn-label {
    color: #ffffff !important;
    font-size: 18px !important;
    font-weight: 600 !important;
    letter-spacing: 0;
    line-height: 24px;
    text-align: center;
}

.manage {
    background-color: #ffffff;
    color: #015ff1 !important;
    font-size: 1rem !important;
    font-weight: 600 !important;
    letter-spacing: 0;
    line-height: 24px;
    text-align: center;
}

.cookie-btn {
    pointer-events: auto;
    border-color: transparent;
}

.hide-banner {
    display: none;
}
.login-close {
    color: white;
    margin-top: 16px;
    pointer-events: auto;
    cursor: pointer;
}

.modal-container {
    top: 2rem;
}
.displaydot{
    display: none;
}

/** RH **/
.rh-border-radius {
    border-radius: 4px !important;
}
.rh-accept-btn-container {
    border-radius: 4px;
    height: 40px;
    width: 107px;
}
.rh-card-top-bg {
    height: 2px !important;
    padding-top: 4px !important;
    background: linear-gradient(270deg, #0076ae 0%, #250056 100%);
}
.janssen-card-top-bg {
    background: linear-gradient(90deg, #230357 0%, #026da7 100%) !important;
}
.rh-modal-container {
    top: 2.2rem !important;
}
@media screen and (min-width: 768px) {
    .desk-pad-left {
        padding-left: 10%;
    }
}

@media screen and (max-width: 370px) {
    .we-care-about-your-p {
        margin: 18px 16px !important;
    }
    .footer-m-top{
        margin-top: 1rem !important;
    }
    .banner-heading{
        line-height: 26px !important;
        margin-top: 0.5rem !important;
    }
}

/** RH End **/
@media screen and (max-width: 768px) {
    .footer-m-top{
        margin-top: 1.5rem;
    }
    .displaydot{
        padding: 0px 7px;
        opacity: 0;
        display: inline;
    }
    .mob-cookies-banner {
        width: auto;
        bottom: 0;
        margin: 25px;
        position: fixed;
        z-index: 99999;
        background: rgba(0, 0, 0, 0.8);
        min-height: 602px;
        height: auto;
        border-radius: 16px;
        background-color: #ffffff;
        box-shadow: -2px 8px 10px 0 rgba(0, 0, 0, 0.15);
        left: 0;
        transform: none;
    }
    .mob-cookies-banner-new {
        width: auto;
        bottom: 0;
        position: fixed;
        z-index: 99999;
        background: rgba(0, 0, 0, 0.9);
        min-height: 550px;
        height: auto;
        box-shadow: -2px 8px 10px 0 rgba(0, 0, 0, 0.15);
        left: 0;
        transform: none;
    }
    .we-care-about-your-p {
        margin: 32px 24px;
    }
    .we-care-about-your-p-new {
        margin: 18px 18px !important;
    }
    .banner-heading {
        height: auto;
        width: 100%;
        color: #2b3942;
        font-family: 'Proxima Nova';
        font-size: 24px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 32px;
    }
    .banner-txt {
        height: auto;
        width: 100%;
        color: #2b3942;
        font-family: 'Proxima Nova';
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 24px;
    }
    .uniform-margin {
        margin: 0 24px !important;
    }
    .acknowledge_button {
        width: 100% !important;
    }
    .footer_logo_login_cookie_pos_mobile {
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }
    .login-close {
        margin-top: 18px;
        margin-left: -41px;
    }
    .mob-btn-center {
        margin-top: 0 !important;
        text-align: center;
    }
    .btn-container {
        width: 92% !important;
    }
    /* Mobile modal css */
    .always-active::before {
        content: '\a';
        white-space: pre;
    }
    .accordion .acordion-title.right-angle-chevron:after {
        margin-top: -20px;
    }
    .accept-btn-container {
        width: 100% !important;
    }
    .mob-lang-desc {
        width: inherit;
    }
    .acordion-title {
        padding: 0 0.75rem;
    }
    .cookie-title {
        padding: 0.75rem 0.75rem;
    }
    .accordion .acordion-title.right-angle-chevron:after {
        margin-top: -1rem;
    }
    .always-active {
        margin-left: unset !important;
    }
}

/* Modal css */
.card-top-bg {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    height: 16px;
    background: linear-gradient(90deg, #005587 0%, #008d9e 100%);
    padding-top: 16px;
}

.modal-header-text {
    color: #000000;
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 2rem;
    padding: 0px;
}

.modal-body {
    color: #444444;
    font-family: 'Proxima Nova';
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
}

.slds-modal__content::-webkit-scrollbar {
    width: 8px;
}

.slds-modal__content::-webkit-scrollbar-track {
    box-shadow: none;
    border-radius: 8px;
}

.slds-modal__content::-webkit-scrollbar-thumb {
    background: #999999;
    border-radius: 8px;
}

.slds-modal__content::-webkit-scrollbar-thumb:hover {
    background: #999999;
}

.accordion {
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 14px 0 14px 0;
    text-align: left;
    margin-bottom: 0.5rem;
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.04);
    pointer-events: auto;
}

.acordion-title {
    transform: rotate(-360deg);
    color: #015ff1;
    font-size: 18px;
}

.cookie-title {
    box-sizing: border-box;
    border-bottom: 1px solid #e9e9e9;
    color: #444444;
    font-weight: 500;
}

.cookie-title:nth-child(1) {
    border-top: 1px solid #e9e9e9 !important;
}

.cookie-title:last-child {
    border-bottom: none !important;
}

.rr-cookie-title {
    box-sizing: border-box;
    border-bottom: 1px solid #e9e9e9;
    color: #444444;
    font-weight: 500;
}

.rr-cookie-title:nth-child(1) {
    border-top: 1px solid #e9e9e9 !important;
}

.rr-cookie-title:last-child {
    border-bottom: none !important;
}

.rr-language-title {
    color: #444444;
    font-weight: 500;
}

.panel {
    padding-top: 1rem;
    width: 100%;
    display: none;
    overflow: hidden;
}

.accordion .acordion-title:after {
    content: var(--cookieRightIcon);
    float: right;
    width: 1em;
    margin-top: 0.2rem;
}

.accordion.active .acordion-title:after {
    content: var(--cookieRightIcon);
    transform: rotate(90deg);
    margin-right: 6px;
}
.space-between {
    display: flex;
    justify-content: space-between;
}

.always-active {
    color: #999999;
    font-size: 14px;
    font-weight: 600;
    margin-left: 12rem;
}
.cookie-title-font-size {
    font-size: 16px;
    font-weight: 510;
}
.cookie-desc-font-size {
    font-size: 16px;
}
.slds-scope
    .slds-checkbox_toggle
    [type='checkbox']:checked
    + .slds-checkbox_faux_container
    .slds-checkbox_faux:hover,
.slds-scope
    .slds-checkbox_toggle
    [type='checkbox']:checked
    + .slds-checkbox_faux_container
    .slds-checkbox_faux {
    background-color: #00c221 !important;
    border: 1px solid #00c221 !important;
    outline: none !important;
}
.slds-scope .slds-checkbox_toggle .slds-checkbox_faux,
.slds-scope .slds-checkbox_toggle .slds-checkbox_faux:hover {
    background-color: #b5b5b5 !important;
    border: 1px solid #b5b5b5 !important;
    outline: none !important;
}

.slds-checkbox_toggle .slds-checkbox_faux {
    background-color: #b5b5b5 !important;
    border: 1px solid #b5b5b5 !important;
    outline: none !important;
}

.com-icon {
    fill: #595959;
    height: 20px;
    width: 20px;
}

.acknowledge_button {
    height: 40px;
    width: 264px;
    border-radius: 20px;
    background-color: #0768fd;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.04), 0 4px 8px 0 rgba(7, 104, 253, 0.32);
    float: right;
    border: 0;
    pointer-events: auto;
    cursor: pointer;
    /* margin-bottom: 20px; */
}

.acknowledge_content {
    height: 24px;
    width: auto;
    color: #ffffff;
    font-family: 'Proxima Nova';
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 24px;
    text-align: center;
}

.mb-10 {
    margin-bottom: 10px;
}

.uniform-margin {
    margin: 0 48px;
}

.footer_logo_login_cookie_pos {
    margin-left: -14px;
    margin-top: -8px;
}

.desk-cookies-banner-post-login .banner-heading {
    font-size: 18px;
    font-weight: bold;
    line-height: 32px;
    color: #FFFFFF;
    font-family: "Proxima Nova";
}
.desk-cookies-banner-post-login .banner-txt {
    color: #FFFFFF;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 24px;
}

.desk-cookies-banner-post-login .we-care-about-your-p{
    color: #000;
    margin: 14px 0px 24px 56px;
}
.desk-cookies-banner-post-login .we-care-about-your-p-new{
    color: #000;
    margin: 14px 0px 24px 56px;
}