/**
 * Created by Sravani Dasari
 */
 .THIS {
}

.THIS.not-ctp-message {
    color: #999999;
    font-family: "Proxima Nova";
    font-size: 23px;
    line-height: 26px;
    text-align: center;
    top: 50%;
}