.THIS .navigation-breadcrumbs .cRRNavigationPath.navigation-path {
    margin-bottom: 0;
    margin-top: 0;
}

.THIS .slp-counter {
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
    font-size: 13px;
}
.THIS.RTL {
   /* @noflip */  direction: rtl;
}
.THIS .slp-counter-txt {
    padding-top: 20px;
}

@media all and (max-width: 500px) {
    
    .THIS {
        flex-direction: column;
    }
    
 	.THIS .slp-counter-txt {
        padding-top: 30px;
    } 
    
    .THIS .rr-table {
        width: 850px;
    }
    
    .THIS .ssr-t-phone {
        min-width: 150px;
    }
}