.THIS .navigation-breadcrumbs .cRRNavigationPath.navigation-path {
    margin-bottom: 0;
    margin-top: 0;
}

.THIS .slp-counter {
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
    font-size: 13px;
}

.THIS .slp-counter-txt {
    padding-top: 20px;
}

.THIS .ssr-t-site .slds-button {
    line-height: 1.5;
}

@media all and (max-width: 500px) {

    .THIS.slp-counter {
        flex-wrap: wrap;
        justify-content: center;
    } 

 	.THIS .slp-counter-txt {
        padding-top: 30px;
    } 
    
    .THIS .rr-table {
        width: 850px;
    }
    
    .THIS .ssr-t-phone {
        min-width: 150px;
    }
}