.THIS.rr-slider-panel {
    width: 100%;
    height: 30px;
    padding: 10px;
    position: relative;
}

.THIS .rr-slider-value-box {
    height: 32px;
    width: 73px;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0);
    color: #0F498C;
    font-family: "Proxima Nova";
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    position: absolute;
    margin: 0 0 5px 10px;
    z-index: 1000;
    overflow: hidden;
    overflow-wrap: break-word;
}

.THIS .rr-slider-bar {
    width: 100%;
    position: relative;
    height: 15px;
    padding: 6px 0;
    top: 35px;
}

.THIS .rr-slider-track {
    height: 5px;
    width: 100%;
    border: none;
    border-radius: 4px;
    background-color: #D9D9D9;
}

.THIS .rr-slider-knob {
    border-radius: 50%;
    height: 20px;
    width: 20px;
    border: 1px solid #0F498C;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.08), 0 4px 8px 0 rgba(41,125,253,0.16);
    position: absolute;
    top: 0%;
}

.THIS.hidden {
    display: none !important;
}