/**
 * Created by Igor Malyuta on 25.03.2019.
 */
.THIS .line {
    margin-top: 82px;
    margin-bottom: 28px;
    box-sizing: border-box;
    height: 239px;
    width: 2px;
    border: 1px solid #979797;
}
.THIS h3{
    width: 277px;
    color: #000000;
    font-size: 30px;
    line-height: 36px;
}
.THIS .mti-button{
    float: right;
}
.THIS .mti-info-text{
    margin-top: 89px;
    margin-right: 63px;
}

@media all and (max-width: 550px) {
    
    .THIS {
        padding: 1rem!important;
    }
    
    .THIS > .slds-grid {
    	display: flex;
        flex-direction: column;
        padding: 0 1rem;
    }
    
    .THIS > .slds-grid > .slds-size--1-of-3,
    .THIS > .slds-grid > .slds-size--2-of-3{
        min-width: 100%;
        padding: 1rem 0 0;
    }
    
     .THIS > .slds-grid > .slds-grow-none {
        display: none;
    }
    
    .THIS  .mti-info-text {
        margin: 0;
    }
    
    .THIS .mti-button {
        margin-top: 15px;
        height: auto;
    }
}