/**
 * Created by user on 20-Aug-19.
 */

.THIS .cPopup .p-container .p-content {
	padding-top: 15px;
}

.THIS .my-location-label{
    color: #000000;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 500;
}

.THIS .locationContainer{
    box-sizing: border-box;  
    background-color: #f8f9fb;
    min-height: 100px;
    margin-top: 14px;
    padding: 8px 11px 13px 0px;
    width: 100%;
}

.THIS .location-title-btn {
    align-items: center;
    padding-left: 10px;
}

.THIS .p-header h2 {
    font-size: 20px;
    font-weight: 500;
}

.THIS .popup-account-name{
    width:100%;
    margin-bottom:1%;
    padding-left:1%;
}

.THIS .popup-account-name:first-child{
    color: #000000;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 500;
    padding-left: 60px;
}

.THIS .edit-btn{
    color: #2E7CEB;
    font-family: "Proxima Nova";
    font-size: 14px;
    cursor: pointer;
}

.THIS .manage-location-info{
    text-align: left;
    font-weight: 500;
    padding-right:5%;
}

.THIS .account_details {
    width: 80%;
    display: flex;
    flex-direction: row;    
}

.THIS .popup-account-name + .slds-grid--align-center {
    min-height: 100%;
    margin-top: -20px;
    align-items: center;
}

.THIS .ss-info-headers {
    height: 24px;
    color: #444;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom:5px;
    vertical-align: top;
}

.THIS .ss-info-address{
    color: #333333;
    font-family: "Proxima Nova";
    font-size: 14px;
}

.THIS .driving-instructions{
    color: #333333;
    font-family: "Proxima Nova";
    font-size: 14px;
}

.THIS #addNewLocation span{
    font-size: 24px;
    vertical-align: middle;
    margin-right: 10px;
}

@media (max-width: 925px) {
    .THIS .ss-info-headers {
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .THIS .ss-info-buttons{
        margin-top:10%;
    }
}

@media all and (max-width: 768px) {
    .THIS .locationContainer{
        padding: 8px 11px 13px;
    }
    
    .THIS .popup-account-name:first-child {
        padding-left: 30px;
    }
    
    .THIS .popup-account-name + .slds-col {
        min-height: 100%;
        align-items: center;
    	margin-top: -20px;
        max-width: 32px;
    }
    
    .THIS .p-footer .p-buttons-container {
        display: flex;
        flex-direction: column;
    }
    
    .THIS .p-footer .p-buttons-container .apollo-btn {
        margin: 15px 0 0 0;
    }
    
    .THIS .account_details {
        flex-direction: column;
        width: 90%;
        padding-left: 0;
    }
    
    .THIS .account_details .manage-location-info {
        width: 100%;
        margin-bottom: 15px;
    }
}

@media all and (max-width: 600px) {
    .THIS .ss-info-address{
        word-wrap: break-word;
    }
}

@media all and (max-width: 500px) {
     .THIS .popup-account-name + .slds-col {
     	   min-width: 32px;
    }
    
    .THIS .account_details {
        width: 80%;
    }
}