/**
 * Created by Leonid Bartenev
 */
.THIS {
    padding-bottom: 100px;
}
.THIS.arabic {
   /* @noflip */  direction: rtl;
  
}
.THIS.english {
    padding-bottom: 100px;
}
.THIS .Font-Size{
    color: black;
    font-weight: 600;
}
.THIS .vp-navigation{
    margin-bottom: 1.0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media all and (max-width: 500px) {
	.THIS .vp-navigation {
		margin-bottom: 0.2rem;
	}
}
.THIS .navigation-breadcrumbs .cRRNavigationPath.navigation-path {
    margin-bottom: 0;
    margin-top: 0;
}

.THIS .DiversityMessage {
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 20px;
}

.THIS .vp-export-btn{
    padding: 5px;
}

.THIS .check{
    height: 16px;
    width: 16px;
    padding-bottom: 2px;
    padding-right: 4px;
}

.THIS .emancipation-notification {
    background: #ff9300;
    height: 100%;
    color: #fff;
    line-height: 1.5rem;
    font-size: 1rem;
    box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.16);
    padding: 12px 16px;
}

.THIS .emancipation-notification-msg {
    font-weight: 600;
}

.THIS .emancipation-notification-link {
    text-align: right;
    padding: 4px 16px;
    white-space: nowrap;
}

.THIS .emancipation-notification-link a {
    padding-bottom: 3px;
    border-bottom: 1px solid #fff;
    color: #fff;
    text-decoration: none !important;
}

.THIS .warning-icon {
    margin-right: 10px;
    margin-top: -2px;
    height: 16px;
    width: 16px;
    display: inline-block;
    fill: black;
}

.THIS .vp-navigate-btn {
    display: inline-block;
    margin-left: 13px;
}

@media all and (max-width: 767px) {
    .THIS {
        padding-bottom: 0;
    }

    .THIS .vp-navigate-btn {
        margin-top: 15px !important;
        padding-left: 0;
        margin-bottom: 15px;
        white-space: nowrap;
    }
}
.THIS .vp-navigate-btn {
    display: inline-block;
    margin-left: 13px;
}

@media all and (max-width: 500px) {
    .THIS .vp-navigate-btn {
        margin-top: 15px !important;
        padding-left: 0;
        margin-bottom: 15px;
    }
}
@media all and (max-width: 767px) {
    .THIS .vp-navigate-btn {
        margin-top: 15px !important;
        padding-left: 0;
        margin-bottom: 15px;
    }
}