/**
 * Created by Igor Malyuta on 03.04.2019.
 */
.THIS.sv-panel {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.THIS .sv-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 9px;
}

.THIS .sv-title{
    font-size: 16px;
    font-weight: 600;
    line-height: 27px;
}

.THIS .sv-btn {
    box-shadow: 0 4px 8px 0 rgba(41, 125, 253, 0.16),
                0 4px 4px 0 rgba(0, 0, 0, 0.04),
                0 8px 16px 0 rgba(41, 125, 253, 0.32);
}

.THIS .sv-body{
    min-height: 220px;
    position: relative;
}

.THIS .sv-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-grow: 1;
    background-color: rgba(216,216,216,0.25);
}