.col-padding {
    padding: 0px 15px 0px 0px;
}
.vertical-scroll {
    height: 48vh;
    overflow: auto;
    padding: 0px 5px 0px 0px;
    overflow-x: hidden;
    margin-top: 10px;
}
 .step-btn {
    width: 100%;
    min-height: 60px;
    justify-content: flex-start;
    margin-bottom: 8px;
    padding: 6px 16px;
}
.labels {
    color: #444444;
    font-family: 'Proxima Nova';
    font-size: 14px;
    margin-bottom: 3px;
}
.checkbox_alignment {
    margin: 0.3rem 0px 0px 0px;
}
.text-overlap
{
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

}

.disflex{
    display:flex;
}

.margininitial{
    margin-top:4px
}


.sitepreferences {
    font-size: 14px;
    font-family: 'Proxima Nova';
    font-weight: 550;
    color: #000000;
}
.history-item-title {
    color: #595959;
    font-family: 'Proxima Nova';
    font-size: 16px;
    font-weight: 600;
}
.history-item-detail {
    color: #595959;
    font-family: 'Proxima Nova';
    font-size: 16px;
}
 .slds-button + .slds-button {
    margin-left: 0;
}
.vertical-scroll-accord {
    height: 20vh;
    overflow: auto;
    padding: 0px 5px 0px 0px;
    overflow-x: hidden;
    margin-top: 10px;
}
 .status-img {
    min-width: 18px;
    min-height: 18px;
    border-radius: 50%;
    line-height: 1;
    margin-right: 20px;
}
.step-info {
    text-align: left;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 0;
}
 .step-title {
    color: #000000;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}
.statusdetail .step-status {
    color: #595959;
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
}
.step-card-title {
    color: #000000;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
}
.text-wrap-btn {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
 .step-form {
    width: 100%;  
}
.step-form-bottom {
    margin-bottom: 15px;
}
.slds-accordion__summary {
    background: #f6f7fb;
    margin-top: 10px;
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #d9d9d9;
}
.slds-button:focus {
    text-decoration: none;
}
.slds-accordion__summary-content {
    color: #444444;
    font-size: 16px;
    line-height: 26px;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background: #999999; 
    border-radius: 4px;
    cursor: pointer;
}
::-webkit-scrollbar-thumb:hover {
    background: #858383;
}
.hideDesktopView {
    display: none;
}
.pgHeadMob {
    margin-bottom: 10px;
    font-size: 16px;
    color: #0768fd;
    font-weight: 600;
    display: flex;
    align-items: center;
}
.slds-p-left--xx-small {
    padding: 0;
}
.backArrow {
    width: 16px;
    margin-right: 6px;
}
.sitepre_Checkbox {
    padding-left: 12px;
}
.marginchecboxleft{
    margin-left: -3px;
}
.slds-marginleft{
    margin-left: -20px;
    
}
.slds-margintop{
    margin-top: 2px;
}
.label2 {
    color: #444444;
    font-family: 'Proxima Nova';
    font-size: 15px;
    margin-bottom: 7px;
}
/*  Tooltip for Text length overflow -added by Enugothula Srinath */
.tooltip span {
    text-decoration: none;
  /*  transform: translate(-50%, -100%) scale(.5); */
    position: absolute;
    background-color: #002448;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    font-size: 0.85rem;
    font-weight: 400;
    text-align: left;
  /*  box-shadow: 0 0 4px 2px rgba(0,0,0,.2); */
    width: max-content;
    max-width: 100%;
    top: 0;
    left: 30%;
    margin-top: -10px;
    visibility: hidden;
    opacity: 0;
}
 .tooltip:hover {
    position: relative;
}
.tooltip:hover span {
    opacity: 1;
    visibility: visible;
    transform: translate(-31%, -100%) scale(1);
    animation: pulse 1s;
}
.tooltip:hover span::after {
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border: solid transparent;
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-top: 8px solid #002448;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    border-width: 10px;
}
.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
    /* white-space: nowrap; */
}
.textoverlap {
    width: 12rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: unset;
}
.textoverlap1 {
    width: 18rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.tooltip1 span {
    color: #000;
    text-decoration: none;
 /*   transform: translate(-50%, -100%) scale(.5); */
    position: absolute;
    background-color: #002448;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    font-size: 0.8rem;
    font-weight: 400;
    text-align: left;
 /*   box-shadow: 0 0 4px 2px rgba(0,0,0,.2); */
    width: max-content;
    max-width: 100%;
    top: 0;
    left: 45%;
    margin-top: -10px;
    visibility: hidden;
    opacity: 0;
}
.tooltip1:hover {
    position: relative;
}
.tooltip1:hover span {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -100%) scale(1);
    animation: pulse 1s;
}
.tooltip1:hover span::after {
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border: solid transparent;
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-top: 8px solid #002448;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    border-width: 10px;
}
.tooltip1 {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
/* --------END--------------- */

@media (max-device-width: 767px) {
  .col-padding {
        padding: 0px 0px 0px 0px;
    }
 .vertical-scroll {
        height: auto;
        overflow: auto;
        padding: 0px 0px 0px 0px;
        overflow-x: hidden;
    }
    .hideDesktop {
        display: unset;
    }
    .hideMobile {
        display: none;
    }
    .slds-marginleft{
        margin-left: -6px;
    }
    .showDesktop{
        display: none;
    }
    .hideDesktopView {
        display: block;
    }
    .checkbox_alignment {
        margin-top: 4px;
    }
    .sitepre_Checkbox {
        padding-left: 13px;
    }
    .sitepreferences {
       width: 85%;
    }
    .p-r0{
        padding-right: 0;
    }
    .p-l0{
        padding-left: 0;
    }
    .mobile-width{
        float: none !important;
    }
    .mobile-width .save-btn, .mobile-width .discard-btn{
        width: 100%;
    }
    .mobile-width .discard-btn{
        margin-top: 20px;
    }
    .mobile-alignment-label {
        position: absolute;
        left: 25px;
        padding-top: 1px;
        font-size: 13px;
    }
}
.mobile-alignment-label {
    margin-top: 4px;
}
/**
 * Created by Andrii Kryvolap.
 */
 .vpi-title {
    font-size: 18px;
    font-weight: 600;
}

 .width-basis {
    flex-basis: auto;
}

 .vpi-state {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.vri-state-label {
    text-align: center;
    font-size: 1rem;
    line-height: 1;
}

.slds-grid .vpi-state.current .vri-state-label:last-child {
    font-weight: 400;
}

.vpi-line-div {
    height: 22px;
    border-top: 3px solid;
    padding-right: 0;
    padding-left: 0;
}

 .vpi-line-div.neutral {
    border-top-color: #b5b5b5;
}

 .vpi-line-div.success {
    border-top-color: #00c221;
}

.vpi-path {
    margin: 30px 0 5px;
    padding: 0 15px;
}
 .vpi-path .vpi-state:first-child .vpi-line-div:first-child {
    border-top-color: transparent;
}

 .vpi-path .vpi-state:last-child .vpi-line-div:last-child {
    border-top-color: transparent;
}

 .state-ico-wrapper {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    left: -9px;
    line-height: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
 .state-ico-wrapperRTL {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    position: absolute;
    top: -15px;
   /* @noflip */ 
   left: 100%;
    line-height: 1;
    margin-left: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

 .state-ico-wrapper .rr-icon-default {
    width: 14px;
    height: 14px;
    padding: 0;
    fill: white !important;
    background-color: white;
}
 .state-ico-wrapperRTL .rr-icon-default {
    width: 14px;
    height: 14px;
    padding: 0;
    fill: white !important;
    background-color: white;
}

 .vpi-state.current .state-ico-wrapper {
    width: 24px;
    height: 24px;
    top: -14px;
    left: -14px;
}
.vpi-state.current .state-ico-wrapperRTL {
    width: 24px;
    height: 24px;
    top: -15px;
    /* @noflip */ 
    left: 100%;
}

.vpi-state.current .state-ico-wrapper .rr-icon-default {
    width: 24px;
    height: 24px;
    padding: 0px;
    background: white;
}
 .vpi-state.current .state-ico-wrapperRTL .rr-icon-default {
    width: 24px;
    height: 24px;
    padding: 0px;
    background: white;
}

.vpi-state.neutral .state-ico-wrapper {
    background-color: #b5b5b5 !important;
}

 /* .vpi-state.success .state-ico-wrapper {
    background-color: #00c221 !important;
} */

 .vpi-state.in_progress .state-ico-wrapper {
    background-color: #005ff1 !important;
}

 .vpi-state.failure .state-ico-wrapper {
    background-color: #e20000 !important;
}
 .vpi-state.neutral .state-ico-wrapperRTL {
    background-color: #b5b5b5 !important;
}

.vpi-state.success .state-ico-wrapperRTL {
    background-color: #00c221 !important;
}

 .vpi-state.in_progress .state-ico-wrapperRTL {
    background-color: #005ff1 !important;
}

 .vpi-state.failure .state-ico-wrapperRTL {
    background-color: #e20000 !important;
}

/* status names */

.vpi-state.neutral .vri-state-label {
    color: #999;
    font-size: 14px;
}

.vpi-state.success .vri-state-label {
    color: #000;
    font-size: 14px;
}

.vpi-state.in_progress .vri-state-label {
    color: #000;
    font-size: 14px;
}

.vpi-state.failure .vri-state-label {
    color: #000;
    font-size: 14px;
}
.title {
    height: 32px;
    width: 644px;
    color: #000000;
    font-family: 'Proxima Nova';
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 32px;
}
.bar {    
    height: 4px;
    background: linear-gradient(270deg, #0076ae, #250056);
    position: relative;
}
.button-section-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.model-small {
    min-width: 0;
}
.fovCancel {
    line-height: 1.6;
    max-height: 60vh;
    color: #444;
    font-size: 1rem;
    white-space: initial;
    font-weight: 400;
    overflow-x: hidden;
}
.bg-white {
    background-color: #ffffff;
    border-bottom: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
}
.bg-white .active-accordion {
    color: #000000;
    font-weight: 600;
}
/*  Tooltip for Text length overflow  */
.tooltip span {
    text-decoration: none;
  /*  transform: translate(-50%, -100%) scale(.5); */
    position: absolute;
    background-color: #002448;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    font-size: 0.85rem;
    font-weight: 400;
    text-align: left;
  /*  box-shadow: 0 0 4px 2px rgba(0,0,0,.2); */
    width: max-content;
    max-width: 100%;
    top: 0;
    left: 30%;
    margin-top: -10px;
    visibility: hidden;
    opacity: 0;
}
 .tooltip:hover {
    position: relative;
}
.tooltip:hover span {
    opacity: 1;
    visibility: visible;
    transform: translate(-31%, -100%) scale(1);
    animation: pulse 1s;
}
.tooltip:hover span::after {
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border: solid transparent;
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-top: 8px solid #002448;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    border-width: 10px;
}
.tooltip {
    position: relative;
    /* display: inline-block; */
    cursor: pointer;
    /* white-space: nowrap; */
}
.textoverlap {
    width: 12rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: unset;
}
/* --------END--------------- */
@media not print {
 .vri-state-label {
        display: none;
    }
     .vpi-state.neutral .cRRIcon {
        display: none;
    }
}

.vpi-state.current .vri-state-label {
    display: block;
    font-weight: 600;
    font-size: 14px;
}

.THIS .vpi-path-panel .path-section {
    padding: 0 0 10px;
}

.btn-height {
    height: 36px;
}
.save-btn {
    float: right;
    margin-left: 15px;
}
.discard-btn {
    border: 1px solid #ffffff;
    box-shadow: 0 4px 4px 0 rgb(255 255 255 / 4%);
}

@media all and (min-width: 1024px) {
 .vri-state-label {
        display: block;
    }
   .width-basis {
        flex-basis: 0;
    }

   .state-ico-wrapper {
        width: 24px;
        height: 24px;
        top: -14px;
        left: -14px;
    }

    .state-ico-wrapper .rr-icon-default {
        width: 24px;
        height: 24px;
        padding: 0px;
    }
    .addtv_checkbox{
        margin-left: -20px;
    }
}

@media all and (max-width: 920px){
    .addtv_checkbox{
        margin-left: -5px;
    }
}
.slds-form-element__label {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.input-margin {
    margin-top: -5px;
}
/* rtl start */

.rtl .ipad-mode-btn{ margin-right: 12px;}
.rtl .sitepre_Checkbox{ 
    padding-left: 0px;
    padding-right: 7px;
    margin-left: 8px;
}

/* rtl end */