.mainNav {
    display: inline-flex;
    align-items: center;
}

.nav-item {
    display: inline-flex;
    width: 112px;
    height: 64px;
    align-items: center;
    justify-content: center;
}

.nav-item:hover{
    background-color: #ffffff24;
}

.nav-item > div,
.nav-item > div > ul {
    height: 100%;
    width: 100%;
}

.nav-item .my-menu a {
    font-size: 1rem;
    color: #fff;
    padding-left: 0.75rem;
}

.nav-item .my-menu {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

a,
a:visited,
a:hover,
a:active,
a:focus {
    color: inherit;
    text-decoration: none;
}
img {
    height: 100%;
    vertical-align: top;
}
.nav-item .slds-dropdown {
    width: 225px;
    border-color: #d9d9d9;
    box-shadow: 0 8px 20px 0 rgba(0,0,0,0.08);
}

.nav-item .slds-dropdown.slds-dropdown_left {
     top: 101%;
 }

.nav-item .slds-dropdown__item > a {
    color: #444444;
    font-size: 1rem;
}

.nav-item .slds-dropdown__item > a:hover {
    color: #000000;
    background-color: #ecf3ff
}

.nav-item .homeIcon,
.nav-item > div > ul > li {
    display: inline-flex;
    color: #ffffff;
    font-size: 1rem;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}