.mobileMenu {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 1000;
    top: 0;
}

.phone-menu-background {
    background-color: #005587;
    padding: 1.25rem 0 1.25rem 2rem;
    display: flex;
    align-items: center;
}

.phone-menu-background:nth-child(3) {
    padding: 0;
} 

.my-menu {
    display: flex;
    align-items: flex-start;
    width: 100%;
    flex-direction: column;
}

.my-menu a {
    display: inline-flex;
    padding: 1.25rem 0 1.25rem 1rem;
    font-size: 18px;
    width: 100%;
}

.coverArea {
    height: 4rem;
    background: linear-gradient(to bottom, #00839a 0%, #005587 100%);
}

.my-menu > div {
    display: flex;
    align-items: center;
    width: 100%;
}

.my-menu > div:first-child {
    padding-left: 2rem;
}

.phone-menu-background:nth-child(3) .my-menu div:nth-child(n+2) a {
    display: flex;
    align-items: center;
    padding: .5rem 0 .5rem 3.5rem;
    width: 100%;
    position: relative;
    margin-bottom: 4px;
    background: rgba(255, 255, 255, 0.16);
}

.phone-menu-background:nth-child(3) .my-menu div:nth-child(n+2) a:before {
    content: "_";
    color: #fff;
    position: absolute;
    top: -5px;
    font-size: 1.5rem;
    left: 2.25rem;
}

div:last-child {
    border-bottom-right-radius: 20px;
}

.toggleClass{
    display: none;
}
div .slds-text-color_inverse{
    color:white

}
a,
a:hover,
a:active,
a:focus,
a:visited {
    color: inherit;
    text-decoration: none;
}

.nav-menu span {
    font-size: 18px;
    color: #fff;
    padding-left: 1rem;
    width: 100%;
}


