.mainNav {
    display: inline-flex;
    /* align-items: center;*/
}

.nav-item {
    display: inline-flex;
    vertical-align: top;
    min-width: 80px;
    height: 4rem;
    align-items: center;
    justify-content: center;
    padding-left: 16px;
    padding-right: 16px;
}

.nav-item:hover {
    background-color: #ffffff24;
}

.nav-item > div,
.nav-item > div > ul {
    height: 100%;
    width: 100%;
}

.nav-item .my-menu a {
    display: inline-flex;
    height: 100%;
    width: 100%;
    align-items: center;
    font-size: 1rem;
    color: #fff;
    padding-left: 0.75rem;
}

.nav-item .my-menu {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}
.nav-item:nth-child(4) {
    padding-left: 5px;
    padding-right: 5px;
}

a,
a:visited,
a:hover,
a:active,
a:focus {
    color: inherit;
    text-decoration: none;
}
img {
    height: 100%;
    vertical-align: top;
}
.nav-item .slds-dropdown {
    width: 225px;
    border-color: #d9d9d9;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.08);
}


.nav-item .slds-dropdown__item > a {
    color: #444444;
    font-size: 1rem;
}

.nav-item .slds-dropdown__item > a:hover {
    color: #000000;
    background-color: #ecf3ff;
}

.nav-item .homeIcon,
.nav-item > div > ul > li {
    display: inline-flex;
    color: #ffffff;
    font-size: 1rem;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.mainNav div.nav-item:nth-child(12) {
    /*width: 135px !important;*/
}
.mainNav div.nav-item:nth-child(10) {
    /*width: 135px !important;*/
}

.hideEle{
    display: none;
}

.newMoreMenu{
    display: inline-flex;
    color: #ffffff;
    font-size: 1rem;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}