.siteDBtitle {
    color: #000000;
    font-size: 18px !important;
    font-weight: 600 !important;
}
.chartLabel{
    color: #000000;
    font-size: 18px !important;
    font-weight: 600 !important;

}
.thick {
    font-weight: bold;
    color: #297dfd;
    background: #f8f9fb;
    border-top: solid 1px #e9e9e9;
    min-height: 49px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.site-footer {
    background: rgba(255, 255, 255, 0.15) 50% !important;
  }
.slds-card{
    margin-top: 25px;
    background: #ffffff;
    border: 1px solid #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 4%);
    height: 445.2px;
}
.siteDB-footer {
   border: 1px solid #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 4%);
  }