/**
 * Created by Leonid Bartenev
 */
.THIS .resource-link-container{
    display: flex;
    align-items: center;
}

.THIS .resource-icon{
    margin-right: 10px;
}

.THIS .menu-popup{
    left: 31px;
    transform: none;
}

.THIS .menu-popup li{
    padding: 0 5px;
    cursor: pointer;
}

.THIS .menu-popup li:hover{
    background-color: #f2f7ff;
}

