.THIS {
    font-size: 13px;
}
.THIS.rtlView{
    /* @noflip */  direction: rtl;
}
.THIS .slv-category {
    color: #000000;
    font-weight: 600;
    line-height: 22px;
    /*    margin-top: 30px; */
    margin-bottom: 4px;
    text-transform: uppercase;
}

.THIS.slv-items-panel {
    padding-bottom: 100px;
}

.THIS .rr-simple-white-panel {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    background-color: #ffffff;
    margin-bottom: 30px;
    margin-top: 0;
    padding: 16px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.04);
}

.THIS .header-white-panel {
    color: #666666;
    font-family: 'Proxima Nova';
    font-size: 20px;
    line-height: 26px;
}

@media all and (min-width: 768px) {
    .THIS .slv-padded-panel-left {
        padding-left: 4.5rem;
    }
    .THIS .slv-padded-panel-leftRTL {
       /* @noflip */  padding-left: 0rem;
      /* @noflip */   text-align: left;
    }

    .THIS .slv-padded-panel-right {
        padding-right: 4.5rem;
        padding-left: 4.5rem;
    }
}

@media all and (max-width: 767px) {
    .THIS .slv-header-item + .slv-header-item {
        margin-top: 16px;
    }

    .THIS .search-more-btn {
        width: 100%;
    }

    .THIS.slv-items-panel {
        padding-bottom: 0;
    }
}