/**
 * Created by Andrii Kryvolap.
 */
.THIS.form-field {
    margin-bottom: 20px;
}
.THIS .label {
    color: #444444;
    font-family: 'Proxima Nova';
    font-size: 14px;
    margin-bottom: 8px;
}
.THIS .label2,
.THIS .slds-form-element__label2 {
    color: #444444;
    font-family: 'Proxima Nova';
    font-size: 14px;
   /* margin-bottom: -11px;*/
}
.THIS.checkbox-field {
    padding-top: 35px;
}
/*Fix for REF-2710 Vikrant */
.THIS .slds-has-error .slds-form-element__help {
    width: 200px;
    left: 1px;
    }
    .THIS .tooltip {
        position: relative;
        display: inline-block;
    }
    
    .THIS  .tooltip .tooltiptext {
        visibility: hidden;
        width: 300px;
        background-color: white;
        color: grey;
        text-align: center;
        z-index: 1;
        top: -16px;
        display: inline-block;
        position: absolute;
        border: 1px solid #777777;
        text-decoration: none;
    }
    .THIS  .tooltip:hover .tooltiptext {
        visibility: visible;
    }
    .THIS .textoverlap
    {
        width: 14rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
@media screen and (max-width: 768px) {
    .THIS.form-field {
        min-width: 100%;
    }
}
