/**
 * Created by Igor Malyuta on 20.01.2020.
 */
.message-counter {
    background-color: #e20000;
    width: 10px;
    height: 9px;
    border-radius: 50%;
    position: absolute;
    top: 9px;
}
.new-msg-outer {
    border-radius: 20px;
    border: 0.1rem solid #ffffff;
    width: 48px;
    height: 22px;
    text-align: center;
    background: red;
}
.new-message {
    position: relative;
    bottom: 2px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
}
.nav-msg-heading {
    padding-left: 0.7rem !important;
}
.nav-item:nth-child(5) {
    padding: 0px 10px !important;
}