/**
 * Created by Nikita Abrazhevitch on 26-Aug-19.
 */

.THIS .site-sub-header {
    color: #999999;
    font-size: 14px;
    line-height: 17px;
}

.THIS .site-distance {
    text-align: right;
}

.THIS .inner-content-card {
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #f8f9fb;
    min-height: 100px;
    margin-top: 20px;
    padding: 15px;
}

.THIS .site-address {
    color: #333333;
    font-size: 13px;
    line-height: 16px;
}

.THIS .slvi-site-btn {
    width: 100%;
}


@media all and (min-width: 501px) and (max-width: 768px) {
    .THIS .inner-content-card > .slds-grid > .slds-col {
        max-width: 50%
    }
}

@media screen and (max-width: 500px) {

    .THIS .site-distance {
        text-align: left;
        margin-top: .5rem;
    }

    .THIS .site-address + .site-address {
        margin-bottom: 1rem;
    }
}