/**
 * Created by Leonid Bartenev
 */
.THIS {
    font-family: 'Proxima Nova';
}

.THIS .nav-item {
    color: white;
    padding: 10px;
    padding-top: 15px;
}

.THIS .nav-item:hover,
.THIS .nav-item:active {
    background-color: rgba(255, 255, 255, 0.15);
    cursor: pointer;
}

.THIS .nav-item.active {
    background-color: rgba(255, 255, 255, 0.15);
}

.THIS .nav-menu {
    height: 100%;
    width: t(sideMenuWidth);
    position: relative;
    left: t('-' + sideMenuWidth);
    overflow-y: visible !important;
    background: linear-gradient(to right, #230559 0%, #036ca7 100%);
    transition: t(sideMoveSpeed);
}

.THIS .nav-menu.show {
    left: 0;
    box-shadow: 2px 0 8px 1px rgba(0, 0, 0, 0.25);
}

.THIS.overlay {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0);
    transition: t(sideMoveSpeed);
    pointer-events: none;
}

.THIS.cnm-z-order,
.THIS .cnm-z-order {
    z-index: 8500;
}

.THIS .navigation-icon.cRRIcon.rr-icon-default {
    margin-right: 12px;
    margin-left: 10px;
    height: 32px;
    width: 26px;
    flex-shrink: 0;
    max-height: 28px;
}

.THIS .nav-menu-item-content {
    display: flex;
    align-items: center;
}
.THIS .nav-menu-item-content span {
    overflow: hidden;
    text-overflow: ellipsis;
}

/* SIDEBAR MENU - SUBMENU */
@media screen and (min-width: 769px) and (max-width: 1139px){

    .THIS .cUiHeaderMenu.cCommunityResourcesNavigation {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
    }

    .THIS .cUiHeaderMenu .menu-popup-panel.popupTargetContainer {
        border: none;
        background-color: transparent;
        box-shadow: none;
        width: 100%;
        color: #fff;
        height: 90px;
        position: static;
        display: flex;
        visibility: visible;
        opacity: 1;
        display: none;

    }

    .THIS .nav-menu > .nav-menu-item-content.open .cUiHeaderMenu .menu-popup-panel.popupTargetContainer {
        display: block;
    }

    .THIS .nav-menu > .nav-menu-item-content.open .cUiHeaderMenu .uiPopupTrigger .arrow-down{
        transform: scaleY(-1);
    }

    .THIS .nav-menu > .nav-menu-item-content:hover,
    .THIS .nav-menu > .nav-menu-item-content:active {
        background-color:transparent;
        cursor: default;
    }

    .THIS .uiPopupTrigger {
        padding-left: 60px;
    }

    .THIS .nav-menu > .nav-menu-item-content .uiPopupTrigger:hover,
    .THIS .nav-menu > .nav-menu-item-content .uiPopupTrigger:active {
        background-color: rgba(255, 255, 255, 0.15);
        cursor: pointer;
    }

    .THIS .nav-menu>.nav-menu-item-content .navigation-icon.cRRIcon.rr-icon-default {
        margin-left: 20px;
        margin-top: 15px;
        position: absolute;
    }

    .THIS .nav-menu > .nav-menu-item-content .navigation-icon.cRRIcon.rr-icon-default {
        margin-left: 20px;
    }

    .THIS .cCommunityResourcesNavigation .header-menu-link {
        padding: 16px 0;
        justify-content: flex-start;
    }

    .THIS .cCommunityResourcesNavigation .header-menu-link:hover {
        background-color: transparent;
        cursor: default
    }

    .THIS .nav-menu-item-content span {
        font-size: 13px;
    }

    .THIS .menu-popup-panel {
        width: 100%;
    }

    .THIS .cUiHeaderMenu .menu-popup-panel ul li {
        padding-left: 60px;
        font-size: .875rem;
    }

    .THIS .cUiHeaderMenu .menu-popup-panel li:hover:not(.active) {
        background: rgba(255, 255, 255, 0.15);
    }

    .THIS .menu-popup-panel ul li a{
        color: #fff
    }

    .THIS .nav-menu-item-content {
        display: flex;
        align-items: flex-start;
        position: relative;
    }



}



@media screen and (max-width: 768px) {
    .THIS.rr-overlay {
        display: none;
    }
    .THIS.overlay {
        pointer-events: auto;
        top: 100%;
    }

    .THIS .nav-menu {
        display: flex;
        width: 100%;
        height: 60px;
        position: absolute;
        bottom: 0;
        transition: none;
        left: 0;
    }

    .THIS .nav-menu .nav-item {
        padding: 0 5px 0;
        flex: 1 1 0;
    }

    .THIS .nav-menu-item-content {
        padding: 3px 5px 0;
        flex: 1 1 0;
        position: relative;
        justify-content: flex-start;
        flex-direction: column;
        margin-top: 3px;
    }

    .THIS .nav-menu > .nav-menu-item-content {
        padding: 0 5px 0 10px;
        margin-top: 0;
    }

    .THIS .nav-menu > .nav-menu-item-content > .navigation-icon {
        margin: 7px 17px 7px 0;
    }

    .THIS .nav-menu .nav-menu-item-content > span {
        font-size: 0.875rem;
        line-height: 1.25rem;
    }
}
@media screen and (orientation:landscape) and (min-width: 769px) and (max-width: 1139px){

    .THIS .cUiHeaderMenu .menu-popup-panel.popupTargetContainer {
        border: none;
        background-color: white;
        box-shadow: none;
        width: 100%;
        color: #fff;
        height: 90px;
        position: absolute;
        display: flex;
        visibility: visible;
        opacity: 1;
        display: none;

    }
}
@media screen and (orientation:landscape)
and (max-device-width: 898px) 
 {
   /* Your CSS Here*/
     .THIS.rr-overlay {
        display: none;
    }
    .THIS.overlay {
        pointer-events: auto;
        top: 100%;
    }
     

    .THIS .nav-menu {
        display: flex;
        width: 100%;
        height: 60px;
        position: absolute;
        bottom: 0;
        transition: none;
        left: 0;
    }

    .THIS .nav-menu .nav-item {
        padding: 0 5px 0;
        flex: 1 1 0;
    }

    .THIS .nav-menu-item-content {
        padding: 3px 5px 0;
        flex: 1 1 0;
        position: relative;
        justify-content: flex-start;
        flex-direction: column;
        margin-top: 3px;
    }

    .THIS .nav-menu > .nav-menu-item-content {
        padding: 0 5px 0 10px;
        margin-top: 0;
    }

    .THIS .nav-menu > .nav-menu-item-content > .navigation-icon {
        margin: 7px 17px 7px 0;
    }

    .THIS .nav-menu .nav-menu-item-content > span {
        font-size: 0.875rem;
        line-height: 1.25rem;
    }
}
@media screen and (max-width: 550px) {
    .THIS .nav-menu {
        height: 65px;
    }

    .THIS.overlay.multi-mode {
        top: 80px;
    }

    .THIS .nav-menu .nav-menu-item-content > span {
        display: none;
    }

    .THIS .nav-menu .nav-item {
        padding: 5px 5px 0;
    }

    .THIS .nav-menu > .nav-menu-item-content > .navigation-icon {
        margin-top: 11px;
    }

    .THIS .navigation-icon {
        max-height: 32px;
    }
}

.THIS.overlay.dark {
    background: rgba(255, 255, 255, 0.7);
    pointer-events: auto;
}
