/**
 * Created by Leonid Bartenev
 */
.THIS{
    font-family: "Proxima Nova";
}

.THIS .nav-item{
    color: white;
    padding: 10px;
    padding-top: 15px;

}

.THIS .nav-item:hover, .THIS .nav-item:active{
    background-color: rgba(255, 255, 255, 0.15);
    cursor: pointer;
}

.THIS .nav-item.active{
    background-color: rgba(255, 255, 255, 0.15);
}

.THIS .nav-menu{
    height: 100%;
    width: t(sideMenuWidth);
    position: relative;
    left: t('-' + sideMenuWidth);
    overflow-y: visible!important;
    background: linear-gradient(to right, #230559 0%,#036ca7 100%);
    transition: t(sideMoveSpeed);
}



.THIS .nav-menu.show{
    left: 0;
    box-shadow: 2px 0 8px 1px rgba(0,0,0,0.25);
}

.THIS.overlay{
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0);
    transition: t(sideMoveSpeed);
    pointer-events: none;
}

.THIS.cnm-z-order, .THIS .cnm-z-order{
    z-index: 8500;
}

.THIS .navigation-icon {
    margin-right: 12px;
    margin-left: 10px;
    /*   pointer-events: none;
       width: 18px;*/
    flex-shrink: 0;
    max-height: 28px;
}

.THIS .nav-menu-item-content{
    display: flex;
    align-items: center;
}
.THIS .nav-menu-item-content span{
    overflow: hidden;
    text-overflow: ellipsis;
}
@media screen and (max-width: 768px) {
    .THIS.rr-overlay {display: none}
    .THIS.overlay {
        pointer-events: auto;
        top: 100%;
    }

    .THIS .nav-menu{
        display: flex;
        width: 100%;
        height: 60px;
        position: absolute;
        bottom: 0;
        transition: none;
        left: 0;
    }

    .THIS .nav-menu .nav-item {
        padding: 0 5px 0;
        flex: 1 1 0;
    }

    .THIS .nav-menu-item-content {
        padding: 3px 5px 0;
        flex: 1 1 0;
        position: relative;
        justify-content: flex-start;
        flex-direction: column;
        margin-top: 3px;
    }

    .THIS .nav-menu > .nav-menu-item-content {
        padding: 0 5px;
        margin-top: 0;
    }

    .THIS .nav-menu > .nav-menu-item-content > .navigation-icon {
        margin: 7px auto;
    }

    .THIS .nav-menu .nav-menu-item-content > span {
        font-size: .875rem;
        line-height: 1.25rem;
    }
}


@media screen and (max-width: 550px) {

    .THIS + .rr-width-limiter.side-padding {
        padding-top: .25rem!important;
    }

    .THIS .nav-menu {
        height: 65px;
    }

    .THIS.overlay.multi-mode{
        top: 80px;
    }

    .THIS .nav-menu .nav-menu-item-content > span {
        display: none;
    }

    .THIS .nav-menu .nav-item {
        padding: 5px 5px 0;
    }

    .THIS .nav-menu > .nav-menu-item-content > .navigation-icon {
        margin-top: 11px;
    }

    .THIS .navigation-icon {
        max-height: 32px;
    }
}


.THIS.overlay.dark{
    background: rgba(255, 255, 255, 0.7);
    pointer-events: auto;
}