/**
 * Created by Yehor Dobrovolskyi
 */
.THIS {
}

.THIS .button {
    background-color:#297DFD;
    border: none;
    color: white;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px 4px 2px;
    cursor: pointer;
    border-radius: 16px;
  }
  .THIS .slds-pill__action{
      border:0px;
      
  }
  .THIS .slds-pill__remove svg{
      color:white;
  }
.THIS .slds-pill__label{
    text-align: center;
    margin-bottom: 10px;
}
.THIS .slds-pill{
    padding-bottom: 10%;
    padding-top: 5%;
}
.THIS .slds-pill__remove{
    padding-right: 10% !important;
}

.THIS .alert-count-condition{
    height: 17px;
    width: auto;
    color: #999999;
    font-family: "Proxima Nova";
    font-size: 14px;
    font-style: italic;
    line-height: 17px;
    text-align: center;
}

.THIS table{
    border-top: 0;
    border-collapse: collapse;
}

.THIS .table-scroll{
    height: 170px;
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: 5px;
}

@media all and (max-width: 750px) {
    .THIS .alert-count-condition{
        font-size: 12px;
    }
    .THIS .table-scroll{
        font-size: 12px;
        overflow-x: auto;
        overflow-y: auto;
    }
}

@media all and (max-width: 500px) {
    .THIS .slds-table_edit .slds-truncate {
        font-size: 1rem;
    }
    
    .THIS .table-scroll {
        height: 250px;
        margin-top: 1rem;
    }
    
    .THIS .slds-table th, 
    .THIS .slds-table td {
     	padding: .75rem .5rem;   
    }

    
    .THIS .p-footer.p-variant- {
        width: 100%;
        padding: 1rem; 
    }
   
    .THIS .p-footer .apollo-btn.primary {
        margin-top: 1rem;
        margin-left: 0;
    }
}