.full-width {
    width: 100%;
}

.required-icon {
    color: #e20000;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 2rem;
}

.update-communication {
    color: #015ff1;
    text-decoration: underline;
    cursor: pointer;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 1.5rem;
}

:host {
    --sds-c-checkbox-color-background-checked: #0769fd;
    --sds-c-checkbox-mark-color-foreground: #ffffff;
    --slds-c-checkbox-radius-border: 2px;
    --slds-c-checkbox-style-border: none;
}

@media all and (max-width: 486px) {
    .curve-input {
        margin-bottom: 1rem;
    }
    .slds-grid.slds-wrap.slds-grid_vertical-align-start.slds-m-top_medium {
        margin-top: unset;
    }
}
