.full-width {
    width: 100%;
}

.curve-input {
    display: flex;
    position: relative;
    width: 100%;
    border-radius: 1rem;
    border: 1px solid #d9d9d9;
    padding-left: 2.25rem;
    background-color: #f2f2f2;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 1.5rem;
    color: #595959;
}
.curve-input:focus-within {
    border: 1px solid #015ff1;
}

.curve-input input[type='date'] {
    width: 300px;
    display: flex;
    align-items: center;
    max-width: 100%;
    font-size: 0.875rem;
    border-radius: 1rem;
    border: none;
    background: #fff;
    color: #595959;
    text-align: left;
}

.curve-input input[type='date']:disabled {
    background: #f2f2f2;
}

input[type='date']::-webkit-calendar-picker-indicator,
.curve-input .slds-input__icon-group_right {
    position: absolute;
    left: 0;
    height: 25px;
    width: 100%;
    opacity: 0;
}

.curve-input .svg-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    left: 20px;
    fill: #c42ea5;
}

.required-icon {
    color: #e20000;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 2rem;
}

.update-communication {
    color: #015ff1;
    text-decoration: underline;
    cursor: pointer;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 1.5rem;
}

:host {
    --sds-c-checkbox-color-background-checked: #0769fd;
    --sds-c-checkbox-mark-color-foreground: #ffffff;
    --slds-c-checkbox-radius-border: 2px;
    --slds-c-checkbox-style-border: none;
}

@media all and (max-width: 486px) {
    .curve-input {
        margin-bottom: 1rem;
    }
    .slds-grid.slds-wrap.slds-grid_vertical-align-start.slds-m-top_medium {
        margin-top: unset;
    }
}
