/**
 * Created by Leonid Bartenev
 */

.THIS {
    padding: 0 16px;
}

.THIS > div {
    display: flex;
    justify-content: space-between;
}

/*.THIS.rtl > div{
    flex-direction: row-reverse;
}*/
.THIS .rtl {
    direction: rtl;
}

.THIS .psec-title-link {
    font-size: 1rem;
    color: #3294fe;
    font-weight: 600;
}

.THIS .sponsor-name {
    height: 20px;
    color: #595959;
    font-size: 1rem;
    line-height: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.THIS .objective-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.THIS .objective-section .objective-text {
    height: 1rem;
    color: #444;
    font-size: 1rem;
    line-height: 1rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 5px;
    width: 100%;
}

.THIS .objective-link {
    white-space: nowrap;
    font-size: 1rem;
   /* width: 540px; */
    display: inline-block;
    text-align: right;
    margin-top: 2px;
}
.THIS .objective-linkRTL {
    white-space: nowrap;
    font-size: 1rem;
   /*  width: 540px; */
    display: inline-block;
    text-align: left;
    margin-top: 2px;
}

.THIS .slds-media__body > div:first-child {
    display: flex;
    justify-content: space-between;
}

.THIS .vpi-title,
.THIS .vpi-tile-title {
    font-size: 1.125rem;
    font-weight: 600;
    color: #000;
    display: inline-block;
}

.THIS.rtl .vpi-tile-title {
    direction: rtl;
}

.THIS.rtl .objective-text {
    direction: rtl;
}

.THIS .button-link {
    border: none;
    background: none;
    padding: 0;
    margin-left: 5px;
    outline: none;
    cursor: pointer;
}

.THIS .icon-link {
    fill: #297dfd;
    cursor: pointer;
}
.THIS .icon-link:hover {
    fill: #686868;
}

.THIS .slds-has-block-links--space {
    background: #00c221;
    fill: white;
    padding: 0 16px;
    text-align: center;
    color: white;
    
    top: -5px;
    right: 10px;
    border-radius: 2px;
}
.THIS .slds-has-block-links--space2 {
    background: #999;
    fill: white;
    padding: 0 16px;
    text-align: center;
    color: white;
    
    top: -5px;
    right: 10px;
    border-radius: 2px;
    direction: revert;
}
.THIS .slds-has-block-links--space3 {
    background: #ff9300;
    fill: white;
    padding: 0 16px;
    text-align: center;
    color: white;
    
    top: -5px;
    right: 10px;
    border-radius: 2px;
}
.THIS .icon-checkmark {
    fill:white;
    background-color:#9400D3
}
.THIS .slds-has-block-links--spacepurple {
    background: #593E7F;
    fill: white;
    padding: 0 16px;
    text-align: center;
    color: white;
    
    top: -5px;
    right: 10px;
    border-radius: 2px;
}
.THIS .slds-has-block-links--spaceblue {
    background: #10558A;
    fill: white;
    padding: 0 16px;
    text-align: center;
    color: white;
    
    top: -5px;
    right: 10px;
    border-radius: 2px;
    direction: revert;
}
@media screen and (max-width: 500px) {
    .THIS {
        padding: 0;
    }

    .THIS .slds-media__body > div:first-child {
        flex-wrap: wrap;
    }

    .THIS .vpi-title {
        width: 50%;
        line-height: 1.25;
    }

    .THIS .slds-has-block-links--space,
    .THIS .slds-has-block-links--space2,
    .THIS .slds-has-block-links--space3 {
        right: 0;
    }

    .THIS .sponsor-name {
        height: auto;
        white-space: normal;
    }

    /*.THIS .custom-plus {
       display: block;
       position: fixed;
       top: 10px;
       font-size: 16px !important;
       margin-top: 78% !important;
       text-align: center;
       left: 0;
       right: 0;
   }*/
}

/*Added for performance improvement view more link
.THIS .custom-plus{
    display: block;
    position: absolute;
    top: 130px;
    font-size: 16px;
    margin-top: 5px;
}

.THIS .chevron::before {
	border-style: solid;
	border-width: 0.25em 0.25em 0 0;
	content: '';
	display: inline-block;
	height: 0.45em;
	left: 0.15em;
	position: relative;
	top: 0.15em;
	transform: rotate(-45deg);
	vertical-align: top;
	width: 0.45em;
}

.THIS .chevron.right:before {
	left: 0;
	transform: rotate(45deg);
}

.THIS .chevron.bottom:before {
	top: 0;
	transform: rotate(135deg);
}

.THIS .chevron.left:before {
	left: 0.25em;
	transform: rotate(-135deg);
}*/
