/**
 * Created by Leonid Bartenev
 */

.THIS {
    padding: 0 16px;
}

.THIS > div {
    display: flex;
    justify-content: space-between;
}

.THIS.rtl > div{
    flex-direction: row-reverse;
}

.THIS .psec-title-link{
    font-size: 1rem;
    color: #3294fe;
    font-weight: 600;
}

.THIS .sponsor-name {
    height: 20px;
    color: #595959;
    font-size: 1rem;
    line-height: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.THIS .objective-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.THIS .objective-section .objective-text {
    height: 1rem;
    color: #444;
    font-size: 1rem;
    line-height: 1rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 5px;
    width: 100%;
}

.THIS .objective-link {
    white-space: nowrap;
    font-size: 1rem;
    width: 150px;
    display: inline-block;
    text-align: right;
}

.THIS .vpi-title,
.THIS .vpi-tile-title {
    font-size: 1.125rem;
    font-weight: 600;
    color: #000;
    display: inline-block;
}

.THIS.rtl .vpi-tile-title{
    direction: rtl;
}

.THIS.rtl .objective-text{
    direction: rtl;
}

.THIS .button-link {
    border: none;
    background: none;
    padding: 0;
    margin-left: 5px;
    outline: none;
    cursor: pointer;
}

.THIS .icon-link {
    fill: #297DFD;
    cursor: pointer;
}
.THIS .icon-link:hover {
    fill: #686868;
}

.THIS .slds-has-block-links--space{
    background: #00c221;
    fill: white;
    padding: 0 16px;
    text-align: center;
    color: white;
    position: absolute;
    top: -5px;
    right: 10px;
    border-radius: 2px;
}
.THIS .slds-has-block-links--space2{
    background: #999;
    fill: white;
    padding: 0 16px;
    text-align: center;
    color: white;
    position: absolute;
    top: -5px;
    right: 10px;
    border-radius: 2px;
}
.THIS .slds-has-block-links--space3{
    background: #FF9300;
    fill: white;
    padding: 0 16px;
    text-align: center;
    color: white;
    position: absolute;
    top: -5px;
    right: 10px;
    border-radius: 2px;
}

@media screen and (max-width: 500px){
    .THIS  {
        padding: 0;
    }
    
    .THIS .slds-has-block-links--space,
    .THIS .slds-has-block-links--space2,
    .THIS .slds-has-block-links--space3 {
     	right: 0;   
    }
    
}