.pat-menu-items {
    height: auto;
    width: 281px;
    border: 1px solid #ecf3ff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #ecf3ff;
    margin-top: 1px;
}
.curr-mode-title {
    height: 40px;
    width: 265px;
    border-radius: 4px;
    background-color: #ffffff;
    margin-bottom: 10px;
}
.curr-mode-delg-title {
    height: 57px;
    width: 265px;
    border-radius: 4px;
    background-color: #ffffff;
}
.self {
    color: #444444;
    font-family: 'Proxima Nova';
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 24px;
    padding: 10px 0 0 10px;
}
.my-icon {
    --sds-c-icon-color-foreground-default: #0768fd;
}
.participant-label {
    height: 24px;
    color: #444444;
    font-family: 'Proxima Nova';
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 24px;
}
.participant-title {
    height: 17px;
    color: #999999;
    font-family: 'Proxima Nova';
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 16px;
}
.title-delg-grid {
    width: 313px;
}
