.pat-menu-items {
    height: auto;
    width: 281px;
    border: 1px solid #ecf3ff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #ecf3ff;
}
.curr-mode-title {
    border-radius: 4px;
    background-color: #ffffff;
}
.curr-mode-delg-title {
    width: 265px;
    border-radius: 4px;
    background-color: #ffffff;
    cursor: pointer;
}
.self {
    height: 40px;
    color: #444444;
    font-size: 16px;
    font-weight: bold;
}
.delegate-item {
    height: 57px;
    width: 265px;
    border-radius: 4px;
    background-color: #ffffff;
    cursor: pointer;
}
.participant-delegate-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #444444;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.participant-delegate-email {
    color: #999999;
    font-size: 14px;
}
.chevron-icon {
    --sds-c-icon-color-foreground-default: #015ff1;
    cursor: pointer;
}
.participant-label {
    height: 24px;
    color: #444444;
    font-size: 16px;
    font-weight: 500;
}
.participant-title {
    height: 17px;
    color: #999999;
    font-size: 14px;
    font-weight: 500;
}
.title-delg-grid {
    width: 313px;
}
.participant-overflow-scroll {
    overflow-y: auto;
    max-height: 235px;
    overflow-x: hidden;
}
.helptext-pos {
    position: relative;
    margin-right: -20px;
}
@media all and (max-width: 500px) {
    .participant-overflow-scroll {
        max-height: 303px;
    }
}
/* Scroll bar custom */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #fff;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #999999;
}
