/**
 * Created by Yulia Yakushenkova on 1/31/2020.
 */

.THIS.sv-panel {
    /*min-height: 330px;*/
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
}

.THIS .sv-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.THIS .sv-title {
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    padding: 16px;
}

.THIS .sv-btn {
    box-shadow: 0 4px 8px 0 rgba(41, 125, 253, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.04),
        0 8px 16px 0 rgba(41, 125, 253, 0.32);
}

.THIS .sv-body {
    min-height: 220px;
    position: relative;
}

.THIS .sv-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-grow: 1;
    height: 49px;
    background-color: #f8f9fb;
}
.THIS .leftIcon {
    display: inline-block;
    margin-bottom: 5px;
}
.THIS .sv-footerRTL {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-grow: 1;
    height: 49px;
    background-color: #f8f9fb;
}
.THIS .text-item .text-item__de {
    padding-left: 5px;
}

.THIS .sv-footer .cRRLink.rr-link {
    padding-right: 16px;
    position: relative;
    font-size: 1rem;
}

.THIS .sv-footer .cRRLink.rr-link:after {
    content: '';
    position: absolute;
    background-size: 14px 14px;
    background-image: url(/resource/1569526732000/ChevronRightBlue);
    height: 14px;
    width: 14px;
    top: 10px;
    right: 0;
    opacity: 0.7;
}

.THIS .travel-cell {
    display: flex;
    align-items: center;
}

.THIS .icon-item {
    width: 23px;
    height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.THIS .svl-icon {
    height: 15px;
    /*width: 20px;*/
}

.THIS .main-container .message {
    padding: 20% 0 0;
}

.THIS .cEmptyListStub:after {
    content: '';
    position: absolute;
    background-size: 40px 40px;
    background-image: url(/resource/1569528630000/iconNotes);
    height: 40px;
    width: 40px;
    top: 45px;
    right: 46%;
    opacity: 0.3;
}

.THIS .cRRTable.rr-table th,
.THIS .cRRTable.rr-table td {
    padding: 4px 13px;
    font-size: 16px;
}

@media (any-pointer: coarse) {
    .THIS .sv-footer .cRRLink.rr-link:after {
        top: 7px;
    }
}
