.profile-patientID {
    color: #595959;
    font-family: "Proxima Nova";
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 25px;
    width: auto;
}

.profile-patientName {
    width: 191px;
    color: #595959;
    font-family: "Proxima Nova";
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 35px;
}

.header-label {
  height: 20px;
  width: 114px;
  color: #000000;
  font-family: "Proxima Nova";
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 21px;
}

.label-value {
  height: 10px;
  color: #444444;
  font-family: "Proxima Nova";
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 24px;
}

.label-study {
  color: #444444;
  font-family: "Proxima Nova";
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
}
.slds-spinner_container {
    background-color: white;

}
.exclude {
  background-color: red;
    font-size: 12px;
    color: white;
    padding: 2px 8px 2px 8px;
    border-radius: 2px;
}