.THIS .apollo-btn.secondary {
    padding: 6px;
}

.THIS .apollo-btn.secondary:hover {
    box-shadow: none;
}

.THIS .slds-button {
    box-shadow: none;
    border: none;
    font-weight: 600;
}

.THIS .cReferHealthcareProviderInputs:nth-child(6) {
    order: 7;
}

@media all and (max-width: 768px) {
    .THIS .apollo-btn.secondary {
        margin-bottom: 15px;
    }
}
