/**
 * Created by Andrii Kryvolap.
 */
table {
    table-layout: fixed;
}

thead > tr {
    background: #f6f7fb;
    color: #595959;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
}

tbody > tr {
    color: #444444;
    font-size: 16px;
    line-height: 30px;
    border-bottom: 2px solid #f8f9fb;
    display: flex;
}

td,
th {
    padding: 10px;
}

.rtl {
    padding: 10px;
    text-align: right !important;
}
.rtlPoints {
    padding: 10px;
    text-align: right !important;
    margin-left: 14px;
}

tbody {
    display: block;
    overflow: auto;
}

thead tr {
    display: flex;
    height: 2.75rem;
}

::-webkit-scrollbar:vertical {
    width: 8px;
}

::-webkit-scrollbar:horizontal {
    height: 8px;
}

::-webkit-scrollbar-thumb:vertical {
    width: 8px;
    height: 100px;
}

::-webkit-scrollbar-thumb:horizontal {
    width: 100px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #999999;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.16);
}

::-webkit-scrollbar-track {
    display: none;
}

::-webkit-scrollbar-button {
    height: 0;
}

tr > th:nth-child(1),
tr > td:nth-child(1) {
    width: 22%;
}

tr > th:nth-child(2),
tr > td:nth-child(2) {
    width: 58%;
}

tr > th:nth-child(3),
tr > td:nth-child(3) {
    width: 20%;
    text-align: end;
    white-space: nowrap;
    padding-left: 0;
}

tbody {
    width: 100%;
    height: calc(55vh - 8.5rem);
}

@media all and (max-width: 1024px) {
    tbody {
        max-height: 250px;
        overflow-y: auto;
        padding-right: 10px;
    }
}

@media all and (max-width: 767px) {
    tr > th:nth-child(1),
    tr > td:nth-child(1) {
        width: 30%;
    }

    tr > th:nth-child(2) {
        width: 35%;
        padding-left: 0;
    }

    tr > td:nth-child(2) {
        width: 50%;
        line-height: 24px;
        padding-left: 5px;
        padding-top: 12px;
    }

    tr > th:nth-child(3) {
        width: 35%;
    }

    tr > td:nth-child(3) {
        width: 25%;
        text-align: end;
    }

    .incentives-my-points-table-container {
        overflow: auto;
    }
}
