/**
 * Created by Leonid Bartenev
 */
.THIS.rr-white-panel {
    padding: 16px 0 0;
}

.THIS .vpi-title{
    font-size: 18px;
    font-weight: 600;
}
.THIS .slds-icon{
    background: blue;
    margin-left: 10px;
    border-radius: 50%;
}
.THIS .slds-button--neutral{
    background: #297dfd;
    color: white;
    border: 0px solid #d9d9d9;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.04);
    padding: 2px 10px;
    font-size: 1rem;
}

.THIS .vpi-title.link{
    color: #3294FE;
    cursor: pointer;
}

.THIS .width-basis{
    flex-basis: auto;
}

.THIS .vpi-state{
    padding-left: 0!important;
    padding-right: 0!important
}

.THIS .vri-state-label{
    text-align: center;
    font-size: 1rem;
    line-height: 1.5rem;
}


.THIS .vpi-line-div{
    height: 22px;
    border-top: 3px solid;
    padding-right: 0;
    padding-left: 0;
}

.THIS .vpi-line-div.neutral{
    border-top-color: #b5b5b5;
}

.THIS .vpi-line-div.success{
    border-top-color: #00c221;
}


.THIS .vpi-line-div.in_progress{
    border-top-color: #00c221;
}

.THIS .vpi-line-div.failure{
    border-top-color: #E20000;
}

.THIS .vpi-path{
    margin: 30px 0 5px;
    padding: 0 15px;
}

.THIS .vpi-path .vpi-state:first-child .vpi-line-div:first-child{
    border-top-color: transparent;
}

.THIS .vpi-path .vpi-state:last-child .vpi-line-div:last-child{
    border-top-color: transparent;
}

.THIS .state-ico-wrapper{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    left: -9px;
    line-height: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.THIS .state-ico-wrapper .rr-icon-default{
    width: 14px;
    height: 14px;
    padding: 0;
    fill: white;
}

.THIS .vpi-state.current .state-ico-wrapper{
    width: 28px;
    height: 28px;
    top: -15px;
    left: -14px;
}

.THIS .vpi-state.current .state-ico-wrapper .rr-icon-default{
    width: 24px;
    height: 24px;
    padding: 1px;
}

.THIS .vpi-state.neutral .state-ico-wrapper{
    background-color: #b5b5b5;
}

.THIS .vpi-state.neutral .state-ico-wrapper .cRRIcon {
    display: none;
}

.THIS .vpi-state.success .state-ico-wrapper{
    background-color: #00c221;
}

.THIS .vpi-state.in_progress .state-ico-wrapper{
    background-color: #005ff1;
}

.THIS .vpi-state.failure .state-ico-wrapper{
    background-color: #E20000;
}

/* status names */

.THIS .vpi-state.neutral .vri-state-label{
    color: #999;
}

.THIS .vpi-state.success .vri-state-label{
    color: #000;
}

.THIS .vpi-state.in_progress .vri-state-label{
    color: #000;
}

.THIS .vpi-state.failure .vri-state-label{
    color: #000;
}

.THIS .vri-state-label{
    display: none;
}

.THIS .vpi-state.current .vri-state-label{
    display: block;
    font-weight: 600;
}


.THIS .vpi-path-panel .path-section{
    padding: 0 0 10px;
}

/*
.THIS .vpi-path-panel .path-section-pi {
    padding-bottom: 10px;
}
*/
.THIS .vpi-path-panel .collapse-section{
    padding: 0;
    font-size: 14px;
    line-height: 22px;
    transition: 0.6s;
    border-radius: 5px;
    margin: 0;
}

.THIS .vpi-path-panel .collapse-section.opened{
    background-color: white;
}

.THIS .cParticipantCardFields .vpi-field label{
    white-space: nowrap;
}

.THIS .vpi-status-btns {
    display: flex;
    justify-content: center;
    padding-left: 63%;

}

.THIS .vpi-status-btns > div {
    text-align: center;
}

.THIS .vpi-status-btns button{
    margin-top: 15px;
    margin-bottom: 25px;
    min-width: auto;

}

@media all and (max-width: 768px){
     .THIS .vpi-status-btns button{
        margin: 5px 0 10px 0;
        width: 100%;
    } 
    .THIS .vpi-status-btns {
     	padding-right: 15px; 
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

@media all and (min-width: 1024px) {
    .THIS .vri-state-label{
        display: block;
    }
    .THIS .width-basis{
        flex-basis: 0;
    }

    .THIS .state-ico-wrapper{
        width: 28px;
        height: 28px;
        top: -15px;
        left: -14px;
    }

    .THIS .state-ico-wrapper .rr-icon-default{
        width: 24px;
        height: 24px;
        padding: 1px;
    }

    .THIS .vpi-refid-field {
        display: inline-block;
        vertical-align: middle;
        padding: 0 10px;
        margin: 5px 0;
    }

    .THIS .vpi-refid-field > .label {
        color: #7F888D;
        font-size: 10px;
        font-weight: bold;
        line-height: 12px;
        text-transform: uppercase;
    }

    .THIS .vpi-refid-field > .value {
        color: #000000;
        font-size: 14px;
        line-height: 18px;
        height: 18px;
        font-weight: 600;
    }
    .THIS .slds-small-size_6-of-12 {
        margin-left: 175px;
    }
}