/**
 * Created by Admin on 9/12/2019.
 */

.THIS {

}

.THIS .checkbox-container {
    height: 2em;
}

.THIS .label-default {
    height: 1.7em;
    width: 100%;
}

.THIS .label {
    color: #444444;
    font-family: "Proxima Nova";
    font-size: 14px;
}

.THIS .slds-form-element__label {
    color: #000000;
    font-family: "Proxima Nova";
    font-size: 16px;
}

.THIS .slds-input {
    height: 32px;
    width: 330px;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0);
}

.THIS .margin-top {
    margin-top: 3em;
}

.THIS .slds-button .slds-button_neutral {
    border: 0.5px solid #d9d9d9;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 10px 0 rgba(41,125,253,0.2);
}

.THIS .slds-checkbox .slds-checkbox_faux {
    border: 1px solid #999999;
    width: 16px;
    height: 16px;
    border-radius: 3px;
}

.THIS .slds-checkbox [type=checkbox]:checked + .slds-checkbox_faux:after,
.THIS .slds-checkbox [type=checkbox]:checked + .slds-checkbox--faux:after,
.THIS .slds-checkbox [type=checkbox]:checked ~ .slds-checkbox_faux:after,
.THIS .slds-checkbox [type=checkbox]:checked ~ .slds-checkbox--faux:after,
.THIS .slds-checkbox [type=checkbox]:checked + .slds-checkbox__label .slds-checkbox_faux:after,
.THIS .slds-checkbox [type=checkbox]:checked + .slds-checkbox__label .slds-checkbox--faux:after{
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    width: 9px;
    height: 5px;
    top: 6px;
}

.THIS .slds-checkbox [type=checkbox]:checked + .slds-checkbox_faux,
.THIS .slds-checkbox [type=checkbox]:checked + .slds-checkbox--faux,
.THIS .slds-checkbox [type=checkbox]:checked ~ .slds-checkbox_faux,
.THIS .slds-checkbox [type=checkbox]:checked ~ .slds-checkbox--faux,
.THIS .slds-checkbox [type=checkbox]:checked + .slds-checkbox__label .slds-checkbox_faux,
.THIS .slds-checkbox [type=checkbox]:checked + .slds-checkbox__label .slds-checkbox--faux{
    background-color: #297DFD;
    border-color: #297DFD;
}