.THIS .rr-body-content {
    padding-bottom: 50px;
    padding-top: 50px;
}

.THIS .arabic {
    direction: rtl !important;
    padding-bottom: 100px;
}
.THIS.english {
    padding-bottom: 100px;
}
.THIS.slds-text-longform-rtl {
    direction: rtl !important;
}

.THIS .main-header {
    font-size: 24px;
    font-weight: 600;
    line-height: 64px;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 15px;
}

.THIS .tc-accept-text {
    color: #444;
    margin-right: auto;
}
.THIS .tc-accept-text-rtl {
    float: right !important;
    margin-right: 5px !important;
}

.THIS .rr-bottom-bar .bar-content {
    justify-content: right;
}

.THIS .tc-bottom-bar-content {
    justify-content: space-between !important;
}

.THIS a {
    color: #297dfd;
    display: inline-block;
    padding: 3px;
}

.THIS a:hover {
    border-radius: 2px;
    background-color: #eef5ff;
}

.THIS .bottom-line-with-cookie {
    bottom: 85px !important;
}

.THIS .padding-for-cookie-policy {
    padding-bottom: 185px !important;
}