.THIS .ss-lightning-input label {
    height: 21px;
    color: #444;
    font-family: 'Proxima Nova';
    font-size: 13px;
    font-weight: 500;
    line-height: 21px;
    margin-bottom: 4px;
}

.THIS .delegate-select {
    width: 100%;
    color: #000000;
    font-size: 14px;
}

.THIS .slds-accordion__section{
    padding-top: 0px;
    padding-bottom: 0px;
}

.THIS .input-fields-labels {
    height: 21px;
    color: #444;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 21px;
}
.THIS .input-fields-labelsRTL {
    height: 21px;
    color: #444;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 21px;
}

.THIS .toggle-label {
    padding-right: 30px;
}

.THIS .criteria-body {
    margin: 0 5px 10px 35px;
    font-size: 0.875rem;
}

.THIS .collapse-wrapper .rr-collapse-panel .body {
    white-space: pre-wrap;
}

.THIS .rr-form-element + .rr-form-element {
    margin-top: 0;
    margin-bottom: 25px;
}

.THIS .rr-form-element {
    margin-bottom: 5px;
}

.THIS .IQVIA_contact-patient-checkbox {
    display: inline-block;
    margin-bottom: 20px;
}
.THIS .slds-checkbox_faux{ 
    margin-right:auto; 
} 
@if(isRTL) 
{ .THIS .slds-checkbox_faux{ margin-right:0px;  } }

.THIS .criteria-body {
    margin: 0 5px 10px 24px;
    font-size: 0.875rem;
}

.THIS .slds-checkbox_toggle.slds-grid {
    margin-top: 5px;
}

.THIS .slds-checkbox_toggle.slds-grid .slds-form-element__label{
    display: none;
}

@media all and (min-width: 769px) {

    .THIS .slds-accordion__content .ss-info-container > .slds-grid > .slds-grid:nth-of-type(5) .input-fields-labels {
        padding: 10px 10px 0 0;
    }
    .THIS .slds-accordion__content .ss-info-container > .slds-grid > .slds-grid:nth-of-type(5) .input-fields-labelsRTL {
        padding: 10px 0px 0 10px;
    }
    
}

@media all and (max-width: 768px) {

    .THIS .slds-accordion__content .ss-info-container > .slds-grid > .slds-grid:nth-of-type(5) .slds-grid {
        display: flex;
        flex-direction: column;
    }

    .THIS .slds-accordion__content .ss-info-container > .slds-grid > .slds-grid:nth-of-type(5) .input-field-labels {
        padding: 10px 10px 0 0;
    }

    .THIS .ss-info-container > .slds-grid > div {
        margin-bottom: 25px;
    }
}

@media all and (max-width: 500px) {
    .THIS .criteria-body {
        margin-left: 5px;
    }
    
    .THIS .slds-accordion__summary {
        flex-wrap: wrap;
    }
    
     .THIS .slds-accordion__summary .slds-accordion__summary-heading {
        margin-bottom: 15px;
    }
    
    .THIS .ss-info-container .rr-form-element {
        margin-bottom: 0;
    }
    
    .THIS .ss-info-container > .slds-grid > div.slds-wrap {
        margin-bottom: 15px;
    }
    
    .THIS .slds-accordion__content .ss-info-container > .slds-grid > .slds-grid:nth-of-type(5) {
        display: flex;
        flex-direction: column;
    }
    
    .THIS .slds-accordion__content .ss-info-container > .slds-grid > .slds-grid:nth-of-type(5) .slds-grid {
        width: 100%;
        padding: 0;
    }
}