.change-preferences {
    height: 24px;
    color: #015ff1;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 24px;
    text-decoration: underline;
}

.url-disclaimer {
    color: #444444;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 21px;
    margin-bottom: 4px;
}
.contribute {
    height: 17px;
    color: #444444;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 17px;
}
.input-container {
    box-sizing: border-box;
    height: 32px;
    border: 1px solid #d9d9d9;
    border-radius: 16px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0);
}
.contribute-input-main {
    display: flex;
    margin-top: 11px;
}
.input-section {
    width: auto;
    height: 32px;
}
.resource-btn {
    height: 32px;
}
.task-save-btn > .slds-brand:hover {
    color: #0557d5;
    box-shadow: none;
}

.task-save-btn-opacity {
    opacity: 0.4;
}
.submit-button-rtl{
    padding-right: 10px;
}