.center {
    text-align: center;
}
.image-result-mobile {
    height: 92px;
    width: 128px;
    margin: 1rem 1rem 0 1rem;
}
.check-for-results-on {
    height: 32px;
    width: 348px;
    color: #999999;
    font-family: 'Proxima Nova';
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 32px;
    text-align: center;
}
.view-result {
    color: #2e7cf3;
}
.what-to-expect {
    height: 32px;
    width: 100%;
    max-width: 423px;
    color: #444444;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 32px;
    font-weight: 550;
    text-align: left;
}
.icon-cont1 {
    box-sizing: border-box;
    height: 519px;
    width: 100%;
    border: 1px solid #d9d9d9;
    border-radius: 16px;
    background: linear-gradient(180deg, #ffffff 0%, #ffffff 100%);
}

.icon-cont1 .slds-wrap {
    flex-direction: column;
    align-items: center;
}
.view-result-mob {
    margin-bottom: 2rem;
}
.icon-cont1-mobile {
    box-sizing: border-box;
    height: auto;
    border: 1px solid #d9d9d9;
    border-radius: 16px;
    background: linear-gradient(180deg, #ffffff 0%, #ffffff 100%);
}
