.center {
    text-align: center;
}
.image-result-mobile {
    height: 92px;
    width: 128px;
    margin: 1rem 1rem 0 1rem;
}
.check-for-results-on {
    height: 32px;
    width: 348px;
    color: #999999;
    font-family: 'Proxima Nova';
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 32px;
    text-align: center;
}
.view-result {
    color: #015ff1;
    margin-bottom: 2rem;
}
