.THIS .visit-results-disclaimer {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 90%;
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    margin-top: 2px;
    color: #999999;
}

.THIS .visit-results-body {
    border-top: 1px solid #d9d9d9;
    min-height: 200px;
    margin-left: -16px;
    margin-right: -16px;
    margin-top: 1rem;
}

.THIS .visit-results-title {
    font-size: 18px;
    line-height: 22px;
    padding-top: 22px;
    padding-left: 16px;
    font-family: 'Proxima Nova';
    color: #000000;
}
.THIS .visit-results-titleRTL {
    font-size: 18px;
    line-height: 22px;
    padding-top: 22px;
    padding-left: 16px;
    font-family: 'Proxima Nova';
    color: #000000;
}

.THIS .visit-result-panel-date {
    height: 19px;
    color: #595959;
    font-family: 'Proxima Nova';
    font-size: 16px;
    letter-spacing: 0;
    line-height: 16px;
    margin-bottom: 28px;
}

.THIS .visit-result-item-description {
    margin: 0 0 0 2px;
    position: absolute;
}

.THIS .visit-result-item-description .slds-form-element__icon {
    padding-top: 0;
}

.THIS .visit-result-item-description .slds-button {
    color: #999999;
}
.THIS .visit-results-container {
    display: flex;
    padding: 15px 2px;
    justify-content: space-evenly;
    overflow-x: auto;
}

.THIS .visit-results-item {
    height: 100%;
    padding-top: 16px;
    padding-left: 8px;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.THIS .visit-results-itemRTL {
    height: 100%;
    padding-top: 16px;
    padding-right: 8px;
    /* @noflip */
    text-align: right;
    display: flex;
    flex-direction: column;
}

.THIS .visit-result-item-value {
    color: #000000;
    font-size: 20px;
    width: 100%;
    line-height: 24px;
    height: 24px;
    font-weight: 600;
}

.THIS .visit-result-item-name {
    color: #595959;
    font-size: 15px;
    width: 100%;
    line-height: 24px;
    margin-top: 7px;
    text-overflow: ellipsis;
    position: relative;
    padding-right: 15px;
}

.THIS .visit-result-item-name-rtl {
    color: #595959;
    font-size: 15px;
    width: 100%;
    line-height: 24px;
    margin-top: 7px;
    text-overflow: ellipsis;
    position: relative;
    /* @noflip */
    padding-left: 15px;
}

.THIS .visit-results-panel-disclaimer {
    color: #595959;
    font-family: 'Proxima Nova';
    font-size: 16px;
    line-height: 24px;
    padding: 30px 15px 15px;
    text-align: center;
}

.THIS .visit-result-item-measurement {
    color: #444;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Proxima Nova';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-top: 5px;
}

.THIS .hidden {
    display: none;
}

.THIS .hptp-body {
    padding: 0 15px 15px 15px;
}

.THIS .objective-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.THIS .objective-section .objective-text {
    height: 16px;
    color: #595959;
    font-size: 16px;
    line-height: 1px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 11px 0;
}

.THIS .objective-section .objective-link {
    white-space: nowrap;
    margin-left: 3px;
    font-size: 16px;
    flex-shrink: 0;
}
.THIS .visit-results-containerRTL {
    display: flex;
    justify-content: space-around;
    padding-left: 6px;
}

@media all and (max-width: 500px) {
    .THIS .visit-results-container {
        flex-wrap: wrap;
        justify-content: flex-start;
        padding-left: 15px;
    }

    .THIS .visit-results-item {
        min-width: 160px;
        padding-left: 0;
        flex: 1 1 0;
    }

    .THIS .visit-results-item:last-child {
        min-width: 185px;
    }
}

@media all and (max-width: 768px) {
    .THIS .visit-results-containerRTL {
        display: unset !important;
    }
}
.THIS .bio-russ-lang-suprt {
    padding-left: 2.5rem;
    overflow-x: auto;
}
