.THIS .visit-results-disclaimer {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 90%;
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    margin-top: 2px;
    color: #999999;
}

.THIS .visit-results-body {
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    min-height: 200px;
    box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.15);
}

.THIS .visit-results-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    padding: 10px 20px;
    font-family: "Proxima Nova";
}

.THIS .visit-results-container {
    display: flex;
    padding: 15px 0;
    justify-content: center;
}

.THIS .visit-results-item {
    width: 25%;
    padding: 5px;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.THIS .visit-result-item-value {
    color: #000000;
    font-size: 28px;
    width: 100%;
    line-height: 34px;
    height: 34px;
}

.THIS .visit-result-item-name {
    color: #595959;
    font-size: 18px;
    font-weight: 600;
    width: 100%;
    line-height: 22px;
    margin-top: 5px;
    display: inline-block;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.THIS .visit-results-panel-disclaimer {
    color: #595959;
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    text-align: center;
    padding-bottom: 15px;
}

.THIS .visit-result-item-measurement {
    color: #444;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "Proxima Nova";
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-top: 5px;
}

.THIS .hidden {
    display: none;
}

.THIS .hptp-body {
    padding: 0 15px 15px 15px;
}

.THIS .objective-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.THIS .objective-section .objective-text {
    height: 16px;
    color: #333333;
    font-size: 13px;
    line-height: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.THIS .objective-section .objective-link {
    white-space: nowrap;
    margin-left: 3px;
    font-size: 13px;
    flex-shrink: 0;
}