/**
* Created by Leonid Bartenev
*/

/*  Tooltip for Text length overflow -added by Enugothula Srinath */
.THIS .tooltip span {
    text-decoration: none;
    position: absolute;
    background-color: #002448;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    font-size: 0.85rem;
    font-weight: 400;
    text-align: left;
    width: max-content;
    max-width: 400px;
    top: 0;
    left: 45%;
    margin-top: -10px;
    visibility: hidden;
    opacity: 0;
}
.THIS .tooltip:hover {
    position: relative;
}
.THIS .tooltip:hover span {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -100%) scale(1);
    animation: pulse 1s;
}
.THIS .tooltip:hover span::after {
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border: solid transparent;
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-top: 8px solid #002448;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    border-width: 10px;
}
.THIS .tooltip {
    position: relative;
    cursor: pointer;
}
.THIS .textoverlap {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 13rem;
}
.THIS .textoverlapMiddleName {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 13.5rem;
}
.THIS .textoverlapDaytimeTelephoneNumbe1 {
    width: 16rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.THIS .textoverlapDaytimeTelephoneNumbe2 {
    width: 12rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.THIS .textoverlapDaytimeTelephoneNumbe3 {
    width: 13rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
/*End*/
.THIS .tooltipRTL span {
    text-decoration: none;
    /* transform: translate(-50%, -100%) scale(.5); */
    position: absolute;
    background-color: #002448;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    font-size: 0.85rem;
    font-weight: 400;
    text-align: left;
    /*    box-shadow: 0 0 4px 2px rgba(0,0,0,.2); */
    width: max-content;
    max-width: 220px;
    top: 0;
    right: 45%;
    margin-top: -10px;
    visibility: hidden;
    opacity: 0;
}

.THIS .rr-form-element + .rr-form-element {
    margin-top: 0;
    margin-bottom: 25px;
}
.THIS .slds-datepicker table {
    table-layout: fixed;
    width: 300px;
}
.THIS .slds-checkbox {
    display: inline-flex;
}
.THIS .slds-datepicker .slds-day {
    width: auto !important;
    min-width: auto !important;
    height: auto !important;
    line-height: inherit !important;
}
.THIS .rightAlign .slds-datepicker table {
    table-layout: fixed;
    width: 300px;
}
.THIS .rightAlign .slds-input {
    padding-right: 2px;
}
.THIS .rightAlign .slds-datepicker .slds-day {
    width: auto !important;
    min-width: auto !important;
    height: auto !important;
    line-height: inherit !important;
}
.THIS .rightAlign .slds-input__icon_right {
    /* @noflip */
    margin-right: 83%;
}
.THIS .rr-form-element {
    margin-bottom: 25px;
}

.THIS .ap-section-title {
    font-size: 1rem;
    line-height: 36px;
    color: #000;
    font-weight: 600;
}

.THIS .ap-section + .ap-section {
    margin-top: 20px;
}

.THIS .ap-section > .slds-grid.rr-form-element .slds-form-element__help {
    white-space: nowrap;
}

.THIS .ap-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-bottom: 80px;
}

.THIS .apollo-btn.custom-cancel {
    background-color: #e8e8e8;
}

.THIS .rr-form-element .slds-form-element__label {
    display: none;
}

.THIS .rr-form-element .cRrSelect .slds-select_container .slds-select {
    margin-top: 0;
    line-height: 24px;
}

.THIS .slds-form-element__icon {
    padding-top: 0;
    margin-left: 3px;
}
.THIS .lightning-primitiveicon_primitiveicon-host {
    padding: 20px;
    color: white;
}

.THIS .rr-error {
    color: rgb(194, 57, 52);
    margin-bottom: 4px;
    font-size: 0.75rem;
}

.THIS .visit-plan-display {
    width: fit-content;
    min-width: 20%;
}

@media all and (max-width: 480px) {
    .THIS .ap-section > .slds-grid.rr-form-element .slds-form-element__help {
        margin-top: 30px;
    }

    .THIS .ap-section > .slds-grid.rr-form-element .slds-size--2-of-10 {
        min-width: 50%;
    }

    .THIS .dob-mobile-size{
   font-size: medium;
   text-rendering: geometricPrecision 500 ;
   color: #000000;
}
.THIS .container{
    margin-top: -51px !important;
    margin-top: -51px !important; 
}
}