.title {
    height: 32px;
    width: 302px;
    color: #000000;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 32px;
}
.button-primary-small-basic-dis {
    height: 48px;
    width: 318px;
    color: #000000;
}
.h2Class {
    font-size: 20px;
}
.slds-slds-button {
    background-color: rgb(133 177 238);
    border-radius: 12px;
    width: 300px;
    color: rgb(209 213 218);
}