.THIS .te-task-panel {
    min-height: 400px;
    max-width: 1140px;
    margin: 25px auto -80px;
}
.THIS .mr_8 {
    margin-left: -8px;
}
.THIS .slds-button {
    z-index: 1000;
}
.THIS .vis-input {
    width: 209px;
}
.THIS .title {
    height: 60px;
    /* width: 190px; */
    color: #000;
    font-family: Proxima Nova;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0;
    white-space: nowrap;
    margin-top: -25px;
    margin-left: 16px;
}
.THIS .slds-datepicker table {
    table-layout: fixed;
    width: 300px;
}
.THIS .slds-form-element__help {
    white-space: nowrap;
}

.THIS .mr_10 {
    margin-top: 10px;
}
.THIS .slds-input.slds-combobox__input {
    color: #000000;
    font-family: 'Proxima Nova';
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    font-weight: 500;
}
.THIS .slds-input {
    color: #000000;
    font-family: 'Proxima Nova';
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    font-weight: 500;
}
.THIS .label {
    height: 24px;
    width: 209.13px;
    color: #444444;
    font-family: 'Proxima Nova';
    font-size: 14px;
    letter-spacing: 0;
    line-height: 24px;
    padding-bottom: 20px;
}
.THIS .container1 {
    height: 40px;
    width: 418px;
}
.THIS .what-to-expect {
    height: 24px;
    width: 136px;
    color: #000000;
    font-family: 'Proxima Nova';
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -28px;
}

.THIS .container {
    height: 40px;
    width: 209px;
}
.THIS .reminderDate {
    margin-left: -113px;
    margin-top: 5px;
}
.THIS .reminder {
    margin-left: -111px;
    margin-top: 5px;
}
.THIS .wi {
    width: 209px;
}
.THIS .slds-datepicker .slds-day {
    width: auto !important;
    min-width: auto !important;
    height: auto !important;
    line-height: inherit !important;
}
.THIS .rightAlign .slds-datepicker table {
    table-layout: fixed;
    width: 300px;
}
.THIS .rightAlign .slds-input {
    padding-right: 2px;
}
.THIS .rightAlign .slds-datepicker .slds-day {
    width: auto !important;
    min-width: auto !important;
    height: auto !important;
    line-height: inherit !important;
}
.THIS .rightAlign .slds-input__icon_right {
    margin-right: 12.5rem;
}
.THIS .rightAlign1 .slds-datepicker table {
    table-layout: fixed;
    width: 300px;
}
.THIS .rightAlign1 .slds-input {
    padding-right: 2px;
}
.THIS .rightAlign1 .slds-datepicker .slds-day {
    width: auto !important;
    min-width: auto !important;
    height: auto !important;
    line-height: inherit !important;
}
.THIS .rightAlign1 .slds-input__icon_right {
    margin-right: 10.5rem;
}
.THIS .task-rtl-remind {
    direction: rtl !important;
    text-align: right;
    margin-left: 416px;
}

.THIS .rr-white-panel {
    overflow: visible;
    margin-top: -65px;
    font-family: 'Proxima Nova';
    border: none;
    box-shadow: none;
}
.THIS .rr-white-panelRTL {
    overflow: visible;
    margin-top: -57px;
    font-family: 'Proxima Nova';
    border: none;
    box-shadow: none;
    text-align: right;
}

.THIS .rr-body-content {
    display: none;
}

.THIS .te-col {
    margin-bottom: 10px;
}

.THIS .te-col-horizontal {
    margin-bottom: 10px;
    max-width: 360px;
}

.THIS .buttons-right {
    align-items: left;
}

.THIS .margin_20 {
    margin-left: 20px;
}

.THIS .te-col-header {
    margin-bottom: 10px;
    font-size: 18px;
    font-family: 'Proxima Nova';
    white-space: nowrap;
    height: 32px;
    width: 216px;
    color: #000000;
    letter-spacing: 0;
    line-height: 32px;
}

.THIS .te-col-header-info {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 14px;
    font-family: 'Proxima Nova';
}

.THIS .p-header.normal {
    color: #000000;
    font-family: 'Proxima Nova';
    font-size: 20px;
    font-weight: 600;
}

.THIS .rr-white-panel > .slds-grid.slds-wrap > .slds-col:first-child {
    margin-bottom: 0.75rem;
}

.THIS .slds-form-element__label {
    font-size: 14px;
    color: #444;
    font-family: 'Proxima Nova';
}

.THIS .p-header {
    margin-right: -53%;
}

.THIS .slds-select,
.THIS .slds-input {
    font-size: 16px;
    color: #444;
    font-family: 'Proxima Nova';
    height: 40px;
    display: flex;
    align-items: center;
    font-weight: 500;
}

.THIS .task-rtl > .slds-form-element {
    direction: rtl !important;
    text-align: right;
}

.THIS .slds-checkbox {
    padding-bottom: 10px;
}

.THIS .te-col-changeNotif {
    font-size: 14px;
    font-family: 'Proxima Nova';
}

.THIS .p-content {
    overflow-y: hidden;
}

.THIS .p-content.with-scroll {
    overflow-y: auto;
}

.THIS .disabledVisit .slds-input,
.THIS .disabledVisit .slds-select {
    background: #f2f2f2;
    color: #999;
    opacity: 1;
}

.THIS .disabledVisit .slds-form-element__label {
    opacity: 0.4;
}

@media only screen and (max-width: 500px) and (orientation: portrait) {
    .THIS .rr-white-panel {
        padding: 20px 0;
    }
    .THIS.cPopup .p-container .p-footer {
        padding: 5px 1rem;
    }

    .THIS .slds-select,
    .THIS .slds-input {
        min-width: 95%;
    }

    .THIS .p-buttons-container > div {
        display: flex;
        flex-wrap: wrap;
    }

    .THIS .p-buttons-container .slds-button:nth-of-type(1) {
        order: 4;
        margin-left: 10px;
        width: 40%;
    }
    .THIS .p-buttons-container .slds-button:nth-of-type(2) {
        order: 1;
        min-width: 25%;
        margin-left: 0;
    }
    .THIS .p-buttons-container .slds-button:nth-of-type(3) {
        order: 2;
        width: 70%;
        margin-bottom: 1rem;
        margin-left: 10px;
    }
    .THIS .p-buttons-container .slds-button:nth-of-type(4) {
        order: 3;
        width: 56%;
        margin-bottom: 1rem;
        margin-left: 0;
    }
}

@media only screen and (max-width: 360px) and (orientation: portrait) {
    .THIS .p-buttons-container .slds-button:nth-of-type(3) {
        order: 2;
        width: 65%;
        margin-bottom: 1rem;
        margin-left: 10px;
    }
}
