.THIS .rr-white-panel.padding {
    padding: 1rem 0 0;
}

.THIS #body {
    padding: 0 8px;
}
.THIS .ignoreButton {
    margin-bottom: 2%;
}
.THIS .inlineClass {
    display: inline-block !important;
}
.THIS .rtlSave {
    margin-right: 5% !important;
    min-width: 50% !important;
    margin-left: auto !important;
}
.THIS .rtlSaveAll {
    margin-right: 5% !important;
    min-width: 50% !important;
    margin-left: 0px !important;
}
.THIS .rtlCancel {
    margin-right: 2% !important;
}
.THIS .markComplete {
    margin-left: 5% !important;
}
.THIS .markCompleteRTL {
    margin-right: 5% !important;
    min-width: 50% !important;
}
.THIS .te-task-panel {
    min-height: 545px;
    max-width: 1140px;
    margin: 25px auto -80px;
}

.THIS .slds-dropdown {
    font-size: 16px;
    font-family: 'Proxima Nova';
    color: #000000;
}

.THIS .mr_8 {
    margin-left: -8px;
}

.THIS .slds-button {
    z-index: 1000;
}

.THIS .vis-input {
    width: 209px;
}

.THIS .cRRIconSplitter .icons-row {
    width: auto;
    max-width: 60%;
    flex-wrap: wrap;
}

.THIS .cRRIconSplitter .icon {
    position: relative;
}

.THIS .title {
    height: 60px;
    /* width: 190px; */
    color: #000;
    font-family: Proxima Nova;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0;
    white-space: nowrap;
    margin-top: -25px;
    padding: 10px 0;
}

.THIS .slds-datepicker table {
    max-width: 30rem;
}

.THIS .taskClass > .slds-form-element__help {
    margin-top: 4px;
}
.THIS .wi > .slds-form-element__help {
    margin-top: 4px;
}

.THIS .slds-gutters .slds-p-top_largetask-rtl.rightAlign1 {
    width: auto;
}

.THIS .slds-form-element__help {
    position: absolute;
    width: 256px !important;
    margin-top: 0;
    line-height: 1;
}

.THIS .slds-form-element__row .slds-form-element__help {
    margin-top: 4px;
}

.THIS .slds-checkbox {
    padding-bottom: 10px;
}

.THIS .dateInputs > .slds-p-top_x-small:nth-of-type(4) {
    padding-top: 15px;
}

.THIS .dateInputs .slds-p-top_large {
    padding-top: 15px;
}

.THIS .dateInputs .slds-p-top_large:nth-child(4) {
    padding-bottom: 15px;
    padding-top: 25px;
}

.THIS .dateInputs .slds-p-top_large > .slds-p-top_large {
    padding-top: 10px;
}

.THIS .dateInputs .slds-p-top_large .slds-p-top_medium {
    padding-top: 0;
}

.THIS .rr-white-panel > .slds-p-top_medium {
    margin-top: 5px;
}

.THIS .slds-input.slds-combobox__input {
    color: #000000;
    font-family: 'Proxima Nova';
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    font-weight: 500;
}

.THIS .slds-input {
    color: #000000;
    font-family: 'Proxima Nova';
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    font-weight: 500;
}

.THIS .label {
    height: 24px;
    width: 209.13px;
    color: #444444;
    font-family: 'Proxima Nova';
    font-size: 14px;
    letter-spacing: 0;
    line-height: 24px;
    padding-bottom: 20px;
}

.THIS .container1 {
    height: 40px;
    width: 418px;
}

.THIS .what-to-expect {
    height: 24px;
    color: #000000;
    font-family: 'Proxima Nova';
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -28px;
}

.THIS .containerAdmin {
    height: 40px;
    width: 209px;
}

.THIS .container {
    height: 40px;
    width: 209px;
}

.THIS .reminderDate {
    margin-left: -112px;
    margin-top: -1px;
}
.THIS .tbl table {
    width: 80%;
}

.THIS .reminderDate_rtl {
    margin-top: -1px;
    /* @noflip */
    margin-right: -112px;
}
.THIS .reminderDate_visrtl {
    margin-top: -1px;
    margin-right: -97px;
}
.THIS .vis_reminder {
    margin-left: -99px;
    margin-top: -1px;
}
.THIS .reminder {
    margin-left: -111px;
    margin-top: 5px;
}

.THIS .wi {
    width: 209px;
}
/*
.THIS .slds-datepicker .slds-day {
    width: auto !important;
    min-width: auto !important;
    height: auto !important;
    line-height: inherit !important;
}
*/

.THIS .rightAlign .slds-datepicker table {
    table-layout: fixed;
    width: 300px;
}

.THIS .rightAlign .slds-input {
    padding-right: 2px;
}
/*
.THIS .rightAlign .slds-datepicker .slds-day {
    width: auto !important;
    min-width: auto !important;
    height: auto !important;
    line-height: inherit !important;
}
*/
.THIS .rightAlign .slds-input__icon_right {
    margin-right: 12.5rem;
}

.THIS .rightAlign1 .slds-datepicker table {
    table-layout: fixed;
    width: 300px;
}

.THIS .rightAlign1 .slds-input {
    padding-right: 2px;
}

.THIS .rightAlign1 .slds-datepicker .slds-day {
    width: auto !important;
    min-width: auto !important;
    height: auto !important;
    line-height: inherit !important;
}

.THIS .rightAlign1 .slds-input__icon_right {
    /* @noflip */
    margin-right: 10.5rem;
}

.THIS .slds-p-top_largetask-rtl {
    margin-top: 24px;
}

.THIS .task-rtl-remind {
    direction: rtl !important;
    text-align: right;
    margin-left: 416px;
}

.THIS .rr-white-panel {
    overflow: visible;
    margin-top: -65px;
    font-family: 'Proxima Nova';
    border: none;
    box-shadow: none;
}
.THIS .rr-white-panelRTL {
    overflow: visible;
    margin-top: -57px;
    font-family: 'Proxima Nova';
    border: none;
    box-shadow: none;
    /* @noflip */
    text-align: right;
}

.THIS .rr-body-content {
    display: none;
}

.THIS .te-col {
    margin-bottom: 10px;
}

.THIS .te-col-horizontal {
    margin-bottom: 10px;
    max-width: 360px;
}

.THIS .buttons-right {
    align-items: left;
}

.THIS .margin_20 {
    margin-left: 20px;
}

.THIS .te-col-header {
    margin-bottom: 10px;
    font-size: 18px;
    font-family: 'Proxima Nova';
    white-space: nowrap;
    height: 32px;
    width: 216px;
    color: #000000;
    letter-spacing: 0;
    line-height: 32px;
}

.THIS .te-col-header-info {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 14px;
    font-family: 'Proxima Nova';
}

.THIS .p-header.normal {
    color: #000000;
    font-family: 'Proxima Nova';
    font-size: 20px;
    font-weight: 600;
}

.THIS .slds-form-element__label {
    font-size: 14px;
    color: #444;
    font-family: 'Proxima Nova';
}

.THIS .slds-p-top_x-smalltask-rtl-remind {
    margin-top: 15px;
}

.THIS .p-header {
    margin-right: -53%;
}

.THIS .slds-select,
.THIS .slds-input {
    font-size: 16px;
    color: #444;
    font-family: 'Proxima Nova';
    height: 40px;
    display: flex;
    align-items: center;
    font-weight: 500;
}

.THIS .task-rtl > .slds-form-element {
    /* @noflip */
    direction: rtl !important;
    /* @noflip */
    text-align: right;
}

.THIS .te-col-changeNotif {
    font-size: 14px;
    font-family: 'Proxima Nova';
}

.THIS .p-content {
    overflow-y: hidden;
}

.THIS .p-content.with-scroll {
    overflow-y: auto;
    max-height: 55vh;
}

.THIS .disabledVisit .slds-input,
.THIS .disabledVisit .slds-select {
    background: #f2f2f2;
    color: #999;
    opacity: 1;
}

.THIS .disabledVisit .slds-form-element__label {
    opacity: 0.4;
}

.THIS.cPopup .p-container .p-footer {
    padding: 15px 24px 30px;
}

.THIS .cRRIconSplitter .icon .tooltiptext {
    bottom: 0;
    left: 0;
    transform: translate(0, 100%);
    z-index: 3;
}

.THIS .te-col-header-info + .te-form > .slds-col:first-child input {
    width: 418px;
}

.THIS.arabic .dateInputs > .slds-grid.slds-p-top_large > .slds-size_1-of-2,
.THIS.hebrew .dateInputs > .slds-grid.slds-p-top_large > .slds-size_1-of-2 {
    width: auto !important;
}

.THIS.arabic .dateInputs > .slds-grid.slds-p-top_large > .slds-size_1-of-2.reminderDate_visrtl,
.THIS.hebrew .dateInputs > .slds-grid.slds-p-top_large > .slds-size_1-of-2.reminderDate_visrtl {
    /* @noflip */
    margin-right: 8px;
}
.THIS .p-container .rtlBody {
    /*@noflip*/
    width: 100%;
}

@media (max-width: 768px) {
    .THIS .slds-form-element__help {
        margin-top: 3px;
    }

    .THIS .slds-checkbox {
        padding-bottom: 15px;
    }

    .THIS [type='datetime-local'] {
        width: 250px;
        min-width: 250px;
    }
}
@media (max-width: 468px) {
    .THIS .p-header.normal {
        padding-top: 40px;
    }

    .THIS .cRRIconSplitter .icon {
        position: static;
    }

    .THIS .cRRIconSplitter .icons-row {
        max-width: 100%;
        width: 100%;
    }

    .THIS .cRRIconSplitter .icons-row .icon .tooltiptext {
        top: 40px;
        bottom: auto;
        transform: none;
        z-index: 1000;
    }

    .THIS .cRRIconSplitter .icons-row .icon:nth-of-type(n + 7) .tooltiptext {
        top: 70px;
    }

    .THIS .cRRIconSplitter .icons-row .icon:nth-of-type(n + 13) .tooltiptext {
        top: 110px;
    }

    .THIS .cRRIconSplitter .icons-row .icon:nth-of-type(n + 19) .tooltiptext {
        top: 140px;
    }

    .THIS .cRRIconSplitter .icons-row .icon:nth-of-type(n + 25) .tooltiptext {
        top: 180px;
    }

    .THIS .te-col-header-info + .te-form > .slds-col:first-child input {
        width: 100%;
    }

    .THIS .te-task-panel {
        margin: 25px auto;
    }

    .THIS .rr-white-panel > .slds-p-top-medium {
        margin-top: 10px;
    }

    .THIS .rr-white-panelRTL > .slds-form-element__label {
        margin-top: 15px;
    }

    .THIS > .te-form {
        margin-bottom: 15px;
    }

    .THIS .rr-white-panelRTL > .te-form:nth-of-type(n + 6) {
        margin-bottom: 0;
    }

    .THIS .slds-grid.te-form,
    .THIS .dateInputs .slds-grid.slds-p-top_large {
        flex-direction: column;
    }

    .THIS .slds-size_1-of-2.slds-p-top_large {
        padding-top: 10px;
    }

    .THIS .reminderDate {
        margin: 0;
    }

    .THIS .te-col-header + .te-form .reminderDate,
    .THIS .vis_reminder {
        margin: 1rem 0 0;
    }

    .THIS reminderDate_visrtl {
        margin-right: 0;
    }

    .THIS .reminderDate_rtl,
    .THIS .reminderDate_visrtl {
        margin-top: 15px;
        margin-right: 0;
    }

    .THIS .slds-checkbox {
        padding-bottom: 25px;
    }

    .THIS .reminderDate .slds-input,
    .THIS .vis_reminder .slds-input {
        min-width: 175px;
    }

    .THIS .te-task-panel .slds-checkbox {
        padding-bottom: 20px;
    }
}

@media only screen and (max-width: 500px) and (orientation: portrait) {
    .THIS .rr-white-panel {
        padding: 20px 0;
    }
    .THIS.cPopup .p-container .p-footer {
        padding: 5px 1rem;
    }

    .THIS .slds-select {
        min-width: 95%;
    }

    .THIS .p-buttons-container > div {
        display: flex;
        justify-content: flex-end;
    }

    .THIS .p-buttons-container .slds-button:nth-of-type(1) {
        order: 3;
        width: 40%;
    }

    .THIS .p-buttons-container .slds-button:nth-of-type(2) {
        order: 1;
        min-width: 25%;
        margin-left: 0;
    }

    .THIS .p-buttons-container .slds-button:nth-of-type(3) {
        order: 2;
        width: 70%;
        margin-bottom: 1rem;
        margin-left: 10px;
    }

    .THIS .p-buttons-container .slds-button:nth-of-type(4) {
        order: 4;
        width: 56%;
        margin-bottom: 1rem;
        margin-left: 10px;
    }

    .THIS .p-buttons-container > .right {
        flex-direction: row-reverse;
    }

    .THIS .p-buttons-container .slds-button.tertiary + .slds-button.primary {
        width: 50%;
        margin-left: 15px;
        order: 4;
    }

    .THIS .title {
        max-width: 85%;
    }

    .THIS .container1 {
        height: auto;
        width: 100%;
    }

    .THIS.cPopup #p-modal .p-container .p-mobile-close {
        top: -10px;
    }

    .THIS .te-form > .slds-col:first-child input {
        width: 100%;
    }
}

@media only screen and (max-width: 360px) and (orientation: portrait) {
    .THIS .p-buttons-container .slds-button:nth-of-type(3) {
        order: 2;
        width: 65%;
        margin-bottom: 1rem;
        margin-left: 10px;
    }
}

.THIS .slds-truncate {
    padding-top: 3px !important;
    padding-bottom: 3px !important;
}

.THIS .study-override .slds-has-error {
    --slds-c-input-color-border: gray !important;
    --slds-c-input-shadow: none !important;
}

.THIS .study-override {
    --slds-c-input-color-border: gray !important;
    --slds-c-input-shadow: none !important;
}
