/**
 * Created by Leonid Bartenev
 */
.THIS {
    padding-bottom: 30px;
}
.THIS .vpr-header{
    color: #444;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 5px;
}

.THIS .fp-filters-container{
    width: 100%;
}

.THIS .cFilterPanel {
    padding-top: 0;
}

.THIS .cFilterPanel .fp-filter-block {
    padding-top: 0;
}

.THIS .cParticipantCardFields .vpi-field label{
    white-space: nowrap;
}

/*.THIS .rrs-container:first-child{
     max-width: 100px !important;
 }
.THIS .rrs-container:nth-child(2){
    max-width: 120px !important;
}
@media (max-width: 341px)  {
    .THIS .rrs-container:first-child{
        max-width: 150px !important;
    }
    .THIS .rrs-container:nth-child(2){
        max-width: 150px !important;
    }
}*/
.THIS .fp-ss-filter-container {
    max-width: 120px;
}

.THIS .fp-study-filter-container {
    max-width: 100px !important;
}

.THIS .vpi-status-btns .slds-col.slds-small-size_4-of-12 {
    width: auto;
    display: flex;
}

.THIS .vpi-status-btns .slds-col.slds-small-size_4-of-12 > span {
    padding-left: 1rem;
}

@media (max-width: 768px){
     .THIS .cParticipantCardFields .vpi-field {
        flex-wrap: wrap;
    }
    
    .THIS .cParticipantCardFields .vpi-field {
        flex: 0 0 50%;
    } 
    
    .THIS .vpi-status-btns .slds-col.slds-small-size_4-of-12 {
        width: 100%;
        justify-content: flex-end;
    }
    
}

@media screen and (max-width: 500px) {
    .THIS .cFilterPanel .fp-page-info>div {
        margin-top: 0;
        padding-left: 0;
    }
    
    .THIS .vpi-status-btns .slds-col.slds-small-size_4-of-12 {
        width: 100%;
        margin-top: 5px;
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    
    .THIS .vpi-status-btns .slds-col.slds-small-size_4-of-12 > span {
        padding-left: 0;
        
    }
}

@media (max-width: 341px) {
    .THIS .fp-ss-filter-container {
        min-width: 150px;
    }

    .THIS .fp-study-filter-container {
        min-width: 150px;
    }
}