/**
 * Created by Leonid Bartenev
 */
.THIS.hptp-panel {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.THIS.hptp-panel.rtl {
    /* @noflip */  direction: rtl;
}

.THIS .hptp-title {
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 22px;
    font-family: 'Proxima Nova';
    letter-spacing: 0;
    color: #000000;
}

.THIS .hptp-body {
    min-height: 220px;
    position: relative;
    margin-top: 18px;
}

.THIS .main-container .message {
    padding: 20% 0 0;
}

.THIS .main-container .message:after {
    content: '';
    position: absolute;
    background-size: 40px 40px;
    background-image: url(/resource/1569528630000/iconNotes);
    height: 40px;
    width: 40px;
    top: 45px;
    right: 46%;
    opacity: 0.3;
}

.THIS .cRRTable.rr-table th,
.THIS .cRRTable.rr-table td {
    padding: 4px 16px;
    font-size: 1rem;
}

.THIS .hptp-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-grow: 1;
    height: 49px;
    background-color: #f8f9fb;
}

.THIS .hptp-footer .cRRLink.rr-link {
    padding-right: 16px;
    position: relative;
    font-size: 1rem;
}

.THIS .hptp-footer .cRRLink.rr-link:focus {
    text-decoration: none;
}

.THIS .cRRLink.rr-link svg {
    margin-bottom: 3px;
    margin-left: 2px;
}
