/**
 * Created by Leonid Bartenev
 */
.THIS .ap-top-info{
    margin-top: -15px;
    margin-bottom: 15px;
}

.THIS .ap-bottom-info{
    margin-top: 15px;
}

.THIS .form-content{
    text-align: left;
}