.THIS.sdas-main-container {
    padding-bottom: 32px;
}

.THIS.sdas-sub-tab {
    height: 40px;
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.15);
    padding-top: 12px;
}

.THIS.sdas-sub-tab a {
    margin-right: 12px;
    color: #297dfd;
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
}

/*=======================================ABOUT STUDY==================================================================*/
.THIS.sdas-main-container {
    background: #fff;
    border: 1px solid #e9e9e9;
    border-width: 0 1px 1px 1px;
    box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.04);
    border-radius: 0 0 4px 4px;
    padding: 10px 24px 25px 24px;
    margin-bottom: 25px;
}

.THIS.sdas-main-container #info-left,
.THIS.sdas-main-container #info-right{
    height: 100%;
}

.THIS .slds-grid.slds-wrap {
    position: relative;
}

/* CHECK THIS */
.THIS .slds-grid.slds-wrap:before {
    content: '';
    height: 98.5%;
    width: 1px;
    background: #e9e9e9;
    margin: 15px 0;
    position: absolute;
    left: 62%;
    display: block;
}

.THIS .cTasksTab {
    border-top: none;
    border-radius: 0 0 4px 4px;
}

/*====================================================================================================================*/
.THIS .sdas-category {
    color: #000000;
    font-size: 36px;
    font-weight: 500;
    line-height: 44px;
    display: flex;
    align-items: center;
    margin-bottom: 10px
}

.THIS .sdas-category svg {
    height: 44px;
    width: 44px;
    margin-right: 5px;
    flex-shrink: 0;
    fill: black;
}

.THIS .sdas-text {
    color: #444;
    font-size: 1rem;
    line-height: 24px;
    white-space: pre-line;
    margin-bottom: 10px;
}

.THIS .sdas-sub-category {
    color: #000000;
    font-size: 18px;
    font-weight: 600;
    line-height: 36px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.THIS .sdas-separator {
    height: 8px;
    width: 100px;
    border-top: 1px solid #297DFD;
    margin-top: 2em;
    margin-bottom: 2em;
}

.THIS .sdas-full-separator {
    height: 1px;
    width: 100%;
    border-top: 1px solid #d9d9d9;
    margin-top: 2em;
    margin-bottom: 2em;
}

.THIS .sdas-criteria-block {

}

.THIS .sdas-criteria-dropdown {
    margin-top: 20px;
    margin-bottom: 20px;
}


/*======================================MAP===========================================================================*/
.THIS .sdas-map {
    margin-top: 2em;
}

.THIS .sdas-map-header {
    position: relative;
    min-height: 80px;
    width: 100%;
    background: linear-gradient(306deg, #0076AE 0%, #250056 100%);
    color: #FFFFFF;
    font-size: 17px;
    font-weight: 500;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 21px 10px;
}

.THIS .sdas-map-header label {
    position: absolute;
    top: 50%;
    margin-top: -0.625em;
    margin-left: 16px;
}

.THIS .sdas-map-header .apollo-primary-button {
    min-height: 40px;
    position: absolute;
    top: 50%;
    right: 16px;
    margin-top: -20px;
}

.THIS .sdas-map-footer {
    border: 1px solid #d9d9d9;
    position: relative;
}

.THIS .sdas-map-footer .sdas-footer-info {
    background-color: white;
    padding: 18px;
    border-bottom: 2px solid #d9d9d9;
}

.THIS .sdas-footer-info .name {
    color: #000000;
    font-size: .875rem;
    font-weight: 600;
    line-height: 18px;
    margin-bottom: 10px;
}

.THIS .sdas-footer-info .address {
    color: #444;
    font-size: 1rem;
    line-height: 16px;
}

.THIS .address .address-1,
.THIS .address .address-2,
.THIS .address .address-3 {

}

.THIS .sdas-map-footer .sdas-footer-button {
    display: flex;
    float: right;
    padding: 4px;
    color: #FFFFFF;
    font-size: 10px;
    line-height: 10px;
}

.THIS .sdas-map-footer .sdas-footer-button#Preferred {
    background-color: #7100D5;
}

.THIS .sdas-map-footer .sdas-footer-button#Activated {
    background-color: #337BFC;
}

/*=====================================RIGHT-INFO=====================================================================*/

.THIS .sdas-main-info {
    overflow: visible;
    width: 100%;
    padding: 16px;
}

.THIS .sdas-main-info .title {
    line-height: 21px;
    color: #444;
    font-weight: 400;
    font-size: .875rem;
}

.THIS .sdas-main-info .text {
    color: #000;
    font-size: 1rem;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 10px;
}

.THIS .sdas-question {
    box-sizing: border-box;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 1.5em;
    padding: 16px;
}

.THIS .sdas-question .question-logo,
.THIS .sdas-question .question-body {
    display: table-cell;
}

.THIS .sdas-question .question-body {
    padding-left: 10px;
}

.THIS .question-body .question-title {
    color: #000000;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
}

.THIS .question-body .question-text {
    color: #444;
    font-size: 1rem;
    line-height: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
    white-space: normal;
}

.THIS .question-body .question-link {
    color: #297DFD;
    font-size: 1rem;
    font-weight: 500;
    line-height: 16px;
}

.THIS .question-link svg {
    width: 15px;
    padding-bottom: 2px;
    margin-left: 2px;
}

.THIS .study-sites-footer{
    border: 1px solid #d9d9d9;
    border-radius: 0 0 5px 5px;
    background-color: #F8f9fb;
    box-shadow: 0 8px 30px 0 rgba(0,0,0,0.15);
    padding: 20px;
}

.THIS .tc-link, .THIS .tc-link:hover, .THIS .tc-link:active{
    color: white;
    margin: 0 5px;
    text-decoration: underline;
}

/*=====================================PRIMARY-BUTTONS================================================================*/
.THIS.sdas-primary-buttons {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5000;
    min-height: 72px;
    width: 100%;
    border: 1px solid #d9d9d9;
    background-color: #FFFFFF;
    box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.15);
    text-align: center;
    padding-top: 16px;
}

.THIS .rr-bottom-bar .bar-content{
    text-align: center;
}

.THIS .rr-bottom-bar .bar-content .apollo-btn{
    width: 250px;
}

.THIS .collapse-wrapper .rr-collapse-panel .body{
    white-space: pre-wrap;
}

.THIS .criteria-body{
    margin: 0 5px 10px 35px;
    font-size: .875rem;
}

@media all and (max-width: 1100px){
 	.THIS .socialnetworks-section > .slds-col {
        min-width: 100%;
    }   
}

.THIS .primary-contact-select{
    margin-top: 5px;
    margin-bottom: 5px;
    min-width: 100px;
}

.THIS .slvi-btn {
    text-align: center;
    color: #297DFD;
    padding-top: 10px;
    padding-bottom: 10px;
    /*border-collapse: collapse;*/
    flex-basis: 0;
}


.THIS .slvi-btn + .slvi-btn {
    /*border-left: 1px solid #F2F2F2;*/
}


.THIS .slvi-btn.disabled {
    pointer-events: none;
    opacity: 0.4;
    cursor: not-allowed;
}

.THIS .slvi-btn .rr-icon-default {
    height: 24px;
    width: 20px;
    margin: auto;
    fill: #297DFD;
}

.THIS .slvi-btn .btn-content {
    display: flex;
    flex-flow: column;
    user-select: none;
    position: relative;
    float: right;
    margin-bottom: 10px;
}

.THIS .slvi-btn .btn-content:active {
    /*top: 1px;*/
}


.THIS .slvi-btn:hover {
    cursor: pointer;
    background-color: #F8F9FB;
}

.THIS .slvi-btn:active {
    /*box-shadow: inset 0 0 7px rgba(0,0,0,0.25);*/
    /*box-shadow: inset 1px 4px 9px -6px rgba(0, 0, 0, 0.35);*/
}

.THIS .slvi-btn:first-child {
    /*border-bottom-left-radius: 5px;*/
}

.THIS .slvi-btn:last-child {
    /*border-bottom-right-radius: 5px;*/
}

.THIS .btn-wrapper {
    flex-basis: 0;
}

.THIS .slvi-section + .slvi-section {
    border-top: 1px solid #d9d9d9;
}

.THIS .socialnetworks {
    z-index: 2000;
    position: absolute;
    bottom: 10px;
    float: right;
    right: 0;
    margin-bottom: 10px;
}

.THIS .docs-conteiner{
    margin: 10px 0;
}

.THIS .doc-item {
    padding: 2px;
}
.THIS .socialnetworks .cRRIcon.rr-icon-default{
    width: 18px;
}

.THIS .socialnetworks .slds-m-around_x-small {
    margin: 0 .25rem;
}

.THIS .direction {
    margin-top: 10px;
}

.THIS .direction-title{
    margin-bottom: 5px !important;
}

.THIS .direction-info{
    margin-bottom: 10px !important;
    color: #444;
    font-size: 1rem;
    line-height: 16px;
}

@media all and (max-width: 768px) {
    
    .THIS .rr-bottom-bar .bar-content .apollo-btn{
        width: 150px;
    }
    
    .THIS .slvi-header-item + .slvi-header-item {
        margin-top: 16px;
    }
    
    .cStudyDetailAboutStudy .sdas-main-info .title {
        font-size: 1rem;
    }
    
    .THIS .slds-grid.slds-wrap:before {
        display: none;
    }

    .THIS .site-distance {
        margin-top: .5rem;
    }

    .THIS .rri-icon svg {
        height: 16px;
        width: 13px;
    }

    .THIS .rri-icon span {
        margin: .125rem !important;
    }
}

@media all and (max-width: 500px) {
    
    .THIS.sdas-main-container {
        padding: 10px 10px 25px;
    }
    
    .THIS .sdas-main-info {
        padding: 0;
    }
    
    .THIS .sdas-sub-category {
        margin-top: 2rem;
    }
    
     .THIS .socialnetworks .rri-icon > a {
        padding: 0 .5rem;
    }
    
    
    .THIS .socialnetworks-section.slds-grid.slds-wrap {
        position: absolute;
        top: 50px;
        right: 8px;
        width: 100%;
    }
    
    .THIS .socialnetworks-section.slds-grid.slds-wrap .rri-icon svg {
        height: 24px;
        
    }
    
}