/**
 * Created by Igor Malyuta on 04.09.2019.
 */

.THIS.empty-approved-lang {
    background-color: antiquewhite;
}

.THIS .name-overflow {
    max-width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
}