/**
 * Created by Igor Malyuta on 18.03.2019.
 */

/*Hide side markersTitle list*/
.THIS .slds-coordinates{
    display: none;
}

.THIS.inform-text{
    margin-left: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 30px;
    font-style: italic;
}