/**
 * Created by Leonid Bartenev
 */

.THIS {
    background: #fff;
    border: 1px solid #e9e9e9;
    border-width: 0 1px 1px 1px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    padding: 10px 24px 25px 24px;
    margin-bottom: 25px;
}

.THIS .error-message {
    padding: 40px 0;
    color: #999999;
    font-size: 17px;
    line-height: 26px;
    text-align: center;
}

.THIS .tt-title {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 20px;
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.THIS .tt-task-panel {
    min-height: 80px;
}

.THIS .tt-empty-list {
    color: #999999;
    font-size: 17px;
    line-height: 26px;
    text-align: center;
    padding: 40px 0;
}

.THIS .rr-white-panel {
    border: none;
    box-shadow: none;
    border-radius: 0;
}

.THIS .rr-table th,
.THIS .rr-table td {
    font-size: .875rem;
}

.THIS .rr-table th.completed-by{
    width:130px;
}

.THIS .rr-table th.priority{
    width:130px;
}

.THIS .rr-table td.ignore{
    width: 10px;
    padding: 4px 20px;
}

.THIS .rr-table .ignored{
    opacity: .5;
}

@media all and (max-width: 500px) {
 	.THIS {
        padding: 10px 10px 25px;
    } 
    
    .THIS .rr-white-panel {
        padding: 0!important;
    }
}