/**
 * Created by Leonid Bartenev
 */

.THIS {
    background: #fff;
    border: 1px solid #e9e9e9;
    border-width: 0 1px 1px 1px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    padding: 10px 24px 25px 24px;
    margin-bottom: 25px;
}

.THIS .error-message {
    padding: 40px 0;
    color: #999999;
    font-size: 17px;
    line-height: 26px;
    text-align: center;
}

.THIS .tt-title {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 20px;
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.THIS .tt-task-panel {
    min-height: 80px;
}

.THIS .tt-empty-list {
    color: #999999;
    font-size: 17px;
    line-height: 26px;
    text-align: center;
    padding: 40px 0;
}

.THIS .rr-white-panel {
    border: none;
    box-shadow: none;
    border-radius: 0;
}

.THIS .rr-table th,
.THIS .rr-table td {
    font-size: .875rem;
}

.THIS .rr-table th.completed-by{
    width:130px;
}

.THIS .rr-table th.priority{
    width:130px;
}

.THIS .rr-table td.ignore{
    width: 10px;
    padding: 4px 20px;
}

.THIS .rr-table .ignored{
    opacity: .5;
}

.THIS .rr-link{
    color: #297DFD;
    padding: 4px 8px;
  /*  display: inline-flex; */
    align-items: center;
    border-radius: 4px;
    margin: 1px 0 0 -8px;
}
/*
.THIS.rr-link.only-text{
    display: inline;
}
*/
.THIS .rr-link:hover{
    text-decoration: none;
    background-color: #eef5ff;
    transition: .25s;
    cursor: pointer;
}

.THIS .rr-link .limit-width{
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
 /*   white-space: nowrap; */
    display: inline-block;
    padding-top: 4px;
}

.THIS .rr-link svg{
    fill: #297DFD;
    width: 12px;
    height: 12px;
}

.THIS .taskLabel {
    display: none;
}

@media screen and (max-width:500px) {

    .THIS tr:first-child {
        display: none;
    }

    .THIS tr {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #e9e9e9;
    }

    .THIS tr td:first-child {
        padding-top: 12px;
    }

    .THIS tr:last-child {
        border-bottom: none
    }

    .THIS .cRRTable.rr-table td {
        display: flex;
        margin-bottom: 12px;
        color: #000;
        padding: 0;
        height: auto;
    }

    .THIS .cRRTable.rr-table td:last-child {
        margin-bottom: 1rem;
    }

    .THIS .cRRTable.rr-table tr:nth-of-type(n+3) td:first-child {
        margin-top: 1rem;
    }

    .THIS td .rr-link {
        padding: 0;
        margin: 0;
    }

    .THIS .taskLabel {
        display: inline-block;
        padding-right: 5px;
        color: #595959;
    }


}