.patients-selected {
  color: #000000;
  font-family: "Proxima Nova";
  font-size: 21px;
  font-weight: bold;
  letter-spacing: 0;
  /* margin-left: 95px; */
  line-height: 37px;
}

.select-label {
  color: #000000;
  font-family: "Proxima Nova";
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 25px;
  /* margin-left: 36px; */
}

.layout-align {
  margin-left: 150px;
}

.slds-modal__container {
  max-width: 60rem !important;
  width: 60% !important;
  height: auto;
}

.sldsmodalcontainer {
  max-width: 100%;
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 10%;
}

@media (max-width: 768px) {
  .mob-left-space{
    margin-left: 22px;
  }
}