.patients-selected {
  color: #000000;
  font-family: "Proxima Nova";
  font-size: 21px;
  font-weight: bold;
  letter-spacing: 0;
  /* margin-left: 95px; */
  line-height: 37px;
}

.select-label {
  color: #000000;
  font-family: "Proxima Nova";
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 25px;
  /* margin-left: 36px; */
}

.removeborder{
  box-shadow:none;
}

.top-padding{
  padding-top: 19px;
}

.layout-align {
  margin-left: 150px;
}

.sldsmodalcontainer {
  max-width: 100%;
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 10%;
}



.slds-modal__container:before {
  content: '';
  display: block;
  height: 4px;
  width: 100%;
  background: linear-gradient(to right, #250056 10%, #0076ae 90%);
  border-radius: 0;
}
.slds-modal__header {
  border-bottom: none;
  border-radius: 0;
}
.slds-modal__content {
  margin-top: -1px;
}
.slds-modal__footer {
  border-top: none;
}

.slds-text-heading_medium {
  text-align: left;
  color: #000;
  font-weight: 600;
}

.label-icon-color{
  -webkit-text-fill-color:  #297dfd;
  --lwc-colorTextIconDefault:  #297dfd;
}

@media (max-width: 768px) {
  .mob-left-space{
    margin-left: 22px;
  }
  .slds-dropdown__item>a {
    color: #297dfd !important;
  }
  .CustomThemeLayout .slds-dropdown__item>a {
    color: #297dfd !important;
  }
  
  .topIcon {
    width: 38px;
    height: 40px;
    background: #297DFD;
  }
  .topIcon-control {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
@media screen and (orientation:landscape)
and (max-device-width: 898px) 
{
    .hide_landscape{
     display: none;
    }
    
}