.THIS {
    margin-top: 25px;
}

.THIS .slds-card {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.04);
  border: 1px solid #e9e9e9;
}

.THIS .slds-text-heading_small {
    color: #000000;
    font-size: 18px;
    font-weight: 600;
}

.THIS  .col_format1{
    border-radius: 5px;
    background-color: #F6F7FB;
    height: 100px;
    width: 120px;
    text-align: center;
    padding-top: 15px;
}

.THIS .text_format{
    color: #000000;
    font-size: 25px;
    font-weight: 600;
}
.THIS .text_format_days{
    color: #000000;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 9px;
    text-indent: -20%;
}

.THIS .slds-button_neutral {
    margin-top: 16px;
    font-size: 14px;
    background-color: #F6F7FB;
    border: none;
    font-weight: 400;
    padding-left: 1rem;
    padding-right: 0.5rem;
}
.THIS .slds-dropdown {
    font-size: 14px;
}

@media all and (max-width: 768px){

  .THIS {
      margin-top: 1rem;
  }

  .THIS .slds-card__body {
      padding: 0 1.25rem;
  }

   .THIS .slds-card__body > .slds-grid {
       flex-wrap: wrap;
  }

  .THIS .slds-card__body > .slds-grid > .slds-col:first-child {
      display: none;
  }

  .THIS .slds-card__body > .slds-grid > .slds-col {
      margin-bottom: 2rem;
      padding-right: 10px;
      max-width: 140px;
  }

  .THIS  .col_format1 {
       width: 100%;
      max-width: 150px;
      height: 125px;
}

   .THIS .slds-dropdown-trigger {
      width: 100%;
  }

  .THIS .text_format {
       font-size: 3rem;
      font-weight: 400;
  }

  .THIS .text_format_days {
      text-align: left;
      text-indent: 0;
      font-weight: 400;
  }

  .THIS .slds-button_neutral {
      margin-top: 0;
  }
}

@media all and (max-width: 500px){
  .THIS .slds-card__body > .slds-grid {
      justify-content: space-between;
  }
}
