.THIS {
    margin-top: 25px;
}

.THIS .slds-card {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.04);
    border: 1px solid #e9e9e9;
}

.THIS .slds-text-heading_small {
    color: #000000;
    font-size: 18px;
    font-weight: 600;
}

.THIS .col_format1 {
    border-radius: 5px;
    background-color: #f6f7fb;
    height: 100px;
    width: 120px;
    text-align: center;
    padding-top: 15px;
}

.THIS .showMore {
    font-size: 18px;
    color: #297dfd;
    font-weight: 600;
}

.THIS .text_format {
    color: #000000;
    font-size: 25px;
    font-weight: 600;
    padding:5px 10px;
}

.THIS .help_text {
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.THIS .help_text_format {
    color: #595959;
    font-family: 'Proxima Nova';
    font-size: 14px;
    letter-spacing: 0;
    line-height: 17px;
}

.THIS .text_format_days {
    color: #000000;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 9px;
    text-indent: -20%;
}

.THIS .slds-button_neutral {
    margin-top: 16px;
    font-size: 14px;
    background-color: #f6f7fb;
    border: none;
    font-weight: 400;
   
}

.THIS .slds-dropdown {
    font-size: 14px;
}

 .THIS .btnmenuRTL {
        display:block;
         
    }

@media all and (max-width: 768px) {
    .THIS {
        margin-top: 1rem;
    }

    .THIS .slds-card__body {
        padding: 0 1.25rem;
    }

    .THIS .slds-card__body > .slds-grid {
        flex-wrap: wrap;
    }

    .THIS .slds-card__body > .slds-grid > .slds-col:first-child {
        display: none;
    }

    .THIS .slds-card__body > .slds-grid > .slds-col {
        margin-bottom: 2rem;
        padding-right: 10px;
        max-width: 140px;
    }

    .THIS .col_format1 {
        width: 100%;
        max-width: 150px;
        height: 125px;
    }

    .THIS .slds-dropdown-trigger {
        width: 100%;
         
    }

    .THIS .text_format {
        font-size: 3rem;
        font-weight: 400;
    }

    .THIS .text_format_days {
        text-align: left;
        text-indent: 0;
        font-weight: 400;
    }

    .THIS .slds-button_neutral {
        margin-top: 0;
    }

    .THIS .slds-truncate {
        white-space: pre-wrap !important;
        text-align: left !important;
    }

    .THIS .help_text {
        margin-left: 0;
        margin-bottom: 1rem;
    }
}

@media all and (max-width: 500px) {
    .THIS .slds-truncate {
        white-space: pre-wrap !important;
        text-align: left !important;
    }

    .THIS .slds-card__body > .slds-grid {
        justify-content: space-between;
    }

    .THIS h2 > .slds-text-heading_small {
        white-space: normal;
    }

    .THIS .help_text {
        margin-left: 0;
        margin-bottom: 1rem;
    }
}

.THIS .slds-spinner_container {
    z-index: 1 !important;
}

.THIS.exampleHolder {
    position: relative;
    display: inline-block;
    margin-left: 15px;
    width: 55px;
    vertical-align: middle;
    white-space: nowrap;
}