/**
 * Created by Igor Malyuta on 14.04.2019.
 */
.THIS .title {
    margin: 10px 1.5rem 1.5rem;
    font-size: 16px;
    font-weight: bold;
}

.THIS .inner-panel {
    display: flex;
    flex-direction: column;
    padding-left: 1.5rem;
    height: 260px;
}

.THIS .svl-table {
    min-width: 200px;
}

.THIS .svl-row {
    display: flex;
    padding-bottom: 20px;
    align-items: center;
}

.THIS .svl-icon-label {
    align-items: center;
    display: flex;
}

.THIS .svl-icon {
    display: flex;
    height: 32px;
    width: 32px;
    min-width: 32px;
    justify-content: center;
}

.THIS .svl-label {
    padding-left: 22px;
    font-weight: bold;
    width: 180px;
    font-size: 13px;
}

.THIS .svl-desc {
    min-width: 100px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 13px;
    color: #333333;
    text-align: justify;
}
@media (any-pointer: coarse) {
    .THIS .svl-label {
        font-size: 1rem;
    }

    .THIS .inner-panel {
        height: auto;
    }
}

@media screen and (max-width: 500px) {
    .THIS .svl-row {
        display: block !important;
    }

    .THIS .svl-label {
        max-width: 100%;
        padding-right: 25px;
    }

    .THIS .svl-desc {
        margin-left: 55px;
        padding-left: 0;
        padding-right: 25px;
    }
}
