a {
    text-decoration: underline;
}
a:hover {
    color: #FFFFFF;
}
.divBody {
    background-color: #e3066a;
    position: relative;
    /* top: -29px; */
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    width: 100vw;  
}
.divBodyPP2 {
    background-color: #2b3942;
    position: relative;
    /* top: -29px; */
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    width: 100vw;
    top:14px;
}
.divBodyPP2::before {
    content: "";
    position: absolute;
    
    background-color: transparent;
    /*bottom: -50px;*/
    height: 50px;
    width: 25px;
    right: 0px;
    top: 0px;
    /*border-top-left-radius: 25px;*/
    box-shadow: 0 -25px 0 0 #2b3942;
}

.divBodyPP2Mobile {
    background-color: #2b3942;
    position: relative;
    /* top: -29px; */
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    width: 100vw;
    top:-20px;
}
.divBodyPP2Mobile::before {
    content: "";
    position: absolute;
    
    background-color: transparent;
    /*bottom: -50px;*/
    height: 50px;
    width: 25px;
    right: 0px;
    top: 0px;
    /*border-top-left-radius: 25px;*/
    box-shadow: 0 -25px 0 0 #2b3942;
}

.allVisits {
    z-index: 100;
    position: absolute;
    top: 95px;
    background: white;
    box-shadow: 0 0 3px rgb(116 116 116);
    border-radius: 4px;
    margin-left: 20%;
    width: 60%;
    padding-left: 10px;
    /*padding-top: 8px;*/
    text-align: left;
    margin-top: 10px;
}
.allVisitsPP2 {
    z-index: 100;
    position: absolute;
    top: 95px;
    background: white;
    box-shadow: 0 0 3px rgb(116 116 116);
    border-radius: 4px;
    margin-left: 20%;
    width: 60%;
    padding-left: 10px;
    /*padding-top: 8px;*/
    text-align: left;
    margin-top: 25px;
}
.singleMeet{
    font-size: 16px;
    display: flex;
    align-items: center;
}

.meetList{
    font-size: 15px;
    padding: 10px 12px;
    border-bottom: 1px solid lightgrey;
    margin-left: -10px;
}
.join{
    text-decoration: none;
}
.arrow_icn, .arrow_icn:focus{
    padding: 5px;    
}

.mobile{
    display: none;
}
.desktop{
    display: initial;
}


@media all and (max-width: 768px){
    .divBody{      
        /* top: -16px; */
    }   
    
    
}

@media all and (max-width: 540px){
    .allVisits{
        width: 98%;
        margin: 0 auto;
        text-align: left;
        position: unset;
        margin-top: -15px;
    }
    .allVisitsPP2{
        width: 94%;
        margin: 0 auto;
        text-align: left;
        position: unset;
        margin-top: -35px;
    }
    .meet_info{
        padding: 0px 15px 0px 5px;
        line-height: 30px;
        align-items: center;
    }
    .desktop{
        display: none;
    }
    .mobile{
        display: block;
    }
}

.singleJoinPP2{
    width: 116px;
    text-align: center;
    border-radius: 35px;
    height: 32px;
    background: #015FF1;
    font-size: 14px;
    padding: 5px;
    margin-top: -4px;
}


.singleJoinPP2:hover{
    width: 116px;
    text-align: center;
    border-radius: 35px;
    height: 32px;
    background: #0557D5;
    font-size: 14px;
    padding: 5px;
    margin-top: -4px;
    font-weight: 600;
}

.singleJoinPP2Mobile{
    background: #015FF1;
    font-size: 16px;
    margin-left: -10px;
    padding: 8px 21px;
    border-radius: 18px;
}

.singleJoinPP2Mobile:hover{
    background: #0557D5;
    font-size: 16px;
    margin-left: -10px;
    padding: 8px 21px;
    border-radius: 18px;
    font-weight: 600;
}



.multipleJoinPP2{
    text-align: center;
    border-radius: 35px;
    height: 32px;
    color: rgb(1, 95, 241);
    font-size: 14px;
    border: 1px solid #d6d6d6;
    display: block;
    padding: 4px;
    width: 112px !important;
    /*margin-left: -8px;*/
    font-weight: 600;
}

.multipleJoinPP2:hover{
    text-align: center;
    border-radius: 35px;
    height: 32px;
    color: rgb(1, 95, 241);
    font-size: 14px;
    border: 1px solid;
    display: block;
    padding: 4px;
    width: 112px !important;
    /*margin-left: -8px;*/
    background: aliceblue;
    font-weight: 600;
}

.meetingInfo{
    margin-top: 6px;
}

.multipleJoinPP2Mobile{
    text-align: center;
    border-radius: 35px;
    height: 34px;
    color: rgb(1, 95, 241);
    font-size: 14px;
    border: 1px solid #d6d6d6;
    display: block;
    width: 66px !important;
    font-weight: 600;
    padding: 2px;
}

.multipleJoinPP2Mobile:hover{
    text-align: center;
    border-radius: 35px;
    height: 34px;
    color: rgb(1, 95, 241);
    font-size: 14px;
    border: 1px solid;
    display: block;
    width: 66px !important;
    background: aliceblue;
    font-weight: 600;
    padding: 2px;
}

.hrline{
    margin-left: -10px;
    margin-bottom: -1px;
}


@media screen and (orientation: landscape) { 
    .multipleJoinPP2Mobile{
        text-align: center;
        border-radius: 35px;
        height: 34px;
        color: rgb(1, 95, 241);
        font-size: 14px;
        border: 1px solid #d6d6d6;
        display: block;
        width: 66px !important;
        font-weight: 600;
        padding: 8px;
    }
    
    .multipleJoinPP2Mobile:hover{
        text-align: center;
        border-radius: 35px;
        height: 34px;
        color: rgb(1, 95, 241);
        font-size: 14px;
        border: 1px solid;
        display: block;
        width: 66px !important;
        background: aliceblue;
        font-weight: 600;
        padding: 8px;
    }

    .divBodyPP2Mobile {
        background-color: #2b3942;
        position: relative;
        /* top: -29px; */
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
        width: 100vw;
        top:-60px;
    }
    .divBodyPP2Mobile::before {
        content: "";
        position: absolute;
        
        background-color: transparent;
        /*bottom: -50px;*/
        height: 50px;
        width: 25px;
        right: 0px;
        top: 0px;
        /*border-top-left-radius: 25px;*/
        box-shadow: 0 -25px 0 0 #2b3942;
    }
}