/**
 * Created by Nargiz Mamedova on 10/21/2019.
 */

.THIS.main-container {
    margin-top: 2em;
    text-align: center;
}

.THIS.main-container svg {
    font-size: 60px;
    line-height: 60px;
    height: 60px;
    width: 60px;
}

.THIS.main-container .message {
    margin-top: 1em;
    font-size: 1rem;
    color: #999;
}