/**
 * Created by Yehor Dobrovolskyi
 */
.THIS {
}

.THIS.card-ctp {
    height: auto;
    width: auto;
    border: 1px solid #f2f2f2;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.04);
    margin: 15px 20px 0 0;
}
.THIS.card-ctpRTL {
    height: auto;
    width: auto;
    border: 1px solid #f2f2f2;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.04);
    /* @noflip */
    margin: 15px 0px 0 20px;
}

.THIS .top-line {
    height: 5px;
    width: auto;
    border-radius: 5px 5px 0 0;
    background-color: #00c221;
    box-shadow: 0 1px 2px 0 rgba(85, 85, 85, 0.15);
}

.THIS .button-ctp {
    margin: 10px 0 15px 15px;
}
.THIS .button-ctpRTL {
    margin: 10px 15px 15px 0px;
}

.THIS .tap-class {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Proxima Nova';
    color: #000000;
    font-size: 14px;
    line-height: 21px;
}

.THIS .ctp-info-block {
    display: flex;
}

.THIS .ctp-study-code-name {
    font-family: 'Proxima Nova';
    color: #000000;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    width: 90%;
}

.THIS .ctp-recruitment-status {
    font-size: 14px;
    width: 20%;
    text-align: right;
    color: #000000;
    font-family: 'Proxima Nova';
    font-weight: 500;
    line-height: 21px;
}
.THIS .ctp-recruitment-statusRTL {
    font-size: 14px;
    width: 20%;
    text-align: left;
    color: #000000;
    font-family: 'Proxima Nova';
    font-weight: 500;
    line-height: 21px;
}

.THIS .cpt-official-title {
    color: #000000;
    font-family: 'Proxima Nova';
    font-size: 16px;
    line-height: 24px;
}

.THIS .ctp-padding {
    padding: 5px 20px 5px 15px;
}

.THIS .cPopup .p-container .p-header {
    max-height: 60vh;
}

.THIS .modal-pop {
    min-width: 800px;
}

.THIS .btn-send {
    display: block;
}

.THIS .p-footer {
    text-align: left !important;
}
@media (max-width: 768px) {
    .THIS .p-content {
        max-height: 40vh !important;
    }
    .THIS .ctp-study-code-name {
        width: 82% !important;
    }
}
