/* Tooltip for Text length overflow */
.tooltip span
{
text-decoration: none;
position: absolute;
background-color: #002448;
color: white;
padding: 0.5rem 1rem;
border-radius: 4px;
font-size: .850rem;
font-weight: 400;
text-align: left;
width: max-content;
max-width: 200px;
top:0;
left:50%;
margin-top: -10px;
visibility: hidden;
opacity: 0;
}
.tooltip:hover{
position: relative;
}
.tooltip:hover span
{
opacity: 1;
visibility: visible;
transform: translate(-50%, -100%) scale(1);
animation: pulse 1s;
z-index:1;
}
.tooltip:hover span::after
{
top: 100%;
left: 50%;
transform: translateX(-50%);
border: solid transparent;
content: '';
height: 0;
width: 0;
position: absolute;
pointer-events: none;
border-top: 8px solid #002448;
border-right: 8px solid transparent;
border-left: 8px solid transparent;
border-width: 10px;
}
.tooltip {
position: relative;
display: inline-block;
cursor: pointer;
/*white-space: nowrap;*/
width:100%;
}
.textoverlap
{
width: 9rem;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
color: #444;
font-size: .875rem;
font-weight: 400;
line-height: 24px;
}
.middle-initial{
  width:4rem !important;
}
.cursorType{
  cursor: default;
}

/* ----------------END-----------*/
.section-header {
  margin-top: 30px;
  margin-left: 10px;
  color: #595959;
  font-family: "Proxima Nova";
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 21px;
}

.cCustomThemeLayout .slds-input {
  height: 40px !important;
  border: 2px solid #d9d9d9;
}

.slds-p-around_small,
.slds-p-around--small {
  padding: 0.5rem 0.25rem;
}

.input-label {
  height: 24px;
  width: 60px;
  color: #444444;
  font-family: "Proxima Nova";
  font-size: 14px;
  letter-spacing: 0;
  line-height: 24px;
}

.input-size {
  box-sizing: border-box;
  height: 40px;
  width: 330px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0);
}

.divider {
  margin-top: 50px;
  border-bottom: 1px solid #d9d9d9;
}

.patient-button {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
}

.scroll-bar {
  height: 138px;
  width: 8px;
  border-radius: 4px;
  background-color: #999999;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.08);
}

.information {
  width: 694px;
  color: #000000;
  font-family: "Proxima Nova";
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24px;
}
.slds-modal__content {
  margin-top: -1px;
}

.slds-modal__footer {
  border-top: none;
}

.slds-text-heading_medium {
  text-align: left;
  color: #000;
  font-weight: 600;
}

.dateBox {
  width: 43px;
  margin-left: -50px;
  margin-top: 32px;
}

.patientConfirmation-header {
  font-family: "Proxima Nova";
  color: #000000;
  font-size: 16px;
  font-weight: 510;
}

.patientConfirmation {
  display: flex;
  padding-bottom: 10px;
  color: #000000;
  font-family: "Proxima Nova";
  font-size: 16px;
  font-weight: 510;
  letter-spacing: 0;
}

.patientConfirmation > div {
  margin-left: 0.25rem;
}

:host {
  --sds-c-checkbox-color-background-checked: #297dfd;
  --sds-c-checkbox-mark-color-foreground: white;
}

.apollo-btn.primary {
  margin-top: 0;
}

.apollo-btn + .apollo-btn {
  margin-left: 10px;
}
.patient-back-btn {
  display: none;
}
.save-btn {
  background-color:#297DFD;
  color:#ffffff;
}

.slds-modal__header {
  border-bottom: none;
  border-radius: 0;
}

.slds-modal__container:before {
  content: '';
  display: block;
  height: 4px;
  width: 100%;
  background: linear-gradient(to right, #250056 10%, #0076ae 90%);
  border-radius: 0;
}

.topIcon {
  width: 38px;
  height: 40px;
  background: #297DFD;
}
.topIcon-control {
  position: absolute;
  right: 0;
}

@media screen and (max-width: 486px) {
  .patientConfirmation-header {
    margin-bottom: 1rem;
  }

  .patientConfirmation > div {
    margin-left: 1rem;
  }
  .patient-back-btn {
    display: block;
  }
  .slds-float_right {
    float: none;
  }
  .mob-cancel-btn{
    padding: 0 5px 0 5px;
    margin: 0 5px 0 0px;
  }
  .mob-proceed-btn {
    padding: 0 5px 0 5px;
  }
}