/**
 * Created by Leonid Bartenev
 */
.THIS {
}

.THIS .width-basis {
    flex-basis: auto;
}

.THIS .state {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.THIS .vri-state-label {
    text-align: center;
    font-size: 1rem;
}

.THIS .line-div {
    height: 22px;
    border-top: 2px solid;
    padding-right: 0;
    padding-left: 0;
}
.THIS .line-div.neutral {
    border-top-color: #b5b5b5;
}

.THIS .line-div.success {
    border-top-color: #00c221;
}

.THIS .line-div.in_progress {
    border-top-color: #00c221;
}

.THIS .line-div.failure {
    border-top-color: #e20000;
}

.THIS .rr-path2 {
    margin-top: 30px;
}

.THIS .rr-path2 .state:first-child .line-div:first-child {
    border-top-color: transparent;
}

.THIS .rr-path2 .state:last-child .line-div:last-child {
    border-top-color: transparent;
}

.THIS .state-ico-wrapper {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    left: -9px;
    line-height: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.THIS .state-ico-wrapperRTL {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    line-height: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.THIS .state-ico-wrapper .rr-icon-default {
    width: 14px;
    height: 14px;
    padding: 0;
    fill: white !important;
}
.THIS .state-ico-wrapperRTL .rr-icon-default {
    width: 14px;
    height: 14px;
    padding: 0;
    fill: white !important;
}

.THIS .state.current .state-ico-wrapper {
    width: 28px;
    height: 28px;
    top: -15px;
    left: -14px;
}
.THIS .state.current .state-ico-wrapperRTL {
    width: 28px;
    height: 28px;
    top: -15px;
    left: 95px;
}

.THIS .state.current .state-ico-wrapper .rr-icon-default {
    width: 24px;
    height: 24px;
    padding: 1px;
}
.THIS .state.current .state-ico-wrapperRTL .rr-icon-default {
    width: 24px;
    height: 24px;
    padding: 1px;
}

.THIS .state.neutral .state-ico-wrapper {
    background-color: #b5b5b5 !important;
}

.THIS .state.success .state-ico-wrapper {
    background-color: #00c221 !important;
}

.THIS .state.in_progress .state-ico-wrapper {
    background-color: #005ff1 !important;
}

.THIS .state.failure .state-ico-wrapper {
    background-color: #e20000 !important;
}
.THIS .state.neutral .state-ico-wrapperRTL {
    background-color: #b5b5b5 !important;
}

.THIS .state.success .state-ico-wrapperRTL {
    background-color: #00c221 !important;
}

.THIS .state.in_progress .state-ico-wrapperRTL {
    background-color: #005ff1 !important;
}

.THIS .state.failure .state-ico-wrapperRTL {
    background-color: #e20000 !important;
}

/* status names */

.THIS .vri-state-label {
    color: #999;
}

@media not print {
    .THIS .vri-state-label {
        display: none;
    }
    .THIS .state.neutral .cRRIcon {
        display: none;
    }
}
.THIS .success .vri-state-label {
    color: #000;
}

.THIS .state.current .vri-state-label {
    display: block;
    font-weight: 600;
}

.THIS .vpi-fields {
    padding: 8px 0 13px 0;
    position: relative;
    left: -12px; /* remove first border and padding */
}

.THIS .vpi-clip-item-borders {
    overflow: hidden;
}

.THIS .vpi-field {
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px;
    border-left: 2px solid #cccccc;
    margin: 5px 0;
}

.THIS .vpi-field + .vpi-field {
}

.THIS .vpi-value-length-max {
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #297dfd;
    font-size: 13px;
    line-height: 16px;
}

.THIS .vpi-field > .label {
    color: #7f888d;
    font-size: 10px;
    font-weight: bold;
    line-height: 12px;
    text-transform: uppercase;
}

.THIS .vpi-field > .value {
    color: #000000;
    font-size: 14px;
    line-height: 18px;
    height: 18px;
    font-weight: 600;
}

.THIS .vpi-status-btns button {
    margin-top: 15px;
    width: 100%;
    min-width: auto;
}

@media all and (min-width: 1024px) {
    .THIS .vri-state-label {
        display: block;
    }
    .THIS .width-basis {
        flex-basis: 0;
    }

    .THIS .state-ico-wrapper {
        width: 28px;
        height: 28px;
        top: -15px;
        left: -14px;
    }
    .THIS .state-ico-wrapperRTL {
        width: 28px;
        height: 28px;
        top: -15px;
        left: 95px;
    }

    .THIS .state-ico-wrapper .rr-icon-default {
        width: 24px;
        height: 24px;
        padding: 1px;
    }
    .THIS .state-ico-wrapperRTL .rr-icon-default {
        width: 24px;
        height: 24px;
        padding: 1px;
    }
}
