/**
 * Created by Igor Malyuta on 30.05.2019.
 */

.THIS .ad-panel{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.THIS .ad-card{
    padding: 15px;
    border: 1px solid #efefef;
    border-radius: 10px;
    display: inline-flex;
    background: #f9f9f9;
    margin: 5px;
    position: relative;
}

.THIS .slds-accordion__list-item {
    border: none;
}

.THIS .slds-text-title_bold{
    color: #585858;
}

.THIS .ad-time {
    margin-left: 15px;
    white-space: nowrap;
    color: #929191;
}

/*Status color map*/
.THIS .ad-state-not-started {
    color: #4078de;
    background-color: #a8d7ff;
    padding: 5px 17px;
    border-radius: 5px;
    border: 1px solid #83b4de;
}

.THIS .ad-state-waiting {
    color: #b37518;
    background-color: #fff8df;
    padding: 5px 17px;
    border-radius: 5px;
    border: 1px solid #ecdca2;
}

.THIS .ad-state-executing {
    color: #49a981;
    background-color: #45e4a2;
    padding: 5px 17px;
    border-radius: 5px;
    border: 1px solid #2ba974;
}

.THIS .ad-state-running {
    color: #48bb61;
    background-color: #8ff5b3;
    padding: 5px 17px;
    border-radius: 5px;
    border: 1px solid #69d462;
}