/* Scrollbar Code End */
/** pop code **/
.next-btn{
    float: right;
    margin-left: 15px;
}
.back-btn{
    float: right;
    margin-left: 16px;
}
.tertiary{
    padding: 7px 16px;
}

 .slds-modal__header{
    text-align: left;
    padding-bottom: 0;
    border-bottom-color: transparent;
    border-radius: 0;
}
.slds-modal__footer{
    border-top-color: transparent;
}
.model-close-icon{
    cursor: pointer;
    margin-left: 35px;
}
 .section-title {
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    color: #000;
}
.bar {    
    height: 10px;
    background: linear-gradient(270deg,#0076ae,#250056);
    position: relative;
} 
.model-body-title{
    font-size: 18px;
    line-height: 24px;
    color: #000;
    font-weight: 600;
}
.model-body-content{
    font-size: 1rem;
    line-height: 1.1rem;
    white-space: initial;
    text-align: left;
    font-weight: 400;
    color: #000;
}
.bg-delegate{
    background: #f6f7fb;
    border: 0.1px solid;
    border-color: lightgrey;
}
.delegate-text{
    font-size: 14px;
}
.pad-right-none{
    padding-right: 0;
}
.delegate-btn{
    font-size: 1rem;
    font-weight: 600;
    border: transparent;
    box-shadow: 0 4px 4px 0 rgb(255 255 255 / 0%);
}
.connect-patient-btn{
    font-size: 1rem;
    border: transparent;
    height: 40px;
    margin-top: 30px;
    width: auto;
    box-shadow: 0 4px 4px 0 rgb(255 255 255 / 0%);
}
.disable-bg{
    background: #f9f9f9;
}
.bg-Participant{
    background: #f6f7fb;
}
.participant-subtitle{
    font-size: 16px;
    font-weight: 600;
}
.participant-subtext{
    font-size: 1rem;
    line-height: 1.1rem;
    white-space: initial;
    text-align: left;
    font-weight: 400;
}
.checkbox-padding{
    padding-left: 18px;
}
.hide-save{
    display: none;
}
@media (max-device-width: 767px) {    
    .mobile-view-model{
        margin: 16px;
        padding: 0px;
        max-height: 92%;
    }
    .model-close-icon{
        margin-left: 12px;
    }  
    .bar {    
        height: 80px;
    } 
    .next-btn{
        float: none;
        margin-left: 0;
        width: 100%;
        margin-bottom: 15px;
        margin-top: 10px;
    }
    .back-btn{
        margin-left: 0;
    }
    .slds-modal__footer span{       
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .btn_stretch{
        width: 45%;
    }
    .mobile-padding-view{
        padding: 15px;
    }
    .checkbox-padding{
        padding-left: 0;
    }
    .connect-patient-btn{
        width: 100%;
    }
    .pad-right-none{
        padding-right: var(--lwc-spacingSmall,0.75rem);
    }
    /* Scrollbar Code */
    ::-webkit-scrollbar {
        width: 2px;
    }
    ::-webkit-scrollbar-thumb {
        background: #999999; 
        border-radius: 4px;
        cursor:pointer;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: #858383;
    }
    
}


/** Bubble Map **/

.vpi-title {
    font-size: 18px;
    font-weight: 600;
}

 .width-basis {
    flex-basis: auto;
}

 .vpi-state {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.vri-state-label {
    text-align: center;
    font-size: 1rem;
    line-height: 1;
}

.slds-grid .vpi-state.current .vri-state-label:last-child {
    font-weight: 400;
}

.vpi-line-div {
    height: 22px;
    border-top: 3px solid;
    padding-right: 0;
    padding-left: 0;
}

 .vpi-line-div.neutral {
    border-top-color: #b5b5b5;
}

 .vpi-line-div.success {
    border-top-color: #00c221;
}

.vpi-path {
    margin: 30px 0 5px;
    padding: 0 15px;
}
 .vpi-path .vpi-state:first-child .vpi-line-div:first-child {
    border-top-color: transparent;
}

 .vpi-path .vpi-state:last-child .vpi-line-div:last-child {
    border-top-color: transparent;
}

 .state-ico-wrapper {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    left: -9px;
    line-height: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
 .state-ico-wrapperRTL {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    position: absolute;
    top: -15px;
   /* @noflip */ left: 100%;
    line-height: 1;
    margin-left:40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

 .state-ico-wrapper .rr-icon-default {
    width: 24px;
    height: 24px;
    padding: 0;
    fill: white !important;
    background-color: white;
}
 .state-ico-wrapperRTL .rr-icon-default {
    width: 24px;
    height: 24px;
    padding: 0;
    fill: white !important;
    background-color: white;
}

 .vpi-state.current .state-ico-wrapper {
    width: 28px;
    height: 28px;
    top: -14px;
    left: -14px;
}
.vpi-state.current .state-ico-wrapperRTL {
    width: 21px;
    height: 21px;
    top: -15px;
    /* @noflip */ left: 100%;
}

.vpi-state.current .state-ico-wrapper .rr-icon-default {
    width: 21px;
    height: 21px;
    padding: 0px;
    background: white;
}
 .vpi-state.current .state-ico-wrapperRTL .rr-icon-default {
    width: 21px;
    height: 21px;
    padding: 0px;
    background: white;
}

.vpi-state.neutral .state-ico-wrapper {
    background-color: #b5b5b5 !important;
}

 /* .vpi-state.success .state-ico-wrapper {
    background-color: #00c221 !important;
} */

 .vpi-state.in_progress .state-ico-wrapper {
    background-color: #005ff1 !important;
}

 .vpi-state.failure .state-ico-wrapper {
    background-color: #e20000 !important;
}
 .vpi-state.neutral .state-ico-wrapperRTL {
    background-color: #b5b5b5 !important;
}

.vpi-state.success .state-ico-wrapperRTL {
    background-color: #00c221 !important;
}

 .vpi-state.in_progress .state-ico-wrapperRTL {
    background-color: #005ff1 !important;
}

 .vpi-state.failure .state-ico-wrapperRTL {
    background-color: #e20000 !important;
}

/* status names */

.vpi-state.neutral .vri-state-label { 
    color: #999;
    font-size: 1rem;
}

.vpi-state.success .vri-state-label {
    color: #000;
    font-size: 1rem;
}

.vpi-state.in_progress .vri-state-label {
    color: #000;
    font-size: 13px;
}

.vpi-state.failure .vri-state-label {
    color: #000;
    font-size: 13px;
}

@media not print {
 .vri-state-label {
        display: none;
    }
     .vpi-state.neutral .cRRIcon {
        display: none;
    }
}

.vpi-state.current .vri-state-label {
    display: block;
    font-weight: 600;
    font-size: 1rem;
}

.THIS .vpi-path-panel .path-section {
    padding: 0 0 10px;
}

@media all and (min-width: 1024px) {
 .vri-state-label {
        display: block;
    }
   .width-basis {
        flex-basis: 0;
    }

   .state-ico-wrapper {
        width: 28px;
        height: 28px;
        top: -14px;
        left: -14px;
    }

    .state-ico-wrapper .rr-icon-default {
        width: 28px;
        height: 28px;
        padding: 0px;
    }
}