.spins::after {
    position: absolute;
    width: 100%;
    text-align: center;
    top: calc(50% + 3em);
    font-weight: bold;
}

.body-container {
    color: #444444;
    font-size: 1rem;
    letter-spacing: 0;
    line-height: 1.5rem;
    width: 95%;
}

.button-cancel {
    color: #015ff1;
    height: 2rem;
    font-size: 1rem;
    font-weight: 600;
    border-color: transparent;
    line-height: 1.3125rem;
    text-align: center;
}

.button-confirm {
    justify-content: center;
    width: 107px;
    height: 2rem;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 1.3125rem;
    text-align: center;
    border-radius: 1.25rem;
    background-color: #015ff1;
    box-shadow: 0 4px 8px 0 rgb(7 104 253 / 25%);
}

.button-confirm-mobile {
    justify-content: center;
    width: 100%;
    height: 2rem;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 1.3125rem;
    text-align: center;
    border-radius: 1.25rem;
    background-color: #015ff1;
    box-shadow: 0 4px 8px 0 rgb(7 104 253 / 25%);
}
