.slds-modal__container {
    width: 28%;
}
.unable-login-card-top {
    height: 16px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background: linear-gradient(90deg, rgb(0, 85, 135) 0%, rgb(0, 141, 158) 100%);
}
.btn-cancel {
    transform: rotate(-360deg);
    color: #0768fd;
    font-size: 14px;
    font-weight: 500;
}
.spins::after {
    position: absolute;
    content: 'Loading......';
    width: 100%;
    text-align: center;
    top: calc(50% + 3em);
    font-weight: bold;
}

.btn-confirm {
    justify-content: center;
    width: 107px;
    color: #ffffff;
    border-radius: 20px;
    background-color: #0768fd;
    box-shadow: 0 4px 8px 0 rgb(7 104 253 / 25%);
}
.deactivate-delegate-title {
    color: #000000;
    font-size: 20px;
    font-weight: 600;
}
.slds-modal__content {
    border: 1px solid #d9d9d9;
    border-bottom-left-radius: 16px !important;
    border-bottom-right-radius: 16px !important;
    background-color: #ffffff;
}
@media all and (max-width: 768px) {
    .slds-modal__container {
        width: 83%;
    }
}
