/**
 * Created by Igor Malyuta on 07.04.2020.
 */
.white-panel {
    background-color: #fff;
    width: 100%;
    height: 400px;
    padding-top: 50px;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: center;
}