/**
* Created by Kryvolap on 21.09.2019.
*/
.THIS .ht-panel {
    margin-bottom: 20px;
}

.THIS .slds-has-error .slds-form-element__help {
    width: 100%;
    margin-bottom: 18px;
    z-index: 0;
    display: flex;
}

.THIS .h-body {
    margin-top: 0;
}

.THIS .h-header .h-header-info {
    color: #000000;
    font-size: 1rem;
    line-height: 24px;
}

.THIS .h-header .h-header-info .h-header-info-bold-text {
    font-weight: bold;
}

.THIS .h-body .h-body-title,
.THIS .h-body .h-body-label {
    color: #666666;
    font-size: 1rem;
    line-height: 16px;
}

.THIS .h-body .h-body-title {
    margin-bottom: 10px;
}

.THIS .h-body .slds-file-selector.slds-file-selector_files,
.THIS .h-body .slds-file-selector__dropzone,
.THIS .h-body .slds-form-element__control.slds-grow,
.THIS .h-body .rrs-container {
    width: 100%;
}

.THIS .rrs-label {
    margin-bottom: 5px;
}

.THIS .slds-align_absolute-center {
    width: 80%;
}

.THIS .slds-align_absolute-center .slds-wrap {
    width: 100%;
}

.THIS .h-body .h-body-text-area label {
    display: none;
}
.THIS .h-body .h-type-select {
    margin-bottom: 10px;
}
.THIS .h-body textarea {
    height: 200px;
    margin-bottom: 20px;
}

.THIS .h-body #h-body-file-upload {
    margin-bottom: 10px;
}

.THIS .h-body #h-body-file-upload span.slds-file-selector__button.slds-button.slds-button_neutral {
    margin: 5px;
    padding: 18px;
}

.THIS .h-body-file-upload-pills {
    margin-bottom: 20px;
}

.THIS .h-body-file-upload-pills .h-file-pill {
    margin-top: 5px;
    margin-left: 0;
    padding-right: 1px;
}
.THIS .h-body-file-upload-pills .h-file-pill svg {
    width: 16px;
    height: 16px;
}

.THIS .h-body .h-body-button {
    position: relative;
    text-align: center;
}

.THIS .h-body .h-body-info {
    margin-top: 70px;
}

.THIS .file-btn {
    display: inline-block !important;
    max-height: inherit !important;
    max-width: inherit !important;
    text-align: center !important;
    line-height: 1 !important;
    cursor: default !important;
}

/* style for the css menu dropdown container */
.THIS .dropdown {
    display: flex;
    position: relative;
    align-items: center;
    width: 300px;
    height: auto;
    color: #000;
    border: 1px solid #d9d9d9;
    border-radius: 0.25rem;
    padding: 0 0.25rem 0 0.5rem;
    background: #fff;
    font-size: 1rem;
}

.THIS .dropdown:after {
    content: '';
    background: url(/resource/1571137334000/SelectMenuTriangleDown);
    position: absolute;
    top: 5px;
    right: 10px;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
}

/* style for the dropdown box */
.THIS .dropdown-menu {
    width: 100%;
    height: 300px;
    overflow-y: scroll;
    margin: 0;
    padding: 2rem 0 0.5rem;
    position: relative;
    z-index: 1;
    /* top: 0.5rem; */
    top: 0px;
    left: 0;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    display: none;
}

.THIS .dropdown-menu:before {
    content: 'Select one...';
    position: absolute;
    left: 1rem;
    top: 1rem;
    color: #999;
}

.THIS .dropdown-menu li {
    display: block;
    color: #000;
    padding: 0.5rem 1rem;
}

.THIS .dropdown-menu li:first-child {
    padding-top: 1rem;
}

.THIS .dropdown-menu li:last-child {
    padding-bottom: 1rem;
}

.THIS .dropdown-menu li:hover {
    background: #ecf3ff;
    transition: 0.25s;
}

.THIS .dropdown:focus,
.THIS .dropdown-menu:focus {
    outline: none;
}

.THIS .active {
    display: block;
}

.THIS .dropdown-span {
    width: 250px;
    padding: 5px;
}

.THIS.placeholder-container{
    width : 300px;
}

.THIS .cwidth{
    width: 93%;
    display: inline-block;
}
@media (max-width: 850px) {
    .THIS .h-body {
        margin-top: 20px;
    }

    .THIS .h-body .h-body-label {
        font-size: 1rem;
        line-height: 53px;
    }

    .THIS .h-body .h-body-info {
        margin-top: 20px;
    }

    .THIS .slds-has-error .slds-form-element__help {
        position: relative;
        width: 100%;
        margin-bottom: 18px;
        z-index: 0;
        display: flex;
    }

    .THIS .slds-radio:first-child {
        margin-bottom: 15px;
    }
}

.THIS .ht-label {
    font-size: 16px;
}

.THIS .ht-sub-label {
    font-size: 14px;
    color: #444444;
}

@media all and (max-width: 500px) {
    .THIS .pi-picklist-container .slds-grid > .slds-col {
        width: 100%;
    }

    .THIS .pi-picklist-container .slds-grid > .slds-col:first-child {
        margin-bottom: 15px;
    }
    .THIS .dropdown {
        width: 100% !important;
    }
    .THIS .dropdown-span {
        width: 340px !important;
    }
    .THIS .dropdown:after {
        top: auto !important;
    }
}