/**
 * Created by Leonid Bartenev
 */

.THIS.vr-item {
    padding: 6px 10px 5px;
    margin-bottom: 4px;
    min-width: 200px;
    align-items: center;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
}

.THIS.vr-item .slds-form-element__label {
    display: inline;
    padding: 0;
    font-size: 0.8125rem;
}