.THIS.body {
    font-family: 'Proxima Nova';
}
.THIS.body-image {
    background: linear-gradient(268.65deg, #005587 0%, #0e548a 34.43%, #cd48b3 100%);
    overflow: hidden;
}
.THIS.body-content .body-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.8;
}
.THIS .login-card {
    position: absolute;
    top: 70px;
    right: 48px;
    min-height: 700px;
    width: 414px;
    border-radius: 24px;
    background-color: #ffffff;
    box-shadow: 0 0 64px 0 rgba(0, 0, 0, 0.25);
}
.THIS .wave {
    height: 5rem;
}

.THIS .login-form-layout {
    width: 318px;
}
.THIS .iqvia-txt {
    color: #444444;
    font-family: 'Proxima Nova';
    font-size: 32px;
    line-height: 38px;
}
.THIS .patient-portal-txt {
    color: #444444;
    font-family: 'Proxima Nova';
    font-size: 32px;
    font-weight: bold;
    line-height: 38px;
    margin-left: 8px;
}

.THIS .footer-label {
    color: #9a9a9a;
    font-family: 'Proxima Nova';
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}
.THIS .footer {
    margin: 5.5rem 0 1rem 0;
}
.THIS .body-content {
    width: 20rem;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
}
.THIS .slds-col--padded {
    padding: 0;
}
@media (max-width: 500px) {
    .THIS .body-img {
        display: none;
    }
    .THIS .login-form-layout {
        margin-top: 140px;
    }
    .THIS .login-card {
        top: 0px;
        width: 100%;
        height: 900px;
        right: 0px;
        border-radius: 0px;
    }
}
/* Tablet media query start here */
@media (min-width: 760px) and (max-width: 1024px) {
    .THIS.body-content .body-img {
        min-height: 960px;
    }
}
/* Tablet media query end here */
@media (min-width: 501px) and (max-width: 759px) {
    .THIS .login-form-layout {
        margin-top: 231px;
    }
    .THIS .body-img {
        display: none;
    }
    .THIS .wave img {
        transform: scaleX(1.1);
    }
    .THIS .login-card {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        border-radius: 0;
        height: 930px;
    }
    .THIS .footer {
        position: relative;
        top: 190px;
    }
    .THIS .footer-logo {
        flex: 1;
        text-align: left;
        margin-left: 32px;
    }
    .THIS .footer-label {
        margin-top: 0;
        padding: 0;
        margin-right: 28px;
    }
    .THIS .footer-powered {
        text-align: right;
    }
}
