/**
 * Created by Pijush Kar
 */
.THIS.body-content img {
    height: 947px;
    width: 1366px;
}
.THIS .login-card {
    z-index: 2;
    position: absolute;
    top: 60px;
    right: 60px;
    height: 796px;
    width: 414px;
    border-radius: 24px;
    background-color: #ffffff;
    box-shadow: 0 0 64px 0 rgba(0, 0, 0, 0.25);
}
@media all and (max-width: 768px) {
    .THIS .mob-login-card {
        background-color: #ffffff;
        height: 796px;
        width: 414px;
    }
}
