/**
 * Created by Nargiz Mamedova on 6/11/2020.
 */

.THIS.menu-block {
    display: inline-block;
    position: relative;
    height: 50px;
    color: white;
}

.THIS .logout-btn {
    height: 40px;
    width: 315px;
    margin: 18px 0;
    background-color: #F2F2F2;
    color: #444444;
    font-family: "Proxima Nova";
    font-size: 16px;
}

.THIS.menu-block li.body{
    max-height: 420px;
}

/*-----------------------------------------------------------------------*/

@media all and (max-width: 550px) {
    .THIS .header-menu-link {
        padding: 0 1rem;
    }
}