/**
 * Created by Nargiz Mamedova on 6/11/2020.
 */

.THIS.menu-block {
    display: inline-block;
    position: relative;
    height: 50px;
    color: white;
}

.THIS .logout-btn {
    height: 40px;
    width: 315px;
    margin: 18px 0;
    background-color: #F2F2F2;
    color: #444444;
    font-family: "Proxima Nova";
    font-size: 16px;
}

.THIS.menu-block li.body{
    width: 344px;
}

/*-----------------------------------------------------------------------*/

.THIS .item-title{
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 85%;
}

.THIS .header-menu-link {
    padding: 0 8px;
}

@media all and (orientation:landscape) and (max-width: 1024px) {
    .THIS.menu-block {
        position: static;
    }
}

@media all and (orientation:portrait) and (max-width: 1024px) {
    .THIS.menu-block {
        position: static;
    }
}

@media all and (orientation:landscape) and (max-height: 450px) {
    .THIS .menu-popup-panel.popupTargetContainer {
        max-height: 300px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .THIS .menu-popup-panel.popupTargetContainer::-webkit-scrollbar {
        -webkit-appearance: none;
    }

    .THIS .menu-popup-panel.popupTargetContainer::-webkit-scrollbar:vertical {
        width: 11px;
    }

    .THIS .menu-popup-panel.popupTargetContainer::-webkit-scrollbar:horizontal {
        height: 11px;
    }

    .THIS .menu-popup-panel.popupTargetContainer::-webkit-scrollbar-thumb {
        border-radius: 8px;
        border: 2px solid white; /* should match background, can't be transparent */
        background-color: rgba(0, 0, 0, .5);
    }
}

