/**
 * Created by Nargiz Mamedova on 6/11/2020.
 */

.THIS.menu-block {
    display: inline-block;
    position: relative;
    height: 50px;
    color: white;
}

.THIS .logout-btn {
    height: 40px;
    width: 315px;
    margin: 18px 0;
    background-color: #F2F2F2;
    color: #444444;
    font-family: "Proxima Nova";
    font-size: 16px;
}

/*-----------------------------------------------------------------------*/

@media all and (max-width: 550px) {
    .THIS .header-menu-link {
        padding: 0 1rem;
    }
}

/*.THIS.menu-block .menu-popup-panel li.active,*/
/*.THIS.menu-block .menu-popup-panel li:hover:not(.active) {*/
/*    background-color: white;*/
/*}*/

/*.THIS.menu-block .menu-popup-panel li.header,*/
/*.THIS.menu-block .menu-popup-panel li.header:hover:not(.active) {*/
/*    height: 153px;*/
/*    cursor: auto;*/
/*}*/

/*.THIS.menu-block .menu-popup-panel li.lo-button,*/
/*.THIS.menu-block .menu-popup-panel li.lo-button:hover:not(.active) {*/
/*    height: 68px;*/
/*    cursor: auto;*/
/*}*/

/*.THIS.menu-block .menu-popup-panel li.body,*/
/*.THIS.menu-block .menu-popup-panel li.body:hover:not(.active) {*/
/*    height: 100%;*/
/*    cursor: auto;*/
/*}*/