.bar {
    height: 4px;
    background: linear-gradient(270deg, #0076ae, #250056);
    position: relative;
}
.title {
    color: #000000;
    font-family: 'Proxima Nova';
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 32px;
}
.btn-height {
    height: 36px;
}
.save-btn {
    float: left;
    margin-left: 15px;
}
.discard-btn {
    border: 1px solid #ffffff;
    box-shadow: 0 4px 4px 0 rgb(255 255 255 / 4%);
}
.save-btn-p {
    text-align: right;
    padding: 12px 27px;
}

.lightningCard {
    border: 1px solid #dedede;
    margin: 10px 0px 10px 0px;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 1px #dedede;
    font-family: Proxima Nova;
}

.inputFields {
    font-size: 16px;
}

.vertical-scroll {
    height: 51vh;
    overflow: auto;
    overflow-x: hidden;
    margin-top: 10px;
}
.vertical-scroll::-webkit-scrollbar {
    width: 0px;
}
.vertical-scroll::-webkit-scrollbar-thumb {
    background: #fff !important;   
}
/* Scrollbar Code */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background: #999999;
    border-radius: 4px;
    cursor: pointer;
}
::-webkit-scrollbar-thumb:hover {
    background: #858383;
}
/* Scrollbar Code End */

textdecoration {
    color: #000000 !important;
    font-family: 'Proxima Nova' !important;
    font-size: 16px !important;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 24px;
}

/*  Tooltip for Text length overflow  */
.tooltip {
    position: relative;
    display: inline-flex;
}
.tooltip .tooltiptextTop {
    visibility: hidden;
    width: auto;
    background-color: #444444;
    color: #fff;
    text-align: center;
    font-size: 13px;
    line-height: 18px;
    border-radius: 6px;
    padding: 8px 10px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}
.tooltip .tooltiptextTop::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 7px;
    border-style: solid;
    border-color: #444444 transparent transparent transparent;
}
.tooltip:hover .tooltiptextTop {
    visibility: visible;
}
/* --------END Top --------------- */
.tooltip .tooltiptextBottom {
    visibility: hidden;
    width: 200px;
    background-color: #444444;
    color: #fff;
    font-size: 13px;
    line-height: 18px;
    text-align: left;
    border-radius: 6px;
    padding: 8px 10px;
    position: absolute;
    z-index: 5;
    top: 150%;
    left: -200%;
    margin-left: -60px;
}

.tooltip .tooltiptextBottom::after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 7px;
    border-style: solid;
    border-color: transparent transparent #444444 transparent;
}

.tooltip:hover .tooltiptextBottom {
    visibility: visible;
}

.CancelledTag {
    background-color: #ff3232;
    padding: 4px 6px 4px 6px;
    color: white;
    border-radius: 4px 4px 4px 4px;
    font-size: 14px;
}

.layoutStyleCss {
    padding-bottom: 20px;
}

.spinnerHolder {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 80px;
}

.mainSpinnerHolder {
    position: relative;
}

.cancelSpinnerHolder{
    position: relative;
}

.noRecordsFound {
    text-align: center;
    padding: 50px;
    font-weight: 400;
    font-family: 'Proxima Nova';
    border: 1px solid #f2f2f2;
    margin: 30px;
}

.slds-dropdown {
    margin-top: 0 !important;
}
.slds-listbox_vertical .slds-listbox__option_has-meta .slds-media__figure {
    margin-top: 0;
}
.slds-listbox_selection-group {
    padding-right: 0.75rem !important;
    overflow: unset !important;
}
.slds-pill {
    padding-left: 0.5rem !important;
}
.vk-scrollbar::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
.vk-scrollbar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #bfbfbf;
    -webkit-box-shadow: inset 0 0 6px #bfbfbf;
    border-radius: 0.25rem;
}
.vk-scrollbar::-webkit-scrollbar-thumb {
    background: #95989d;
    border-radius: 0.25rem;
}
.vk-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #313235;
}
.view_btn {
    margin-top: -25px;
}
.visit-date,
.start-time {
    padding-right: 16px;
}
.televisit_acion_btn {
    display: flex;
    justify-content: center;
    align-items: center;
}
.televisit {
    margin-top: -3px;
}
.televisit {
    --slds-c-button-outline-brand-color-border: #d4d4d4 !important;
}
.pgHeadMob {
    height: 40px;
    font-size: 16px;
    color: #0768fd;
    font-weight: 600;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.backArrow {
    width: 16px;
    margin-right: 6px;
}
.hideDesktopView,
.attendees_list:last-child .attendee_span,
.televisit_hr {
    display: none;
}
.tv_date {
    width: auto;
}
.tv_attendees {
    display: flex;
    flex-flow: wrap;
}
.tv_edit {
    margin-top: -15px;
}
.space_between{
    justify-content: space-between;
}

.notify-box{
    width: 100%;
    border-radius: 4px;
    border-width: 1px;
    outline-style: solid;
    outline-width: 2px;
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    text-align: justify;
    justify-content: start;
}

.notify-box-outline{
    outline: auto;
    outline-color: #FF9300;
    background : rgba(255,147,0,0.08);
}

.alert-box-outline{
    outline: auto;
    outline-color: #FF0000;
    background : rgba(255,0,0,0.08);
}

.notify-img{
    width: 16px !important;
}

.alert-img{
    width: 38px !important;
}

@media only screen and (min-width: 768px) and (max-width: 920px){
    .notify-img{
        width: 16px !important;
    }
    
    .alert-img{
        width: 55px !important;
    }
}


@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .visit-date,
    .start-time {
        padding-right: 16px;
    }
    .televisit_acion_btn {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: unset;
        width: unset;
    }
    .televisit {
        float: right;
        margin-left: unset;
        display: unset;
        width: unset;
        margin-top: -3px;
    }

    .televisit {
        --slds-c-button-brand-outline-sizing-min-height: 32px !important;
        --slds-c-button-outline-brand-color-border: #d4d4d4 !important;
    }
    .tv_edit {
        padding: 0;
        margin-top: -15px;
    }
}

/* iphones */
@media only screen and (min-device-width: 320px) and (max-device-height: 480px) and (-webkit-device-pixel-ratio: 1),
    only screen and (min-device-width: 320px) and (max-device-height: 480px) and (-webkit-device-pixel-ratio: 2),
    only screen and (min-device-width: 320px) and (max-device-height: 568px) and (-webkit-device-pixel-ratio: 2),
    only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2),
    only screen and (min-device-width: 414px) and (max-device-height: 736px) and (-webkit-device-pixel-ratio: 3),
    only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3),
    only screen and (min-device-width: 390px) and (max-device-height: 844px) and (-webkit-device-pixel-ratio: 3),
    only screen and (min-device-width: 414px) and (max-device-height: 896px) and (-webkit-device-pixel-ratio: 2),
    only screen and (min-device-width: 414px) and (max-device-height: 896px) and (-webkit-device-pixel-ratio: 3),
    only screen and (min-device-width: 428px) and (max-device-height: 926px) and (-webkit-device-pixel-ratio: 3),
    only screen and (-webkit-min-device-pixel-ratio: 3) {
        .vertical-scroll::-webkit-scrollbar {
           display: none !important;
    }
       
}



@media all and (max-width: 767px) {
    .televisit {
        float: none;
        margin-left: 0;
        margin-top: -2px ;
        display: grid;
        width: 100%;
    }
    .view_btn {
        width: 100%;
    }
    .televisit_acion_btn {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }
    .televisit_acion_btn button, .cancel_tv_actionBtn button{
        margin: 8px 0;
        padding: 8px 0;
    }
    .televisit_modal {
        height: 75vh;
        overflow: auto;
    }
    .attendees_lookup {
        padding: 8px 0;
        display: block;
    }
    .visit-date,
    .start-time {
        padding-right: unset;
    }
    .save-btn {
        float: left;
        margin-left: -35px;
    }
    .cancel_tv_actionBtn{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .notify-img{
        width: 32px !important;
    }
    
    .alert-img{
        width: 100px !important;
    }
    div.mainSpinnerHolder::-webkit-scrollbar {
        width: 0px;
    }
    .tv_label{
        text-align: left;
    }
}

@media all and (max-width: 540px) {
    .save-btn {
        float: left;
        margin-left: -25px;
        height: 40px;
        min-width: 75px;
    }
    .televisit_hr {
        display: block;
        width: 100% !important;
        margin: 12px 0 0 0 !important;
    }
    .tv_time {
        padding-left: 40px;
    }
    .tv_span {
        display: none;
    }
    .tv_attendees {
        display: block;
    }
    .tv_edit {
        padding-left: 35px;
        margin-top: -15px;
    }
    .CancelledTag {       
        padding: 2px 8px 2px 8px;       
    }
}

@media only screen and (min-width: 400px) and (max-width: 540px) {
    .tv_edit {
        padding-left: 45px;
    }
}

@media all and (max-width: 281px) {
    .tv_edit {
        padding-left: 15px;
    }
    .notify-img{
        width: 55px !important;
    }
    
    .alert-img{
        width: 175px !important;
    }
}