/**
 * Created by Nargiz Mamedova on 6/10/2020.
 */

.THIS.header-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid #f8f9fb;
}

.THIS .avatar-icon {
    background-color: #df216d;
    height: 55px;
    width: 55px;
    margin: 18px;
    border-radius: 100%;
}

.THIS .slds-avatar_large,
.THIS .slds-avatar--large {
    width: 55px;
    height: 55px;
}

.THIS .delegate-avatar {
    height: 38px;
    width: 38px;
    margin-top: 15%;
    margin-left: 15%;
}

.THIS .single-avatar {
    height: 24px;
    width: 21px;
    margin-top: 27%;
    margin-left: 31%;
}
.THIS .single-avatarRTL {
    height: 24px;
    width: 21px;
    margin-top: 27%;
    /* @noflip */
    margin-right: 31%;
}

.THIS .user-name {
    color: #000000;
    font-family: 'Proxima Nova';
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 5px;
    width: 100%;
    text-align: center;
    white-space: normal;
}

.THIS .user-mode {
    color: #595959;
    font-family: 'Proxima Nova';
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    margin-bottom: 15px;
    padding: 4px 0;
}

.THIS .user-name.rtl {
    /* @noflip */
    direction: rtl;
}

.THIS .user-mode.rtl {
    /* @noflip */
    direction: rtl;
}
