.lab-header {
    color: #444444;
    font-size: 1.125 rem;
    font-weight: 600;
}
.more-results {
    color: #6e6e6e;
    font-size: 0.875rem;
    font-weight: 600;
}
.position-container {
    position: relative;
    padding-left: 0.675rem;
}
