.lab-header {
    color: #444444;
    font-size: 1.125rem;
    font-weight: 600;
}
.more-results {
    /*  padding: 1.291rem, 10rem, 1.313rem, 10rem;*/
    color: #6e6e6e;
    font-size: 0.875rem;
    font-weight: 600;
    padding-bottom: 0.5rem;
}
.position-container {
    position: relative;
}

.no-result-text {
    color: #999999;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.5rem;
    text-align: center;
    padding-bottom: 5.625rem;
}
