.THIS .bitmap {
    width: 100%;
}

.THIS .resource-description-footer {
    display: flex;
}

.THIS .resources-icon-like {
    height: 17px;
    width: 18px;
    margin-right: 3px;
    display: inline-block;
}

.THIS .resources-icon {
    display: block;
    margin-right: 3px;
    margin-top: 3px;
}

.THIS .resources-number-of-likes {
    height: 17px;
    width: 18px;
    text-align: center;
    display: inline-block;
    vertical-align: text-top;
}
.THIS .resources-icon-dislike {
    height: 17px;
    width: 18px;
    text-align: center;
    display: inline-block;
    vertical-align: text-top;
    transform: scale(-1, 1)
}

.THIS .resources-icon-star {
    height: 17px;
    width: 18px;
    margin-left: 4px;
}

.THIS .resource-description {
    margin-top: 30px;
}

.THIS .resource-description-header {
    height: 20px;
    color: #666666;
    font-family: "Proxima Nova";
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
}

.THIS .resource-description-text {
    color: #999999;
    font-family: "Proxima Nova";
    font-size: 12px;
    line-height: 14px;
    margin: 0 0 3px 0;
}
.THIS .resource-body {
    color: #333333;
    font-family: "Proxima Nova";
    font-size: 13px;
    line-height: 16px;
    margin-top: 15px;
    padding-bottom: 50px;
}
.THIS .resource-title {
    color: #666666;
    font-family: "Proxima Nova";
    font-size: 13px;
    font-weight: 500;
    line-height: 30px;
}
.THIS .resource-description-short {
    color: #999999;
    font-family: "Proxima Nova";
    font-size: 12px;
    line-height: 14px;
}
.THIS .resource-expiration-date {
    height: 14px;
    color: #999999;
    font-family: "Proxima Nova";
    font-size: 12px;
    font-style: italic;
    line-height: 14px;
}
.THIS .ah-video-iframe {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
.THIS .my_iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}