.THIS .resource-footer {
    width: 100%;
    height: 50px;
    margin-top: auto;
}

.THIS.resource-card {
    display: flex;
    flex-direction: column;
    max-width: 525px;
    min-height: 450px;
    position: relative;
}

.THIS .last-resource-container {
    margin-bottom: 20px !important;
}

.THIS .resource-card-title {
    height: 27px;
    color: #000000;
    font-family: 'Proxima Nova';
    font-size: 16px;
    font-weight: 500;
    line-height: 27px;
    margin: 14px 0 18px 33px;
}

.THIS .resource-card-title-RTL {
    height: 27px;
    color: #000000;
    font-family: 'Proxima Nova';
    font-size: 16px;
    font-weight: 500;
    line-height: 27px;
    margin: 14px 30px 18px 33px;
}

.THIS .resource-error-message {
    margin-top: 30%;
    top: 50%;
    position: sticky;
    height: 26px;
    color: #999999;
    font-family: 'Proxima Nova';
    font-size: 17px;
    line-height: 26px;
    text-align: center;
}

.THIS.rtl {
   /* @noflip */  direction: rtl;
}

@media (max-width: 1140px) {
    .THIS.resource-card {
        min-width: 450px;
    }
}

@media (max-width: 1020px) {
    .THIS.resource-card {
        min-width: auto;
    }
}

@media (max-width: 468px) {
    .THIS .resource-footer {
        margin-bottom: 25px;
    }
}