/**
 * Created by Andrii Kryvolap
 */

.THIS .button-icon{
    width: 16px;
    height: 16px;
    fill: #666666!important;
}

.THIS .button-label{
    margin-left: 10px;
    display: inline;
}

.THIS .more-separator{
    background-color: #F6F7FB;
    height: 24px;
    color: #444444;
    font-size: 16px;
    padding-left: 20px;
}

.THIS li.button{
    width: 100%;
    height: 48px;
    padding-top: 12px;
    padding-left: 20px;
    align-items: flex-start;
    border-bottom: 1px solid #F8F9FB;
}

.THIS li:hover{
    cursor: pointer;
}
