/**
 * Created by Andrii Kryvolap
 */

 .THIS .button-icon {
    width: 16px;
    height: 16px;
    fill: #666666 !important;
}

.THIS .button-label {
    margin-left: 10px;
    display: inline;
}
.THIS .button-labelRTL {
/* @noflip */    margin-right: 10px;
  /* @noflip */    display: inline;
}

.THIS .more-separator {
    background-color: #f6f7fb;
    height: 24px;
    color: #444444;
    font-size: 16px;
    padding-left: 20px;
}
.THIS .more-separatorRTL {
    background-color: #f6f7fb;
    height: 24px;
    color: #444444;
    font-size: 16px;
  /* @noflip */  padding-right: 20px;
 /* @noflip */   text-align: right;
}

.THIS li.button {
    width: 100%;
    height: 48px;
    padding-top: 12px;
    padding-left: 20px;
    align-items: flex-start;
    border-bottom: 1px solid #f8f9fb;
}
.THIS li.buttonRTL {
    /* @noflip */  width: 100%;
    /* @noflip */  height: 48px;
    /* @noflip */   padding-top: 12px;
    /* @noflip */   padding-right: 20px;
    /* @noflip */  align-items: flex-start;
    /* @noflip */  border-bottom: 1px solid #f8f9fb;
}

.THIS li:hover {
    cursor: pointer;
}