/**
 * Created by Andrii Kryvolap
 */

.THIS .button-icon{
    width: 16px;
    height: 16px;
    fill: #666666!important;
}

.THIS .button-label{
    margin-left: 10px;
    display: inline;
}

.THIS .more-separator{
    background-color: #F6F7FB;
    height: 24px;
    color: #444444;
    font-size: 16px;
    padding-left: 10px;
}
.THIS li{
    border-bottom: 1px solid #F8F9FB;
}
