.THIS div {
    /*overflow: hidden;
    white-space: nowrap;
    font-size: 1em;*/
}

.THIS .sd-study-name {
    margin-bottom: 10px;
    color: #000000;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 36px;
}

/*=============================TABS=============================*/
/*.THIS .sd-tab-container::-webkit-scrollbar {*/
/*width: 0;*/
/*}*/
.THIS .links .apollo-btn{
    padding: 0 10px;
}

.THIS .links .apollo-btn + .apollo-btn{
    margin-left: 5px;
}

.THIS .apollo-btn.current{
    background-color: #e9f2ff;
    transition: 0.3s;
}

.THIS .sd-tab-container {
    display: flex;
    min-height: 62px;
    width: 100%;
    border-top: 1px solid #F1F1F1;
    border-bottom: 1px solid #F1F1F1;
    background-color: #FFFFFF;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    overflow-y: hidden;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}

.THIS .sd-tab-container .sd-tab-right,
.THIS .sd-tab-container .sd-tab-left {
    display: flex;
    min-height: 62px;
}
.THIS .sd-tab-container .sd-tab-right {
    float: right;
}

.THIS .sd-tab-container .sd-tab-right .sd-tub-button{
    display: grid;
    width: 62px;
    padding-top: 10px;
    white-space: normal;
    color: #297DFD;
    font-size: 10px;
    font-weight: 600;
    line-height: 14px;
    text-align: center;
}

.THIS .sd-tab-container .sd-tab-left {
    float: left;
    margin-right: auto;
}

.THIS .sd-tab-container .sd-tab {
    display: grid;
    width: 100px;
    padding-top: 10px;
    border-collapse: collapse;
    border: 1px solid #F2F2F2;
    opacity: 0.6;
    white-space: normal;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
}
.THIS .sd-tab-container .sd-tab:not(.selected):hover {
    background-color: rgba(41,125,253,0.1);
    box-shadow: inset 0 -3px 0 0 #297DFD;
    opacity: 0.5;
}

.THIS .sd-tab-container .sd-tub-button:hover {
    background-color: rgba(41,125,253,0.1);
    opacity: 0.5;
}

.THIS .sd-tab-container svg {
    margin: auto;
}

.THIS .sd-tab.selected{
    opacity: 1;
    pointer-events: none;
    background-color: rgba(41,125,253,0.1);
    box-shadow: inset 0 -3px 0 0 #297DFD;
    font-weight: bold;
}

.THIS .share-btn-label{
    color: #297DFD;
    text-align: center;
}

.THIS .sd-tab.disabled{
    background-color: #FFFFFF;
    pointer-events: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
.THIS .sd-tub-button.disabled {
    opacity: 0.6;
    pointer-events: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.THIS .sdv-top-bar{
    padding-top: 30px;
    background-color: white;
    box-shadow: 0px 20px 30px -10px rgba(0,0,0,0.15);
    z-index: 1250;
    position: relative;
}
.THIS .sdv-top-bar-pi-rp{
    background-color: transparent!important;
    box-shadow: none!important;
}

.THIS .sdv-top-bar.sticky{
    box-shadow: none;
}

.THIS .sdv-top-bar.sticky .sticky-bar{
    position: fixed;
    top: 50px;
    z-index: 2000;
    box-shadow: 0px 20px 30px -10px rgba(0,0,0,0.15);
}


.THIS .sdv-top-bar .navigation{
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
}

.THIS .sdv-top-bar .title{
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 36px;
    padding-bottom: 10px;
}

.THIS .sdv-top-bar .tabs{
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
}

.THIS .sdv-top-bar .links{
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 0.4s;
    overflow: hidden;
}

.THIS .sdv-top-bar .links.collapsed{
    padding-top: 0;
    padding-bottom: 0;
    height: 0;
}

.THIS .sdv-top-bar .links.collapsed button{
    opacity: 0;
    transition: 0.4s;
}

.THIS .sdv-top-bar .sticky-bar{
    background-color: white;
}

.THIS .sdv-top-bar .sticky-bar.sticky{
    box-shadow: 0 20px 30px -10px rgba(0,0,0,0.15);
}

.THIS .sdv-top-bar .height-stub{
    display: none;
}

.THIS .sdv-top-bar.sticky .height-stub{
    display: block;
}

.THIS .sdv-btn{
    margin-left: 20px;
    white-space: nowrap;
}

.THIS .sdv-btn:last-child{
    margin-right: 20px;
}

.THIS .visible-tab{
    display: block;
}

.THIS .invisible-tab{
    display: none;
}
.THIS .resources-icon-social {
    margin-left: 0.5rem;
}
.THIS .share-social-buttons {
    display: inline-flex;
    justify-content: end;
    align-items: flex-end;
    min-width: 6rem;
    float: right;
    margin-right: 65px;
}
.THIS .share-social-icon {
    margin-right: 0.5rem;
    display: inline-block;
    width: 22px;
    height: 22px;
}

.THIS .contrast-logo {
    max-width: 136px;
    margin: 10px 0;
}

.THIS .hidden-button{
    visibility: hidden;
}

.THIS .share-icons{
    display: flex;
}

.THIS .share-ico{
    margin: 0 8px;
    cursor: pointer;

}

.THIS .share-ico .rr-icon-default{
    width: 20px!important;
    height: 20px!important;
}

@media (max-width: 768px){
    .THIS .sdv-top-bar .links .apollo-btn.text{
        font-size: 13px;
    }
    .THIS  .share-social-buttons {
        margin-right: 0;
    }
}

@media all and (max-width: 480px){
    .THIS .sdv-top-bar .links .apollo-btn.text{
        font-size: 11px;
    }
}

@media (max-width: 550px){
    .THIS .sdv-top-bar.sticky.multi-mode .sticky-bar{
        top: 80px;
    }
}
.THIS .contrast-logo {
    max-width: 136px;
    margin: 10px 0;
}

.THIS .navigation.rr-width-limiter.side-padding {
    padding-left: 0;
}
.THIS .navigation .cRRNavigationPath.navigation-path {
	font-size: .875rem;  
    margin-bottom: .5rem;
    margin-left: 1rem;
}

.THIS .actions-buttons{
    margin-top: 4px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.THIS .button-share-icon {
    visibility: hidden;
    display: flex;
    position: fixed;
    margin-left: -54px;
    margin-top: 20px;
    transition: all ease 0.3s;

}
.THIS #shares:hover ~ .button-share-icon{
    /*display: block !important;*/
    visibility: visible !important;
}
.THIS .button-share-icon:hover {
    /*display: block !important;*/
    visibility: visible !important;
}