/**
* Created by Kryvolap
*/
.THIS .path-item-detail-panel {
    text-align: start;
}

.THIS .path-item-detail-panel .title {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: #000;
}

/*
.THIS .path-item-detail-panel.success .title {
color: #63C900;
}

.THIS .path-item-detail-panel.failure .title {
color: #FF283F;
}

.THIS .path-item-detail-panel.in_progress .title {
color: #FF9300;
}

.THIS .path-item-detail-panel.neutral .title {
color: #999999;
}
*/
.THIS .pe-state-row.current .path-item-detail-panel .title {
    font-weight: 600;
}

.THIS .pe-state-row.current .path-item-detail-panel.neutral .title {
    color: black;
}

.THIS .label.changed {
    color: #297dfd;
}

/*
.THIS .path-item-detail-panel > .slds-col {
width: auto;
}
*/
.THIS .pe-history {
    margin-top: 10px;
}

.THIS .pe-history > .title {
    font-size: 14px;
    line-height: 14px;
    margin-top: 2px;
    color: #595959;
}

.THIS .pe-history .info {
    font-size: 14px;
    line-height: 18px;
    margin-top: 5px;
}

.THIS .pe-history .info {
    font-weight: 600;
    color: #000;
}

.THIS .pe-history .date {
    color: #595959;
    font-size: 14px;
    line-height: 24px;
}

/*
.THIS .info.green {
color: #00C221;
}

.THIS .info.orange {
color: #FF9300;
}

.THIS .info.red {
color: #FF283F;
}
*/
.THIS .rr-white-panel {
    border: unset;
    border-radius: unset;
    box-shadow: unset;
    overflow: hidden;
    border-bottom: 1px solid #f2f2f2;
}

.THIS .path-panel {
    margin-top: 30px;
}

.THIS .path-panel .path-section {
    border-bottom: 1px solid #D9D9D9;
    padding: 10px 10px 30px;
}

.THIS .scrollerSize {
    height: 50px;
}

.THIS .header {
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 3%;
    line-height: 25px;
}

.THIS .header#statusDetailsAnchor {
    margin-top: 6%;
}

.THIS #healthCareProvider {
    margin-top: 3%;
}

.THIS .personal-info-container {
    text-align: left;
}

.THIS #p-modal .p-container.large {
    z-index: 9999 !important;
}

.THIS .p-header h2 {
    overflow: hidden;
    text-overflow: ellipsis;
}

.THIS .screening-gizmo-frame {
    width: 100%;
    border: 0;
    overflow: hidden;
    margin-top: 30px;
}

.THIS .hide-survey-header {
    display: none;
}

.THIS .survei-gizmo-iframe-container {
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
}

.THIS .form-content {
    min-height: 400px;
}

/* CSS for Participant Enrollment Status History */

.THIS .step-card-title{
    color: #000000;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 600;
}
.THIS .step-history-title{
    margin-top: 4px;
    color: #000000;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 600;
}

.THIS .step-history-records{
    margin-top: 8px;
}

.THIS .history-item {
    padding: 1px;
    color: #595959;
}

.THIS .history-item-title{
    color: #595959 !important;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 600;
    word-break: break-all;
}
.THIS .history-item-detail{
    color: #595959 !important;
    font-family: "Proxima Nova";
    font-size: 16px;
}
/* Participant Enrollment Status History */ 


@media all and (max-width: 768px) {
    .THIS .personal-info-container .slds-float_left {
        width: 100%;
    }
    
    .THIS .personal-info-container .apollo-btn {
        width: 100%;
        margin-top: 15px;
    }
}

@media all and (min-width: 1024px) {
    .THIS #p-modal .p-container.large {
        width: 1000px;
    }
}

@media all and (max-width: 1024px) {
    .THIS .rp-save-btn {
        margin-top: 2%;
    }
}

@media all and (max-width: 600px) {
    
    .THIS .rp-save-btn {
        margin-top: 2%;
    }
}


.THIS .rr-form-element + .rr-form-element {
    margin-top: 0;
}

.THIS .rr-form-element {
    margin-bottom: 10px;
}

.THIS .ap-section-title {
    font-size: 20px;
    line-height: 36px;
}

.THIS .ap-section + .ap-section {
    margin-top: 20px;
}

.THIS .ap-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-bottom: 80px;
}

.THIS .apollo-btn.custom-cancel {
    background-color: #e8e8e8;
}

.THIS .rr-form-element .slds-form-element__label {
    display: none;
}

.THIS .rr-form-element .cRrSelect .slds-select_container .slds-select {
    margin-top: 0;
}

@media print {
    .THIS div:not(#healthCareProvider):not(.healthcare-container) {
        page-break-inside: avoid;
    }
    
    .THIS #healthCareProvider {
        margin-top: 0 !important;
    }
    
    .THIS button {
        max-height: 34px;
        overflow: hidden;
    }
    
    .THIS .healthcare-form-container {
        margin-bottom: 9px !important;
    }
    
    .THIS .healthcare-form-container:nth-child(12n+5) {
        margin-bottom: 19px !important;
    }
}