.THIS.width-limiter {
	max-width: 1120px;
	margin: auto;
	padding-top: 32px;
}

@media (max-width: 1020px) {
	.THIS.width-limiter {
		display: block;
	}
	.THIS .resource-right {
		margin: 5% 0 0 0 !important;
	}
}

.THIS .resource-right {
	margin: auto auto auto 4%;
}

.THIS.resource-disclaimer {
	margin-top: 20px;
	color: #999999;
	font-family: "Proxima Nova";
	font-size: 12px;
	font-style: italic;
	line-height: 14px;
	text-align: center;
}

.THIS.resource-noTAMessage {
	display: block;
	text-align: center;
	padding-top: 15%;
	height: 52px;
	color: #999999;
	font-family: "Proxima Nova";
	font-size: 17px;
	line-height: 26px;
}