/**
 * Created by Leonid Bartenev
 */
.THIS {
    padding-bottom: 25px;
}

.THIS.rtl {
    /* @noflip */  direction: rtl;
}

.THIS .sd-study-name {
    margin-bottom: 10px;
    color: #000000;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
}

.THIS .tabs .rr-width-limiter {
    background: #fff;
    border-radius: 4px 4px 0 0;
    border: 1px solid #e9e9e9;
    border-width: 1px 1px 0 1px;
    box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.04);
}

/*=============================TABS=============================*/
/*.THIS .sd-tab-container::-webkit-scrollbar {*/
/*width: 0;*/
/*}*/

.THIS .links .apollo-btn {
    padding: 0;
    margin: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #999;
    background: #f8f9fb;
    border: 1px solid #d9d9d9;
    border-radius: 0;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.04);
    padding: 0 16px;
    font-weight: 400;
}

/*.THIS .links .apollo-btn:nth-child(n+2) {
    border-left: none
}*/

.THIS .apollo-btn.current {
    color: #000;
    background: none;
    transition: color 0.4s, background 0.4s;
}

.THIS .sd-tab-container {
    display: flex;
    min-height: 62px;
    width: 100%;
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
    background-color: #ffffff;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    overflow-y: hidden;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    position: relative;
}

.THIS .sd-tab-container .sd-tab-right,
.THIS .sd-tab-container .sd-tab-left {
    display: flex;
    min-height: 62px;
}

.THIS .sd-tab-container .sd-tab-right {
    float: right;
}

.THIS .sd-tab-container .sd-tab-right .sd-tub-button {
    display: grid;
    width: 62px;
    padding-top: 10px;
    white-space: normal;
    color: #015FF1;
    font-size: 13px;
    line-height: 14px;
    text-align: center;
}

.THIS .sd-tab-container .sd-tab-left {
    float: left;
    margin-right: auto;
}

.THIS .sd-tab-container .sd-tab {
    display: grid;
    width: 100px;
    padding-top: 10px;
    border-collapse: collapse;
    border: 1px solid #f2f2f2;
    opacity: 0.6;
    white-space: normal;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
}

.THIS .sd-tab-container .sd-tab:not(.selected):hover {
    background-color: rgba(41, 125, 253, 0.1);
    box-shadow: inset 0 -3px 0 0 #015FF1;
    opacity: 0.5;
}

.THIS .sd-tab-container .sd-tub-button:hover {
    background-color: rgba(41, 125, 253, 0.1);
    opacity: 0.5;
}

.THIS .sd-tab-container svg {
    margin: auto;
}

.THIS .sd-tab.selected {
    opacity: 1;
    pointer-events: none;
    background-color: rgba(41, 125, 253, 0.1);
    box-shadow: inset 0 -3px 0 0 #015FF1;
    font-weight: bold;
}

.THIS .share-btn-label {
    color: #015FF1;
    text-align: center;
}

.THIS .sd-tab.disabled {
    background-color: #ffffff;
    pointer-events: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.THIS .sd-tub-button.disabled {
    opacity: 0.6;
    pointer-events: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.THIS .sdv-top-bar {
    z-index: 1250;
    position: relative;
}

.THIS .sdv-top-bar .navigation {
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
}

.THIS .sdv-top-bar .title {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.THIS .sdv-top-bar .links {
    padding-top: 25px;
    padding-bottom: 20px;
    transition: 0.4s;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.04);
    text-align: center;
    border: 1px solid #e9e9e9;
    border-width: 0 1px;
}

.THIS .change-pref {
    color: #015FF1;
    padding: 4px 8px;
    align-items: center;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    float: right;
    margin-right: 10px;
}

.THIS .sdv-top-bar .links.collapsed {
    padding-top: 0;
    padding-bottom: 0;
    height: 0;
}

.THIS .sdv-top-bar .links.collapsed button {
    opacity: 0;
    transition: 0.4s;
}

.THIS .sdv-top-bar .height-stub {
    display: none;
}

.THIS .sdv-top-bar.sticky .height-stub {
    display: block;
}

.THIS .rr-all-content > .tabs + .links {
    display: none;
}

.THIS .sdv-btn {
    margin-left: 20px;
    white-space: nowrap;
}

.THIS .sdv-btn:last-child {
    margin-right: 20px;
}

.THIS .visible-tab {
    display: block;
    border: 1px solid #e9e9e9;
    border-width: 0 1px 1px 1px;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.04);
    padding: 1rem;
    background: #fff;
}

.THIS .invisible-tab {
    display: none;
}

.THIS .resources-icon-social {
    margin-left: 0.5rem;
}

.THIS .share-social-buttons {
    display: inline-flex;
    justify-content: end;
    align-items: flex-end;
    min-width: 6rem;
    float: right;
    margin-right: 65px;
}

.THIS .share-social-icon {
    margin-right: 0.5rem;
    display: inline-block;
    width: 22px;
    height: 22px;
}

.THIS .contrast-logo {
    max-width: 136px;
    margin: 10px 0;
}

.THIS .hidden-button {
    visibility: hidden;
}

.THIS .share-icons {
    display: flex;
}

.THIS .share-ico {
    margin: 0 8px;
    cursor: pointer;
}

.THIS .share-ico .rr-icon-default {
    width: 20px !important;
    height: 20px !important;
}

.THIS .contrast-logo {
    max-width: 136px;
    margin: 10px 0;
}

.THIS .actions-buttons {
    margin-top: 4px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.THIS .button-share-icon {
    visibility: hidden;
    display: flex;
    position: fixed;
    margin-left: -54px;
    margin-top: 20px;
    transition: all ease 0.3s;
}

.THIS #shares:hover ~ .button-share-icon {
    /*display: block !important;*/
    visibility: visible !important;
}

.THIS .button-share-icon:hover {
    /*display: block !important;*/
    visibility: visible !important;
}

.THIS .resource-item {
    margin-right: 15px;
    display: inherit;
    float: right;
}

.THIS .cRRTabSet.ts-tab-container .ts-tab-left {
    overflow-x: auto;
    width: 100%;
}

.THIS .cRRTabSet.ts-tab-container .ts-tab-left .tabScroller{
    min-width: 500px;
    display: flex;
}

@media (max-width: 1180px) {
    .THIS .sdv-top-bar .rr-all-content {
        padding: 0 10px;
    }

    .THIS #sd-selected-tab-container .rr-width-limiter.side-padding{
        padding-left: 0;
        padding-right: 0;
        overflow-x: visible;
    }

    .THIS #sd-selected-tab-container .rr-width-limiter-half.side-padding{
        padding-left: 0;
        padding-right: 0;
    }


    .THIS .rr-width-limiter-half.side-padding .sv-body {
        margin: 0 20px;
    }
}

@media (max-width: 768px) {
    .THIS .sdv-top-bar .links .apollo-btn.text {
        font-size: 1rem;
    }

    .THIS .share-social-buttons {
        margin-right: 0;
    }

    .THIS .sdv-top-bar > .rr-all-content .rr-width-limiter {
        margin: 0 6px;
    }

    .THIS .share-ico .rr-icon-default {
        width: 20px;
        height: 20px;
    }

    .THIS .share-ico {
        margin: 0 1rem;
    }

    .THIS .sdv-top-bar .links .apollo-btn.text {
        margin-left: 0 !important;
    }

    .THIS #sd-selected-tab-container {
        padding: 0 16px;
    }
}

@media (max-width: 550px) {
    .THIS .sdv-top-bar.sticky.multi-mode .sticky-bar {
        top: 80px;
    }
}

@media all and (max-width: 500px) {
    .THIS .cRRTabSet.ts-tab-container {
        width: 90%;
    }

    .THIS .cRRTabSet.ts-tab-container:after {
        width: 500px;
    }

    .THIS .navigation .cRRNavigationPath.navigation-path {
        font-size: 0.875rem;
    }

    .THIS .links .apollo-btn {
        font-weight: 400;
        width: 100%;
        margin-bottom: 15px;
    }

    .THIS .links .apollo-btn:nth-child(n + 2) {
        border-left: 1px solid #d9d9d9;
    }

    .THIS #sd-selected-tab-container {
        padding: 0;
    }

    .THIS .sdv-top-bar .title {
        padding: 10px 0;
    }

    .THIS .rr-width-limiter.side-padding .sv-body {
        margin: 0;
    }

    .THIS #sd-selected-tab-container .rr-width-limiter.side-padding {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .THIS .RRTabSet.ts-tab-container .ts-tab-left {
        padding-bottom: 10px;
    }
}
