.html {
    scroll-behavior: smooth;
}
.ppLabel {
    color: #0768fd;
    /* color: #000000; */
    font-size: 14px;
    font-weight: 500;
}
.vertNav {
    background: #f4f4f4;
    margin: -12px 0px 0px -7px !important;
    height: 100vh;
    overflow: scroll;
    overflow-x: hidden;
    padding-left: 4%;
    padding-top: 12%;
}
.vertNavRTL {
    background: #f4f4f4;
    margin: -12px 0px 0px -7px !important;
    height: 100vh;
    overflow: scroll;
    overflow-x: hidden;
    padding-right: 4%;
    padding-top: 12%;
}
.vertNav::-webkit-scrollbar {
    display: none;
}
.vertNavRTL::-webkit-scrollbar {
    display: none;
}
.slds-wrap::-webkit-scrollbar {
    display: none;
}
.slds-modal__content {
    overflow-y: hidden !important ;
}
.slds-p-around_medium {
    padding-right: 0;
    padding-left: 1%;
    padding-top: 0%;
}
.navBar1 {
    font-family: 'Proxima Nova';
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    background: #f4f4f4;
    margin-top: 0px;
    min-width: 190px !important;
    height: 755px;
}

.navItem2 {
    min-height: 75px;
}
.closeIcon {
    float: right;
    height: fit-content;
    width: fit-content;
}
.closeIconRTL {
    float: left;
    height: fit-content;
    width: fit-content;
}
.textBox {
    min-width: 128px;
    text-align: initial;
}
.numbering {
    max-width: fit-content;
}
.slds-wrap {
    margin-bottom: 10%;
    height: 100vh;
    margin-top: -3%;
    overflow: scroll;
    overflow-x: hidden;
    padding-right: 3%;
    scroll-behavior: smooth;
}
.richTextArea {
    padding-left: 4%;
    padding-right: 1.5%;
    word-break: break-word;
    text-align: left;
    color: #000000;
    font-family: 'Proxima Nova';
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    margin-bottom: 35%;
}
.richTextAreaRTL {
    padding-left: 4%;
    padding-right: 1.5%;
    word-break: break-word;
    text-align: right;
    color: #000000;
    font-family: 'Proxima Nova';
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    margin-bottom: 35%;
}
.logo {
    height: auto;
    width: 15%;
}
.logoRTL {
    height: auto;
    width: 15%;
    display: inline-block;
    float: right;
    transform: scaleX(-1);
}
.dot {
    height: 27px;
    width: 27px;
    background-color: #005587;
    border-radius: 50%;
    display: inline-block;
    color: white;
    text-align: center;
    font-family: 'Proxima Nova';
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 19px;
}
.text_div {
    display: inline;
    color: #005587;
    font-family: 'Proxima Nova';
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 19px;
    text-align: justify;
    width: 128px;
}
.numberAlign {
    padding-top: 14%;
}
.hdr {
    color: #000000;
    font-family: 'Proxima Nova';
    font-size: 30px;
    letter-spacing: 0;
    line-height: 36px;
    text-align: left;
}
.dateText {
    color: #000000;
    font-family: 'Proxima Nova';
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 17px;
    text-align: left;
}
.dateTextRTL {
    color: #000000;
    font-family: 'Proxima Nova';
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 17px;
    text-align: right;
}
.ppHeader {
    margin-left: 1%;
    margin-top: 5px;
    padding-top: 4px;
    vertical-align: top;
}
.ppHeaderRTL {
    display: inline-block;
    margin-right: 1%;
    margin-top: 5px;
    padding-top: 4px;
    vertical-align: top;
    float: right;
}
.closeIcon1 {
    fill: black;
    margin-right: 3%;
}
.closeIcon1RTL {
    fill: black;
    margin-left: 3%;
}
.headerAndLogo {
    margin-left: 3.5%;
    padding-top: 10%;
    display: inline-flex;
    flex-direction: row;
    margin-bottom: 2%;
}
.ppLabel:hover {
    cursor: pointer;
}
.slds-button_icon-inverse {
    fill: black;
}
.slds-icon_small {
    fill: black;
}

.mouse-hover.navItem,
.slds-navigation-list-vertical__action:active,
.slds-navigation-list--vertical__action:active {
        background: none;
}

@media all and (max-width: 768px) {
    .hdr {
        color: #000000;
        font-family: 'Proxima Nova';
        font-size: 22px;
        letter-spacing: 0;
        line-height: 28px;
        text-align: left;
    }
    .dateText {
        color: #000000;
        font-family: 'Proxima Nova';
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 15px;
        text-align: left;
    }
    .richTextArea {
        padding-left: 4%;
        padding-right: 1.5%;
        word-break: break-word;
        text-align: left;
        color: #000000;
        font-family: 'Proxima Nova';
        font-size: 16px;
        letter-spacing: 0;
        line-height: 24px;
        padding-bottom: 45%;
    }
    .richTextAreaRTL {
        padding-left: 1.5%;
        padding-right: 4%;
        word-break: break-word;
        text-align: right;
        color: #000000;
        font-family: 'Proxima Nova';
        font-size: 16px;
        letter-spacing: 0;
        line-height: 24px;
        padding-bottom: 45%;
    }
    .slds-button_icon-inverse {
        fill: black;
    }
    .slds-icon_small {
        fill: black;
    }

    .closeIcon1 {
        margin: 10px 1rem 0 auto;
    }
}
@media (max-device-width: 767px) { 

    .ppLabel {
        display: inline-block;
        font-family: 'Proxima Nova';
        font-size: 14px!important;
        font-weight: 500;
        line-height: 16px;
        padding-left: 9px;
    }
}