.THIS {
    box-sizing: border-box;
    height: 71px;
    width: 775px;
    border: 1px solid #e9e9e9;
    border-radius: 11px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.THIS .nameGrp {
    display: flex;
}

.THIS .nameGrp .column1{
    height: 21px;
    width: 29px;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 19px;
    text-align: center;
    padding: 10px;
    margin-left: 16px;
}

.THIS .digit-span{
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 19px;
}

.THIS .flag{
    display: block;
    margin-right: 5px;
    height: 21px;
    width: 37px;
    border-radius: 8px;
    padding-top: 7px;
    margin-left: 13px;
}

.THIS .nameGrp .column2{
    width: 160px;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 19px;
    margin-left: 2px;
    font-weight: 400;
}

.THIS .nameGrp .column3{
    width: 160px;
    color: #000000;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 17px;
    margin-left: 2px;
    font-weight: 400;
}

.THIS .column4{
    height: 47px;
    width: 155px;
    text-align: left;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 19px;
}

.THIS .column5{
    height: 47px;
    text-align: left;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 19px;
}

@media screen and (max-width: 1024px) {
    .THIS {
        height: auto;
        width: 100%;
	}

    .THIS .slds-grid {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0 1rem 0 2rem;
    }

    .THIS .nameGrp {
        display: flex;
        width: 100%;
        margin-bottom: 1rem;
    }

    .THIS .nameGrp .column1 {
        max-width: 20px;
        margin-left: 0;
        text-align: left;
        padding: 10px 0 0 0;
    }

     .THIS .nameGrp .flag {
        max-width: 37px;
    }

    .THIS .column4,
    .THIS .column5 {
     	width: auto;
        padding-right: 1rem;
        margin-bottom: 2rem;
        margin-left: 2rem;
    }
}

@media screen and (max-width: 768px) {

    .THIS .nameGrp .column2{
     	font-size: 18px;
    }

	.THIS .slds-grid {
        padding: 0 1rem;
        flex-direction: row;
    }

    .THIS .column4,
    .THIS .column5 {
        margin-bottom: 0;
        margin-left: 0;
    }

    .THIS .slds-grid > .slds-col:nth-child(1) {
       order: 1;
    }

    .THIS .slds-grid > .slds-col:nth-child(2) {
       order: 3;
    }

    .THIS .slds-grid > .slds-col:nth-child(3) {
       order: 4;
    }

    .THIS .slds-grid > .slds-col:nth-child(4) {
      	order: 2;
       	display: flex;
       	margin-left: 0;
        margin-top: 5px;
        height: 35px;
        width: 100%;
}

     .THIS .slds-grid > .slds-col.column5 .digit-span {
       	flex: 0 0 0;
       	margin-right: 5px;
    }


}
