.THIS.rci-main-container {
    box-sizing: border-box;
    min-height: 85px;
    border: 1px solid #e9e9e9;
    border-radius: 5px 5px 0 0;
    background-color: #FFFFFF;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.04);
    margin-bottom: 14px;
    overflow: hidden;
}

.THIS .rci-inline {
    display: inline-block;
}

.THIS .rci-study-name {
    width: 100%;
    background-color: #f8f9fb;
    color: #000;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 17px;
    padding-right: 17px;
}

/*================================header===========*/
.THIS .rci-header::-webkit-scrollbar {
    width: 0;
}

.THIS .rci-header {
    padding: 17px;
    overflow-y: hidden;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}

.THIS .rci-header .rci-name {
    color: #297dfd;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
}

.THIS .rci-header .rci-info {
    color: #444;
    font-size: 14px;
    line-height: 16px;
}

.THIS .rci-header .rci-inline .info-labels {
    font-weight: 600;
    margin-right: 5px;
    color: #000;
}

.THIS .rci-header .rci-inline:first-child .info-labels:last-child {
    padding-left: 25px;  
}

.THIS .rci-header .rci-inline:last-child {
	margin-left: 25px;
}

@media all and (max-width: 768px) {
	.THIS .rci-header .rci-inline,
    .THIS .rci-header .rci-inline .info-labels {
        display: block;
        margin-top: 10px;
    }
    
    .THIS .rci-header .rci-inline:first-child .info-labels:last-child {
        padding-left: 0;  
    }
    
    .THIS .rci-header .rci-inline:last-child {
         margin-left: 0;
    }
}