/**
 * Created by AlexKetch on 6/18/2019.
 */
.THIS.icons{
    display: inline-flex;
}

.THIS .icon-item{
    padding-left: 10px;
}

.THIS .dots{
    padding-left: 10px;
    padding-top: 13px;
    font-weight: bold;
}
.THIS .schevrons {
    align-self: center;
}
.THIS .schevron {
    display: block;
    margin: 2px;
    margin-top: 30px;
    margin-left: 50px;

}
.THIS .flex-container {
    align-items: end;
    align-content: center;
}
.THIS .slds-button_icon-border{
    border: 0px solid rgb(221, 219, 218);
    border-color: white;
}
.THIS .iconClass {
    height: 47px!important;
    width: 30px!important;
}

.THIS .slds-visual-picker+.slds-visual-picker {
    margin-left: 0;
}
