/**
 * Created by Leonid Bartenev
 */
/*  Tooltip for Text length overflow -added by Enugothula Srinath */
.THIS .tooltip span {
    text-decoration: none;
    position: absolute;
    background-color: #002448;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    font-size: 0.85rem;
    font-weight: 400;
    text-align: left;
    width: max-content;
    max-width: 360px;
    top: 0;
    left: 50%;
    margin-top: -10px;
    visibility: hidden;
    opacity: 0;
}
.THIS .tooltip:hover {
    position: relative;
}
.THIS .tooltip:hover span {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -100%) scale(1);
    animation: pulse 1s;
}
.THIS .tooltip:hover span::after {
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border: solid transparent;
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-top: 8px solid #002448;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    border-width: 10px;
}
.THIS .tooltip {
    position: relative;
    /* display: inline-block; */
    display: block;
    cursor: pointer;
    white-space: nowrap;
}
.THIS .textoverlap {
    width: 14rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #444;
    font-size: 0.875rem;
}

.THIS .textoverlap1 {
    width: 3rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #444;
    font-size: 0.875rem;
}
.THIS .dflex{
    display: flex;
}

/* ----------------END-----------*/
.THIS .rr-card {
    margin-top: 140px;
    border-bottom: 1px solid #d9d9d9;
    min-height: 40px;
}

.THIS .right-column {
    padding-left: 0px;
}

.THIS .small-info-text {
    color: #444;
    font-size: 13px;
    line-height: 18px;
    margin-top: 8px;
}

.THIS .rtlView {
    /* @noflip */
    direction: rtl;
}
.THIS .rr-card .rr-card-ico {
    width: 16px;
    height: 25px;
    fill: black;
    float: left;
    margin-right: 5px;
}
.THIS .rr-card .rr-card-icoRTL {
    width: 16px;
    height: 25px;
    fill: black;
    /* @noflip */
    float: right;
    /* @noflip */
    margin-left: 5px;
}

.THIS .rr-secondary-text {
    color: #666666;
    font-size: 13px;
    line-height: 17px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.THIS .rr-primary-text {
    font-size: 17px;
    line-height: 21px;
    font-weight: 600;
}

.THIS.rr-body-content > .rr-width-limiter {
    margin-top: 50px;
}
.THIS.rr-body-content > .rr-width-limiterRTL {
    margin-top: 50px;
    /* @noflip */
    direction: rtl;
}
.THIS .slds-form-element__label1111 {
    font-size: 20px !important;
    font-weight: 550;
    color: black;
}
.THIS .slds-checkbox_faux {
    border-color: black;
}

.THIS .rr-error {
    color: #e20000;
}
.THIS .rightAlign .slds-input__icon_right {
    /* @noflip */
    margin-right: 81%;
}
/*.THIS .slds-datepicker table {
    table-layout: fixed;
    width: 300px;
}
.THIS .rightAlign .slds-datepicker table {
    table-layout: fixed;
    width: 300px;
}
.THIS .slds-datepicker .slds-day {
    width: auto !important;
    min-width: auto !important;
    height: auto !important;
    line-height: inherit !important;
}*/

.THIS .slds-p-top_xx-small.rr-error + .rr-form-element .slds-form-element__help {
    white-space: nowrap;
    margin-top: 10px;
}

.THIS .pe-button .rr-icon-default {
    width: 14px;
    height: 14px;
    fill: #297dfd;
    margin-right: 5px;
    position: relative;
    top: -1px;
}

.THIS .pe-button.red .rr-icon-default {
    fill: #e63f5b;
}

.THIS .part-header {
    size: 16px;
    margin-top: 75px;
}

.THIS .part-header-removed {
    size: 16px;
    margin-top: 20px;
}

.THIS .pe-button {
    color: #297dfd;
    font-size: 13px;
    font-weight: 600;
    line-height: 32px;
    text-decoration: none;
}

.THIS .pe-button {
    line-height: 8px;
    user-select: none;
}

.THIS .pe-button.red {
    color: #e63f5b;
}

.THIS .pe-button:active {
    color: rgba(41, 125, 253, 0.8);
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.4);
    background: rgba(128, 128, 128, 0.01);
}

.THIS .pe-button.red:active {
    color: rgba(230, 63, 91, 0.82);
}

.THIS.cRRTopBar .buttons-area {
    border-top: none;
}

.THIS.cRRTopBar .buttons-block {
    display: flex;
    height: 55px;
    padding: 5px 0 18px;
}

.THIS .pe-button {
    flex: 1 1 50%;
    cursor: pointer;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.THIS .pe-button > div {
    display: inline-block;
    text-align: center;
    padding: 0 5px;
}

.THIS .mrr-alert {
    text-align: center;
    padding-top: 150px;
    min-height: 500px;
}

.THIS .mrr-alert .main-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 48px;
}

.THIS .mrr-alert.fail .main-title {
    color: #595959;
}

.THIS .mrr-alert.pass .main-title,
.THIS .green-text {
    color: #595959;
}

.THIS .mrr-alert.pass .apollo-btn.tertiary,
.THIS .mrr-alert.fail .apollo-btn.tertiary {
    background: none;
    color: #297dfd;
}

.THIS .mrr-alert .rr-icon-default {
    width: 64px;
    height: 64px;
    display: block;
    margin: 5px auto;
}

.THIS .mrr-alert.fail .rr-icon-default {
    fill: #e20000;
}

.THIS .mrr-alert.pass .rr-icon-default {
    fill: #00c221;
}

.THIS .mrr-alert button {
    display: block;
    margin: 20px auto;
}

.THIS .pe-button:first-child {
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
}
.THIS .pe-button:last-child {
    border-right: 1px solid #d9d9d9;
}

.THIS .path-area {
    background-color: #eef5ff;
    border-top: 1px solid #d9d9d9;
    height: 50px;
    padding-top: 5px;
}

.THIS .pe-large-header {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: left;
    padding: 50px 0 0;
}
.THIS .pe-large-headerRTL {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    /* @noflip */
    text-align: right;
    padding: 35px 0 0;
}

.THIS .alert-icon-margin {
    margin-right: 9px !important;
}

.THIS .delegate-alert-message {
    background-color: #ffffff;
}

.THIS .pe-panel {
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.04);
    text-align: center;
}

.THIS .pe-panel.padding {
    padding: 20px;
}

.THIS .pe-panel .rr-icon-default {
    width: 40px;
    fill: black;
}

.THIS .between-panels {
    font-size: 24px;
    font-weight: 400;
    line-height: 50px;
    text-align: center;
    color: #595959;
}

.THIS .pe-panel .title {
    font-size: 18px;
    font-weight: 600;
    margin-top: 15px;
    text-align: center;
}

.THIS .rr-sub-title {
    font-size: 17px;
    line-height: 22px;
    font-weight: 600;
}

.THIS .mrr-items {
    border: none;
}

.THIS .mrr-item-id,
.THIS .cReviewStatus.reviw-status {
    font-size: 14px;
    color: #444;
}

.THIS .big-alert {
    text-align: center;
}

.THIS .big-alert .rr-icon-default {
    width: 64px;
    height: 64px;
    fill: black;
    margin-top: 80px;
}

.THIS .big-alert .message {
    font-size: 30px;
    font-weight: 600;
    line-height: 36px;
    text-align: center;
    padding: 20px 0;
}

.THIS .big-alert .buttons {
    text-align: center;
    margin: 10px;
    margin-bottom: 30px;
}

.THIS .big-alert .buttons button {
    opacity: 1 !important;
}

.THIS .rr-map {
    height: 500px;
}

.THIS .sdas-footer-info {
    text-align: left;
    background-color: white;
    padding: 17px;
    border-bottom: 2px solid #cccccc;
}

.THIS .sdas-footer-info .name {
    color: #000000;
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    margin-bottom: 10px;
}

.THIS .sdas-footer-info .address {
    color: #333333;
    font-size: 13px;
    line-height: 16px;
}

.THIS .q-failed {
    text-align: center;
}

.THIS .q-failed span {
    color: #333333;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
}

.THIS .q-failed .apollo-btn:not(.ssi-btn) {
    display: block;
    margin: 20px auto;
}

.THIS .ci-left {
    background: linear-gradient(306deg, #0076ae 0%, #250056 100%);
}

.THIS .ci-right {
}

.THIS .ci-ico-message .rr-icon-default {
    fill: white;
    float: left;
    margin-right: 10px;
    width: 32px;
    height: 32px;
}

.THIS .ref-alert {
    text-align: center;
    padding-top: 100px;
    min-height: 500px;
}

.THIS .ref-alert .main-title {
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
}

.THIS .ref-alert.fail .main-title {
    color: #ff283f;
}

.THIS .ref-alert.pass .main-title,
.THIS .green-text {
    color: #00c82b;
}

.THIS .ref-alert .rr-icon-default {
    width: 64px;
    height: 64px;
    display: block;
    margin: 5px auto;
}

.THIS .ref-alert.fail .rr-icon-default {
    fill: #ff283f;
}

.THIS .ref-alert.pass .rr-icon-default {
    fill: #00c82b;
}

.THIS .ref-alert button {
    display: block;
    margin: 20px auto;
}

.THIS .ref-alert .rr-sub-text {
    padding: 10px 0;
}

.THIS .screening-gizmo-frame {
    width: 100%;
    border: 0;
    margin-bottom: 30px;
    overflow: hidden;
}

.THIS .mrr-item-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -5px;
}

.THIS .mrr-item-content > * {
    padding: 5px;
    white-space: nowrap;
}

.THIS .mrr-status-content {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

.THIS .mrr-status-content > * {
    padding-left: 5px;
    padding-right: 5px;
}

.THIS .mrr-item-btns {
    margin-left: auto;
}
.THIS .mrr-item-btnsRTL {
    margin-left: 0px;
}

.THIS .slvi-search-site-btn {
    margin-top: 15px;
    width: auto;
}

.THIS .left-column {
    border-right: none;
}
.THIS .left-column .pdf-ico {
    width: 28px;
    height: 28px;
    fill: #333333;
}
.THIS .pauth {
    font-size: 14px !important;
    color: black !important;
    font-weight: bold !important;
}
.THIS .pauthdownload {
    width: 72%;
	text-align: center;
	font-weight: 600;
	font-size: 14px;
	background: white;
}
.THIS .fileHolder{
    min-height: 110px;
}


.THIS .uploadLabel{
    color: #595959;
    font-family: "Proxima Nova";
    font-size: 12px;
}
.THIS .fontSizeForm{
    font-size: 14px;
}
.THIS .marTop{
    margin-top: 10px;
}
.THIS .marBottom{
    margin-bottom: 7px;
}
.THIS .signedForm{
    font-size: 16px;
    font-weight: 540;
    margin-top: 12px;
}
.THIS {
    --lwc-colorTextButtonBrandDisabled:rgb(201, 201, 201);
}
.THIS .marginUpload{
    margin-top: -2px;
    margin-bottom: -7px;
}




@media all and (max-width: 500px) {
    .THIS .mrr-item-btns,
    .THIS .mrr-item-btns button {
        width: 100%;
    }
    .THIS .mrr-item-btnsRTL,
    .THIS .mrr-item-btnsRTL button {
        width: 100%;
    }

    .THIS .rr-path-container {
        padding-top: 8px;
    }

    .THIS .rr-width-limiter.side-padding {
        padding-left: 10px;
        padding-right: 10px;
    }

    .THIS
        .rr-body-content
        > .rr-width-limiter-half
        > .slds-grid
        > .slds-col
        > .slds-grid
        > .slds-size--1-of-2 {
        min-width: 100%;
    }

    .THIS
        .rr-body-content
        > .rr-width-limiter-half
        > .slds-grid
        > .slds-col
        > .slds-grid
        > .slds-size--1-of-4 {
        min-width: 50%;
    }

    .THIS .slds-p-top_xx-small.rr-error + .rr-form-element .slds-form-element__help {
        margin-top: 30px;
    }
    .THIS .iframe-pdf-css{
        width:100% !important;
        overflow-x:unset !important;
        
    }
}

@media all and (max-width: 768px) {
    .THIS .rr-big-title {
        font-size: 37px;
    }

    .THIS .rr-title {
        font-size: 20px;
        line-height: 30px;
        margin-top: 15px;
    }

    .THIS.cRRTopBar .buttons-block {
        padding: 5px 1rem 1.25rem;
    }

    .THIS.cRRTopBar .buttons-block .apollo-btn.secondary {
        padding: 6px 8px;
        height: 40px;
        text-align: center;
    }

    .THIS .slds-p-top_xx-small.rr-error + .rr-form-element .slds-form-element__help {
        margin-top: 0;
    }
    .THIS .rr-card {
        margin-top: 0px;
    }
    .THIS .fileHolder{
        min-height: 90px;
    }
    .THIS .fileBox{
        height: 119px;
    }
    .THIS .marTopIcon{
        margin-top: 10px;
    }
    .THIS .uploadLabel{
        font-size: 11px;
    }
    .THIS .marTop{
        margin-top: 10px;
    }
    .THIS .pauthdownload {
        width: 100%;
        text-align: center;
        font-weight: 600;
        font-size: 14px;
        background: white;
    }
    .THIS .uploadPadding {
        padding-left: 36px;
    }
    .THIS .downloadPadding {
        padding-left: 10px;
    }
    .THIS .downloadMar {
        margin-right: 10px;
    }
}

.THIS .ssi-site-name {
    text-align: left;
    color: #000000;
    font-size: 15px;
    font-weight: bold;
}
.THIS .ssi-pi-name {
    text-align: left;
    color: #999999;
    font-size: 13px;
}
.THIS .ssi-site-type {
    color: #999999;
    font-size: 14px;
}
.THIS .ssi-site-distance {
    color: #999999;
    font-size: 14px;
}
.THIS .ssi-address {
    color: #333333;
    font-size: 13px;
}

.THIS .ssi-button {
    text-align: right;
}

@media all and (min-width: 768px) {
    .THIS .ssi-site-distance,
    .THIS .ssi-site-type {
        text-align: right;
        padding: -10%;
    }

    .THIS .ss-map {
        align-self: stretch;
    }
    .THIS lightning-map {
        height: 100%;
    }
}
.THIS .sub-title {
    font-size: 18px !important;
}
.THIS .ssi-address {
    color: #333333;
    font-size: 13px;
    text-align: left;
}

.THIS .slds-coordinates {
    display: none !important;
}

.THIS .slds-checkbox {
    display: inline-flex;
}
@media all and (min-width: 1024px) {
    .THIS .left-column {
        border-right: 1px solid #d9d9d9;
        padding-right: 30px;
    }
    .THIS .left-columnRTL {
        /* @noflip */
        border-left: 1px solid #d9d9d9;
        /* @noflip */
        padding-right: 0px;
    }
    .THIS .right-columnRTL {
        /* @noflip */
        padding-right: 20px;
        /* @noflip */
        min-height: 500px;
    }
    .THIS .right-column {
        padding-left: 20px;
        min-height: 500px;
    }
    .THIS .iframe-pdf-css{
        width:100% !important;
        overflow-x:unset !important;
        
    }
}
.THIS .overlaptext {
    width: 3rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.THIS .sameline {
    display: flex;
}

.THIS .slds-datepicker {
    max-width: 50rem;
}
.THIS .iframe-pdf-css{ 
    width:1040px;
    height: 400px;
    z-index: -999;
}