.THIS.visit-result-panel {
    min-height: 200px;
    position: relative;
}

.THIS .visit-result-panel-title {
    height: 24px;
    color: #000000;
    font-family: "Proxima Nova";
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
}

.THIS .visit-result-panel-date {
    height: 21px;
    color: #595959;
    font-family: "Proxima Nova";
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 8px;
}

.THIS .visit-result-items-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.THIS .visit-result-item-container {
    width: 28.3%;
    min-width: 275px;
    margin-right: 50px;
    margin-bottom: 60px;
    box-sizing: border-box;
}

.THIS .visit-result-panel-disclaimer {
    color: #595959;
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    text-align: center;
}

@media (max-width: 616px) {
    .THIS .visit-result-items-container {
        width: 285px;
    }
}
@media (min-width: 617px) and (max-width: 901px)  {
    .THIS .visit-result-items-container {
        width: 570px;
    }
}