/**
 * Created by Kryvolap on 03.09.2019.
 */
.THIS.ps-container .ps-body {
    padding-top: 30px;
}
.THIS.ps-container .ps-body-pp {
    padding-top: 0px;
}
@media screen and (max-width: 768px) {
    .THIS.ps-container .ps-body-pp {
        /*padding-top: 20px;*/
        padding-left: 15px;
    }
}
