/**
 * Created by Alexey on 12.05.2020.
 */

.THIS .menu-popup{
    left: 0;
    transform: none;
}

.THIS .menu-popup li{
    font-weight: normal;
}

.THIS .menu-popup li{
    padding: 8px 5px;
    cursor: pointer;
}

.THIS .menu-popup li:hover{
    background-color: #f2f7ff;
}

.THIS .menu-popup li .slds-icon_container{
    margin: 0 6px 0 4px;
}