.THIS {
}

.THIS.resource-container {
    max-width: 1000px;
    margin: auto;
}
.THIS.arabic {
   /* @noflip */  direction: rtl;
}

.THIS .bitmap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.THIS .resource-description-footer {
    margin-bottom: 12px;
    display: flex;
    justify-content: start;
    align-items: flex-end;
}

.THIS .resources-icon-like {
    height: 17px;
    width: 18px;
    margin-right: 3px;
    display: inline-block;
}

.THIS .resources-icon {
    display: block;
    margin-right: 3px;
    margin-top: 3px;
}

.THIS .resources-number-of-likes {
    height: 17px;
    width: 18px;
    text-align: center;
    display: inline-block;
    vertical-align: text-top;
}

.THIS .resources-icon-dislike {
    height: 17px;
    width: 18px;
    text-align: center;
    display: inline-block;
    vertical-align: text-top;
    transform: scale(-1, 1);
}
.THIS .resources-icon-social {
    margin-left: 0.5rem;
}

.THIS .resources-icon-star {
    height: 17px;
    width: 18px;
    margin-left: 4px;
}

.THIS .flex-container {
    display: flex;
    justify-content: space-between;
}

.THIS .resource-description {
    margin-top: 5px;
}

.THIS .resource-description-header {
    height: 20px;
    color: #666666;
    font-family: 'Proxima Nova';
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
}

.THIS .resource-description-text {
    color: #999999;
    font-family: 'Proxima Nova';
    font-size: 12px;
    line-height: 14px;
    margin: 0 0 3px 0;
}

.THIS .resource-content-updated {
    font-size: 14px;
    color: #333333;
    font-family: 'Proxima Nova';
    line-height: 16px;
    margin-top: 5%;
    font-style: italic;
    font-weight: bold;
}

.THIS .resource-body {
    color: #333333;
    font-family: 'Proxima Nova';
    font-size: 13px;
    line-height: 16px;
    margin-top: 15px;
    margin-bottom: 16px;
}

.THIS .resource-body p {
    padding-bottom: 14px;
}

.THIS .resource-title {
    color: #666666;
    font-family: 'Proxima Nova';
    font-size: 17px;
    margin-top: 17px;
    font-weight: bold;
}

.THIS .resource-description-short {
    color: #999999;
    font-family: 'Proxima Nova';
    font-size: 12px;
    line-height: 14px;
}

.THIS .resource-expiration-date {
    height: 14px;
    color: #999999;
    font-family: 'Proxima Nova';
    font-size: 12px;
    font-style: italic;
    line-height: 14px;
}

.THIS .ah-video-iframe {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.THIS .my_iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.THIS .display-none {
    display: none;
}

.THIS .image-caption {
    color: #999999;
    font-family: 'Proxima Nova';
    font-size: 12px;
}

.THIS .byline-author {
    color: #333333;
    font-family: 'Proxima Nova';
    font-size: 12px;
    margin-bottom: 12px;
}

/* large 1024 */
@media all and (max-width: 1023px) {
    .THIS.resource-container {
        padding: 2%;
        border-radius: 4px;
        margin: 5% 3% 3%;
        box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.24);
        border: 1px solid #f2f2f2;
        background-color: #ffffff;
        overflow: hidden;
    }

    .THIS .bitmap {
        padding: 2%;
    }
}
