/**
 * Created by Leonid Bartenev
 */
.THIS .tt-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 10px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.THIS .tt-task-panel {
    min-height: 80px;
}

.THIS .tt-empty-list {
    color: #999999;
    font-size: 17px;
    line-height: 26px;
    text-align: center;
    padding: 40px 0;
}

.THIS .rr-table th.completed-by{
    width:130px;
}

.THIS .rr-table th.priority{
    width:130px;
}

.THIS .rr-table td.ignore{
    width: 10px;
    padding: 4px 20px;
}

.THIS .rr-table .ignored{
    opacity: .5;
}