.rr-body-content {
    background-color: #f5f6fa;
    height: 100vh;
    padding: 0% 2%;
}
.rr-bottom-bar {
    background-color: #f5f6fa;
    height: 100%;
}
.privacy-header {
    color: #444444;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 48px;
    width: 100%;
    text-align: left;
}

.header-combobox {
    position: relative;
}
.sub-header {
    color: #444444;
    font-family: 'Proxima Nova';
    font-size: 14px;
    letter-spacing: 0;
    line-height: 16px;
    width: 100%;
}

.last-updated {
    font-size: 16px;
    letter-spacing: 0;
    line-height: 17px;
}
.pp-body-content {
    height: 72vh;
    border-radius: 16px;
    background-color: #ffffff;
}
.pp-content {
    overflow: scroll;
    scroll-behavior: smooth;
    overflow-x: hidden;
    max-height: 100%;
    word-break: break-word;
    padding-right: 0.5rem;
}

.rr-bottom-bar-area {
    height: 8vh;
}

.rtl {
    text-align: right;
    float: right;
    direction: rtl;
}

/* style for the css menu dropdown container */
.dropdown {
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    height: auto;
    color: #444444;
    border: 1px solid #d9d9d9;
    border-radius: 1rem;
    padding: 0 0.25rem 0 0.5rem;
    background: #fff;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 24px;
}

.dropdown:after {
    content: '';
    background: url(/resource/1657782419000/SelectMenuTriangleDown);
    position: absolute;
    top: 7px;
    right: 10px;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
}

/* style for the dropdown box */
.dropdown-menu {
    width: 100%;
    height: 300px;
    overflow-y: scroll;
    margin: 0;
    position: absolute;
    z-index: 1;
    top: 2rem;
    left: -1px;
    background: #fff;
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    display: none;
}

.dropdown-menu:before {
    position: absolute;
    left: 1rem;
    top: 1rem;
    color: #999;
}

.dropdown-menu li {
    display: block;
    color: #444444;
    padding: 0.5rem 1rem;
}

.dropdown-menu li:first-child {
    padding-top: 1rem;
}

.dropdown-menu li:last-child {
    padding-bottom: 1rem;
}

.dropdown-menu li:hover {
    background: #ecf3ff;
    transition: 0.25s;
}

.dropdown:focus,
.dropdown-menu:focus {
    outline: none;
}

.active {
    display: block;
}

.dropdown-span {
    width: 95%;
    padding: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.list-scroll {
    overflow-y: scroll;
    height: 100%;
    background: #ffffff;
}
/**Desktop CSS*/
.title-content {
    height: 15vh;
}
.body-content {
    height: 85vh;
}
.tc-text {
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: left;
    align-items: center;
    color: #444444;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 48px;
}
.tc-text-rtl {
    justify-content: right;
}
.header-scroller {
    height: 100%;
    width: 100%;
    overflow: scroll;
    scroll-behavior: smooth;
    overflow-x: hidden;
    box-shadow: 0px 1px 1px 0px rgb(0 0 0 / 15%);
}
.tc-content {
    height: 100%;
    width: 75%;
}
.divider {
    width: 1%;
    margin: 0;
}
.rich-content {
    background: #ffffff;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    padding: 1rem 1rem 0rem 1rem;
    overflow: scroll;
    scroll-behavior: smooth;
    overflow-x: hidden;
    word-break: break-word;
    box-shadow: 0px 1px 1px 0px rgb(0 0 0 / 15%);
}
.last-updated {
    height: 100%;
    width: 75%;
    align-items: center;
    color: #444444;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 17px;
}

.tc-nav-item {
    background: #ffffff;
    overflow: scroll;
    scroll-behavior: smooth;
    overflow-x: hidden;
    word-break: break-word;
    border-bottom: 1px solid #d9d9d9;
}

.full-height {
    height: 100%;
}
.last-updatedD {
    height: 100%;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 16px;
}
.download-pdfD {
    height: 100%;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 16px;
}
/**nav bar css*/
.slds-nav-vertical__action {
    border-top: none;
    border-bottom: none;
    padding: 4.5%;
    width: 295px;
}
.slds-nav-vertical__action:hover {
    color: #ffffff;
    box-shadow: none;
    background: #0768fd;
    font-weight: bold;
    width: 295px;
}
.slds-nav-vertical__item {
    color: #444444;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    word-break: break-word;
    background: #ffffff;
}
.slds-nav-vertical__item.slds-is-active .slds-nav-vertical__action {
    color: #ffffff;
    box-shadow: none;
    background: #0768fd;
    border-bottom: none;
    font-weight: bold;
}

li:last-child {
    border-bottom: none;
}
/**SLDS Styling Hooks */
.pp-header-combobox {
    --sds-c-input-radius-border: 1rem;
    width: 80%;
}
/* ----------- Media Queries ----------- */
@media all and (max-width: 486px) {
    .header-container {
        margin-top: 0 !important;
        padding-top: 1.5rem;
    }
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
}
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
    /* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
    /* Styles */
}
