/**
 * Created by Leonid Bartenev
 */
.THIS {
}

.THIS .path-panel .path-section{
    padding-bottom: 25px;
}

.THIS .path-panel .path-section-pi {
    margin-bottom: 2rem;
}

.THIS .path-panel .collapse-section{
    padding: 10px 0 0;
    font-size: 14px;
    line-height: 22px;
    transition: 0.6s;
    border-radius: 5px;
}

.THIS .path-panel .collapse-section.opened{
    background-color: white;
}

.THIS .vpi-status-btns {
    display: flex;
    justify-content: center;
    padding-left: 63%;

}

.THIS .vpi-status-btns > div {
    text-align: center;
}

.THIS .vpi-status-btns button{
    margin-top: 15px;
    min-width: auto;
    margin-bottom: 1rem;
}

.THIS .vpi-status-btns > .slds-small-size_6-of-12 {
    min-width: 100%;
    display: inline-flex;
    justify-content: flex-end;
    margin: 1rem 1rem 0 0;
}

.THIS .vpi-status-btns > .slds-small-size_6-of-12 > button {
    margin-right: .5rem;
}

@media all and (max-width: 768px){

    .THIS .vpi-status-btns>.slds-small-size_6-of-12 {
        margin: 0;
    }
    .THIS .vpi-status-btns {
        padding-right: .5rem;
    }
}

@media all and (max-width: 500px){
    
    .THIS .vpi-status-btns {
        padding: 0;
        margin: 0;
    }
    
    .THIS .rr-collapse-panel {
        margin: 0 -1rem;
    }
    
    .THIS .slds-small-size_6-of-12 {
 		margin-left: 0;       
    }
    
    .THIS .vpi-status-btns>.slds-small-size_6-of-12>button {
        margin-right: 0;
        width: 100%;
        margin-bottom: .5rem;
    }
     
}