/**
 * Created by Igor Malyuta on 23.03.2019.
 */
.THIS .mti-text{
    margin-top: 12px;
    color: #999999;
    font-style: italic;
    font-size: 12px;
    text-align: center;
    line-height: 14px;
    /*text-indent: 50px;*/
}