.PP-Mot-Message-Toast{
    background-color: #C42EA5;
    width: 620px;
    padding: 8px;
}
.slds-text-heading_small{
    color: #F0F8FF;
}
.slds-notify_container{
    height: 80px;
    border-radius: 8px;
    margin-top: 4px;
}
.slds-notify__content{
    width: 508px;
    font-weight: 600;
}
.custom-icon{
    margin-right: 15px;
    text-align: right;
    margin-top: 2px
}
/* .slds-notify_container_mobile{
    height:80px;
    border-radius: 8px;
    margin-top: 18px;
    width: 366px; 
} */
.PP-Mot-Message-Toast_mobile{
    background-color: #C42EA5;
    padding: 8px;
    /* width: 366px; */
    margin-top: 16px
}
.slds-notify__content_mobile{
    font-weight: 600;
    word-wrap: break-word;
}