/**
 * Created by Igor Malyuta on 24.11.2019.
 */
.hptp-panel {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.hptp-title {
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    padding: 16px 0 16px 16px;
}

.hptp-body {
    min-height: 220px;
    position: relative;
}

.main-container .message {
    padding: 20% 0 0;
}

.main-container .message:after {
    content: '';
    position: absolute;
    background-size: 40px 40px;
    background-image: url(/resource/1569528630000/iconNotes);
    height: 40px;
    width: 40px;
    top: 45px;
    right: 46%;
    opacity: .3;
}

.cRRTable.rr-table th,
.cRRTable.rr-table td {
    padding: 4px 16px;
    font-size: 1rem;
}

.hptp-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-grow: 1;
    height: 49px;
    background-color: #f8f9fb;
}

.hptp-footer .cuiLink.rr-link {
    padding-right: 16px;
    position: relative;
    font-size: 1rem;
}

.hptp-footer .cuiLink.rr-link:after {
    content: '';
    position: absolute;
    background-size: 14px 14px;
    background-image: url(/resource/1569526732000/ChevronRightBlue);
    height: 14px;
    width: 14px;
    top: 10px;
    right: 0px;
}