.profile-information-rectangle {
    box-sizing: border-box;
    height: 804px;
    border: 1px solid #e9e9e9;
    border-radius: 16px;
    background-color: #ffffff;
    margin-left: 24px;
}
.profile-information {
    font-size: 24px;
    font-weight: 600;
}
.slds-form-element__label {
    color: #444444;
    font-family: 'Proxima Nova';
    font-size: 14px;
}
.input-field-container {
    box-sizing: border-box;
    height: 32px;
    border-radius: 16px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0);
    margin-bottom: 28px;
}
.btn-save {
    width: 96px;
    color: #ffffff;
    border-radius: 16px;
    background-color: #0768fd;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.04), 0 4px 8px 0 rgba(7, 104, 253, 0.32);
    margin: 22px 0 0 0;
    font-family: 'Proxima Nova';
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
}
@media screen and (max-width: 768px) {
    .profile-information-rectangle {
        height: auto;
        margin-left: 0px;
    }
}
.spins::after {
    position: absolute;
    content: 'Loading......';
    width: 100%;
    text-align: center;
    top: calc(50% + 3em);
    font-weight: bold;
}
