.curr-mode-delg-title {
    height: 40px;
    width: 265px;
    border-radius: 4px;
    background-color: #ffffff;
    margin-bottom: 10px;
}
.curr-mode-title {
    height: 40px;
    width: 265px;
    border-radius: 4px;
    background-color: #ffffff;
}
.my-icon {
    --sds-c-icon-color-foreground-default: #0768fd;
}
.participants-delega {
    height: 17px;
    width: 230px;
    color: #999999;
    font-family: 'Proxima Nova';
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 16px;
}
.title-label-div-height {
    height: 17px;
}
