/**
 * Created by Leonid Bartenev
 */
.THIS.top-bar {
    background-color: #ffffff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.04);
    position: fixed;
    top: 0;
    z-index: 2000;
    margin: 0 auto;
}

.THIS .navigation-bar {
    border-bottom: 1px solid #d9d9d9;
}

.THIS .navigation-bar .rr-icon-default {
    width: 14px;
    height: 14px;
    fill: #297dfd;
    margin-right: 5px;
    position: relative;
    top: -1px;
}

.THIS .navigation-bar a {
    color: #297dfd;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    text-decoration: none;
}

.THIS .header {
    padding-top: 10px;
    padding-bottom: 10px;
    /*border-bottom: 1px solid #D9D9D9;*/
}

.THIS .header .sub-title {
    color: #666666;
    font-size: 13px;
    min-height: 20px;
}

.THIS .header .title {
    color: #000000;
    font-size: 17px;
    font-weight: 600;
    min-height: 26px;
}

.THIS .pe-button .rr-icon-default {
    width: 14px;
    height: 14px;
    fill: #297dfd;
    margin-right: 5px;
    position: relative;
    top: -1px;
}

.THIS .pe-button.red .rr-icon-default {
    fill: #e63f5b;
}

.THIS .pe-button.green .rr-icon-default {
    fill: #00c221;
}

.THIS .pe-button {
    color: #297dfd;
    font-size: 13px;
    font-weight: 600;
    line-height: 32px;
    text-decoration: none;
}

.THIS .pe-button {
    line-height: 8px;
    user-select: none;
}

.THIS .pe-button.red {
    color: #e63f5b;
}

.THIS .pe-button.green {
    color: #00c221;
}

.THIS .pe-button.orange {
    color: #ffa400;
}

.THIS .pe-button:active {
    color: rgba(41, 125, 253, 0.8);
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.4);
    background: rgba(128, 128, 128, 0.01);
}

.THIS .pe-button.red:active {
    color: rgba(230, 63, 91, 0.82);
}

.THIS .buttons-area {
    border-top: 1px solid #d9d9d9;
}

.THIS .buttons-block {
    display: flex;
    height: 32px;
}

.THIS .pe-button {
    flex: 1 1 50%;
    cursor: pointer;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.THIS .pe-button > div {
    display: inline-block;
    text-align: center;
    padding: 0 5px;
}

.THIS .pe-button:first-child {
    border-left: 1px solid #d9d9d9;
}
.THIS .pe-button {
    border-right: 1px solid #d9d9d9;
}

.THIS .pe-button:hover {
    background-color: rgba(41, 125, 253, 0.1);
}

.THIS .tb-back-title {
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
}