/**
 * Created by Leonid Bartenev
 */

 .THIS.tour-fixed-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    /*justify-content: center;
    align-items: center;*/
    visibility: visible;
    opacity: 1;
    transition: 0.3s;
    z-index: 10000;
}

.THIS.tour-fixed-overlay.hidden {
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
}

.THIS .tour-panel {
    background-color: white;
    width: calc(100% - 20px);
    height: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    border-radius: 0 0 4px 4px;
    overflow: hidden;
    position: relative;
    overflow-y: auto;
}

.THIS .tour-panel:before {
    height: 4px;
    width: 100%;
    background-image: linear-gradient(
        to right,
        #250056 20%,
        #0076ae 48%,
        #0076ae 52%,
        #250056 100%
    );
    content: '';
    display: block;
}

.THIS .tour-slides-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 10px;
}

.THIS .tour-info-container {
    flex-shrink: 0;
}

.THIS .wt-scroller {
    height: 100%;
    max-height: 100%;
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.THIS .tour-buttons-continer {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    justify-content: center;
}

.THIS .tour-buttons-continer > .left {
    flex: 1;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.THIS .tour-btn-group {
    margin: 15px 0 25px;
    text-align: right;
}
.THIS .tour-btn-groupRTL {
   /* @noflip */   margin: 15px 0 25px;
   /* @noflip */   text-align: left;
}

.THIS .ti-width-limiter {
    width: 100%;
}

.THIS .tour-title {
    font-size: 20px;
    line-height: 40px;
    font-weight: 600;
    padding: 15px 20px;
    background-color: #fff;
}

.THIS .tour-slides-body {
    flex: 1;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.THIS .tour-slides-carousel {
    height: 100%;
}

.THIS .tour-pages {
    margin-top: 25px;
}

.THIS .slide-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
}

.THIS .slide-title {
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.THIS .slide-sub-title {
    font-size: 16px;
    font-weight: bold;
    line-height: 26px;
    margin-bottom: 10px;
}

.THIS .slide-body {
    font-size: 14px;
    line-height: 22px;
    min-height: 45px;
    white-space: pre-line;
}

.THIS .fit-image {
    max-width: 100%;
    max-height: 40vh;
    object-fit: contain;
    flex-shrink: 0;
}

.THIS .slide-img-content {
    width: calc(100% - 20px);
    height: 100%;
    max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.THIS.slds-scope .sc-pagination {
    list-style: none;
    display: block;
    text-align: center;
}

.THIS.slds-scope .sc-pagination__dot {
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background: #b5b5b5;
    opacity: 0.3;
    transition: opacity 0.3s;
}
.THIS.slds-scope .sc-pagination__dot_selected {
    opacity: 1;
    background: #0078a3;
    border: 1px solid #0078a3;
}
.THIS.slds-scope .sc-pagination li {
    display: inline-block;
    padding-left: t(spacingXxSmall);
    padding-right: t(spacingXxSmall);
}

.THIS.slds-scope .sc-p_none {
    padding: 0;
    width: 100%;
    height: 100%;
}

@media all and (max-width: 1340px) and (orientation: landscape) {
    .THIS .tour-slides-container {
        height: auto;
    }
}

@media all and (max-width: 500px) {
    .THIS .wt-scroller {
        margin: 0;
    }

    .THIS .tour-title {
        font-size: 1.25rem;
        line-height: 1.5rem;
        text-align: center;
        padding: 0;
    }

    .THIS .brand-gradient-background {
        background: #fff;
    }

    .THIS .slide-title {
        margin-top: 0;
        margin-bottom: 0;
    }

    .THIS .slide-sub-title {
        margin-bottom: 0;
    }

    .THIS .slide-body {
        line-height: 1.5rem;
    }

    .THIS .tour-buttons-continer {
        margin-top: 0;
        padding: 15px;
        height: auto;
        flex-direction: column;
    }

    .THIS .tour-btn-group {
        margin: 15px 15px 25px;
    }

    .THIS .tour-btn-group button {
        min-width: 50px;
    }

    .THIS .tour-panel {
        width: calc(100% - 10px);
        height: 90vh;
        margin: 20px auto 0;
    }

    .THIS .slide-img-content {
        width: 100%;
        align-items: flex-start;
    }

    .THIS .tour-pages {
        margin-top: 10px;
    }

    .THIS .tour-info-container {
        padding: 0 15px;
    }

    .THIS .tour-slides-container {
        min-height: auto;
        height: auto;
        margin-top: 0;
    }

    .THIS .tour-slides-body {
        margin-top: 0;
    }

    .THIS .tour-buttons-continer > .left {
        flex: 0;
        margin-right: 0;
    }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .THIS .tour-slides-body {
        flex: none;
    }

    .THIS .fit-image {
        max-height: 350px;
    }
}

.THIS .slide-disclaimer {
    margin-top: 15px;
    font-size: 12px;
}