.email-not-associated {
    color: #e20000;
    font-family: 'Proxima Nova';
    font-size: 13px;
    letter-spacing: 0;
    line-height: 24px;
}
.back-btn {
    position: absolute;
    top: 3.7rem;
    font-weight: bold;
    opacity: 0.9;
    cursor: pointer;
}
.back-icon {
    --sds-c-icon-color-foreground-default: #0768fd;
    margin-left: -4px;
}
.forgot-label {
    color: #444444;
    font-family: 'Proxima Nova';
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 20px;
    margin: 1.5em 0;
}
.email-lable {
    color: #444444;
    font-family: 'Proxima Nova';
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    margin: 1em 0 1.5em 0;
}
.input-field-container {
    box-sizing: border-box;
    height: 32px;
    width: 318px;
    border-radius: 16px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0);
}
.input-field-container-error {
    box-sizing: border-box;
    border-color: #e20000;
    height: 32px;
    width: 318px;
    border-radius: 16px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0);
}

.btn-sendEmail {
    width: 318px;
    color: #ffffff;
    border-radius: 16px;
    background-color: #0768fd;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.04), 0 4px 8px 0 rgba(7, 104, 253, 0.32);
    font-family: 'Proxima Nova';
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    margin-top: 1.5rem;
}

.btn-disable {
    opacity: 0.5;
    cursor: no-drop;
}
.back-text {
    color: #0768fd;
    font-family: 'Proxima Nova';
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 17px;
    cursor: default;
    margin: 0.2rem 0 0 0.375rem;
}
.email-footer-txt {
    width: 20.375rem;
    color: #444444;
    font-family: 'Proxima Nova';
    font-size: 16px;
    letter-spacing: 0;
    line-height: 17px;
    text-align: center;
    margin: 1rem 0;
}
.label {
    color: #444444;
    font-family: 'Proxima Nova';
    font-size: 14px;
    letter-spacing: 0;
    line-height: 24px;
}
/* Mobile Media query start */
@media all and (max-width: 759px) {
    .back-btn {
        top: 10.313rem;
    }
}
/* Tablet media query start here */
@media (min-width: 760px) and (max-width: 1024px) {
    .back-btn {
        top: 3rem;
    }
}
