.float-rt {
  float: right;
}
.float-lt {
  float: left;
}
.participant-name {
  color: #444444;
  font-size: 16px;
  font-weight: 600;
}
.participant-date {
  color: #444444;
  font-size: 14px;
  font-weight: 300;
}
.attachment-icon {
  width: 24px;
  height: 24px;
}
.extension {
  font-size: 13px;
  font-weight: 600;
  color: #595959;
  text-transform: uppercase;
}
.right-ms-item-txt-pp {
  position: relative;
  max-width: 630px;
  height: auto;
  background: #015ff1;
  padding: 12px 22px;
  color: #ffffff;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-top-left-radius: 12px;
}
.right-ms-item-txt-pp:before {
  content: "";
  position: absolute;
  top: -40px;
  right: 0;
  height: 40px;
  width: 40px;
  border-bottom-right-radius: 50%;
}
.p-lft-msg {
  padding-left: 12rem;
}
.ms-item-icon-circle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}
.img-ms-item-icon-circle {
  height: 40px;
  width: 40px;
}
.txt-align-right {
  text-align: right;
}
.right-ms-item-txt-pp:before {
  box-shadow: 0 17px 0 0 #015ff1;
}
.right-ms-item-sec-txt-pp {
  position: relative;
  max-width: 630px;
  height: auto;
  background: #015ff1;
  padding: 12px 22px;
  color: #ffffff;
  border-radius: 12px;
  margin-top: -14px;
}
.rt-initial-pos {
  position: relative;
  top: 6px;
}
.file-width {
  width: 630px !important;
}
.left-ms-item-txt-pp {
  position: relative;
  max-width: 630px;
  height: auto;
  background: #ecf3ff;
  padding: 12px 22px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
  text-align: justify;
}
.left-ms-item-txt-pp:before {
  content: "";
  position: absolute;
  top: -40px;
  left: 0;
  height: 40px;
  width: 40px;
  border-bottom-left-radius: 50%;
}
.left-ms-item-txt-pp:before {
  box-shadow: 0 12px 0 0 #ecf3ff;
}
.left-ms-item-sec-txt-pp {
  position: relative;
  max-width: 630px;
  height: auto;
  background: #ecf3ff;
  padding: 12px 22px;
  color: #444444;
  border-radius: 12px;
  margin-top: -14px;
  text-align: justify;
}
.lt-initial-pos {
  position: relative;
  top: 5px;
}
.chat-iframe {
  box-sizing: border-box;
  height: 118px;
  width: auto;
  border: 1px solid #e9e9e9;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.04);
}
.file-attach-info {
  width: auto;
  color: #6e6e6e;
  font-size: 14px;
  font-style: italic;
  font-weight: 500;
}
.frame-img {
  height: 95px;
  width: auto;
  border: 1px solid #e9e9e9;
  border-radius: 2px;
}
.img-asp-ratio {
  width: 100%;
  height: 100%;
  /* object-fit: contain; */
}
.thumbnail-img-aspect-ratio {
  width: 100%;
  height: 100%;
  object-fit: none;
}
.complete-consent {
  color: #015ff1;
  font-size: 16px;
  font-weight: 600;
}
.file-name-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.file-m-top {
  margin-top: 2.8rem;
}
.separator {
  display: flex;
  align-items: center;
  text-align: center;
  color: #6e6e6e;
  font-size: 14px;
  font-weight: 500;
}

.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #d9d9d9;
}

.separator:not(:empty)::before {
  margin: 0px 35px;
}

.separator:not(:empty)::after {
  margin: 0px 35px;
}