.THIS.slvi-container {
    padding-top: 17px;
    margin-bottom: 30px;
}

.THIS .slvi-section + .slvi-section {
    border-top: 1px solid #F2F2F2;
}

.THIS .slvi-top-container {
    height: 100px;
    padding-left: 17px;
    padding-right: 17px;
}

.THIS .slvi-top-container-hcp {
    padding-left: 17px;
    padding-right: 17px;
}

.THIS .slds-spinner{
    position: unset;
}

.THIS .slds-spinner_xx-small{
    width:10px;
    margin-top:1.4%;
}

.THIS .address-indicator-label{
    margin-left:5px;
}

.THIS .address-spinner-indicator-container{
    margin-top: 4%;
    margin-left: 2%;
    position: unset;
}


.THIS .slvi-name-section,
.THIS .slvi-objective-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.THIS .study-name {
    /*text-overflow: ellipsis;*/
    /*white-space: nowrap;*/
    overflow: hidden;
}
.THIS .study-name-pi {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.THIS .study-name a {
    text-decoration: none;
    /*height: 30px;*/
    color: #297DFD;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    margin: 0;
}

.THIS .slvi-status {
    white-space: nowrap;
    margin: 0;
    flex-shrink: 0;
}

.THIS .slvi-section .slvi-name-section-hcp .study-name {
    margin: -5px 0 0 -10px;
}

.THIS .slvi-objective-section .objective-text {
    height: 16px;
    color: #333333;
    font-size: 13px;
    line-height: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.THIS .slvi-objective-section .objective-link {
    white-space: nowrap;
    margin-left: 10px;
    flex-shrink: 0;
}

.THIS .slvi-objective-sectionxxx .objective-link a {
    text-decoration: none;
    color: #297DFD;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
}

.THIS .objective-link a {
 	margin-top: 1px;   
}

.THIS .sponsor-name {
    height: 20px;
    color: #999999;
    font-family: "Proxima Nova";
    margin-bottom: 5px;
    font-size: 12px;
    line-height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.THIS .slvi-top-container .study-options {
    float: right;
    height: 18px;
    width: auto;
    text-align: center;
    color: white;
    font-size: 10px;
    line-height: 10px;
}

.THIS .slvi-top-container .study-options span {
    float: right;
}

.THIS .slvi-top-container .study-options div {
    padding: 0.2rem;
    float: right;
}

/* --------------------------------------------------------- Buttons: --------------------------------------------------  */
.THIS .slvi-btn {
    text-align: center;
    color: #297DFD;
    padding-top: 10px;
    padding-bottom: 10px;
    border-collapse: collapse;
    flex-basis: 0;
}


.THIS .slvi-btn + .slvi-btn {
    border-left: 1px solid #F2F2F2;
}


.THIS .slvi-btn.disabled {
    pointer-events: none;
    opacity: 0.4;
    cursor: not-allowed;
}

.THIS .slvi-btn .rr-icon-default {
    height: 24px;
    width: 20px;
    margin: auto;
    fill: #297DFD;
}

.THIS .slvi-btn .btn-content {
    display: flex;
    flex-flow: column;
    user-select: none;
    position: relative;
}

.THIS .slvi-btn .btn-content:active {
    top: 1px;
}


.THIS .slvi-btn:hover {
    cursor: pointer;
    background-color: #F8F9FB;
}

.THIS .slvi-btn:active {
    /*box-shadow: inset 0 0 7px rgba(0,0,0,0.25);*/
    box-shadow: inset 1px 4px 9px -6px rgba(0, 0, 0, 0.35);
}

.THIS .slvi-btn:first-child {
    border-bottom-left-radius: 5px;
}

.THIS .slvi-btn:last-child {
    border-bottom-right-radius: 5px;
}

.THIS .btn-wrapper {
    flex-basis: 0;
}

.THIS .btn-wrapper.disabled {
    cursor: not-allowed;
}

.THIS .rr-link {
    color: #297DFD;
    display: inline-flex;
    align-items: center;
}

.THIS .rr-link {
    text-decoration: none;
}

.THIS .rr-link svg {
    fill: #297DFD;
    width: 14px;
    height: 14px;
}

.THIS .clinic-name {
    color: #000000;
    font-family: "Proxima Nova";
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
}

.THIS .clinic-pi-name {
    color: #000000;
    font-family: "Proxima Nova";
    font-size: 15px;
    font-weight: 600;
    display: inline-block;
    padding-right: 5px;
    margin-bottom: 8px;
    border-right: 1px solid #E9E9E9;
}

.THIS .driving-instructions{
    color: #333333;
    font-family: "Proxima Nova";
    font-size: 14px;
}

.THIS .ss-info-address{
    color: #333333;
    font-family: "Proxima Nova";
    font-size: 14px;
}

.THIS .input-fields-labels{
    height: 21px;
    color: #666666;
    font-family: "Proxima Nova";
    font-size: 13px;
    font-weight: 500;
    line-height: 21px;
}

.THIS .slds-form-element__label{
    padding-top: unset;
}

.THIS .ss-lightning-input label{
    height: 21px;
    color: #666666;
    font-family: "Proxima Nova";
    font-size: 13px;
    font-weight: 500;
    line-height: 21px;
    margin-bottom: 4px;
}

.THIS .postal-code-input{
    margin-top: 2px;
}

.THIS .google-map-style{
    padding: 12% 0% 0% 1%;
}

.THIS .manage-location-details{
    height: 24px;
    color: #297DFD;
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    text-align: right;
    margin: 24px 0 0 auto;
    padding:6px 10px 0 0;
    background-color: #f8f9fb;
    border-top: 1px solid #d9d9d9;
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
}

.THIS .manage-location-details span{
    cursor: pointer;
}

.THIS .ss-info-container{
     display: inline-block;
     vertical-align: top;
    margin-left: 24px;
 }

.THIS .popup-account-name{
    width:100%;
    margin-bottom:1%;
    padding-left:1%;
}

.THIS .popup-account-name:first-child{
    color: #000000;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 600;
}

.THIS .ss-info-details{
    display: inline-block;
    vertical-align: top;
    margin-top: 8px;
}

.THIS .other-ss-info-container{
    display: inline-block;
    padding-right:5%;
    vertical-align: top;
}


.THIS #contactInformation .ss-info-details:nth-child(4){
        margin-left: 16px;
}

.THIS #contactInformation .ss-info-details:last-child{
    margin-left: 16px;
    padding-top: 24px;
}

.THIS #ssInformation .ss-info-container:first-child{
    display: inline-block;
    vertical-align: top;
    margin-left: auto;
}

.THIS .delegate-select{
    width: 100%;
    color: #000000;
    font-family: "Proxima Nova";
    font-size: 14px;
}

.THIS .input-fields{
    margin-top:3px;
}

.THIS .pi-save-btn{
    width: 100%;
    min-width: 100%;
}

.THIS .ss-info-buttons{
    margin-top:6%;
}

@media (max-width: 925px) {
    .THIS .ss-info-headers {
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .THIS .ss-info-buttons{
        margin-top:10%;
    }
}



.THIS .other-ss-info{
    display: inline-block;
    padding-top: 3.3%;
    padding-left: 24px;
}

.THIS .other-ss-info-height-control{
    min-height: 107px;
}

.THIS .ss-container-border{
    border-right: 1px solid #E9E9E9;
}

.THIS .ss-info-headers {
    height: 24px;
    color: #000000;
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom:5px;
    vertical-align: top;
}

.THIS .clinic-type{
    color: #4A4A4A;
    font-family: "Proxima Nova";
    font-size: 15px;
    display: inline-block;
    padding-left: 16px;
    padding-bottom: 11px;
    vertical-align: bottom;
}

.THIS .site-sub-header {
    color: #999999;
    font-family: "Proxima Nova";
    font-size: 14px;
    line-height: 17px;
}

.THIS .site-address {
    color: #333333;
    font-family: "Proxima Nova";
    font-size: 13px;
    line-height: 16px;
}

.THIS .rr-link.expanded-icon .rr-icon-default {
    transform-origin: center;
    transition: 0.3s ease-in-out;
    transform: rotate(90deg);
    position: relative;
    top: -1px;
    margin-right: 3px;
}

.THIS .rr-link.hidden-icon .rr-icon-default {
    transform: rotate(0deg);
}

.THIS .rr-blue-color {
    color: #297DFD;
}

.THIS #addNewLocation span{
    font-size: 32px;
    vertical-align: middle;
    margin-right: 5px;
}

.THIS .locationContainer{
    box-sizing: border-box;
    border: 1px solid #F2F2F2;
    background-color: #F2F2F2;
    min-height: 100px;
    margin-top: 14px;
    padding: 8px 11px 13px 0px;
    width: 100%;
}

.THIS .edit-btn{
    color: #2E7CEB;
    font-family: "Proxima Nova";
    font-size: 14px;
    cursor: pointer;
}

.THIS .check-icon-style{
    width: 16px;
    height: 16px;
    fill: #00C221;
}

.THIS .close-icon-style{
    width: 16px;
    height: 16px;
    fill: #E20000;
}

.THIS .text-area-height textarea{
    min-height: 158px;
}

.THIS  .popup-address-inputs{
    padding: 16px 8px 0px 8px;
}

.THIS .edit-address-container .google-map- {
 	   
}

.THIS .manage-location-info{
    text-align: left;
    font-weight: 500;
    padding-right:5%;
}

.THIS .manage-location-details + .p-content{
    line-height: unset;
    font-weight: unset;
}

.THIS .my-location-label{
    color: #000000;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 600;
}

.THIS .slvi-status-item {
    /*text-align: right; */
    font-size: 14px;
    color: #666666;
	display: inline-flex;
    align-items: center;
}

.THIS .slvi-status-item svg {
    margin-right: 5px;
}

@media (max-width: 768px) {
    .THIS .ss-info-buttons{
        margin-top:5%;
        display: block;
    }

    .THIS .clinic-type{
        padding-left: 0px;
        padding-bottom: 0px;
    }

    .THIS .other-ss-info{
        padding-left:0px;
    }

    .THIS .ss-container-border{
        border-right: none;
    }

    .THIS #contactInformation .ss-info-details:nth-child(4){
        margin-left: 0px;
    }

    .THIS #contactInformation .ss-info-details:last-child{
        margin-left: 0px;
        padding-top: 24px;
    }
}

@media (max-width: 768px) {
    .THIS .slvi-buttons .slvi-btn + .slvi-btn {
        border-top: 1px solid #F2F2F2;
    }
}

@media (max-width: 768px) {
    .THIS .slvi-buttons .slvi-btn + .slvi-btn {
        border-top: 1px solid #F2F2F2;
    }
}

.THIS .slvi-status-icon {
    height: 20px;
}

.THIS .green-icon {
    fill: #55C200;
}

.THIS .orange-icon {
    fill: #FF9301;
}

.THIS .red-icon {
    fill: #E20000;
}

.THIS .blue-icon {
    fill: #005587;
}

.THIS .address-check .popup-address-inputs{
    width: 40%
}

.THIS .address-check .popup-address-inputs.indicator-containers{
    width: 60%
}

.THIS .edit-address-container .cRrSelect .slds-select_container .slds-select {
    padding-right: 0;
}

.THIS .check-button-container{
    padding-top: 6%;
}

.THIS .indicator-containers{
    margin-top: 3%;
}

.THIS .check-address-btn{
    padding: 0 7px;
}

@media all and (min-width: 768px) {
    .THIS .slvi-padded-panel-left {
        padding-left: 9rem;
        padding-right: 1rem;
        text-align: right;
    }

    .THIS .slvi-padded-panel-right {
        padding-right: 9rem;
    }
}

@media all and (min-width: 768px) {
    .THIS .site-distance {
        text-align: right;
    }

    .THIS .slvi-top-container-hcp {
        height: 100px;
    }
}

.THIS .slvi-search-site-btn {
    width: 100%;
}

.THIS .slvi-site-btn {
    width: 100%;
}

.THIS .btn-pi-border{
    border-right: 1px solid #F2F2F2;
}

.THIS .p-container .p-content{
    line-height: unset;
    text-align: unset;
    font-weight: unset;
}

.THIS #addNewLocation .plus-location-icon{
    fill: #297DFD;
}

@media all and (max-width: 767px) {
    .THIS .slvi-header-item + .slvi-header-item {
        margin-top: 16px;
    }

    .THIS .apollo-btn.primary{
        width:100%;
        display:block;
        margin:2% 0 0 0;
    }

    .THIS .site-distance {
        margin-top: .5rem;
    }

    .THIS .rri-icon svg {
        height: 18px;
        width: 18px;
    }

    .THIS .rri-icon span {
        margin: .125rem !important;
    }
    .THIS .rri-icon-pi svg {
        height: 18px;
        width: 18px;
    }

    .THIS .rri-icon-pi span {
        margin: .125rem !important;
    }

    .THIS .edit-address-container .slds-size--4-of-6{
        width:100%;
    }
    .THIS .edit-address-container .slds-size--2-of-6{
        width:100%;
    }
    .THIS .edit-address-container .slds-size--1-of-2{
        width:100%
    }
}

@media all and (max-width: 425px) {
    .THIS .edit-address-container .slds-map{
        min-width:15.75rem;
    }
}

@media all and (max-width: 600px) {
    .THIS .ss-info-address{
        word-wrap: break-word;
    }
}