/**
 * Created by Aleksey Moseev.
 */
.THIS .dqa-view-more{
    background: #F8F9FB;
    border-top: solid 1px #E9E9E9;
    min-height: 49px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.THIS .db-qal-title{
    color: #000000;
    font-size: 18px;
    font-weight: 600;
}
.THIS .db-qal-main{
    padding: 16px;
}
.THIS .db-qal-items{
    max-height: 200px;
    overflow-y: auto;
}

.THIS .db-qal-items > .slds-col {
    display: inline-flex;
}  

.THIS .db-qal-items > .slds-col:nth-of-type(2n+1) {
    justify-content: flex-end;
}

.THIS ::-webkit-scrollbar{
    width: 8px;
}
.THIS ::-webkit-scrollbar-thumb{
    width: 8px;
    border-radius: 4px;
    background-color: #999999;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.16);
    height: 100px;
}
.THIS ::-webkit-scrollbar-track{
    display:none;
}
.THIS ::-webkit-scrollbar-button{
    height: 0;
}


@media all and (max-width: 768px)  {
    .THIS .db-qal-items > .slds-col {
        max-width: 60%;
        display: inline-flex;
    }  
    
    .THIS .db-qal-items > .slds-col:nth-of-type(2n+1) {
        min-width: 40%;
        justify-content: flex-end;
    }
}