/**
 * Created by Leonid Bartenev
 */
.THIS.thumbnail-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #e8e8e8;
    border: 1px solid lightgrey;
    padding: 5px;
    border-radius: 5px;
    height: 210px;
    margin-bottom: 10px;
}

.THIS .thumbnail-img{
    max-height: 200px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.3);
    border-radius: 2px;
}