.THIS .resource-footer {
    width: 100%;
    height: 50px;
    margin-top: auto;
    position: sticky;
    top: 100%;
}

.THIS .resource-error-message {
    padding: 40px 0;
    color: #999999;
    font-family: "Proxima Nova";
    font-size: 17px;
    line-height: 26px;
    text-align: center;
}

.THIS .resource-title {
    font-size: 16px;
    font-weight: 600;
    line-height: 27px;
    margin-bottom: 20px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.THIS .resource-table {
    padding: 0 35px;
    min-height: 645px;
}

.THIS .study-document-title {
    text-align: left;
    width: 23%;
}

.THIS .resources-icon-pdf {
    height: 26px;
    width: 22px;
}

.THIS .resources-icon-video {
    width: 30px;
    height: 30px;
}

.THIS .study-document-summary {
    text-align: left;
}

.THIS .study-document-version-date {
    text-align: center;
    width: 12%;
}

.THIS .study-document-icon {
    width: 65px;
    text-align: center;
}

.THIS .study-document-column-data {
    color: #595959;
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.THIS .study-document-title-data {
    color: #297dfd;
}

.THIS .study-document-row-data {
    border-bottom: 1px solid #F8F9FB;
}

.THIS .resource-pointer {
    cursor: pointer;
}