.cardRTL {
    direction: rtl;
}
.open-task {
    background: rgba(7, 104, 253, 1);
    border-radius: 1rem 0 0 1rem;
    color: #ffffff;
    width: 7.5rem;
    height: 2rem;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 1.5rem;
    border: none;
}

.completed-task {
    border: 1px solid #d9d9d9;
    --slds-c-button-brand-color-background: #ffffff;
    border-radius: 0rem 1rem 1rem 0rem;
    color: #595959;
    width: 7.5rem;
    height: 2rem;
    margin-left: 0rem;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.5rem;
}
.create-task {
    background: rgba(7, 104, 253, 1);
    border-radius: 2rem;
    color: #ffffff;
    width: 510px;
    height: 40px;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 1.5rem;
    border: none;
}
.plus-icon {
    --sds-c-icon-color-foreground-default: #ffffff;
    padding-right: 16px;
}
.before-create-task {
    background: rgba(7, 104, 253, 1);
    cursor: pointer;
}
.after-create-task {
    background: rgba(7, 104, 253, 1);
    opacity: 0.4;
    pointer-events: none;
}
.tasks {
    color: #444444;
    font-size: 32px;
    font-weight: 600;
}
.tasks-mobile{
    color: #444444;
    font-size: 24px;
    font-weight: 600;
}
