.cardRTL {
    direction: rtl;
}
.open-task {
    --slds-c-button-brand-color-background: rgba(7, 104, 253, 1);
    border-radius: 1rem 0 0 1rem;
    color: #ffffff;
    width: 7.5rem;
    height: 2rem;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 1.5rem;
}

.completed-task {
    border: 1px solid #d9d9d9;
    --slds-c-button-brand-color-background: #ffffff;
    border-radius: 0rem 1rem 1rem 0rem;
    color: #595959;
    width: 7.5rem;
    height: 2rem;
    margin-left: 0rem;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.5rem;
}
.create-task {
    border-radius: 2rem;
    color: #ffffff;
    width: 510px;
    height: 40px;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 1.5rem;
}
.before-create-task {
    --slds-c-button-brand-color-background: rgba(7, 104, 253, 1);
}
.after-create-task {
    --slds-c-button-brand-color-background: rgba(7, 104, 253, 1);
    opacity: 0.4;
}
