.list-border-btm {
    border-bottom: 1px solid #d9d9d9;
    height: auto;
    cursor: pointer;
}
.list-border-btm:hover {
    background-color: #f2f2f2;
}
.study-txt {
    color: #444444;
    font-family: 'Proxima Nova';
    font-size: 16px;
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.study-txt-without-msg {
    width: 374px;
}
.study-time {
    color: #595959;
    font-size: 12px;
}
.mob-study-time {
  /*  padding-left: 26px; */
    color: #595959;
    font-size: 12px;
}
.attachment {
    /* width: 16px; */
    height: 16px;
}
.txt-ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    width: auto;
    overflow: hidden;
    color: #595959;
    font-size: 14px;
    font-weight: bold;
}
.txt-ellipsis-normal {
    text-overflow: ellipsis;
    white-space: nowrap;
    width: auto;
    overflow: hidden;
    color: #595959;
    font-size: 14px;
}
.oval {
    height: 8px;
    width: 8px;
    background-color: #0768fd;
    position: absolute;
    border-radius: 50%;
}
.selected {
    background: #ecf3ff;
}
.mob-study-txt {
    color: #444444;
    font-size: 16px;
    font-weight: 600;
}
.list-border-btm {
    border-bottom: 1px solid #d9d9d9;
    height: auto;
}
@media all and (min-device-width: 768px) and (max-device-width: 1279px) and (orientation: portrait) {
    .study-txt-without-msg{
        width: auto;
        white-space: pre-wrap;
    }
}
@media all and (min-device-width: 768px) and (max-device-width: 1279px) and (orientation: landscape) {
    .study-txt-without-msg{
        width: auto;
        white-space: pre-wrap;
    }
}