.del-info-container {
    border-radius: 8px;
    background-color: #eeeeee;
}

.participant-del-info {
    color: #444444;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.5rem;
}

.withdraw-info {
    color: #444444;
    font-size: 1rem;
    letter-spacing: 0;
    line-height: 1.5rem;
}

.withdraw-button {
    --slds-c-button-radius-border: 1rem;
    --slds-c-button-brand-color-background: #ffffff;
    --slds-c-button-brand-color-background-hover: #0768fd;
    --slds-c-button-brand-text-color: #0768fd;
    --slds-c-button-brand-text-color-hover: #ffffff;
    --slds-c-button-brand-text-color-focus: #ffffff;
    --slds-c-button-brand-text-color-active: #ffffff;
    border-radius: 1rem !important;
    box-sizing: border-box;
    border: 1px solid #d9d9d9;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.04) !important;
    transform: rotate(-360deg);
    /* color: #0768fd; */
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    /* line-height: 2rem; */
    text-align: center;
}

.withdraw-button-disabled {
    background-color: rgba(7, 104, 253, 0.4);
    border-color: transparent;
    cursor: not-allowed;
}

.desktop-width {
    width: 95% !important;
}

.full-width {
    width: 100% !important;
}
