.task-length {
    color: #595959;
    font-size: 14px;
}
.card-style {
    height: 273px;
    width: 334px;
}

.task-card {
    width: 510px;
}

.task-cancel-btn {
    box-sizing: border-box;
    height: 32px;
    width: 88px;
    border: 1px solid #d9d9d9;
    border-radius: 16px;
    background-color: #ffffff;
    color: #015FF1;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.04);
    cursor: pointer;
}
.task-save-btn {
    box-sizing: border-box;
    height: 32px;
    width: 96px;
    border: 1px solid #d9d9d9;
    border-radius: 20px;
    background-color: #015FF1;
    color: #ffffff;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.04);
    cursor: pointer;
}
.task-save-btn-opacity {
    opacity: 0.5;
    box-sizing: border-box;
    height: 32px;
    width: 96px;
    border: 1px solid #d9d9d9;
    border-radius: 20px;
    background-color: #015FF1;
    color: #ffffff;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.04);
    pointer-events: none;
}

.pad-right {
    padding-right: 16px;
}
.slds-required {
    font-size: 16px;
    font-weight: bold;
}
.read-only-field input .slds-input {
    background-color: #f2f2f2 !important;
}
input[type='text']:disabled {
    background: #ffff00;
}
.slds-input[disabled] {
    background: #ffff00;
}

@media all and (max-width: 486px) {
    .taskIcon {
        display: none;
    }
    .task-card-mobile {
        box-sizing: border-box;
        height: auto;
        width: 100%;
        border: 1px solid #e9e9e9;
        border-radius: 16px;
        background-color: #ffffff;
        box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.04);
    }

    .taskFooter {
        padding: 1rem 1rem 0 0;
        border-top: 1px solid #e9e9e9;
    }
}
