.input-task-name {
    height: 32px;
    width: 334px;
    border-radius: 1rem;
    border: 1px solid #d9d9d9;
    padding-left: 35px;
    background-color: #f2f2f2;
}
.task-length {
    height: 24px;
    width: 38px;
    color: #595959;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 24px;
    padding-left: 230px;
}
.card-style {
    height: 273px;
    width: 334px;
}
