.THIS .sld_thanks{
    color: #595959;
    font-family: "Proxima Nova";
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 38px;
    text-align: center;
  }
  
  .THIS .sld_submit_message {
    color: #595959;
    font-family: "Proxima Nova";
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 29px;
    text-align: center;
    padding: 20%;
    width: 100%;
  }