.list-container {
    height: 45rem;
    position: relative;
    background: #f8f9fb;
}

.active-custom-box {
    box-sizing: border-box;
    height: 80px;
    width: 313px;
    border: 1px solid #015ff1;
    border-radius: 16px;
    background-color: #ffffff;
    padding: 0.9rem 0 1rem 0.2rem;
    margin-bottom: 0.5rem;
    color: #595959;
}

.inactive-custom-box {
    box-sizing: border-box;
    height: 80px;
    width: 313px;
    border: 1px solid #d9d9d9;
    border-radius: 1rem;
    background-color: #ffffff;
    padding: 0.9rem 0 1rem 0.2rem;
    margin-bottom: 0.5rem;
}

.inactive-custom-box:hover,
.active-custom-box:hover {
    cursor: pointer;
}

.active-custom-box .slds-grid,
.inactive-custom-box .slds-grid {
    align-items: center;
}

.left-line,
.left-grey-line {
    position: relative;
    height: 3rem;
}

.left-line:before,
.left-grey-line:before {
    content: '';
    position: absolute;
    width: 4px;
    height: 100%;

    top: 0;
    left: 0;
    border-radius: 2px;
}
.left-line:before {
    background-color: #009dd6;
}

.name-style {
    color: #444444;
    font-size: 1.125rem;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 1.3125rem;
}

.no-visit-date {
    width: 189px;
    color: #999999;
    font-family: 'Proxima Nova';
    font-size: 1rem;
    letter-spacing: 0;
}

.date-style {
    color: #595959;
    font-family: 'Proxima Nova';
    font-size: 1rem;
    letter-spacing: 0;
    line-height: 1.3125rem;
}

.scroll-bar {
    height: 39rem;
    border-radius: 4px;
    margin-right: 1rem;
}

.visit-list-container {
    min-width: 380px;
    border-right-width: 1px;
    border-right-color: #999999;
    padding-right: 1rem;
}

.my-results {
    color: #444444;
    font-size: 32px;
    font-weight: 600;
}
.no-task-box {
    box-sizing: border-box;
    height: 14rem;
    border: 1px solid #e9e9e9;
    border-radius: 1rem;
    background-color: #ffffff;
    display: grid;
}
.no-result-text {
    color: #999999;
    font-size: 1rem;
    font-weight: 500;
}
@media all and (max-width: 500px) {
    .my-results {
        margin-left: 1.5rem;
    }
    .no-task-box {
        margin: 0.8rem 1.5rem 0.8rem 1.5rem;
    }
}
@media all and (min-width: 500px) and (max-width: 768px) {
    .my-results {
        margin: -1.5rem 0 1rem 0;
    }
    .no-task-box {
        margin: 0.8rem 1.5rem 0.8rem 1.5rem;
    }
}

@media all and (max-width: 1200px) {
    .active-custom-box,
    .inactive-custom-box {
        min-width: 75%;
        margin-inline: auto;
    }
}

@media all and (min-width: 468px) and (max-width: 768px) {
    .active-custom-box-class,
    .inactive-custom-box-class {
        min-width: 100%;
    }
}

@media all and (max-width: 486px) {
    .active-custom-box,
    .inactive-custom-box {
        min-width: unset;
        width: 100%;
    }
    .list-container {
        padding-left: 1.5rem;
    }
}
