/**
 * Created by Aleksey Moseev
 */
.THIS.rr-white-panel {
    padding: 16px 0 0;
}

.THIS .p-container.large {
    height: 650px;
}

.THIS .p-container .p-content {
	padding: 0 24px 40px;
    max-height: 79%;
}

.THIS .p-content .form-content {
    padding-bottom: 15px;
}

.THIS .p-container.large > div:last-child{
    height: 100%;
}

.THIS .p-container .p-footer {
    padding: 15px 15px 15px 24px;
    position: absolute;
    bottom: 72px;
    right: 0;
    width: 100%;
    z-index: 1000;
}

.THIS .p-container .p-footer .rr-cb-label{
	margin-top: 3px;
}

.THIS .vpi-title{
    font-size: 18px;
    font-weight: 600;
}
.THIS .slds-icon{
    background: blue;
    margin-left: 10px;
    border-radius: 50%;
}
.THIS .slds-button--neutral{
    background: #297dfd;
    color: white;
    border: 0px solid #d9d9d9;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.04);
    padding: 2px 10px;
    font-size: 1rem;
}

.THIS .rr-form-element label, 
.THIS .rr-form-element .label,
.THIS .slds-form-element__label {
    font-size: .875rem;
}

.THIS .ap-section .ap-section-title + .slds-grid .rr-cb-label {
    font-size: 1rem;
    color: #000;
    margin-top: 2px;
}

.THIS .ap-section .rr-form-element:not(.grey-text) {
    color: #000;
} 

.THIS .vpi-title.link{
    color: #3294FE;
    cursor: pointer;
}

.THIS .width-basis{
    flex-basis: auto;
}

.THIS .vpi-state{
    padding-left: 0!important;
    padding-right: 0!important;
}

.THIS .vri-state-label{
    text-align: center;
    font-size: 1rem;
    line-height: 1;
}

.THIS .vpi-line-div{
    height: 22px;
    border-top: 3px solid;
    padding-right: 0;
    padding-left: 0;
}

.THIS .vpi-line-div.neutral{
    border-top-color: #b5b5b5;
}

.THIS .vpi-line-div.success{
    border-top-color: #00c221;
}


.THIS .vpi-line-div.in_progress{
    border-top-color: #00c221;
}

.THIS .vpi-line-div.failure{
    border-top-color: #E20000;
}

.THIS .vpi-path{
    margin: 30px 0 5px;
    padding: 0 15px;
}

.THIS .vpi-path .vpi-state:first-child .vpi-line-div:first-child{
    border-top-color: transparent;
}

.THIS .vpi-path .vpi-state:last-child .vpi-line-div:last-child{
    border-top-color: transparent;
}

.THIS .state-ico-wrapper{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    left: -9px;
    line-height: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.THIS .state-ico-wrapper .rr-icon-default{
    width: 14px;
    height: 14px;
    padding: 0;
    fill: white;
}

.THIS .vpi-state.current .state-ico-wrapper{
    width: 28px;
    height: 28px;
    top: -15px;
    left: -14px;
}

.THIS .vpi-state.current .state-ico-wrapper .rr-icon-default{
    width: 24px;
    height: 24px;
    padding: 1px;
}

.THIS .vpi-state.neutral .state-ico-wrapper{
    background-color: #b5b5b5;
}

.THIS .vpi-state.neutral .state-ico-wrapper .cRRIcon {
    display: none;
}

.THIS .vpi-state.success .state-ico-wrapper{
    background-color: #00c221;
}

.THIS .vpi-state.in_progress .state-ico-wrapper{
    background-color: #005ff1;
}

.THIS .vpi-state.failure .state-ico-wrapper{
    background-color: #E20000;
}

/* status names */

.THIS .vpi-state.neutral .vri-state-label{
    color: #999;
}

.THIS .vpi-state.success .vri-state-label{
    color: #000;
}

.THIS .vpi-state.in_progress .vri-state-label{
    color: #000;
    font-weight: 600;
}

.THIS .vpi-state.failure .vri-state-label{
    color: #000;
}

.THIS .vri-state-label{
    display: none;
}

.THIS .vpi-state.current .vri-state-label{
    display: block;
    font-weight: 600;
}


.THIS .vpi-path-panel .path-section{
    padding: 0 0 10px;
}

/*
.THIS .vpi-path-panel .path-section-pi {
    padding-bottom: 10px;
}
*/
.THIS .vpi-path-panel .collapse-section{
    padding: 0;
    font-size: 14px;
    line-height: 22px;
    transition: 0.6s;
    border-radius: 5px;
    margin: 0;
}

.THIS .vpi-path-panel .collapse-section.opened{
    background-color: white;
}

.THIS .cParticipantCardFields .vpi-field label{
    white-space: nowrap;
}

.THIS .vpi-status-btns {
    display: flex;
    justify-content: center;
    padding-left: 63%;

}

.THIS .vpi-status-btns > div {
    text-align: center;
}

.THIS .vpi-status-btns button{
    margin-top: 15px;
    margin-bottom: 25px;
    min-width: auto;

}

.THIS .rr-form-element + .rr-form-element:not(.participantOption):not(.delegateMsg){
    margin-top: 10px;
}

.THIS .rr-form-element{
    margin-bottom: 10px;
}

.THIS .p-footer .rr-form-element{
    margin-bottom: 0;
}

.THIS .ap-section-title{
    font-size: 18px;
    line-height: 24px;
    color: #000;
    margin-bottom: 7px;
    font-weight: 600;
}

.THIS .ap-section{
    margin-top: 30px;
}

.THIS .ap-buttons{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-bottom: 80px;
}

.THIS .apollo-btn.custom-cancel{
    background-color: #e8e8e8;
}

.THIS .rr-form-element .slds-form-element__label{
    display: none;
}

.THIS .show-radiobutton-label .slds-form-element__label{
    display: inline;
}

.THIS .radioInvite .slds-form-element:first-child {
    margin: 5px 0 10px;
}

.THIS .radioInvite .slds-form-element:last-child {
    margin: 5px 0 0;
}

.THIS .rr-form-element .cRrSelect .slds-select_container .slds-select{
    margin-top: 0;
}
.THIS .slds-form-element__icon {
    padding-top: 0;
    margin-left: 3px;
}

.THIS .primary,
.THIS .secondary {
    margin-left: 1rem;
}

@media all and (min-width: 1024px) {
    .THIS .vri-state-label{
        display: block;
    }
    .THIS .width-basis{
        flex-basis: 0;
    }

    .THIS .state-ico-wrapper{
        width: 28px;
        height: 28px;
        top: -15px;
        left: -14px;
    }

    .THIS .state-ico-wrapper .rr-icon-default{
        width: 24px;
        height: 24px;
        padding: 1px;
    }

    .THIS .vpi-refid-field {
        display: inline-block;
        vertical-align: middle;
        padding: 0 10px;
        margin: 5px 0;
    }

    .THIS .vpi-refid-field > .label {
        color: #7F888D;
        font-size: 10px;
        font-weight: bold;
        line-height: 12px;
        text-transform: uppercase;
    }

    .THIS .vpi-refid-field > .value {
        color: #000000;
        font-size: 14px;
        line-height: 18px;
        height: 18px;
        font-weight: 600;
    }
    .THIS .slds-small-size_6-of-12 {
        margin-left: 175px;
    }
}

@media all and (max-width: 768px){
    .THIS .p-container.large {
        height: 95vh;
    }
    
    .THIS .p-buttons-container > .rr-form-element {
        width: 45%;
    }
    
     .THIS .vpi-status-btns button{
        margin: 5px 0 10px 0;
        width: 100%;
    } 
    .THIS .vpi-status-btns {
     	padding-right: 15px; 
        margin-top: 15px;
        margin-bottom: 15px;
    }
    
    .THIS .radioInvite .slds-form-element:first-child {
        margin: 5px 0 1rem;
    }
    
    .THIS .show-radiobutton-label {
        margin-top: 10px;
    }
    
    .THIS .p-footer .rr-form-element {
        margin-bottom: 10px;
    }
    
    .THIS .p-buttons-container > .rr-form-element {
        width: 100%;
    }
    
     .THIS .vpi-status-btns button{
        margin: 5px 0 10px 0;
        width: 100%;
    }
    
    .THIS .vpi-status-btns {
     	padding-right: 15px; 
        margin-top: 15px;
        margin-bottom: 15px;
    }
    
    .THIS .radioInvite .slds-form-element:first-child {
        margin: 5px 0 1rem;
    }
    
    .THIS .delegate-info-container .ap-section > div:nth-of-type(2) .rr-form-element:nth-of-type(n+5) {
        min-width: 50%;
    }
            
    .THIS .personal-info-container .ap-section:nth-of-type(1) .rr-form-element:nth-of-type(n+4),
    .THIS .personal-info-container .ap-section:nth-of-type(2) .rr-form-element:nth-of-type(n+2){
        max-width: 50%;
    }
    
     .THIS .personal-info-container .ap-section .rr-form-element:nth-of-type(n+5){
     	max-width: 50%;   
    }
    
    .THIS .p-footer .rr-form-element {
        margin-bottom: 10px;
    }
    
    .THIS .p-content .primary,
    .THIS .p-content .secondary {
        margin-left: 0;
    }

    .THIS .p-buttons-container {
		display: flex;
        flex-direction: column;
    }
    
    .THIS .p-buttons-container > div {
        margin-left: 0!important;
        margin-top: 0!important;
        width: 100%;
    }
    
    .THIS .p-buttons-container > div[data-gtm="BTNS_Popup_Navigate_emancip"] {
        width: 100%;
    }

}

@media all and (max-width: 500px){
    
    .THIS .ap-section .rr-form-element > .rr-form-element {
    	min-width: 100%;    
    }
    
    .THIS  #p-modal .p-container {
        max-height: 85%;
        top: 45%;
    }
    
    .THIS .p-container .p-content {
        max-height: 70%;
        padding: 0 1rem 40px; 
    }
    
   .THIS .p-content .form-content {
        padding-bottom: 50px;
    }
    
    .THIS .p-content .form-content .participant-info-container:first-child .ap-section .slds-size--2-of-3.bold-title{
        display: none
    }
    
    .THIS .p-content .form-content .participant-info-container:first-child .ap-section .slds-size--1-of-3,
    .THIS .delegate-info-container .ap-section > div:nth-of-type(2) .rr-form-element:nth-of-type(n+5){
        min-width: 100%;
    }
    
    .THIS .personal-info-container .ap-section:nth-of-type(1) .rr-form-element:nth-of-type(n+4),
    .THIS .personal-info-container .ap-section:nth-of-type(2) .rr-form-element:nth-of-type(n+2),
    .THIS .personal-info-container .ap-section rr-form-element:nth-of-type(n+5),
    .THIS .provide-info-container{
     	max-width: 100%;   
    }
    
    
    .THIS .p-container .p-footer {
        padding: .5rem 1rem 1rem;
        max-height: 28vh;
    }

    .THIS .p-buttons-container {
        flex-direction: column;
    }
    
     .THIS .p-buttons-container > div[data-gtm="BTNS_Popup_Navigate_emancip"] {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
     
    .THIS .p-buttons-container>div[data-gtm="BTNS_Popup_Navigate_emancip"] .apollo-btn {
        width: 100%;
        margin-left: 0;
    }
    
    .THIS .p-buttons-container>div[data-gtm="BTNS_Popup_Navigate_emancip"] > span {
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
     }
        
    .THIS .p-buttons-container>div[data-gtm="BTNS_Popup_Navigate_emancip"] > span .apollo-btn {
        width: 45%;
        margin: 0;
        
    }
}