.text-overflow1 {
    white-space: nowrap;
    /*overflow: hidden;*/
    text-overflow: ellipsis;
    width: 100px;
    color: #000000 !important;
    margin-right: auto;
}

:dir(rtl) .text-overflow1 {
    white-space: nowrap;
    /*overflow: hidden; */
    text-overflow: ellipsis;
    width: 164px;
    color: #000000 !important;
    margin-left: 38px;
}
.disflex {
    display: flex;
}
.reset-btn {
    font-size: 1rem;
    min-height: 40px;
    font-weight: 600;
    border: transparent;
    box-shadow: 0 4px 4px 0 rgb(255 255 255 / 0%);
}
.filter-btn {
    font-size: 1rem;
    min-height: 40px;
    font-weight: 600;
}
.w-high-risk {
    width: 20%;
    padding-left: 0;
    padding-right: 0;
}
.w-high-priority {
    width: 22%;
    padding-left: 0;
    padding-right: 0;
}
.w-comorbidities {
    width: 25%;
    padding-left: 0;
    padding-right: 0;
}
.w-initial-visit {
    width: 28%;
    padding-left: 0;
    padding-right: 0;
}
.w-date {
    width: 47%;
    padding-left: 0;
}

.w-to {
    width: 6%;
    padding-left: 0;
    padding-right: 0;
}
.w-scheduled-date {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}
.slds-btn-right {
    float: right;
}
.apply-fil-btn {
    width: auto;
    margin-left: 15px;
    margin-top: 0;
}
.p-left {
    padding-left: 0;
}
.and {
    padding-left: 5px;
    width: 47px;
}
.eth .slds-no-flex {
    width: 100%;
}
.eth .select-all-clear-all {
    cursor: pointer;
    padding-left: 5px;
    /* opacity: 0.75; */
}
.eth .btn {
    font-size: 14px;
    font-weight: 500;
    border-radius: 4px;
    padding: 5px;
}
.eth .btn:hover {
    background-color: aliceblue;
}
.eth .slds-no-flex span {
    float: right;
    color: #0768fd;
}
.eth .slds-input {
    height: auto;
}
.eth .selectedOption {
    max-width: 93%;
    overflow: hidden;
    min-height: 32px;
    /* white-space: nowrap; */
}
.eth .selectedValue {
    border: 1px solid #d9d9d9;
    border-radius: 16px;
    margin-left: 5px;
    color: black;
    font-weight: 600;
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0 10px;
    /* max-width: 117px; */
    /* max-width: max-content; */
    /* width: 28%; */
    height: 29px;
    overflow: hidden;
}
.eth .study-thmore {
    padding: 5px 0px 0px 550px;;
}
.eth .slds-listbox__option-icon {
    width: 6px;
}
.eth .slds-listbox_vertical .slds-listbox__option:hover {
    background: #ecf3ff;
}
.eth .input-width {
    height: 14px;
    width: 14px;
}
.eth .slds-truncate {
    width: 100%;
    cursor: pointer;
}
.eth .text-for-check {
    position: absolute;
    padding-left: 7px;
    font-size: 12px;
    margin-top: -2px;
    max-width: 84%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.eth .input-width:checked + .text-for-check {
    font-weight: 600;
}
.eth input:focus {
    box-shadow: none;
}
.eth .noclk {
    pointer-events: none;
    cursor: pointer;
}
.dropdown-width {
    display: inline-block;
}
.rtl .eth .study-thmore {
    padding: 5px 0px 0px 0px;
}
.rtl .eth .selectedValue {
    float: right;
    margin-right: 5px;
}
.rtl .eth .text-for-check {
    margin-right: 6px;
}
.rtl .eth .slds-no-flex span {
    float: left;
}
.rtl .rtl-width {
    right: -50%;
}
@media (max-device-width: 767px) {
    .rtl .eth .selectedValue {
        float: right;
        margin-right: 2px;
        margin-top: 2px;
        margin-bottom: 2px;
    }
    .rtl .eth .study-thmore {
        padding: 5px 0px 0px 0px;
    }
    .rtl .w-date {
        width: 46%;
        padding-right: var(--lwc-spacingSmall, 0.75rem);
        padding-left: var(--lwc-spacingSmall, 0.75rem);
    }
    .rtl .filter-date {
        padding-top: 28px;
        padding-right: 0px;
    }
    .rtl .apply-fil-btn {
        width: 95%;
        margin-left: 0;
    }
    .rtl .rtl-width {
        right: -50%;
    }
    .eth .study-thmore {
    padding: 6px 0px 0px 175px;;
}
}

/*on hover of clear all*/
.rectangle {
    background-color: #ecf3ff;
}
.study-box {
    margin-top: -1px;
    height: 40px !important;
}
.study-p-bottom {
    padding-bottom: 6px;
}
/* .dropdown-icon-alignment {
    margin-top: -30px;
    text-align: right;
    padding-right: 10px;
} */
/* placeholder code */
[contentEditable=true]:empty:before {
    content: attr(placeholder);
    opacity: 0.6;
  }
.padding-placeholder{
    padding: 4px 0px 0px 22px;
}