/**
 * Created by Pijush Kar
 */
.THIS.all-content {
    top: 0;
    left: 0;
    font-family: 'Proxima Nova';
    background-color: rgb(255, 255, 255);
    /* @noflip */
    direction: ltr;
}
.THIS .imgclass{
    margin-left: 5px;
    padding-bottom : 3px;
}

.THIS.mobile-content {
    align-items: stretch;
    top: 0;
    left: 0;
    font-family: 'Proxima Nova';
    background: url(/resource/1623075522000/Lofi_Login_Icons/Background.png) no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    min-height: 101vh;
}

.THIS > .slds-col.slds-large-size_4-of-7 {
    max-height: 100vh;
    overflow: hidden;
}

.THIS > .slds-col.slds-large-size_4-of-7 img {
    margin-top: -125px;
}

.THIS > .slds-col.slds-large-size_3-of-7 {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}

.THIS .body-content {
    width: 20rem;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 0.25rem;
    padding: 1rem 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.THIS .logo-block {
    margin: auto;
    margin-top: 2rem;
    /*  min-width: 31.25rem; */
}

.THIS .logo-block + .slds-col {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 1rem;
}

.THIS .logo-block > .slds-align_absolute-center {
    width: 30rem;
}

.THIS .logo-block > .slds-align_absolute-center > .slds-col {
    padding: 0;
}

.THIS .brand-logo {
    margin: 2rem;
    margin-bottom: 1rem;
}

.THIS .logo-sub-title {
    line-height: 24px;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    width: 20.5em;
    height: 3em;
}

.THIS .logo-sub-title-mobile {
    line-height: 24px;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0;
    text-align: center;
    margin-bottom: 1rem;
    width: 56%;
}

.THIS .logo-row {
    display: inline-flex;
}

.THIS .main-logo {
    margin: 40px 5px 40px 0;
    /*height: 110px;*/
    /* @noflip */
    float: left;
}

.THIS .mobile-logo {
    /* @noflip */
    float: left;
}

.THIS .ie-login-rows input:focus {
    background-color: #213e7e;
}

.THIS .janssen-logo {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 0;
}
/*.THIS .forgot-password {
    height: 29px !important;
    width: 251px !important;
    color: #000000 !important;
    font-size: 24px !important;
    font-weight: 600 !important;
    letter-spacing: 0 !important;
    line-height: 29px !important;
}
.THIS .email-sent {
    height: 29px;
    width: 251px;
    color: #000000;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 29px;
}
.THIS .we-sent-a-message-to {
    height: 48px;
    width: 286px;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: 40px;
}*/

.THIS .label {
    height: 24px;
    width: 64px;
    color: #444444;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 24px;
}
.THIS .policyCss{
    text-align: right;
    padding-right: 2rem;
}


.THIS .slds-form-element__label {
    height: 24px;
    width: 100px;
    color: #444444;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 24px;
}

.THIS .header-title {
    color: #005587;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 36px;
    overflow: hidden;
    margin-top: 1.1em;
    /* @noflip */
    text-align: left;
}

.THIS .header-title-rtl {
    color: #005587;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 36px;
    overflow: hidden;
    margin-top: 1.1em;
    /* @noflip */
    text-align: left;
}

.THIS .header-title-mobile {
    color: #ffffff;
    font-size: 21px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 25px;
}

.THIS .header-subtitle {
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 16px;
    /* @noflip */
    text-align: left;
}

.THIS .footer {
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 24px;
    text-align: center;
    margin-left: 0.3125em;
    width: 100%;
}

.THIS .footer-mobile {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 24px;
    text-align: center;
    margin: 0 0.5em;
    margin-bottom: 1em;
    width: 100%;
}

.THIS .align-rtl {
    /* @noflip */
    direction: rtl;
}

.THIS .p-header h2 {
    min-width: 275px;
    line-height: 22px !important;
    padding-left: 10px;
    font-weight: normal !important;
}

.THIS.mobile-content .footer-mobile {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-end;
}

.THIS.mobile-content .appTitles {
    display: flex;
    margin: 2rem auto;
    width: 55%;
}

.THIS.mobile-content .ppLabel {
    color: #fff;
}

.THIS .p-container .p-content {
    padding-top: 0 !important;
}
.THIS .p-container .rtlBody {
    /*@noflip*/
    direction: rtl;
}
.THIS .p-header .rtlHeader {
    /*@noflip*/
    direction: rtl;
    /*@noflip*/
    padding-right: 24px !important;
}
.THIS .page-link {
    cursor: pointer;
    display: inline-block;
    font-family: 'Proxima Nova';
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color : #0768fd;
}

.THIS .page-linkMobile {
    cursor: pointer;
    display: inline-block;
    font-family: 'Proxima Nova';
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color : #FFFFFF;
}

.THIS .IconMobile{
    margin-bottom: 13px;
    padding-bottom: 13px;
}
.THIS .leftmarginMobile {
    margin-left: -10px;
}
.THIS .dividerMobile {
    height: 15px;
    width: 1px;
    background-color: #e9e9e9;
    /* margin-right: 12px; */
     
    margin-top: 4px;
}

.THIS .divider{
    height: 15px;
    width: 1px;
    background-color: #e9e9e9;
    margin-top: 4px;
}
  



@media all and (max-width: 1080px) {
    
    .THIS .logo-block {
        margin-top: 0;
    }

    /*   .THIS .logo-block > .slds-align_absolute-center {
        width: 100%;
        flex-direction: column;
    } */

    .THIS .logo-block > .slds-align_absolute-center.logo-sub-title {
        width: 80%;
        margin-top: -1rem;
    }

    .THIS .logo-block > .slds-align_absolute-center > .slds-col {
        width: 50%;
        text-align: center;
    }

    .THIS .header-title {
        /* @noflip */
        text-align: left;
        padding-left: 0.75rem;
        margin-top: 0.875rem;
    }
    .THIS .header-title-rtl {
        /* @noflip */
        text-align: left;
        padding-left: 0.75rem;
        margin-top: 0.875rem;
    }

    .THIS .main-logo {
        margin: 20px 0 40px 0;
    }
}

@media all and (max-width: 900px) {
    .THIS .logo-block > .slds-align_absolute-center > .slds-col {
        width: 65%;
    }
}

@media all and (min-width: 768px) {
    .THIS .p-container.medium {
        width: 500px !important;
    }

    .THIS .body-content {
        margin-top: 0;
        margin-bottom: 0;
    }
}

@media all and (max-width: 768px) {
    .THIS .p-container .icon-bell {
        left: 2rem;
        top: 1.5rem;
    }

    .THIS .checkmarklofi.eye-icon-mask .checksizelofi-eye {
        height: 24px;
        width: 26px;
    }
}

@media all and (max-width: 486px) {
    .THIS.mobile-content .logo-sub-title-mobile {
        width: auto;
    }

    .THIS.mobile-content .appTitles {
        margin: 0;
        width: auto;
    }

    .THIS.mobile-content .body-content {
        padding-bottom: 1.5rem;
        margin-top: 3.8rem;
        margin-bottom: 3.8rem;
    }

    .THIS .p-container .icon-bell {
        left: 1rem;
    }
    .THIS .body-content .slds-input {
        font-size: 16px;
    }
}

@media screen and (device-aspect-ratio: 9/16) {
    .THIS input[type='text'],
    .THIS input[type='password'] {
        font-size: 16px;
    }
}

@media all and (max-width: 468px) and (max-height: 500px) {
    .THIS.mobile-content {
        height: 150vh;
    }
}

@media all and (max-width: 400px) {
    .THIS.mobile-content .appTitles {
        margin-top: -1rem;
    }

    .THIS.mobile-content .body-content {
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    .THIS.mobile-content .footer-mobile > .slds-col {
        font-size: 0.8125rem;
    }
}

@media all and (max-height: 776px) {
    .THIS .logo-block > .slds-align_absolute-center {
        width: auto;
    }

    .THIS .janssen-logo {
        margin-top: -1.25rem;
        margin-bottom: 0.45rem;
    }

    .THIS .logo-block {
        margin-top: 0;
    }

    .THIS .slds-col.slds-large-size_4-of-7 img {
        margin-top: -90px;
    }

    .THIS .logo-block > .slds-align_absolute-center:nth-child(1) {
        margin-top: -1.75rem;
        z-index: 5;
        position: relative;
    }

    .THIS .logo-block > .slds-align_absolute-center.logo-sub-title {
        width: 25.5rem;
        margin-top: -1.5rem;
    }

    .THIS .logo-block > .slds-align_absolute-center:nth-child(1) img {
        transform: scale(0.75);
    }

    .THIS .logo-block .logo-sub-title {
        margin-top: -2rem;
        z-index: 100;
        position: relative;
        font-size: 0.875rem;
        line-height: 1.25rem;
    }

    .THIS .logo-block .slds-align_absolute-center.slds-grid {
        margin-top: 0rem;
        width: 100%;
    }

    .THIS .logo-block .main-logo {
        transform: scale(0.75);
        margin: 30px 0 40px;
    }

    .THIS .logo-block .header-title {
        font-size: 1.5rem;
        margin-top: 1.4rem;
    }
    .THIS .logo-block .header-title-rtl {
        font-size: 1.5rem;
        margin-top: 1.4rem;
    }

    .THIS .logo-block .header-subtitle {
        font-size: 0.75rem;
        margin-top: -0.5rem;
    }

    .THIS .body-content {
        margin-top: -1.25rem;
        padding-bottom: 0;
    }

    .THIS .body-content .input-box {
        margin-bottom: 1em;
    }

    .THIS .body-content .form-header,
    .THIS .body-content .forgot-pwd,
    .THIS .body-content .forgot-password,
    .THIS .body-content .titleFont {
        margin: 0 0 0.5em;
    }

    .THIS .body-content .form-button {
        margin-bottom: 1rem;
        margin-top: 0.5rem;
    }

    .THIS .body-content .rr-link {
        font-size: 0.875rem;
    }

    .THIS .body-content .icon-position {
        transform: scale(0.75);
    }

    .THIS .footer {
        line-height: 1.25rem;
        margin-top: 1rem;
    }

    .THIS .footer > .slds-col {
        font-size: 0.75rem;
    }

    .THIS .logo-block + .slds-col {
        padding-bottom: 0;
    }
}

@media all and (max-height: 776px) and (max-width: 486px) {
    .THIS .body-content {
        margin-top: 1.5rem;
    }
}

@media all and (max-height: 560px) {
    .THIS > .slds-col.slds-large-size_4-of-7 {
        max-height: 100vh;
    }

    .THIS > .slds-col.slds-large-size_3-of-7 {
        height: 100vh;
    }

    .THIS .slds-col.slds-large-size_4-of-7 img {
        margin-top: -70px;
    }

    .THIS .logo-block {
        min-width: 26.5rem;
    }

    .THIS .logo-block > .slds-align_absolute-center:nth-child(1) {
        margin-top: -2.25rem;
    }

    .THIS .logo-block > .slds-align_absolute-center.logo-sub-title {
        margin-top: -1.75rem;
    }

    .THIS .logo-block .slds-align_absolute-center.slds-grid {
        margin-top: 0rem;
    }

    .THIS .logo-block > .slds-align_absolute-center.slds-grid.slds-wrap.slds-gutters {
        flex-direction: row;
        width: 100%;
    }

    .THIS .logo-block > .slds-align_absolute-center > .slds-col:first-child {
        padding-left: 15px;
    }

    .THIS .logo-block > .slds-align_absolute-center .header-subtitle {
        /* @noflip */
        text-align: left;
    }

    .THIS .logo-block > .slds-align_absolute-center .header-title {
        padding-left: 0;
    }

    .THIS .logo-block > .slds-align_absolute-center .header-title-rtl {
        padding-left: 0;
        line-height: 1.5rem;
    }

    .THIS .body-content {
        margin-top: -1.75rem;
    }
}

@media all and (max-height: 488px) {
    .THIS > .slds-col.slds-large-size_4-of-7 {
        max-height: 120vh;
    }

    .THIS > .slds-col.slds-large-size_3-of-7 {
        height: 120vh;
    }
}

@media all and (max-height: 500px) and (max-width: 850px) {
    .THIS.all-content {
        height: 150vh;
    }

    .THIS .janssen-logo {
        margin-bottom: 0.25rem;
        margin-top: -1rem;
        font-size: 1.25rem;
    }

    .THIS > .slds-col.slds-large-size_4-of-7 {
        height: 150vh;
        align-items: stretch;
        top: 0;
        left: 0;
        background: url(/resource/1623075522000/Lofi_Login_Icons/Background.png) no-repeat;
        background-size: cover;
        background-position: center;
    }

    .THIS > .slds-col.slds-large-size_4-of-7 img {
        display: none;
    }

    .THIS .logo-block > .slds-align_absolute-center > .slds-col:first-child {
        padding-left: 0;
    }

    .THIS .logo-block > .slds-align_absolute-center > .slds-col {
        width: 45%;
    }

    .THIS .logo-block .header-title {
        font-size: 1.25rem;
    }
    .THIS .logo-block .header-title-rtl {
        font-size: 1.25rem;
    }

    .THIS .logo-block .header-subtitle {
        font-size: 0.75rem;
    }

    .THIS .logo-block {
        min-width: 23.5rem;
    }

    .THIS > .slds-col.slds-large-size_3-of-7,
    .THIS > .slds-col.slds-large-size_4-of-7 {
        max-height: 150vh;
    }

    .THIS .footer > .slds-grid > .slds-size_1-of-3:nth-child(2) .slds-p-around_medium {
        padding-bottom: 0;
    }
}

@media all and (orientation: landscape) and (min-width: 1024px) and (max-width: 1180px) {
    .THIS .ipadcss {
        margin : 0rem 13rem;
   }
   

}

@media all and (orientation: landscape) and (min-width: 667px) and (max-width: 1023px) {
    .THIS .ipadcss {
        margin : 0rem 5rem;
   }
   .THIS .dividerMobile{
    
    margin-right: 18px!important;
    
   }

}

/* @media all and (min-width: 768px) and (max-width: 1180px) {

   

}    */