.THIS {
}
.THIS .btnCancel {
    background: #d9d9d9;
    color: black;
    border: 1px solid #d9d9d9;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.04);
    padding: 6px 16px;
    font-size: 1rem;
}
.THIS.rtl {
    /* @noflip */  direction: rtl;
}
.THIS.cPopup .btnRTL {
    right: 93.5% !important;
    top: 0% !important;
}
.THIS.cPopup .p-container .p-content {
    padding: 0 10px 20px 10px;
}

.THIS .startenddate {
    font-size: 0.75rem;
}

.THIS .rr-form-element span {
    color: #000;
    font-weight: 400;
}

.THIS .rr-form-element input[type='text'],
.THIS .slds-select {
    height: 40px;
}

.THIS .p-buttons-container .slds-float_right {
    display: flex;
}

.THIS.cPopup .with-scroll > .slds-grid_vertical > .slds-col > .slds-col > .rr-form-element {
    min-width: 100%;
}

.THIS .truncateTitle {
    max-width: 100%;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (pointer: coarse) {
    .THIS.cPopup .truncateTitle {
        display: flex;
        flex-wrap: wrap;
    }

    .THIS.cPopup .truncateTitle:hover:after {
        content: attr(title);
        position: absolute;
        top: -10px;
        left: 10%;
        color: #444;
        background-color: #fff;
        border: 1px solid #d9d9d9;
        border-radius: 4px;
        padding: 15px 8px;
        z-index: 1000;
        box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.04);
        max-width: 80%;
        word-break: break-all;
        font-size: 0.875rem;
    }

    .THIS .p-buttons-container > .apollo-btn {
        background: #f2f2f2;
    }

    .THIS.cPopup .with-scroll > .slds-grid_vertical > .slds-col > .slds-col > .rr-form-element {
        position: relative;
    }
}

@media (max-width: 500px) {
    .THIS.cPopup .p-container .p-content {
        padding: 0 0 20px;
    }

    .THIS.cPopup .p-container .p-footer {
        padding: 15px 15px 30px 15px;
    }

    .THIS .contactType {
        flex-direction: column;
    }

    .THIS .contactType > .slds-col,
    .THIS .p-buttons-container > .apollo-btn {
        min-width: 100%;
    }

    .THIS .p-buttons-container .slds-float_right {
        float: none;
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
    }
   
    .THIS .p-buttons-container .slds-float_right .apollo-btn {
        flex-grow: 1;
    }

    .THIS.cPopup .with-scroll > .slds-grid_vertical > .slds-col > .slds-col {
        display: flex;
        flex-wrap: wrap;
        min-width: 100%;
    }

    .THIS.cPopup
        .with-scroll
        > .slds-grid_vertical
        > .slds-col.contactType
        + .slds-col
        .slds-form-element {
        width: 100%;
    }
}