.cardRTL {
    direction: rtl;
}

.po-bg {
    /* background-color: #f7f8fa;
     padding-left: 20px;*/
    height: auto;
}

.slds-accordion__summary-heading > button > span {
    order: 1;
}
.slds-breadcrumb__item > a {
    color: #444444;
    font-family: 'Proxima Nova';
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 24px;
    height: 24px;
}
.slds-tabs--default__nav li.slds-active {
    background: red;
}
span:hover {
    cursor: pointer;
}
.po-program-home-text {
    /* height: 24px; */
    color: #444444;
    font-family: 'Proxima Nova';
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
}
.po-overview {
    color: #000000;
    font-family: 'Proxima Nova';
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 24px;
}
.po-parcrt {
    color: #000000;
    font-family: 'Proxima Nova';
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 24px;
}
.po-breadcrum {
    height: 24px;
    color: #444444;
    font-family: 'Proxima Nova';
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 24px;
}

.slds-breadcrumb__item > a {
    color: gray !important;
}

.po-about-program {
    /* height: 48px; */
    color: #444444;
    font-size: 32px;
    font-weight: 600;
    font-family: 'Proxima Nova';
    letter-spacing: 0;
    line-height: 48px;
    padding-top: 10px;
}

.po-mt-20 {
    margin-top: 20px;
}

.po-mr-25 {
    margin-right: 25px;
}

.po-mr-36 {
    margin-right: 40px;
}

.po-mr-10 {
    margin-right: 10px;
}

.po-mr-26 {
    margin-right: 26px;
}

.po-mt-10 {
    margin-top: 10px;
}
.po-custom-home {
    margin-right: 8px;
}
.po-mb-20 {
    margin-bottom: 20px;
}

.po-mr-16 {
    margin-right: 16px;
}

.po-mr-16plus {
    margin-right: -16px;
}

.po-mt-30 {
    height: 24px;
    color: #444444;
    font-family: 'Proxima Nova';
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 24px;
}
.po-pb-10 {
    padding-bottom: 10px;
    padding-top: 10px;
}
.tab-active {
    --sds-c-tabs-item-sizing-height: 24px;
    --sds-c-tabs-item-sizing-width: 68px;
    --sds-c-tabs-standard-color: #000000;
    --sds-c-tabs-item-line-height: 24px;
}
.po-tab a {
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
}

.po-tab-overview {
    background-color: #fff;
    border: 1px solid #e9e9e9;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 7px 16px 0px;
    padding: 15px;
    text-align: justify;
    word-break: break-word;
    font-size: 16px;
    font-weight: 500;
}
.slds-accordion__summary-heading > button > lightning-primitive-icon {
    order: 2 !important;
}
.po-tab-content {
    overflow-y: auto;
    padding-right: 15px;
    height: 264px;
    color: #595959;
    font-family: 'Proxima Nova';
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    margin-right: 10px;
    text-align: justify;
}
.slds-accordion__summary-content {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transform: rotate(-360deg);
    font-family: 'Proxima Nova';
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 24px;
}
.po-tab-header {
    font-size: 18px;
    height: 24px;
    line-height: 21px;
    font-weight: 600;
    color: #444444;
    font-family: 'Proxima Nova';
}

/* Particiapation Criterion */
.po-pc-text {
    height: 24px;
    width: 587px;
    color: #595959;
    font-family: 'Proxima Nova';
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
}

.po-accordian {
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.04);
    margin-right: 10px;
}

.po-accordian-content {
    padding-left: 23px;
    color: #444444;
    font-family: 'Proxima Nova';
    font-size: 16px;
    letter-spacing: 0;
    line-height: 30px;
}

/* Scroll bar custom */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #fff;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #999999;
}

:host {
    --slds-c-tabs-item-text-color-active: #000;
    --slds-c-tabs-item-line-height: 24px;
}

.tab-style {
    font-size: 16px;
    font-weight: 500;
    font-family: 'Proxima Nova';
}
.po-tab-pc {
    font-size: 16px;
    font-weight: 500;
}

.custom-breadcrum {
}

.com-icon {
    height: 16px;
    color: grey;
    width: 16px;
    margin-right: 8px;
    fill: #999999;
}

.gray-arrow {
    color: #999999;
}

.slds-tabs_default__item .slds-tabs_default_link:focus {
    text-decoration-line: none !important;
}
.slds-tabs_default__item a {
    text-decoration-line: none !important;
}
.lightning-primitive-icon {
    order: 2 !important;
}
.pointer {
    cursor: pointer;
}
