.cardRTL {
    direction: rtl;
}

.po-bg {
    background-color: #f7f8fa;
    padding-left: 20px;
    height: auto;
    padding-bottom: 20px;
}

.po-breadcrum {
    height: 24px;
    color: #444444;
    font-family: 'Proxima Nova';
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 24px;
}

.slds-breadcrumb__item > a {
    color: gray !important;
}

.po-about-program {
    height: auto;
    color: #444444;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Proxima Nova';
    letter-spacing: 0;
    line-height: inherit;
    margin-bottom: 3px;
}

.so-mb-17 {
    margin-bottom: 16px;
}

.po-mt-20 {
    /*margin-top: 20px;*/
}

.po-mt-10 {
    margin-top: 10px;
}

.po-mb-20 {
    margin-bottom: 20px;
}

.po-mr-36 {
    margin-right: 40px;
}

.po-pb-10 {
    padding-bottom: 10px;
}

.po-mr-10 {
    margin-right: 10px;
}

.po-mr-26 {
    margin-right: 26px;
}

.po-mr-16plus {
    margin-right: 16px;
}

.po-mr-16 {
    margin-right: -16px;
}

.po-mr-20minus {
    /* margin-right: -20px; */
    width: 96%;
}

.po-ml-3 {
    margin-left: 3px;
}

.po-mr-6 {
    margin-right: 6px;
}

.po-tab a {
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
}

.po-tab-overview {
    background-color: #fff;
    border: 1px solid #e9e9e9;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 7px 16px 0px;
    padding: 15px;
    text-align: justify;
    word-break: break-word;
    margin-right: 13px;
    font-size: 16px;
    font-weight: 400;
}

.po-tab-content {
    height: 316px;
    overflow-y: auto;
    padding-right: 15px;
}

.po-tab-header {
    font-size: 18px;
    line-height: 21px;
    font-weight: 600;
}

/* Particiapation Criterion */
.po-pc-text {
    height: 24px;
    width: 587px;
    color: #595959;
    font-family: 'Proxima Nova';
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
}

.po-accordian {
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.04);
    margin-right: 10px;
}

.po-accordian-content {
    padding-left: 23px;
}

/* Scroll bar custom */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #fff;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #999999;
}

.slds-accordion__summary-heading > button > span {
    order: 1;
}

.slds-accordion__summary-heading > button > lightning-primitive-icon {
    order: 2;
}

:host {
    --slds-c-tabs-item-text-color-active: #000;
    --slds-c-tabs-item-line-height: 24px;
}

.tab-style {
    font-family: proxima-nova;
    font-size: 24px;
    font-weight: 500;
}

.tab-style a {
    text-decoration: none !important;
    font-size: 100px;
}

.po-tab-pc {
    font-size: 16px;
    font-weight: 500;
}

.slds-tabs_default__link {
    font-size: 200px;
}

@media (min-width: 64em) {
    .slds-accordion__summary-content {
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        min-width: 99%;
    }
}

/* MOBILE CHANGES */

.com-icon {
    height: 16px;
    color: grey;
    width: 16px;
    margin-right: 8px;
    fill: #999999;
}

.gray-arrow {
    color: #999999;
}

.po-tab-menu {
    background-color: #fff;
    margin: auto;
    border: 2px solid rgb(233, 233, 233);
    color: rgb(153, 153, 153);
    text-align: center;
    vertical-align: middle;
    border-radius: 5px;
    font-weight: 600;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.04);
    height: 74px;
    line-height: 74px;
}

.pt {
    padding-top: 10px;
}

.pc-menu-label {
    width: 100px;
    line-height: 24px;
    display: inline-block;
}

.po-tab-menu:hover {
    cursor: pointer;
}

.active {
    border: 2px solid #007393;
    color: #007393;
}

.po-pl-0 {
    padding-left: 0px;
    /* line-height: 52px; */
    font-size: 18px;
}

.po-pr-12 {
    padding-right: 12px;
    /* line-height: 27px; */
    font-size: 18px;
}
.pointer {
    cursor: pointer;
}

/*PEH-11588 */
.contact-detail-tab {
    background-color: #fff;
    border: 1px solid #e9e9e9;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 7px 16px 0px;
    padding: 15px;
    margin-right: 13px;
    /*text-align: justify;
    word-break: break-word;
    font-size: 16px;
    font-weight: 400;*/
}

.piPhone {
    /* height: 19px; */
    height: auto;
    /* width: 108px; */
    color: #444444;
    font-family: 'Proxima Nova';
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 17px;
}

.site-Name {
    /* height: 24px; */
    height: auto;
    width: 233px;
    color: #444444;
    font-family: 'Proxima Nova';
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 21px;
}

.site-addr {
    /* height: 21px; */
    height: auto;
    width: 233px;
    color: #6e6e6e;
    font-family: 'Proxima Nova';
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 21px;
}

.piName {
    /* height: 19px; */
    height: auto;
    /* width: 146px; */
    color: #444444;
    font-family: 'Proxima Nova';
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 17px;
    /* text-align: center; */
}

.piIcon {
    height: 20px;
    width: 18px;
    /* margin-right: 15px; */
}

.phoneIcon {
    height: 20px;
    width: 20px;
    margin-right: 14px;
}

.pinIcon {
    height: 20px;
    width: 14px;
    margin-right: 17px;
}

.mr-left-24 {
    margin-left: 24px;
}

.mr-24 {
    margin-top: 24px;
    margin-bottom: 24px;
}

.mr-left-54 {
    margin-left: 54px;
}

.piName-text {
    width: 233px;
    margin-left: 15px;
}