/**
 * Created by Nikita Abrazhevitch on 14-Feb-20.
 */


 .THIS.funnel-dashborad-container {
    margin-top: 25px;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    border-radius: 5px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.04);
    height: 445.2px;
}

.THIS .funnel-dashboard-name{
    padding: 16px;
    font-weight: 600;
    font-size: 18px;
    color: #000000;
}

.THIS .svg-funnel-js__container{
    width: 100%;
}

.THIS .svg-funnel-js__container svg{
    width: 100%;
    height: 300px;
}

.THIS .svg-funnel-js .svg-funnel-js__labels .svg-funnel-js__label .label__value{
    color: black;
}

.THIS .svg-funnel-js .svg-funnel-js__labels .svg-funnel-js__label .label__title {
    color: black;
}

.THIS .svg-funnel-js .svg-funnel-js__labels .svg-funnel-js__label .label__percentage {
    color: black;
}

.THIS .funnel {
    margin: 24px auto;
    width: 100%;
    padding-top: 88px !important;
}

.THIS .flex {
    display: flex;
    height: 350px;
    margin-left:2%;
    margin-right:2%;
}


@media screen and (max-width: 1024px) {
    .THIS.funnel-dashborad-container {
        margin-top: 12px;
    }
}


@media screen and (max-width: 500px) {

    .THIS {
        overflow-x: scroll;
    }
	
	.THIS .flex {
       height: 385px;
       width:  700px; /*@krishna Mahto- REF-1635 */
    }

	 .cFunnelChart .funnel{
     	padding-top: 108px!important;  
    }
}