.THIS.h-container {
    padding-bottom: 100px;
}

.THIS.h-container .h-title{
    margin-top: 0;
}
.THIS.arabic{
    direction: rtl;
    padding-bottom: 100px;
}
.THIS.english{
    padding-bottom: 100px;
}
.THIS.h-container .h-header .h-header-info {
    color: #000000;
    font-size: 16px;
    line-height: 24px;
}

.THIS.h-container .h-header .h-header-info .h-header-info-bold-text {
    font-weight: 600;
}

 .THIS .h-left-col {
        border-right: 1px solid #d9d9d9;
}
.THIS .h-right-col {
    border-left: 1px solid #d9d9d9;
    padding-left: 24px;
}

.THIS.h-container .h-header{
    margin-top: 10px;
    margin-bottom: 40px;
}


.THIS.h-container .h-title {
    color: #000000;
    font-size: 1.5rem;
    line-height: 3rem;
    font-weight: 600;
}

@media (max-width: 850px) {
    .THIS.h-container {
        margin-top: -20px;
    }
    
    .THIS.h-container .h-header{
        margin-bottom: 0;
    }

    .THIS.h-container .h-title{
        margin-top: 20px;
    }

    .THIS > .slds-grid {
        display: flex;
        flex-direction: column;
    }

     .THIS > .slds-grid .slds-col {
     	width: 100%;
    }

    .THIS > .slds-grid .slds-col > .slds-col {
     	margin-bottom: 10px;
    }

     .THIS > .slds-grid .slds-col.h-left-col {
        padding: 0 10px 0 15px;
    }

    .THIS > .slds-grid .slds-col > .slds-col.ah-toggle-container {
        margin-bottom: 25px;
        margin-top: 10px;
    }

    .THIS > .slds-grid .ah-toggle-container .ah-toggle {
     	right: auto;
        left: 0;
    }

    .THIS .h-left-col{
        border-right: none;
    }


}