.pagelink {
    display: inline-block;
    color: #015ff1;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0;
    font-weight: 500;
    background: transparent;
    border: none;
}
.imgclass {
    margin-left: 3px;
}
.pagelink:hover {
    font-weight: 600;
}
