.pagelink {
    display: inline-block;
    color: #297dfd;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    background: transparent;
    border: none;
}

.imgclass {
    margin-left: 3px;
}
