.pagelink {
    display: inline-block;
    color: #015ff1;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0;
    font-weight: 500;
    background: transparent;
    border: none;
}
.imgclass {
    margin-left: 3px;
    display: inline-block;
}
.pagelink:hover {
	text-shadow: #015ff1 0.5px 0px;
}
 
.container {
    position: relative;
}
.overlay {
    position: absolute;
    left: 83%;
    top: 0.08rem;
    opacity: 0;
}

.container:hover .overlay {
    opacity: 1;
}