/**
 * Created by Andrii Kryvolap.
 */


.incentives-page-title{
    height: 24px;
    color: #000000;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 30px;
    margin-bottom: 20px;
}

.incentives-page-container{
    margin-bottom: 20px;
}

.incentive-panel{
    height: 100%;
}

@media all and (min-width: 768px) {
    .incentives-page-container {
        height: 70vh;
        padding-bottom: 15vh;
    }
}