/**
 * Created by Nikita Abrazhevitch on 19-Sep-19.
 */

.THIS.healthcare-container {
    text-align: start;
}

.THIS .healthcare-info {
    margin: 1% 0 1% 0;
    font-family: 'Proxima Nova';
    font-size: 14px;
    color: black;
}

.THIS .referring-provider-header {
    color: #444;
    font-family: 'Proxima Nova';
    font-size: 14px;
    margin-top: 5.5%;
    padding-left: 9%;
}

.THIS .rp-label {
    color: #999;
}

.THIS .healthcare-input {
    padding-right: 4%;
}

.THIS .healthcare-form-container {
    margin-bottom: 1%;
    padding: 6px 10px;
}

.THIS .healthcare-input input {
    height: 32px;
}

.THIS .slds-form-element__help {
    white-space: nowrap;
}

.THIS .provider-found-section {
    font-size: 13px;
    font-weight: 500;
}
.THIS .referring {
    margin-top: 10px;
    font-weight: 600;
    width: 1000px;
}
.THIS .slds-box {
    box-shadow: none;
    border: none;
    font-weight: 600;
    height: 40px;
    min-width: 160px;
    border-radius: 4px;
}
.THIS .slds-badge__icon {
    box-shadow: none;
    border: none;
    font-weight: 600;
}

@media screen and (max-width: 768px) {
    .THIS .slds-grid > .slds-col,
    .THIS .apollo-btn {
        width: 50%;
    }

    .THIS .healthcare-input input {
        margin-bottom: 5px;
    }

    .THIS .cReferHealthcareProviderInputs.rr-form-element > .rr-form-element .slds-form-element__help {
        margin-top: 30px;
    }
}

@media screen and (max-width: 500px) {

    .THIS .referring,
    .THIS .slds-grid.slds-size--1-of-1 > div > .apollo-btn{
        margin-top: 1rem;
    }

    .THIS .slds-grid > .slds-col,
    .THIS .apollo-btn {
        width: 100%;

    }

    .THIS .slds-grid > .slds-col .slds-form-element {
        margin-bottom: 1rem;
    }

}
