.body-content {
    display: flex;
    min-height: 62rem;
}

.body-content-mobile {
    display: flex;
    min-height: 40rem;
    max-height: 100%;
    background-color: #f6f7fb;
}

.body-content-mobile-rtl {
    display: flex;
    min-height: 40rem;
    max-height: 100%;
    background-color: #f6f7fb;
    text-align: right;
    direction: rtl;
}

.slds-input {
    border-radius: 20px;
}

.title {
    font-size: 1.5rem;
    white-space: nowrap;
    font-weight: 600;
    min-width: 100%;
    height: 4rem;
}
.title-mobile {
    display: flex;
    align-items: center;
    margin: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.nav-mobile-title {
    color: #444444;
    font-size: 1.25rem;
    font-family: 'Proxima Nova';
    font-weight: 500;
    letter-spacing: 0;
    line-height: 2rem;
}
.icon-align {
    display: flex;
    justify-content: end;
    align-content: end;
    align-items: center;
    margin: auto;
}
.icon-container {
    float: right;
}

.icon-container-rtl {
    float: left;
}

.icon-fill-class {
    --sds-c-icon-color-foreground-default: #444444;
}

.nav-container {
    padding-bottom: 1rem;
    min-height: 62rem;
}

.nav-container-mobile {
    background-color: #ffffff;
}
.nav-bar {
    height: 100%;
    background: #ffffff;
    box-shadow: 0px 1px 1px 0px rgb(0 0 0 / 15%);
}

.nav-bar-container {
    border-right: solid 1px #d9d9d9;
    height: 58rem;
    padding-right: 1.5rem;
    box-sizing: border-box;
}

.nav-bar-container-rtl {
    border-left: solid 1px #d9d9d9;
    height: 58rem;
    padding-left: 1.5rem;
    box-sizing: border-box;
}

.nav-item {
    font-size: 18px;
    color: #444444;
    border-bottom: 1px solid #e9e9e9;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.5rem;
    height: 3rem;
    position: relative;
    display: flex;
    align-items: center;
}

.nav-component-container {
    padding-left: 1.5rem;
    padding-bottom: 1rem;
}
.nav-component-container-rtl {
    padding-right: 1.5rem;
    padding-bottom: 1rem;
}
.nav-component {
    min-height: 62rem;
    box-sizing: border-box;
    border: 1px solid #e9e9e9;
    border-radius: 1rem;
    /* padding: 1.5rem; */
    background-color: #ffffff;
    /* width: 105%; */
    width: 100%;
}

.nav-component-mobile {
    min-height: 62rem;
    background-color: #f6f7fb;
}

.full-width {
    width: 100% !important;
}

.full-height {
    height: 100% !important;
}

.rtl {
    text-align: right;
    float: right;
    direction: rtl;
}

/**nav bar css*/
.slds-nav-vertical {
    position: relative;
    height: 100%;
    background: #ffffff;
    box-shadow: 0px 1px 1px 0px rgb(0 0 0 / 10%);
}
.slds-nav-vertical__action {
    border-top: none;
    border-bottom: none;
    padding-left: 1rem;
    padding-right: 1rem;
}
.slds-nav-vertical__action:hover {
    /* color: #ffffff; */
    box-shadow: none;
    /* background: #0768fd; */
}
.slds-nav-vertical__item {
    color: #444444;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 24px;
    word-break: break-word;
    background: #ffffff;
    border-bottom: 1px solid #d9d9d9;
}
.slds-nav-vertical__item.slds-is-active .slds-nav-vertical__action {
    color: #ffffff;
    box-shadow: none;
    background: #0768fd;
    border-bottom: none;
    font-weight: 600;
}
