.vertical-scroll {
    height: 48vh;
    overflow: auto;
    padding: 0px 5px 0px 0px;
    overflow-x: hidden;
    margin-top: 10px;
}
/* Scrollbar Code */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background: #999999;
    border-radius: 4px;
    cursor: pointer;
}
::-webkit-scrollbar-thumb:hover {
    background: #858383;
}
/* Scrollbar Code End */
.step-card-title {
    color: #000000;
    font-size: 16px;
    font-weight: 600;
    line-height: 17px;
}
.upload-icon {
    width: 14px;
    height: 14px;
    margin-right: 7px;
}
.p-left-none {
    padding-left: 0px;
}
.download-icon {
    width: 14px;
    height: 14px;
}
.icon-opacity {
    opacity: 0.6;
}
.formatedTime {
    padding-left: 6px;
}
.info-icon {
    margin-left: 2px;
    position: absolute;
    top: 2px;
}
.mediafilecss{
    margin-top:-25px;
  }
.icon-w-info {
    padding-left: 3px;
    /* position: absolute; */
}
/*  Tooltip for Text length overflow  */
.tooltip {
    position: relative;
}
.tooltip .tooltiptextTop {
    visibility: hidden;
    width: 213px;
    background-color: #444444;
    color: #fff;
    text-align: center;
    font-size: 12px;
    line-height: 18px;
    border-radius: 3px;
    padding: 3px 0px;
    position: absolute;
    bottom: 133%;
    left: -24px;
}
.tooltip .tooltiptextTop::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 15%;
    margin-left: -5px;
    border-width: 7px;
    border-style: solid;
    border-color: #444444 transparent transparent transparent;
}
.tooltip:hover .tooltiptextTop {
    visibility: visible;
}
/* --------END tooltip --------------- */

.text-overflow{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.margintocheckbox{
    margin-bottom: 9px;
  }

.lgthninginput {
    margin-top: -18px;
}
.selectedValue {
    border: 1px solid #d9d9d9;
    border-radius: 16px;
    display: flex;
    margin-right: 8px;
    color: black;
    font-weight: 600;
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 3px 10px;
    font-size: 16px;
}
.com-width {
    max-width: 160px;
}
.setW {
    width: 59%;
}
.close-icon {
    cursor: pointer;
    width: 14px;
    margin-left: 5px;
}
.accordion-p-top {
    padding-top: 11px;
}
.slds-accordion__summary {
    background: #f6f7fb;
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #d9d9d9;
    padding: 10px;
}
.bg-white {
    background-color: #ffffff;
    border-bottom: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
}
.slds-button:focus {
    text-decoration: none;
}
.slds-accordion__summary-content {
    color: #444444;
    font-size: 16px;
    line-height: 26px;
}
.bg-white .active-accordion {
    color: #000000;
    font-weight: 600;
}
.medical-record {
    font-size: 14px;
}
.medical-doc {
    color: #0768fd;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
}

.MedicalCreatedate {
    text-align: left;
    font-weight: 600;
}
.doc-date-time {
    text-align: left;
}
.m-icon {
    cursor: pointer;
}
.m-report {
    color: #297dfd;
    cursor: pointer;
    float: right;
    font-weight: 600;
}
.medical-border-bottom {
    border-bottom: 1px solid #d9d9d9;
    width: 97%;
    margin: 0 auto;
    margin-top: 18px;
}
.w-100{ 
    width: 100%;
  }
.btn-medical-record {
    text-align: right;
}
.slds-accordion__list-item {
    border-top-color: transparent;
}
.stretch-btn {
    font-size: 14px;
    font-weight: 600;
}
.medical-sub-text {
    padding-left: 12px;
    font-size: 14px;
    text-align: left;
}
.hide-div-mob {
    display: block;
}
.commorditysearch {
    padding-left: 0px;
    margin-left: -14px;
}
.commorverticalScroll {
    max-height: 22vh;
    overflow: auto;
    padding: 0px 5px 0px 0px;
    overflow-x: hidden;
}
.searchresult {
    position: relative;
    width: 46.5%;
    left: -25%;
    top: 50px;
}
.hide-survey-header {
    display: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type='number'] {
    -moz-appearance: textfield;
}
.attachtitle {
    font-weight: 600;
}
.icon-search {
    padding-top: 7px;
}
.float-btns{
    float:right;
}
@media (max-device-width: 767px) {
    .vertical-scroll {
        height: auto;
        overflow: unset;
        padding: 0;
        overflow-x: unset;
    }
    .slds-checkbox [type='checkbox'] + .slds-checkbox__label .slds-checkbox_faux {
        width: auto;
    }
    .doc-date-time {
        text-align: left;
    }
    .stretch-btn {
        width: 100%;
    }
    .doc-download {
        margin-top: -30px;
    }
    .hide-div-mob {
        display: none;
    }
    .accordion-p-top {
        padding-top: 11px;
    }
    .medical-sub-text {
        padding-left: 0;
        text-align: left;
    }
    .p-left-right {
        padding: 0;
    }
    .medical-border-bottom {
        border-bottom: 1px solid #d9d9d9;
    }
    .p-right {
        padding-left: 10px;
    }
    .searchresult {
        position: absolute;
        width: 100%;
        left: 50%;
        top: unset;
        margin-top: 60px;
    }
    .icon-search {
        padding-top: 6px;
    }
    .m-report {
        float: left;
        font-weight: 600;
    }

    .p-left-none {
        padding-left: var(--lwc-spacingSmall, 0.75rem);
    }
    .mediafilecss{
        margin-top:0px;
      }
     .searchresult {
        position: relative;
        width: 93.5%;
        right: -514px;
        top: -69px;
    }
}

/*RTL Start */
.rtl .upload-icon{
    margin-left: 7px;
    margin-right: 0;
}
.rtl .m-report{
    float: left;
    font-size: 14px;
}
.rtl p{
    font-size: 14px;
    text-align: revert;
}
.rtl .icon-search{
    padding-top: 11px;
}
.rtl .searchresult {
    position: relative;
    width: 46.5%;
    right: -514px;
    top: 50px;
}
.rtl .selectedValue{
    float:right;
}
.rtl .close-icon{
    margin-right: 5px;
}
.rtl .float-btns{
    float:left;
}
.rtl .info-icon{
    left:0px;
    margin-left:0px;
}
.rtl .rtl-width{
    width:80px;
}

@media (max-device-width: 767px) {
    .rtl .m-report{
        float: right;
    }
    .rtl .MedicalCreatedate {
        text-align: right;
    }
    .rtl .searchresult {
        position: relative;
        width: 93.5%;
        right: -166px;
        top: -72px;
    }
    .rtl .vertical-scroll {
        overflow-y: hidden;
        overflow-x: hidden;
    }
}
/* RTL End */