.THIS .slds-input {
    height: 40px !important;
}
.THIS .eyeIcon{
    fill:blue;
}
.THIS .rr-icon-default{
    fill: #686868;
    height: 35px;
    width: 35px;
    display: inline-block;
}
.THIS .changePwd{
    width:833px;
    margin-left: 24px;
    margin-top: 38px;
    background:white;
}
.THIS.as-container {
    position: relative;
    padding-bottom: 100px;   
}

.THIS.as-container .as-password .rr-form-element + .rr-form-element {
     margin-top: 0;
    
}

.THIS.as-container .as-email,
.THIS.as-container .as-password
 {
}

.THIS.as-container .as-email-preference {
    margin-top: 30px;
}
.THIS .helptext{
  width: 80%;
  color: #595959;
  font-size: 1rem;
  letter-spacing: 0;
  line-height: 1.5rem;
}

.THIS.as-container .as-info,
.THIS.as-container .as-language-switcher
{
    margin-top: 10px;
}

.THIS .as-info > .rr-form-element{
   margin-top: 20px;
    height: 92px;
  	width: 300px;
  	opacity: 0.6;
}
.THIS .pwdBlock{
    padding-top: 24px;
    width:300px;
    display:inline-block;
}
.THIS .pwdText{
    opacity:0.6;
    font:large Verdana,Proxima Nova;
    margin-top: -19px;
}
.THIS.as-container .as-privacy{
    margin-top: 20px;
    margin-bottom: 10px;
}

.THIS.as-container .as-title {
    color: #000000;
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;
    margin-bottom: 10px
}
.THIS .as-title{
    color: #000000;
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    padding-top: 6px;

}


.THIS.as-container .as-sub-title {
    color: #333333;
    font-size: 14px;
    line-height: 24px;   
    width: 60%;
}

.THIS.as-container .as-password .as-password-button {
}

.THIS .as-email-input.slds-gutters,
.THIS .as-password-input{
}

.THIS .slds-gutters.as-email-input .slds-col,
.THIS .slds-gutters.as-password-input .slds-col{
    padding-left: 0;
    padding-right: 1.5rem;
}

.THIS .as-email-input > *,
.THIS .as-password-input > *{
}


.THIS .collapse-section.slds-m-top_large,
.THIS .collapse-section.slds-m-top--large {
    margin-top: 0;
}

.THIS .rr-link{
    color: #297DFD;
    display: inline-flex;
    align-items: center;
}

.THIS .as-privacy-form textarea{
    height: 200px;
    margin-top: 30px;
}

.THIS .as-submit-button{
    margin-top: 25px;
}

.THIS .as-email-pref-item{
    margin-top: 15px;
}

.THIS .ah-toggle{
    flex: inherit;
}

.THIS .mar_25{
    margin-top: 25px;
   
}
.THIS mar_9{
    margin-left:9.2px;
}

.THIS .username {
    height: 20px;
    width: 86px;
    color: #000000;
    font-family: "Proxima Nova";
    font-size: 17px;
    letter-spacing: 0;
    line-height: 20px;
  }
  .THIS .mar_top{
    margin-top:-20px;
}
/*.THIS .slds-avatar{
    border-radius: 50%;
    width:55px;
    height: 55px;
}*/
  .THIS .username_title {
    width: 70px;
    color: #000000;
    font-family: "Proxima Nova";
    font-size: 14px;
    letter-spacing: 0;
    line-height: 17px;
  }

.THIS.ah-main-container{
    margin-top: 30px;
    padding: 10px;
}

.THIS .ah-main-panel{
    background-color: #FFFFFF;
    padding: 0px 20px 30px 20px;
}
.THIS .ah-item-label{
    color: black;
    font-weight: 600;
    font-size: 17px;
}
.THIS .ah-item-sublabel{
    color: #666666;
    font-size: 13px;
}
.THIS .ah-item-panel{
    box-sizing: border-box;
    border: 1px solid #D9D9D9;
    background-color: #F8F9FB;
    padding: 17px;
}
.THIS .ah-section-title{
    color: black;
    font-weight: 600;
    font-size: 17px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.THIS .as-buttons-footer{
    display: flex;
    justify-content: flex-start;
    padding: 12px;
    margin-top: 20px;
}

.THIS .opt-in-popup-button {
    width: 130px;
}

.THIS .opt-in-popup-button+.opt-in-popup-button {
    margin-left: 30px;
}

@media (max-width: 768px){  
    .THIS.as-container .as-sub-title,
    .THIS .cLanguageSwitcher .section-description {
        width: 100%;
    } 
    
    .THIS .as-email-pref-item {
        margin-top: 15px;
        height: 42px;
        display: flex;
        padding-left: 80px;
        align-items: center;
        position: relative;
    }
    
    .THIS .as-email-pref-item .ah-toggle {
        left: 0;
        top: 5px;
        position: absolute;
	}
}
.THIS .rri-show-password{
    position: absolute;
    top: 32px;
    right: 0px;
    cursor: pointer;
}
.THIS .rri-password{
    position: relative;
    width: 100%;
}
.THIS .delegateText{
    opacity: 0.6;
    color: #444;
    font-size: .875rem;
    font-weight: 400;
    line-height: 17px;
    display: block;
    margin-bottom: 8px;
}
.THIS .updateButton{
    height: 40px;
  	width: 183px;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 24px;
    text-align: center;
    margin-top: 29px;
}
@media screen and (max-width: 500px){  
    .THIS .slds-gutters.as-email-input .slds-col, 
    .THIS .slds-gutters.as-password-input .slds-col {
        padding-right: 0;
        margin-bottom: 15px;
    }
    
    .THIS .apollo-btn {
        width: 100%;     
    }
    
    .THIS.as-container .as-language-switcher .apollo-btn {
        width: 100%;
        margin-top: 15px;
        height: auto;
    }
    

    
}