.THIS.as-container {
    position: relative;
    padding-bottom: 100px;
}

.THIS.as-container .as-password .rr-form-element + .rr-form-element {
     margin-top: 0;
}

.THIS.as-container .as-email,
.THIS.as-container .as-password
 {
    margin-top: 10px;
    margin-bottom: 30px;
}

.THIS.as-container .as-email-preference
{
    margin-top: 30px;
}

.THIS.as-container .as-info,
.THIS.as-container .as-language-switcher
{
    margin-top: 10px;
}

.THIS .as-info > .rr-form-element{
    margin-top: 20px;
}

.THIS.as-container .as-privacy{
    margin-top: 20px;
    margin-bottom: 10px;
}

.THIS.as-container .as-title {
    color: #000000;
    font-size: 30px;
    line-height: 36px;
}

.THIS.as-container .as-sub-title {
    color: #333333;
    font-size: 13px;
    line-height: 16px;
}

.THIS.as-container .as-password .as-password-button {
    margin-top: 20px;
}

.THIS .as-email-input,
.THIS .as-password-input{
    margin-top: -20px;
}

.THIS .as-email-input > *,
.THIS .as-password-input > *{
    margin-top: 20px;
}



.THIS .rr-link{
    color: #297DFD;
    display: inline-flex;
    align-items: center;
}

.THIS .as-privacy-form textarea{
    height: 200px;
    margin-top: 30px;
}
.THIS .as-submit-button{
    width: 100%;
    margin-top: 10px;
}
.THIS .as-email-pref-item{
    margin-top: 5px;
    margin-bottom: 5px;
}

.THIS .ah-toggle{
    flex: inherit;
}

.THIS.ah-main-container{
    margin-top: 30px;
    padding: 10px;
}
.THIS .ah-main-panel{
    background-color: #FFFFFF;
    padding: 0px 20px 30px 20px;
}
.THIS .ah-item-label{
    color: black;
    font-weight: 600;
    font-size: 17px;
}
.THIS .ah-item-sublabel{
    color: #666666;
    font-size: 13px;
}
.THIS .ah-item-panel{
    box-sizing: border-box;
    border: 1px solid #D9D9D9;
    background-color: #F8F9FB;
    padding: 17px;
}
.THIS .ah-section-title{
    color: black;
    font-weight: 600;
    font-size: 17px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.THIS .as-buttons-footer{
    display: flex;
    justify-content: flex-end;
    padding: 12px;
    margin-top: 20px;
}

.THIS .opt-in-popup-button {
    width: 130px;
}

.THIS .opt-in-popup-button+.opt-in-popup-button {
    margin-left: 30px;
}