/* .popover-position{
    position: absolute;
    top: -55px;
    left: -308px;
    width: 290px;
} */
.slds-popover_tooltip .slds-popover__body{
    color: #FFFFFF;
    font-family: "Proxima Nova";
    font-size: 14px;
    letter-spacing: 0;
    line-height: 24px;
}
.slds-popover_tooltip .slds-popover__body .help-text-header-class{
    font-weight: 600;
}

.ma-icon-color {
    --sds-c-icon-color-foreground-default: #297DFD
}
