.THIS.visit-result-item-panel {
    height: 115px;
    width: 300px;
    display: flex;
    flex-direction: column;
}

.THIS .visit-result-content-container {
    margin-top: auto;
}

.THIS .visit-result-name-container {
    display: flex;
    align-self: center;
    flex-direction: row;
    align-items: flex-start;
}

.THIS .visit-result-name {
    align-self: center;
    color: #000000;
    font-family: "Proxima Nova";
    font-size: 16px;
    line-height: 19px;
    max-width: 94%;
    margin-bottom: 3px;
}

.THIS .visit-result-range {
    height: 16px;
    color: #999999;
    font-family: "Proxima Nova";
    font-size: 13px;
    line-height: 16px;
    position: absolute;
    bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 65%;
    white-space: nowrap;
}

.THIS .visit-result-item-description {
    position: absolute;
    margin: 0 5px;
}

.THIS .visit-result-item-description .slds-form-element__icon {
    padding-top: 0;
}

.THIS .visit-result-item-description .slds-button {
    color: #999999;
}

.THIS .visit-result-expected {
    font-family: "Proxima Nova";
    font-size: 16px;
    line-height: 19px;
    color: #6F6F6F;
    margin-bottom: 4px;
}

.THIS .visit-result-actual-value{
    height: 32px;
    width: 100%;
    color: #000000;
    font-family: "Proxima Nova";
    font-size: 16px;
    line-height: 32px;
    font-weight: 600;
}

.THIS .actual-value-no-expected-range{
    margin-top: 8px;
    text-align: center;
    font-weight: 400 !important;
}

.THIS .hidden {
    display: none;
}