.THIS.visit-result-item-panel {
    max-width: 360px;
    min-width: 360px;
    height: 105px;
    display: flex;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    background-color: #FFFFFF;
    position: relative;
    align-items: baseline;
}

.THIS .visit-result-name-container {
    width: 32%;
    display: flex;
    align-self: center;
    align-items: center;
}

.THIS .visit-result-name {
    width: 100%;
    align-self: center;
    text-align: center;
    padding: 0 10px;
    color: #000000;
    font-family: "Proxima Nova";
    font-size: 16px;
    line-height: 19px;
}

.THIS .visit-result-slider {
    width: 68%;
    margin-top: 10px;
}

.THIS .visit-result-range {
    height: 16px;
    color: #999999;
    font-family: "Proxima Nova";
    font-size: 13px;
    line-height: 16px;
    position: absolute;
    bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 65%;
    white-space: nowrap;
}

.THIS .visit-result-item-description {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0 5px;
}

.THIS .visit-result-measurement {
    /*white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;*/
    overflow-wrap: break-word;
    width: 100%;
    font-weight: 700;
}

.THIS .hidden {
    display: none;
}