/**
 * Created by Leonid Bartenev
 */
.THIS.all-content {
    overflow: auto;
    position: fixed;
    width: 100%;
    height: 100%;
    font-family: 'Proxima Nova';
    background: linear-gradient(135deg, #25095b 0%, #176ba4 100%);
    color: white;
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.THIS .slds-gutters .slds-col {
    padding-left: 45px;
    padding-right: 45px;
}

.THIS .body-cell {
}

.THIS .sites {
    margin: 0.5rem 0;
}

.THIS .sites h2 {
    font-size: 20px;
}

.THIS .sites h2 sup {
    font-size: 0.75rem;
    font-weight: 200;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    top: -0.575rem;
}

.THIS .sites p {
    font-size: 1rem;
    font-weight: 200;
}

.THIS .logo-block {
    font-size: 30px;
    margin: auto;
    margin-top: 125px;
    margin-bottom: 182px;
    box-sizing: border-box;
    height: 750px;
    width: 613px;
    border-radius: 39px;
    background-color: #ffffff;
    box-shadow: 0 0 64px 0 rgb(0 0 0 / 25%);
}

.THIS .logo-block-mobile {
    height: 685px;
    /* width: 382px; */
    border-radius: 24px;
    background-color: #ffffff;
    box-shadow: 0 0 64px 0 rgba(0, 0, 0, 0.25);
    margin: 10px;
    /* margin-top: 122px;
    margin-top: 70px; */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 95%;
}

.THIS .rr-link {
    color: #297dfd;
    display: inline-flex;
    align-items: center;
}

.THIS .rr-link:hover {
    text-decoration: none;
}

.THIS .logo-row {
    display: inline-flex;
}

.THIS .main-logo {
    margin: 40px 0;
    /*height: 110px;*/
}

.THIS .ie-login-rows input:focus {
    background-color: #213e7e;
}

.THIS .imgMargins {
    margin-top: -1px;
}

.THIS .page-content {
    color: #000;
    margin-top: -203px;
    padding-left: 48px;
}

.THIS .page-content-mobile {
    margin-top: -94px;
    padding-left: 24px;
}

.THIS .cusContentMargin {
    margin-left: -24px;
}

.THIS .footerOptOut {
    height: 60px;
    border-radius: 0 0 24px 24px;
    background-color: #f2f2f2;
    position: absolute;
    top: 50.938rem;
    width: 38.313rem;
    color: white;
    text-align: right;
}
.THIS .mob-footerOptOut {
    height: 60px;
    border-radius: 0 0 24px 24px;
    background-color: #f2f2f2;
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    color: white;
}

.THIS .mb-261 {
    margin-top: 261px;
}

.THIS .center {
    text-align: center;
    line-height: 60px;
}

.THIS .poweredBy {
    height: 24px;
    color: #999999;
    font-family: 'Proxima Nova';
    font-size: 13px;
    letter-spacing: 0;
    line-height: 16px;
}

.THIS .powered-by-mobile {
    height: 24px;
    color: #999999;
    font-family: 'Proxima Nova';
    font-size: 13px;
    letter-spacing: 0;
    line-height: 14px;
}

.THIS .img-dimensions {
    height: 70%;
    width: 110px;
    margin-top: 8px;
    margin-right: 8px;
}

.THIS .img-dimensions-mobile {
    height: 80%;
    line-height: 60px;
}

/* @media (max-width: 500px) {
    .THIS .logo-block {
        width: 80%;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .THIS .main-logo {
        margin: 0;
        padding: 0 20px;
        margin-top: 10px;
    }
} */

.THIS .iqvia {
    height: 38px;
    color: #444444;
    font-family: 'Proxima Nova';
    font-size: 32px;
    letter-spacing: 0;
    line-height: 38px;
}

.THIS .iqvia-mobile {
    height: 34px;
    color: #444444;
    font-family: 'Proxima Nova';
    font-size: 28px;
    letter-spacing: 0;
    line-height: 30px;
}

.THIS .patient-portal {
    height: 38px;
    color: #444444;
    font-family: 'Proxima Nova';
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 35px;
}

.THIS .patient-portal-mobile {
    height: 34px;
    color: #444444;
    font-family: 'Proxima Nova';
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 30px;
}

.THIS .for-participants-c {
    height: 22px;
    color: #444444;
    font-family: 'Proxima Nova';
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 22px;
}

.THIS .for-participants-c-mobile {
    height: 22px;
    color: #444444;
    font-family: 'Proxima Nova';
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 20px;
}

.THIS .mb-16 {
    margin-bottom: 16px;
}
