.summary-title {
    color: #0768fd;
    font-family: 'Proxima Nova';
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 22px;
}
.summary-text {
    color: #000000;
    font-family: 'Proxima Nova';
    font-size: 14px;
    letter-spacing: 0;
    line-height: 17px;
    overflow-wrap: break-word;
}

img {
    height: 200px;
    object-fit: fill;
    border: 1px solid #f2f2f2;
}
.summary {
    padding-left: 2%;
    margin-left: 1%;
    border: 1px solid #f2f2f2;
    contain: size;
    overflow: auto;
    height: 200px;
}
.title-row {
    padding: 5% 1% 0% 0%;
}
.summary-date {
    color: #898989;
    padding-bottom: 2%;
}
.resource-icon {
    display: block;
}
.resource-pointer {
    cursor: pointer;
}
