/**
 * Created by Leonid Bartenev
 */

 /*  Tooltip for Text length overflow -added by Enugothula Srinath */
.THIS .tooltip span
{
    text-decoration: none;
    position: absolute;
    background-color: #002448;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    font-size: .850rem;
    font-weight: 400;
    text-align: left;
    width: max-content;
    max-width: 320px;
    top:0;
    left:50%;
    margin-top: -10px;
    visibility: hidden;
    opacity: 0;
}
.THIS .tooltip:hover{
    position: relative;
}
.THIS .tooltip:hover span
{
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -100%) scale(1);
    animation: pulse 1s;
}
.THIS .tooltip:hover span::after
{
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border: solid transparent;
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-top: 8px solid #002448;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    border-width: 10px;
}
.THIS .tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
    white-space: nowrap;
}
.THIS .textoverlap
{
    width: 15rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* ----------------END-----------*/
.THIS .mrr-padding {
    padding-left: 0;
    padding-right: 0;
}

.THIS .mrr-fe {
    margin-bottom: 20px;
}

.THIS .mrr-btn-section button {
    margin: 10px 10px 30px 0;
    width: auto;
}

.THIS .right-bottom-alert {
    padding-top: 30px;
    border-top: 2px solid #cccccc;
    text-align: center;
}

.THIS .right-bottom-alert .info-text {
    padding: 10px 0;
}

.THIS .right-bottom-alert button {
    display: block;
    margin: 20px auto;
}

.THIS .mrr-gizmo-frame {
    width: 100%;
    border: 0;
    margin-bottom: 30px;
}

.THIS .mrr-alert {
    text-align: center;
    padding-top: 30px;
    min-height: 500px;
}

@media all and (min-width: 1024px) {
    .THIS .mrr-padding {
        padding-left: 10px;
        padding-right: 10px;
    }
}
