.withdraw-btn {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    color: #e20000;
    background-color: #ffffff;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.04);
    padding: 5px 30px 5px 30px;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
}
.withdraw-btn:disabled {
    opacity: 0.4;
    box-shadow: none;
    cursor: not-allowed;
    pointer-events: none;
}
.withdraw-btn:hover {
    background-color: rgba(226, 0, 0, 0.1);
    border: 1px solid #e20000;
    cursor: pointer;
}

.manage-assignment-header {
    height: 24px;
    /* width: 202px; */
    color: #444444;
    font-family: 'Proxima Nova';
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 24px;
}
.manage-assignment-continer {
    margin-top: 19px;
    margin-left: 23px;
    margin-right: 23px;
    margin-bottom: 50px;
}
.manage-assignment-items {
    margin: 24px 24px 14px 24px;
}

.cardRTL {
    direction: rtl;
}
.del-container {
    box-sizing: border-box;
    /* height: 291px; */
    /* width: 813px; */
    border: 1px solid #e9e9e9;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.04);
    /* margin-top: 16px; */
}
.participant-name {
    font-size: 18px;
    font-weight: 600;
    line-height: 21px;
}
.participant-email {
    height: 24px;
    width: 170px;
    color: #595959;
    font-size: 16px;
    overflow: hidden;
}
.study-rectangle {
    box-sizing: border-box;
    /* height: 64px; */
    /* width: 765px; */
    border: 1px solid #e9e9e9;
    border-radius: 4px;
    background-color: #f2f2f2;
}

.study-code-name {
    color: #444444;
    font-size: 18px;
    font-weight: 600;
}

.apollo-btn.secondary:hover {
    border: 1px solid #d9d9d9 !important;
    background-color: #ecf3ff;
    cursor: pointer;
}
.ma-what-I-can-see-button-1 .apollo-btn.secondary:hover {
    border-right: none !important;
    border-bottom: none !important;
    border-left: none !important;
    border-top: 1px solid #e9e9e9;
    box-shadow: none !important;
    background-color: #ecf3ff;
    cursor: pointer;
}

:host {
    --sds-c-checkbox-color-background-checked: #0769fd;
    --sds-c-checkbox-mark-color-foreground: #fff;
}

.text-italic {
    font-style: italic;
    font-size: 14px;
}
.what-Can-I-See-card {
    padding: 0 10px 0 10px;
    width: 100%;
}
.what-I-can-see-btn-icon {
    color: #0768fd;
    font-size: 16px;
    font-weight: 600;
    background: none;
    border: none;
    padding: 0px;
}
.conChevronle-float-right {
    position: absolute;
    right: 0;
    margin-right: 18px;
}
.conChevronle-float-left {
    position: absolute;
    left: 0;
    margin-left: 18px;
}
.con-chevronle-down {
    transform: rotate(90deg);
}
.con-chevronle-down-ma-left {
    /* margin-left: 424px; */
    position: absolute;
    right: 0;
    margin-right: 10px;
}
.con-chevronle-down-ma-right {
    margin-left: 421px;
}
.ma-what-I-can-see-card {
    border-right: 1px solid #d9d9d9;
    border-left: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    border-top: none;
    border-radius: 4px;
}
