.withdraw-btn {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    color: #e20000;
    background-color: #ffffff;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.04);
    padding: 5px 30px 5px 30px;
    font-size: 14px;
    font-weight: 600;
}
.withdraw-btn:disabled {
    opacity: 0.4;
    box-shadow: none;
    cursor: not-allowed;
    pointer-events: none;
}
.withdraw-btn:hover {
    background-color: rgba(226, 0, 0, 0.1);
    border: 1px solid #e20000;
    cursor: pointer;
}
.manage-assignment-header {
    height: 24px;
    /* width: 202px; */
    color: #444444;
    font-family: 'Proxima Nova';
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 24px;
}

.manage-assignment-continer {
    margin-top: 19px;
    margin-left: 23px;
    margin-right: 0px;
    margin-bottom: 50px;
}
.manage-assignment-items {
    margin: 24px 24px 14px 24px;
}

.cardRTL {
    direction: rtl;
}
.del-container {
    box-sizing: border-box;
    /* height: 291px; */
    /* width: 813px; */
    border: 1px solid #e9e9e9;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.04);
    /* margin-top: 16px; */
}
.study-rectangle {
    box-sizing: border-box;
    /* height: 64px; */
    /* width: 765px; */
    border: 1px solid #e9e9e9;
    border-radius: 4px;
    background-color: #f2f2f2;
}

.study-code-name {
    color: #444444;
    font-size: 18px;
    font-weight: 600;
}
.ma-btn-box {
    box-shadow: none !important;
    border: 1px solid #e9e9e9 !important;
    font-weight: 600;
    height: 56px;
    min-width: 160px;
    border-radius: 4px;
    width: 100%;
}
.ma-btn-box-1{
    box-shadow: none !important;
    /* border: 1px solid #e9e9e9 !important; */
    font-weight: 600;
    height: 56px;
    min-width: 160px;
    width: 100%;
}
.apollo-btn.secondary:hover {
    border: 1px solid #D9D9D9 !important;
    background-color: #ECF3FF;
    cursor: pointer;
}
.ma-what-I-can-see-button-1 .apollo-btn.secondary:hover{
    border: none !important;
    box-shadow: none !important;
    background-color: #ECF3FF;
    cursor: pointer;
}

.box-Withdraw-del-btn {
    box-sizing: border-box;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    background-color: #e9e9e9;
    padding: 6px 31px;
}

:host {
    --sds-c-checkbox-color-background-checked: #0769fd;
    --sds-c-checkbox-mark-color-foreground: #fff;
}

.participant-name{
    font-size: 18px;
    font-weight: 600;
    line-height: 21px;
}

.text-italic {
    font-style: italic;
    font-size: 14px;
}
.what-Can-I-See-card {
    padding: 0 24px 0 24px;
    width: 100%;
}
.what-I-can-see-btn-icon {
    color: #0768fd;
    font-size: 16px;
    font-weight: 600;
    background: none;
    border: none;
    padding: 0px;
}
.conChevronle-float-right{
    margin-left: 424px;
}
.conChevronle-float-left{
    margin-right: 424px;
}
.con-chevronle-down{
    transform: rotate(90deg);
}
.con-chevronle-down-ma-left{
    margin-left: 421px;
}
.con-chevronle-down-ma-right{
    margin-left: 421px;
}
.ma-what-I-can-see-card{
    border: 1px solid #d9d9d9;
    border-radius: 4px;
}