.bg{
    background: white;
}
.pgHead{
    height: 32px;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
}
.pgHead lightning-icon{
    opacity: 0.7;
    zoom: 0.7;
}
.boxShadow{
    box-shadow: 0 1px 2px silver;
    border-radius: 4px;
} 
.pgHeadMob{
    
    height: 40px;
    font-size: 16px;
    color: #0768FD;
    font-weight: 600;
    display: flex;
    align-items: center;
}
.maxheight{
   /* height: 435px;*/
}
.hideDesktop{
        display: none;
}
.section-padding{
    padding-left: 10px;
    padding-right: 16px;
}
:host {
    --sds-c-tabs-item-color-border-active: #0768fd;
    --sds-c-tabs-item-color-border-hover: #0768fd;
    --sds-c-tabs-item-text-color: black;
    --sds-c-tabs-item-text-color-active:black;
  }
  .slds-tabs_default__item.slds-active:after, .slds-tabs_default__item.slds-is-active:after, .slds-tabs--default__item.slds-active:after, .slds-tabs--default__item.slds-is-active:after{
      height:6px !important;
  }
 
@media (max-device-width: 767px) {
    .no-p-mobile{
        padding:0;
    }
    .hideDesktop{
        display: unset;
    }
    .hideMobile{
        display: none;
    }
    .showDesktop{
        display: none;
    }
    .maxheight{
        height: none;
    }
    .boxShadow{
        box-shadow: none;
        border-radius: 0;
    } 
}