.bg{
    background: white;
}
.pgHead{
    height: 32px;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
}
.pgHead lightning-icon{
    opacity: 0.7;
    zoom: 0.7;
}
.boxShadow{
    box-shadow: 0 1px 2px silver;
    border-radius: 0px;
}
.boxShadownone{
    box-shadow: 0 0.5px 0px 0.5px silver;
    border-radius: 0px;
}
.actiondropdown{
    border: 1px solid #E9E9E9;
    padding: 0px 8px;
    width: 100%;
}
.action-selected{
    font-size: 16px;
    font-weight: 600;
    color:#444444;
    text-align: center;
}
.action-btn{
    width: 100%;
    height: 40px;
}
.status-text{
    font-size: 14px;
    font-weight: 500;
}
.status-result{
   font-size: 16px;
   font-weight: 600;
}
.progressBar {
    width: 95%;
    display: inline-block;
}
.title {
    color: #000000;
    font-family: "Proxima Nova";
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 32px;
}
.sub-text{
    font-size: 16px;
    line-height: 24px;
    color: #444444;
}
.bar {    
    height: 4px;
    background: linear-gradient(270deg,#0076ae,#250056);
    position: relative;
}
.model-small{
    width: 420px;
    max-width: 52.0625rem;
    min-width: 0;
}
.close-arrow-left{
    margin-right:0;
}
.close-icon{ 
    cursor: pointer;
    padding-left: 10px;
}
.btn-height{
    height: 40px;
}
.save-btn{
    float: right;
    margin-left: 15px;
}
.rtl .save-btn{
    float: left;
    margin-right: 15px;
    margin-left: 0px;
}
.discard-btn{
    border: 1px solid #ffffff;
    box-shadow: 0 4px 4px 0 rgb(255 255 255 / 4%);
}
.save-btn-p{
    text-align:right;
    padding: 12px 27px;
}
.rtl .save-btn-p{
    text-align:left;
    border-top: 1px solid #E9E9E9;
}
.participant-text{
    font-size: 16px;
    font-weight: 500;
}
.user-detail{
    text-align: center;
}
.user-img{
    width: 140px;
    height: 160px;
}
.vertical-scroll-pop{
    height: 26vh;
    overflow: auto;
    overflow-x: hidden;
}
.margin-top{
    margin-top: 1px;
}
.rtl .rtl-left{
    margin-left:12px;
}
.rtl .rtl-export{
    margin-left:14px;
}
/* Scrollbar Code */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background: #999999;
    border-radius: 4px;
    cursor:pointer;
}
::-webkit-scrollbar-thumb:hover {
    background: #858383;
}
/* Scrollbar Code End */
@media (max-device-width: 767px) {
    .rtl { direction: rtl;}
    .vertical-scroll-pop{
        height: unset;
        overflow: unset;
        overflow-x: unset;
    }
    .margin-top{
        margin-top: 5px;
    }
    .model-small{
        width: 340px;
        min-width: 340px;
    }
    .mobile-width{
        width: 100%;
    }
    .close-icon{
        padding-left: 25px;
    }
    .save-btn{
        float: left;
        margin-left: 0;
        width: 100%;
        margin-bottom: 20px;
    }
    .discard-btn{
        width: 100%;
        margin-left: 0;
    }
    .btn-mobile{
        width: 100%;
    }
    .save-btn-p{
        padding: 12px 10px;
    }
    .rtl .save-btn-p{
        border-top: 1px solid transparent;
    }
}  
@media (min-width: 767px) {
    .model-small{
        width: 50%;
    }
}
@media (min-width: 992px) {
    .model-small{
        width: 420px;
    }
}  
.Cancel{
 height:48px;
 width:372px;
 color: #444444;
 font-family: "Proxima Nova";
 font-size: 16px;
 letter-spacing: 0;
 line-height: 24px;
}
.pgHeadMob{
    
    height: 40px;
    font-size: 16px;
    color: #0768FD;
    font-weight: 600;
    display: flex;
    align-items: center;
}
/* .maxheight{
   height: 435px;
} */
.hideDesktop{
        display: none;
}
.headertext{
    font-size: 24px;
    font-weight: 600;
    color: #595959;
}
.btn-dropdown{
    height: 40px;
}

.button-padding{
    padding:17px;
}
.section-padding{
    padding-left: 10px;
    padding-right: 16px;
}
:host {
    --sds-c-tabs-item-color-border-active: #0768fd;
    --sds-c-tabs-item-color-border-hover: #0768fd;
    --sds-c-tabs-item-text-color: black;
    --sds-c-tabs-item-text-color-active:black;
  }
  .slds-tabs_default__item.slds-active:after, .slds-tabs_default__item.slds-is-active:after, .slds-tabs--default__item.slds-active:after, .slds-tabs--default__item.slds-is-active:after{
    height:6px !important;
}
.no-padding{
    padding:0px;
}
.all-tabs .slds-tabs_default__item:after {
    width: 90%;
    margin: 0 auto;
    border-radius:80px;
    height: calc(var(--sds-c-tabs-list-sizing-border, 2px) + 2.5px);
}
@media all and (max-width: 47.9375em) { 
    .no-p-mobile{
        padding:0;
    }
    .hideDesktop{
        display: unset;
    }
    .hideMobile{
        display: none;
    }
    .showDesktop{
        display: none;
    }
    .maxheight{
        max-height: 66vh;
        overflow: overlay;
    }
    .boxShadow{
        box-shadow: none;
        border-radius: 0;
    }
    .savesticky{
        height: 63px;
        border: 1px solid #E9E9E9;
        box-shadow: 0 2px 0px #e1e1e1; 
    } 
}
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 1) {
    .ipad-mode{
        margin-left:30%;
       
    }
    .ipad-mode-btn{
        margin: 5px 0 0px 5px;
        line-height: 14px;
    } 
}
.disable-click{
    pointer-events: none;
}
.addparticipantcls .slds-modal__content{
    box-shadow: none !important;
}
.addparticipantcls .slds-modal__container{
    padding: 0 0 15px 0px;
    background-color: #ffffff;
    box-shadow: var(--slds-c-modal-shadow, var(--sds-c-modal-shadow, var(--lwc-shadowDropDown,0 2px 3px 0 rgba(0, 0, 0, 0.16))));
}
.addparticipantcls .slds-p-around_large{
    padding: 20px 20px 10px 20px;
}