/**
 * Created by Aleksey Moseev.
 */

.THIS .emancipation-notification-header {
    background: #FFF7EC;
    fill: white;
    height: 100%;
    color: black;
    line-height: 45px;
    font-size: 1rem;
    border: 0.1px solid;
    border-color: lightgrey;
}

.THIS .emancipation-notification-msg-header {
    padding: 4px 16px;
    font-weight: 600;
}

.THIS .emancipation-notification-link-header {
    padding: 4px 16px;
}