.THIS.rr-white-panel{
    box-sizing: border-box;
    height: 486px;
    width: 1140px;
    border: 1px solid #E9E9E9;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.04);
}

.THIS  .leaderboard-title{
    height: 40px;
    color: #000000;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 22px;
}

.THIS .title{
    height: 24px;
}


.THIS  .totalcount{
    height: 24px;
    width: 151px;
    color: #444444;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 17px;
    text-align: right;
}

@media screen and (max-width: 1024px) {

    .THIS.rr-white-panel {
        width: 100%;
        height: auto;
}

    .THIS .slds-p-top_small {
        display: flex;
    }

    .THIS .slds-p-top_small > .slds-float_right {
        width: 100%;
        margin-left: 1rem;
    }

    .THIS .slds-p-top_small > .slds-float_left {
        margin-bottom: 1rem;
    }

}

@media screen and (max-width: 650px) {
    .THIS.rr-white-panel {
        display: flex;
        flex-direction: column;
    }

    .THIS .slds-p-top_small {
        flex-direction: column;
    }

    .THIS .slds-p-top_small > .slds-float_right {
        margin-left: 0;
    }
}
