/**
 * Created by Aleksey Moseev.
 */
.THIS .dqa-view-more {
    background: #f8f9fb;
    border-top: solid 1px #e9e9e9;
    min-height: 49px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.THIS .db-qal-title {
    color: #000000;
    font-size: 18px;
    font-weight: 600;
}
.THIS .db-qal-main {
    padding: 16px;
}

.THIS .db-qal-items {
    height: 215px;
    overflow-y: auto;
}

.THIS .slds-table thead th {
    background: #f8f9fb;
    border: none;
}

.THIS .slds-table thead th:last-child .slds-truncate {
    padding-right: 1rem;
}

.THIS .sort-icon {
    margin-left: 5%;
    cursor: pointer;
}

.THIS .slds-table_bordered tbody th:hover,
.THIS .slds-table_bordered tbody td:hover,
.THIS .slds-table_bordered tbody tr:hover,
.THIS .slds-table_bordered:not(.slds-no-row-hover) tbody tr:hover > th:not(.slds-has-focus),
.THIS .slds-table_bordered:not(.slds-no-row-hover) tbody tr:hover > td:not(.slds-has-focus) {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    box-shadow: none;
}

.THIS .slds-table_bordered tbody th,
.THIS .slds-table_bordered tbody td {
    box-shadow: none;
    border-top: 1px solid transparent;
    border-bottom: 1px solid #f8f9fb;
    vertical-align: top;
}

.THIS .slds-table_striped tbody tr:nth-of-type(2n) > td,
.THIS .slds-table_striped tbody tr:nth-of-type(2n) > th {
    background-color: transparent;
}

.THIS .slds-table:not(.slds-no-row-hover) tbody tr:hover > td,
.THIS .slds-table:not(.slds-no-row-hover) tbody tr:hover > th,
.THIS .slds-table:not(.slds-no-row-hover) tbody tr:focus > td,
.THIS .slds-table:not(.slds-no-row-hover) tbody tr:focus > th {
    background-color: #f8f9fb;
}

.THIS .slds-table tr > th:first-child {
    padding-left: 1rem;
}

.THIS .slds-table_bordered {
    border: none;
}

.THIS ::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}
.THIS ::-webkit-scrollbar-thumb {
    width: 4px;
    border-radius: 4px;
    background-color: #999999;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.16);
    height: 100px;
}
.THIS ::-webkit-scrollbar-track {
    display: none;
}

.THIS ::-webkit-scrollbar-button {
    height: 0;
}

.THIS .contactTitle {
    display: none;
}

@media all and (max-width: 768px) {
    .THIS .mobile-padding-left
    {
        padding-left: 0;
    }
    .THIS {
        margin-top: 1rem;
    }

    .THIS .db-qal-items {
        height: auto;
        max-height: 400px;
    }

    .THIS .slds-table td:first-child .slds-truncate,
    .THIS .slds-table td:nth-child(3) .slds-truncate {
        white-space: normal;
    }

    .THIS .slds-table {
        background: #fff;
    }    
}

@media all and (max-width: 500px) {
    .THIS thead {
        display: none;
    }

    .THIS tbody tr {
        display: flex;
        flex-direction: column;
    }

    .THIS .slds-table_bordered tbody th,
    .THIS .slds-table_bordered tbody td {
        min-width: 100%;
        color: #000;
        border: none;
    }

    .THIS .slds-table_cell-buffer tr > th:first-child,
    .THIS .slds-table_cell-buffer tr > td {
        padding-left: 0;
    }

    .THIS tbody tr td:last-child {
        padding-bottom: 1.25rem;
        margin-bottom: 1rem;
        border-bottom: 1px solid #e9e9e9;
    }

    .THIS tbody tr:last-child td:last-child {
        border-bottom: none;
    }

    .THIS .contactTitle {
        color: #595959;
        padding-right: 5px;
        white-space: nowrap;
        display: inline-block;
    }

    .THIS .slds-table_bordered tbody .cRRLink.rr-link {
        padding: 0 0 0 10px;
    }

    .THIS tbody tr td .slds-truncate {
        display: inline-flex;
    }

    .THIS .contactTitle + span {
        display: inline-block;
        white-space: normal;
        width: 80%;
    }

    .THIS .slds-table_bordered tbody tr:hover,
    .THIS .slds-table_bordered:not(.slds-no-row-hover) tbody tr:hover > th:not(.slds-has-focus),
    .THIS .slds-table_bordered:not(.slds-no-row-hover) tbody tr:hover > td:not(.slds-has-focus) {
        border: 0;
        background: #fff;
    }
}
.THIS.exampleHolder {
    position: relative;
    display: inline-block;
    margin-left: 15px;
    width: 55px;
    vertical-align: middle;
    white-space: nowrap;
}

.THIS .desktop-display{
    display: block;
}
.THIS .mobile-display {
    display: none;
}
@media (max-device-width: 767px) {
    .THIS .desktop-display{
        display: none;
    }
    .THIS .mobile-display {
        display: block;
    }
}