.manage-delegate {
    font-size: 32px;
    font-weight: 600;
}
.back-to-manage-delegate {
    position: relative;
    top: 0.1rem;
    left: 0.5rem;
    font-size: 16px;
    font-weight: 500;
}
.no-delegate-desk-txt {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 360px;
    color: #595959;
    text-align: center;
}
.no-delegate-mob-txt {
    width: 360px;
    color: #595959;
    text-align: center;
}
.btn-add-new-delegate {
    width: 360px;
    color: #ffffff;
    border-radius: 16px;
    background-color: #0768fd;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.04), 0 4px 8px 0 rgba(7, 104, 253, 0.32);
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
}
.spins::after {
    position: absolute;
    content: '';
    width: 100%;
    text-align: center;
    top: calc(50% + 3em);
    font-weight: bold;
}

.rectangle {
    box-sizing: border-box;
    height: 276px;
    width: 360px;
    border: 1px solid #d9d9d9;
    border-radius: 16px;
    background: linear-gradient(180deg, #ffffff 0%, #ffffff 100%);
    padding: 1.5rem 0 0 1.5rem;
}
.list-heading-text {
    color: #444444;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 24px;
}
.myteam-list-txt {
    color: #595959;
    font-family: 'Proxima Nova';
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
}
.myteam-asteric-txt {
    color: #595959;
    font-family: 'Proxima Nova';
    font-size: 14px;
    letter-spacing: 0;
    line-height: 20px;
}
.add-new-delegate {
    font-size: 32px;
    font-weight: 600;
    display: inline-block;
}
.slds-vertical-border {
    border-right: 1px solid #d9d9d9;
    height: 720px;
}
.mouse-pointer {
    cursor: pointer;
}
@media screen and (max-width: 768px) {
    .slds-vertical-border {
        border-right: none;
        height: auto;
    }
    .no-delegate-mob-txt {
        display: inline-block;
        line-height: 24px;
        padding: 32px 0 32px 0;
    }
    .mob-m-top {
        margin-top: 20px;
    }
    .add-new-delegate {
        font-size: 24px;
    }
}
