/**
 * Created by Leonid Bartenev
 */

.THIS .rr-form-element + .rr-form-element {
    margin-top: 0;
}

.THIS .rr-form-element {
    margin-bottom: 10px;
}
.THIS .disablediv {
    pointer-events: none;
    opacity: 0.4;
}
.THIS .enableDiv {
    pointer-events: visible !important;
    opacity: 1 !important;
}
.THIS .ap-section-title {
    text-align: left;
    font-size: 20px;
    line-height: 36px;
}
.THIS .ap-section-titleRTL {
    text-align: right;
    font-size: 20px;
    line-height: 36px;
}

.THIS .ap-section + .ap-section {
    margin-top: 20px;
}

.THIS .ap-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-bottom: 80px;
}

.THIS .apollo-btn.custom-cancel {
    background-color: #e8e8e8;
}

.THIS .rr-form-element .slds-form-element__label {
    display: none;
}

.THIS .rr-form-element .cRrSelect .slds-select_container .slds-select {
    margin-top: 0;
}

.THIS .label {
    text-align: initial;
}

.THIS .checkBox-desc {
    height: 16px;
    width: 16px;
    border-radius: 2px;
    background-color: #ffffff;
    margin-right: 10px;
    flex-shrink: 0;
}
.THIS .checkBox-descRTL {
    margin-top: 5px;
    height: 16px;
    width: 16px;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    background-color: #ffffff;
    margin-right: 10px;
    flex-shrink: 0;
}
.THIS .disclaimerRTL {
    color: #444444;
    font-family: 'Proxima Nova';
    font-size: 14px;
    line-height: 20px;
    /* @noflip */
    text-align: right;
    margin: 0 8px 0 0;
}
.THIS .disclaimer {
    color: #444444;
    font-family: 'Proxima Nova';
    font-size: 14px;
    line-height: 20px;
}
.THIS .rightAlign .slds-datepicker table {
    table-layout: fixed;
    width: 300px;
}
.THIS .rightAlign .slds-input {
    padding-right: 2px;
}
.THIS .rightAlign .slds-datepicker .slds-day {
    width: auto !important;
    min-width: auto !important;
    height: auto !important;
    line-height: inherit !important;
}
.THIS .rightAlign .slds-input__icon_right {
    /* @noflip */
    margin-right: 12.2rem;
}
.THIS .disclaimer-box {
    display: flex;
    margin-top: 30px;
}

.THIS .btn-send {
    display: block;
    margin-top: 30px;
}

.THIS .mt-10 {
    margin-top: 10px;
}

.THIS .al-consents-align {
    float: left;
    white-space: normal;
    box-sizing: border-box;
}

.THIS .consent-label {
    color: #444;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 17px;
    display: block;
    margin-bottom: 8px;
    margin-left: -2px;
}

.THIS .mr-10 {
    margin-right: 10px;
}

.THIS .blue-highlight-text-color {
    color: #0f6efd;
}

.THIS .blue-highlight-text-color:hover {
    cursor: pointer;
}

.THIS .slds-modal__container {
    max-width: 60rem !important;
    width: 90% !important;
    height: 100%;
}

.THIS .fpi-as {
    font-weight: 600;
    color: #0f6efd;
    cursor: pointer;
}

.THIS .fpi_container_margin {
    margin: 10px 0px 20px 0px;
    font-size: 16px;
    line-height: 24px;
}
@media all and (max-width: 768px) {
    .THIS .checkBox-desc {
        margin-right: 5px !important;
    }
}
