.form-header {
    color: #000;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 29px;
    margin: 0.5em 0;
}

.input-label {
    color: #444444;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 24px;
    margin: 0.5em 0;
}
.input-box {
    color: #444444;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 24px;
    height: 36px;
    width: 100%;
    margin-bottom: 2em;
}
.input-box:focus {
    color: #444444;
}

.rtl {
    /* @noflip */  direction: rtl;
 }
 
.form-button {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 24px;
    text-align: center;
    height: 36px;
    width: 100%;
    margin-bottom: 2.5em;
    margin-top: 1em;
}

.icon-position {
    display: inline;
    padding-top: 5px;
    cursor: pointer;
    position: relative;
}

.rr-link {
    color: #0768fd;
    font-size: 16px;
    font-weight: bold;
    /* for Fiinish language code changes*/
    /*max-width: 10em; 
    display: flex;
    flex-direction: column;
    align-items: flex-end;*/
}

.rr-link:hover {
    text-decoration: none;
    cursor: pointer;
}

.error-container {
    color: #e20000;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 24px;
}

.slds-has-error .slds-form-element__help {
    font-family: 'Proxima Nova';
    font-size: 14px;
}
