@media (max-width: 500px) {
    .rr-width-limiter.side-padding {
        padding: 0px !important;
        background-color: #F6F7FB;
    }
}

/* Community_CSS_PP_Theme */

.slds-spinner_brand.slds-spinner:before,
.slds-spinner_brand.slds-spinner:after,
.slds-spinner--brand.slds-spinner:before,
.slds-spinner--brand.slds-spinner:after,
.slds-spinner_brand .slds-spinner__dot-a:before,
.slds-spinner_brand .slds-spinner__dot-b:before,
.slds-spinner_brand .slds-spinner__dot-a:after,
.slds-spinner_brand .slds-spinner__dot-b:after,
.slds-spinner--brand .slds-spinner__dot-a:before,
.slds-spinner--brand .slds-spinner__dot-b:before,
.slds-spinner--brand .slds-spinner__dot-a:after,
.slds-spinner--brand .slds-spinner__dot-b:after {
    background-color: #182a75 !important;
}

.cp-content {
    align-items: start;
}

.cp-logo-block{
    margin: 50px auto auto;
}

.profile-info-input .slds-input{
    height: 2rem !important;
    box-sizing: border-box !important;
    border: 1px solid #d9d9d9 !important;
    border-radius: 20px !important;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 0%) !important;
}

.profile-info-error-input .slds-input{
    border: 1px solid rgba(226, 0, 0, 1) !important;
}

.round-combobox .slds-dropdown_fluid{
    min-width: 10rem !important;
}


.cp-login-title{
    font-size: 60px;
    font-weight: 500;
    line-height: 1;
    text-align: center;
}
.main-header-brand{
    background: linear-gradient(to bottom, #00839A 0%, #005587 100%);
	border-bottom-right-radius: 20px;
}

.mobile-menu-background{
    background: linear-gradient(to bottom, #00839A 0%, #005587 100%);
	border-bottom-right-radius: 20px;
}
.font-thickness {
    font-weight: 500;
}

@media (max-width: 500px){
    .rr-width-limiter .side-padding {
        padding-left: 0rem !important;
        padding-right: 0rem !important;
    }
}
