@media (max-width: 500px) {
    .rr-width-limiter.side-padding {
        padding: 0px !important;
        background-color: #f6f7fb;
    }
    .pp-survey .rr-width-limiter.side-padding {
        padding: 0 1rem !important;
        background-color: #ffffff;
    }
    .rr-min-body-height .rr-min-body-height {
        height: auto !important;
    }
    
    .toastContainer > .forceToastMessage {
        width: 95% !important;
    }
    .rr-width-limiter-pp {
        padding: 0 !important;
    }
}

.task-modal-background .slds-backdrop {
    background:rgba(0, 0, 0, 0.1) !important;
}
.task-ignore-modal-background .slds-backdrop {
    background:rgba(0, 0, 0, 0.1) !important;
}

.rr-width-limiter-pp {
   max-width: 1366px;
   margin: auto;
   padding: 0 2rem;
}

/* Community_CSS_PP_Theme */

.slds-spinner_brand.slds-spinner:before,
.slds-spinner_brand.slds-spinner:after,
.slds-spinner--brand.slds-spinner:before,
.slds-spinner--brand.slds-spinner:after,
.slds-spinner_brand .slds-spinner__dot-a:before,
.slds-spinner_brand .slds-spinner__dot-b:before,
.slds-spinner_brand .slds-spinner__dot-a:after,
.slds-spinner_brand .slds-spinner__dot-b:after,
.slds-spinner--brand .slds-spinner__dot-a:before,
.slds-spinner--brand .slds-spinner__dot-b:before,
.slds-spinner--brand .slds-spinner__dot-a:after,
.slds-spinner--brand .slds-spinner__dot-b:after {
    background-color: #182a75 !important;
}

.cp-content {
    align-items: start;
}
.user-profile-icon .slds-icon_x-small {
    margin: 8px 0 0 8px !important;
}

.cp-logo-block {
    margin: 50px auto auto;
}

.profile-info-input .slds-input {
    height: 2rem !important;
    box-sizing: border-box !important;
    border: 1px solid #d9d9d9 !important;
    border-radius: 16px !important;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 0%) !important;
}
.taskName-focus .slds-input:focus-within {
    border: 1px solid #015ff1 !important;
}
.time-input .slds-input {
    height: 2rem !important;
    border-left: none !important;
    border-right: none !important;
    border-radius: 15px !important;
    cursor: pointer !important;
}

.time-input .slds-input:hover {
    border-color: #d9d9d9 !important;
    border-left: none !important;
    border-right: none !important;
}

.time-input input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.3);
    font-size: 14px;
    line-height: 21px;
}

.profile-info-btn .slds-button {
    color: #ffffff;
    height: 2rem !important;
    width: 6rem !important;
    border-radius: 16px !important;
    background-color: #015ff1 !important;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.04), 0 4px 8px 0 rgba(7, 104, 253, 0.32) !important;
}

.profile-info-btn-mobile .slds-button {
    color: #ffffff;
    height: 2rem !important;
    border-radius: 16px !important;
    background-color: #015ff1 !important;
    box-shadow: 0 4px 16px 0 rgb(0 0 0 / 4%), 0 4px 8px 0 rgb(7 104 253 / 32%) !important;
}

.profile-info-error-input .slds-input {
    border: 1px solid rgba(226, 0, 0, 1) !important;
}

.round-combobox .slds-dropdown_fluid {
    min-width: 10rem !important;
}

.task-reminder .slds-combobox__input.slds-input {
    width: 100% !important;
}

.cp-login-title {
    font-size: 60px;
    font-weight: 500;
    line-height: 1;
    text-align: center;
}
.main-header-brand {
    background: linear-gradient(to bottom, #00839a 0%, #005587 100%);
    border-bottom-right-radius: 20px;
}

.mobile-menu-background {
    background: linear-gradient(to bottom, #00839a 0%, #005587 100%);
    border-bottom-right-radius: 20px;
}
.font-thickness {
    font-weight: 500;
}
@media (max-width: 500px) {
    .rr-width-limiter .side-padding {
        padding-left: 0rem !important;
        padding-right: 0rem !important;
    }
    .menu-block {
        position: relative !important;
    }
    .logo-container-pp {
        margin: 0 0 0 55px !important;
    }
}

/**Toast Container CSS*/
.toastContainer > .slds-theme--success {
    border-radius: 8px;
    background-color: #009d3f;
}

.toastContainer > .forceToastMessage {
    width: fit-content;
    max-width: 1424px;
    min-height: 40px;
    min-width: 40%;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    text-align: initial !important;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.3);
}

.toastContainer > .forceToastMessage .toastContent.slds-notify__content {
    padding-left: 0.5rem;
}

.toastContainer .toastTitle,
.toastContainer .toastIcon {
    display: contents;
}

.toastMessage.forceActionsText {
    font-family: 'Proxima Nova' !important;
    /* padding-left: 0.5rem; */
}

.toastContainer .toastClose {
    top: auto;
    border-color: transparent;
}
.participant-tooltip lightning-primitive-icon {
    visibility: hidden !important;
}
.participant-tooltip lightning-primitive-icon:hover::after {
    pointer-events: none !important;
}
.toastContainer .toastClose lightning-primitive-icon {
    color: #ffffff !important;
}

.toastContainer .toastTitle,
.toastContainer .toastIcon .slds-icon_small {
    height: 1rem !important;
    width: 1rem !important;
}

.toastContainer .forceToastMessage .toastClose .slds-button__icon--large {
    height: 1rem !important;
    width: 1rem !important;
}
.masked .slds-input {
    -webkit-text-security: disc;
}
.task-card .slds-card {
    border-radius: 16px !important;
}
.task-card-mobile .slds-card {
    border-radius: 16px !important;
}

.ppCombobox button {
    border-radius: 20px !important;
}

.change-password input {
    padding-right: 12%;
}

.anchor-container a {
    text-decoration: none !important;
}

.grayInfoIcon lightning-primitive-icon {
    color: #444444 !important;
}

.rr-min-body-height .rr-min-body-height {
    min-height: auto !important;
    padding-bottom: 35px !important;
}

.label-email-pass-match .slds-form-element__label {
    height: 48px;
    color: #000000;
    font-family: 'Proxima Nova';
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 24px;
}

.cookie-accordion-border .slds-accordion__summary-action-icon {
    position: absolute;
    right: 0;
    top: 15px;
    height: 13px;
    width: 12px;
    color: #015ff1;
}
.cookie-accordion-paragraph {
    color: #444444;
    font-family: 'Proxima Nova';
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 24px;
}
.slds-accordion__summary-content {
    color: #015ff1 !important;
}
.slds-accordion__content {
    overflow-x: scroll;
    /* max-height: 200px; commented because to see 5 val scrollable  */
}
.cookie-accordion-border .slds-accordion__summary-heading .slds-button:focus {
    text-decoration: none !important;
    box-shadow: none;
}
.cookie-accordion-border lightning-primitive-icon svg {
    fill: #297dfd !important;
}

.support-combobox button {
    border-radius: 20px;
}

.support-combobox lightning-base-combobox-item {
    height: 30px;
    padding: 5px;
    margin-left: -28px;
}

.support-combobox .slds-input-has-icon .slds-input__icon svg {
    fill: #595959;
    height: 13px;
}

.support-combobox lightning-base-combobox-item lightning-primitive-icon {
    display: none;
}

.support-combobox .slds-media__body .slds-truncate {
    opacity: 1;
}

.support-combobox .slds-truncate {
    font-size: 15px;
    padding-left: 5px;
    opacity: 1;
}

.support-combobox.opacity .slds-truncate {
    opacity: 0.5;
}
.support-combobox.opacity .slds-media__body .slds-truncate {
    opacity: 1;
}

.help-support{
    height: 40px;
    padding-top: 0.3rem;
}
/* getSupport Year css */

.support-year button {
    border-radius: 20px;
}

.support-year lightning-icon,
.support-combobox lightning-icon {
    margin-right: 10px;
}

.support-year lightning-base-combobox-item {
    height: 30px;
    padding: 5px;
    margin-left: -28px;
}

.support-year .slds-input-has-icon .slds-input__icon svg {
    fill: #595959;
    height: 13px;
}

.support-year lightning-base-combobox-item lightning-primitive-icon {
    display: none;
}

.support-year.slds-media__body .slds-truncate {
    opacity: 1;
}

.support-year .slds-truncate {
    font-size: 15px;
    padding-left: 5px;
    opacity: 1;
}

.support-year.opacity .slds-truncate {
    opacity: 0.5;
}
.support-year.opacity .slds-media__body .slds-truncate {
    opacity: 1;
}

.slds-popover_tooltip,
.slds-popover--tooltip ::after {
    background-color: #444444;
}

/**help topics specific dropdown CSS*/
.help-topics .dropdown {
    display: flex !important;
    position: relative !important;
    align-items: center !important;
    width: 100% !important;
    height: auto !important;
    color: #444444 !important;
    border: 1px solid #d9d9d9 !important;
    padding: 0 0.5rem 0 0.25rem !important;
    background: #ffffff !important;
    font-size: 14px !important;
    letter-spacing: 0 !important;
    box-sizing: border-box !important;
    height: 40px !important;
    border-radius: 1.25rem !important;
    background-color: #ffffff !important;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0) !important;
}

.help-topics .dropdown[c-ppWebSelect_ppWebSelect]:after {
    content: '';
    background: url(/resource/1657782419000/SelectMenuTriangleDownGray);
    position: absolute;
    top: 7px;
    right: 17px;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
}

.help-topics .dropdown:hover {
    border: 1px solid #015ff1 !important;
}

.help-topics .dropdown:after {
    top: 11px !important;
}

.help-topics .dropdown-menu {
    height: 250px !important;
    overflow-y: auto !important;
    top: 2.6rem !important;
    box-sizing: border-box !important;
    border: 1px solid #d9d9d9 !important;
    border-radius: 4px !important;
    background-color: #ffffff !important;
    box-shadow: 0 8px 20px 0 rgb(0 0 0 / 8%) !important;
    z-index: 10001 !important;
}

.help-topics .dropdown-menu li {
    padding: 0.3rem 0.4rem !important;
}

.help-topics .dropdown-span {
    height: 1.5rem !important;
    padding: 0px !important;
    width: 90% !important;
    font-family: 'Proxima Nova' !important;
    font-size: 1rem !important;
    letter-spacing: 0 !important;
    line-height: 1.5rem !important;
    padding-left: 1rem !important;
    font-weight: 600 !important;
}
/* Get Support */

.help-match-username-radio-options .slds-form-element__label{
    height: 24px;
    color: #444444;
    font-family: "Proxima Nova";
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    max-width: 91%;
    width: auto;
    display: inline-block;
    height: auto;
    word-break: break-word;
    text-align: left;
    margin-top: -2px;
}

.logo-container-pp {
    height: 50px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    width: 165px;
    margin: 0 44px 0 44px;
}

.cookie-accordion-border .slds-accordion__summary-action {
    padding-left: 16px;
}
.cookie-accordion-border .slds-accordion__summary-action-icon {
    position: absolute;
    right: 5px;
    top: 15px;
    height: 15px;
    width: 15px;
    fill: #015ff1;
}
.slds-accordion__section .slds-is-open .slds-accordion__summary-content::after {
    text-decoration: none !important;
}
.cookie-accordion-paragraph {
    color: #444444;
    font-family: 'Proxima Nova';
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 24px;
}
.slds-accordion__summary-content {
    color: #015ff1 !important;
    font-size: 18px;
    font-weight: 600;
}
.slds-accordion__content {
    overflow-x: scroll;
}
.slds-accordion__summary {
    border-bottom: 1px solid #d9d9d9;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.slds-accordion__summary-heading .slds-button:focus {
    text-decoration: none;
}
.ah-toggle .slds-checkbox_toggle {
    justify-content: end;
}
.slds-accordion__content {
    margin: 0 -12px;
}

.cookie-accordion-border .ah-item-panel {
    border: none;
    border-bottom: 1px solid #e9e9e9;
    background-color: #ffffff;
    padding: 12px 12px 12px 16px;
}
.cookie-accordion-border .ah-item-panel:last-child {
    border-bottom: none;
}
.cookie-spacing {
    padding: 0 13px;
}

.slds-checkbox_toggle .slds-checkbox_faux,
.slds-checkbox_toggle .slds-checkbox--faux,
.slds-checkbox--toggle .slds-checkbox_faux,
.slds-checkbox--toggle .slds-checkbox--faux {
    background-color: #d9d9d9 !important;
    border: 1px solid #d9d9d9 !important;
    height: 32px;
    outline: none;
    width: 56px;
}
.slds-checkbox_toggle
    [type='checkbox']:checked
    + .slds-checkbox_faux_container
    .slds-checkbox_faux {
    background-color: #00c221 !important;
    border: 1px solid #00c221 !important;
}

.customize-exp lightning-primitive-icon {
    position: absolute;
    top: 13px;
    right: 45px;
}

.customize-exp button lightning-primitive-icon {
    position: absolute;
    top: -3px;
    right: 39px;
}

.customize-exp lightning-primitive-icon svg {
    width: 20px !important;
    height: 20px !important;
}

.customize-exp .slds-input {
    padding-left: 15px;
    padding-right: 20%;
}

.highlight-error button {
    border: 1px solid red;
}

.highlight-error .slds-combobox__input:focus {
    border-color: red;
    box-shadow: none;
}

:focus-visible {
    outline: #015ff1 auto 1px;
}

.fadePlaceholder button span {
    opacity: 0.7;
}

.primaryBtn {
    border-radius: 1rem;
    color: #ffffff;
    background: #015ff1;
    padding: 0 1rem;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.04), 0 4px 8px 0 rgba(7, 104, 253, 0.32);
    margin-left: 0.5rem;
    font-weight: 500;
    cursor: pointer;
    font-family: 'Proxima Nova';
    height: 35px;
    width: 90px;
    text-decoration: none;
    justify-content: center;
    border: none;
    transition: .25s;
}

.secondaryBtn {
    justify-content: center;
    padding: 0;
    border: 1px solid #d9d9d9;
    border-radius: 1rem;
    color: #015ff1;
    font-weight: 500;
    cursor: pointer;
    font-family: 'Proxima Nova';
    height: 35px;
    width: 90px;
    transition: .25s;
}

.slds-button.primaryBtn:hover {
    --slds-c-button-color-border: unset;
    color: #fff;
    background: #0557d5;
    transition: .25s;
    text-decoration: none;
}

.slds-button.secondaryBtn:hover {
    --slds-c-button-color-border: #015ff1;
    /*--slds-c-button-color-background: #ecf3ff;*/
    color: #015ff1;
    transition: .25s;
    text-decoration: none;
}

.secondaryBtn:disabled,
.secondaryBtn:hover:disabled {
    color: #015ff175;
    border-radius: 1rem;
    padding: 0 1rem;
    border-color: #d9d9d9;
}

.primaryBtn:disabled,
.primaryBtn:hover:disabled {
    background-color: #015ff170;
    border-radius: 1rem;
    padding: 0 1rem;
    margin-left: 0.5rem;
    color: #ffffff;
}

.btn-footer .slds-button+.slds-button {
    margin-left: .5rem;
}
/* Study Visits Page */

c-pp-study-visit-details-card .slds-card {
    width: 100%;
    padding: 0;
    border: 1px solid #d9d9d9;
    border-radius: 16px;
}

c-pp-study-visit-details-card .slds-card__header {
    display: none;
}

.mBackButton .slds-button {
    margin-left: 0.25rem;
    font-size: 1rem;
    font-weight: 600;
}

/* VISITS PAGE - WHAT TO EXPECT ICON HOVER */

.bio-icons.active svg.rr-icon_medium {
    fill: #009dd6 !important;
}

.bio-icons:hover svg.rr-icon_medium {
    fill: #595959;
}

.active-custom-box .rr-icon_medium,
.inactive-custom-box .rr-icon_medium {
    height: 26px !important;
    width: 26px !important;
}

/* CURVED INPUTS */

.cCustomThemeLayout .slds-form-element__label:empty {
    display: none;
}

[lightning-combobox_combobox-host],
[lightning-input_input-host] {
    width: 100%;
}

.curve-input .svg-icon svg.rr-icon-medium {
    height: 1rem;
    width: 1rem;
}

/**Hiding Time Icon*/
.date-time-picker .slds-input__icon-group_right {
    display: none;
}

.slds-input.slds-combobox__input + .slds-input__icon-group_right,
.slds-input[type='time']::-webkit-calendar-picker-indicator {
    display: none;
}
.slds-input[type='time']::-webkit-date-and-time-value {
    text-align: left;
    padding-left: 1rem;
}

.cCustomThemeLayout .curve-input .slds-input[type='time'],
.cCustomThemeLayout .curve-input .slds-input_faux.slds-combobox__input,
.cCustomThemeLayout .curve-input .slds-combobox__input.slds-input {
    height: 30px !important;
    width: 350px;
    display: flex;
    align-items: center;
    max-width: 100%;
    min-height: unset;
    font-size: 0.875rem;
    border-radius: 1rem;
    background: #fff;
    border: none;
    color: #595959;
}

.cCustomThemeLayout .curve-input .slds-input[type='time']:focus,
.cCustomThemeLayout .curve-input .slds-input[type='time']:focus-visible,
.cCustomThemeLayout .curve-input .slds-input_faux.slds-combobox__input:focus,
.cCustomThemeLayout .curve-input .slds-input_faux.slds-combobox__input:focus-within,
.cCustomThemeLayout .curve-input .slds-combobox__input.slds-input:focus,
.cCustomThemeLayout .curve-input .slds-combobox__input.slds-input:focus-within {
    outline: unset;
    box-shadow: unset;
}

.curve-input .slds-input_faux.slds-combobox__input {
    justify-content: flex-start;
    --slds-c-input-spacing-horizontal-end: 1rem;
}

.task-card .slds-card__footer {
    border-top: 1px solid #e9e9e9 !important;
}

.pp-change-pwd [lightning-input_input-host] {
    width: 92% !important;
}

.cCustomThemeLayout .slds-combobox__input {
    padding-left: 1rem;
}

c-pp-Study-Visit-Details-Card .slds-form-element:nth-child(2) .slds-checkbox .slds-checkbox__label {
    margin-left: 0.5rem;
}

.slds-checkbox .slds-checkbox_faux {
    -webkit-transition-property: none;
    -moz-transition-property: none;
    -o-transition-property: none;
    transition-property: none;
    border: 1px solid #b5b5b5;
}

.comm-checks .slds-checkbox .slds-checkbox__label {
    display: flex;
    align-items: center;
}

.comm-checks .slds-checkbox .slds-checkbox__label .slds-form-element__label {
    font-size: 0.875rem;
}

.comm-checks
    .slds-form-element__control
    .slds-checkbox
    [type='checkbox']:checked
    + .slds-checkbox__label
    .slds-checkbox_faux {
    position: relative;
}

/**Checked Checkbox CSS*/
.slds-checkbox [type='checkbox']:checked + .slds-checkbox__label .slds-checkbox_faux {
    background-color: #015ff1;
    border-radius: 2px;
    border: none;
    top: 1px;
}

.slds-form-element__control
    .slds-checkbox
    [type='checkbox']:checked
    + .slds-checkbox__label
    .slds-checkbox_faux:after {
    color: #015ff1;
    position: absolute;
    content: '';
    display: inline-block;
    transform: translate3d(-50%, -50%, 0) rotate(-45deg);
    height: 0.25rem;
    width: 0.5rem;
    top: 50%;
    left: 50%;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    border-radius: 0;
}

input:focus + .slds-checkbox__label > .slds-checkbox_faux {
    box-shadow: none;
}

/**Hover Event Checkbox CSS*/
.slds-checkbox [type='checkbox']:hover + .slds-checkbox__label .slds-checkbox_faux:before {
    border: 1px solid #015ff1;
    background-color: #ecf3ff;
    height: 16px;
    width: 16px;
    content: '';
    position: absolute;
    border-radius: 2px;
    top: -1px;
    left: -1px;
}

.slds-checkbox [type='checkbox']:checked:hover + .slds-checkbox__label .slds-checkbox_faux:before {
    background-color: #0557d5;
    border: 1px solid #015ff1;
    height: 16px;
    width: 16px;
    content: '';
    position: absolute;
    border-radius: 2px;
    top: 0;
    left: 0;
}

/**Disabled Checkbox CSS*/
.slds-checkbox [type='checkbox'][disabled] + .slds-checkbox__label .slds-checkbox_faux {
    border: 1px solid #d9d9d9 !important;
}

.slds-checkbox [type='checkbox'][disabled] + .slds-checkbox__label .slds-checkbox_faux:after,
.slds-checkbox [type='checkbox'][disabled] + .slds-checkbox__label .slds-checkbox--faux:after {
    border-color: #ffffff !important;
}

.slds-checkbox [type='checkbox'][disabled]:hover + .slds-checkbox__label .slds-checkbox_faux,
.slds-checkbox [type='checkbox'][disabled]:hover + .slds-checkbox__label .slds-checkbox_faux {
    border: 1px solid #d9d9d9 !important;
    background-color: #f2f2f2 !important;
}

.slds-checkbox
    [type='checkbox'][disabled]:hover
    + .slds-checkbox__label
    .slds-checkbox_faux:before {
    border: 1px solid #d9d9d9 !important;
    background-color: #f2f2f2;
}

.slds-checkbox [type='checkbox'][disabled]:checked + .slds-checkbox__label .slds-checkbox_faux {
    background-color: rgba(1, 95, 241, 0.4) !important;
    top: -1px;
    left: -1px;
    border: none !important;
    border-color: #ffffff !important;
}

.slds-checkbox
    [type='checkbox'][disabled]:checked:hover
    + .slds-checkbox__label
    .slds-checkbox_faux:before,
.slds-checkbox
    [type='checkbox'][disabled]:checked:hover
    + .slds-checkbox__label
    .slds-checkbox_faux {
    background-color: rgba(1, 95, 241, 0.4) !important;
    top: -1px;
    left: -1px;
    border: none !important;
}

/* Date Time Dropdown Alignment */

.slds-listbox.slds-dropdown {
    min-width: 165px;
}

.slds-listbox.slds-dropdown.slds-listbox_vertical .slds-listbox__option_plain {
    padding-left: 1.5rem;
}

.curve-input .slds-combobox .slds-input__icon-group_right {
    left: 0;
    right: unset;
    visibility: hidden;
}

/**Task Reminder Checkbox */
.task-reminder-pref
    .slds-checkbox
    [type='checkbox']:checked
    + .slds-checkbox__label
    .slds-checkbox_faux {
    background-color: #0768fd !important;
    border-radius: 2px;
    border: 1px solid #0768fd !important;
}

.task-reminder-pref
    .slds-checkbox
    [type='checkbox']:checked:hover
    + .slds-checkbox__label
    .slds-checkbox_faux:before {
    top: -1px;
    left: -1px;
}

.fadePlaceholder button span {
    opacity: 0.7;
}

/**Communication Preference Error Checkbox*/
.highlightErrorCheckbox .slds-checkbox .slds-checkbox_faux {
    border: 2px solid #e20000 !important;
    background-color: #ffffff !important;
    top: 1px !important;
    left: 0px !important;
}

.highlightErrorCheckbox
    .slds-checkbox
    [type='checkbox']:checked:hover
    + .slds-checkbox__label
    .slds-checkbox_faux:before,
.highlightErrorCheckbox
    .slds-checkbox
    [type='checkbox']:hover
    + .slds-checkbox__label
    .slds-checkbox_faux:before {
    background-color: #ffffff !important;
    border: 2px solid #e20000 !important;
    top: -2px !important;
    left: -2px !important;
}

@media all and (max-width: 768px) {
    .cCustomThemeLayout .apollo-btn,
    .cCustomThemeLayout .slds-input,
    .cCustomThemeLayout .slds-button_neutral,
    .cCustomThemeLayout .cRrInput.rri-container input,
    .cCustomThemeLayout .cRrSelect.rrs-container select,
    .cCustomThemeLayout input[type='text'],
    .cCustomThemeLayout input[type='password'],
    .cCustomThemeLayout input[type='email'] {
        height: 32px !important;
    }
    .pp-change-pwd [lightning-input_input-host] {
        width: 100% !important;
    }
}

/* Resource Page */
.resPage button {
    margin-top: 10px;
    margin-left: 5px;
}

/* Study/program Overview */

.study-program-anchor li{
    padding-left: 0px;
    padding-right: 30px;
}

.study-program-anchor .slds-tabs_default__item:after{
    right: 30px;
}

.study-program-anchor .slds-tabs_default__item.slds-is-active:after{
    background-color: #0768FD;
}

.study-program-anchor .slds-tabs_default__item.slds-is-active .slds-tabs_default__link{
    font-weight: 600 !important;
}

.study-program-anchor lightning-tab-bar ul{
    margin-right: 33px;
}

@media all and (max-width: 486px) {
    c-pp-Study-Visit-Details-Card .slds-card {
        width: 100%;
    }
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    /* box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.08); */
    box-shadow: none;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background: #999999;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: #999999;
}

/* Edit Task Input Disabled */
.create-task-input-container .slds-input:disabled{
    background: #F2F2F2 !important;
    color: #595959 !important;
    -webkit-text-fill-color: #595959 !important;
    opacity: 1 !important; /* required on iOS */
}

/* Resources */
.resDiscoverIcon lightning-primitive-icon svg{
    height: 16px;
    width: 16px;
    color: #015FF1;
}

/* Opt out page PP 2.0 */

.logo-block-mobile .rr-width-limiter{
    padding: 0px !important;
    background-color: transparent;
}

.opt-out-comm-pref, .opt-out-page-tech-support{
    padding-left: 5px;
}
.opt-out-comm-pref span.slds-checkbox{
    line-height: 28px;
}

.opt-out-page-tech-support span.slds-checkbox{
    line-height: 32px;
}

.opt-out-comm-pref .slds-form-element__label{
    height: 48px;
    color: #444444;
    font-family: "Proxima Nova";
    font-size: 16px !important;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -7px !important;
    margin-bottom: 16px;
    margin-left: 3px;
}

.opt-out-comm-pref .slds-checkbox__label{
    display: flex;
}

.opt-out-comm-pref-mobile .slds-form-element__label{
    height: 64px;
    color: #444444;
    font-family: "Proxima Nova";
    font-size: 16px !important;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -7px !important;
    margin-left: 3px;
}

.opt-out-comm-pref-mobile .slds-checkbox__label{
    display: flex;
    margin-bottom: 10px;
}

.opt-out-comm-pref-mobile span.slds-checkbox{
    line-height: 26px;
}

.opt-out-page-tech-support .slds-form-element__label{
    height: 19px;
    color: #444444;
    font-family: "Proxima Nova";
    font-size: 16px !important;
    letter-spacing: 0;
    line-height: 19px;
    margin-left: 3px;
}
  
