@media (max-width: 500px) {
    .rr-width-limiter.side-padding {
        padding: 0px !important;
        background-color: #F6F7FB;
    }

    .toastContainer > .forceToastMessage {
        width: 95% !important;
    }
}

/* Community_CSS_PP_Theme */

.slds-spinner_brand.slds-spinner:before,
.slds-spinner_brand.slds-spinner:after,
.slds-spinner--brand.slds-spinner:before,
.slds-spinner--brand.slds-spinner:after,
.slds-spinner_brand .slds-spinner__dot-a:before,
.slds-spinner_brand .slds-spinner__dot-b:before,
.slds-spinner_brand .slds-spinner__dot-a:after,
.slds-spinner_brand .slds-spinner__dot-b:after,
.slds-spinner--brand .slds-spinner__dot-a:before,
.slds-spinner--brand .slds-spinner__dot-b:before,
.slds-spinner--brand .slds-spinner__dot-a:after,
.slds-spinner--brand .slds-spinner__dot-b:after {
    background-color: #182a75 !important;
}

.cp-content {
    align-items: start;
}
.user-profile-icon .slds-icon_x-small{
    margin:8px 0 0 8px !important;
}

.cp-logo-block{
    margin: 50px auto auto;
}

.profile-info-input .slds-input{
    height: 2rem !important;
    box-sizing: border-box !important;
    border: 1px solid #d9d9d9 !important;
    border-radius: 16px !important;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 0%) !important;
}

.profile-info-btn .slds-button{
    color:#ffffff;
    height: 2rem !important;
    width:6rem !important;
    border-radius: 16px !important;
    background-color: #0768FD !important;
    box-shadow: 0 4px 16px 0 rgba(0,0,0,0.04), 0 4px 8px 0 rgba(7,104,253,0.32) !important;
    
}

.profile-info-error-input .slds-input{
    border: 1px solid rgba(226, 0, 0, 1) !important;
}

.round-combobox .slds-dropdown_fluid{
    min-width: 10rem !important;
}


.cp-login-title{
    font-size: 60px;
    font-weight: 500;
    line-height: 1;
    text-align: center;
}
.main-header-brand{
    background: linear-gradient(to bottom, #00839A 0%, #005587 100%);
	border-bottom-right-radius: 20px;
}

.mobile-menu-background{
    background: linear-gradient(to bottom, #00839A 0%, #005587 100%);
	border-bottom-right-radius: 20px;
}
.font-thickness {
    font-weight: 500;
}
@media (max-width: 500px){
    .rr-width-limiter .side-padding {
        padding-left: 0rem !important;
        padding-right: 0rem !important;
    }
}

/**Toast Container CSS*/
.toastContainer > .slds-theme--success {
    border-radius: 8px;
    background-color: #009D3F;
    
}

.toastContainer > .forceToastMessage {
    width: 40%;
    max-width: 1424px;
    min-height: 40px;
    min-width: 40%;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    text-align: initial !important;
    box-shadow: 0 8px 20px 0 rgba(0,0,0,0.3);
}

.toastContainer .toastTitle, .toastContainer .toastIcon {
    display: contents;
}

.toastMessage.forceActionsText {
    font-family: "Proxima Nova"!important;
    padding-left: 0.5rem;
}

.toastContainer .toastClose {
    top: auto;
    border-color: transparent;
}

.toastContainer .toastClose lightning-primitive-icon {
    color: #ffffff!important;
}

.toastContainer .toastTitle, .toastContainer .toastIcon .slds-icon_small {
    height: 1rem !important;
    width: 1rem !important;
}

.toastContainer .forceToastMessage .toastClose .slds-button__icon--large{
    height: 1rem !important;
    width: 1rem !important;
}
.masked .slds-input {
    -webkit-text-security: disc;
}

.ppCombobox button{  
    border-radius: 20px !important;
}

.anchor-container a{
    text-decoration: none !important;
}

.grayInfoIcon lightning-primitive-icon{
    color: #444444 !important;
}

.rr-min-body-height .rr-min-body-height {
    min-height: auto !important;
    padding-bottom: 35px !important;
}

.support-combobox button{
    border-radius: 20px;
}

.label-email-pass-match .slds-form-element__label{
    height: 48px;
    color: #000000;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 24px;
}

.cookie-accordion-border .slds-accordion__summary-action-icon{
    position: absolute;
    right: 0;
    top: 15px;
    height: 13px;
    width: 12px;
    color: #0768fd;
}
.cookie-accordion-paragraph{
    color: #444444;
    font-family: "Proxima Nova";
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 24px;
}
.slds-accordion__summary-content {
color: #0768fd!important;
}
.slds-accordion__content {
    overflow-x: scroll;
    max-height: 200px;
}
.cookie-accordion-border .slds-accordion__summary-heading .slds-button:focus {
    text-decoration: none !important;
    box-shadow: none;

}
.cookie-accordion-border lightning-primitive-icon svg {
   fill: #297dfd !important;  
}
