/*.slds-input.slds-combobox__input{
     color: #000000 !important;
    font-family: 'Proxima Nova';
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    height: 40px !important;
    display: inline-flex;
    align-items: center;
    font-weight:600 !important;
}
.slds-select , .slds-input {
    color: #000000 !important;
    font-family: 'Proxima Nova';
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    height: 40px !important;
    display: inline-flex;
    align-items: center;
    font-weight:600 !important;
}*/
.slds-input {
    color: #000000 !important;
    font-family: 'Proxima Nova';
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    height: 40px !important;
    display: inline-flex;
    align-items: center;
    font-weight:500 !important;
}
.slds-form-element__help, .slds-form-element__helper {
    display: block;
    white-space: nowrap;
    
}
.slds-datepicker table {
    table-layout: fixed !important;
    width:300px !important;
}
lightning-primitive-bubble{
    z-index: 10000000000 !important;
    /*background-color: #444 !important;*/
    font-family: "Proxima Nova" !important;
    font-size: 14px !important;
}


.slds-datepicker{
    max-width : none !important; 
    position:fixed !important;
}
.slds-has-error .slds-form-element__help {
    line-height: 1;
    width: 200px;
    white-space: normal;
}

.wi .slds-dropdown {
    font-size:16px;
    font-family: 'Proxima Nova';
    color:#000000;
}

/*.slds-dropdown{
    position:fixed !important;
}*/

