@page {
    size: A4 landscape;
    padding-top:60px;
    margin-right: -8px;
    margin-bottom:120px;
    @top-right {
    content: element(top-left-header);
    }
    @top-left {
    content: element(top-right-header);
    }
    @bottom-left { 
    content: element(footer_otherpages);
    }
    }
    @page :first {
    padding-top:0px;
    margin-left:-5px;
    margin-top:-5px;
    margin-right:-20px; 
    @top-right {
    /**/
    }
    @top-left {
    /**/
    }
    @bottom-left{
    padding-right:40px;
    padding-left:40px;
    content: element(footer);
    }
    }
    div.top-left-header {
    text-align: right;
    color: #005587;
    font-family: "Arial Unicode MS";
    font-size: 23px; 
    padding-top:40px;
    border-bottom:3px solid #F2F2F2;
    padding-bottom:5px; 
    margin-right:60px; 
    position: running(top-left-header);
    }
    div.top-right-header {
    text-align:left;
    color: #005587;
    padding-top:50px;
    padding-bottom:9.5px;  
    font-size: 12.8px;
    margin-left:6px;
    border-bottom:3px solid #F2F2F2;
    position: running(top-right-header);
    }
    .pagenumber:before {
    content: counter(page);
    }
    .pagecount:before {
    content: counter(pages);
    }
    div.footer {
    display: block;
    font-size:11px;
    text-align: center;
    color:#6e6e6e;
    font-family: Arial Unicode MS;
    margin-bottom:30px;
    padding-bottom:30px;
    margin-right:10px;
    position: running(footer);
    }
    .footer_otherpages{
    display: block;
    font-size:11px;
    text-align: center;
    color:#6e6e6e;
    font-family: Arial Unicode MS;
    margin-bottom:30px;
    padding-bottom:30px;
    margin-left:-12px;
    margin-right:40px;
    position: running(footer_otherpages);
    }
    .peInfo{
    height:40px;
    background-color: #F6F7FB;
    margin:0px 20px 10px 20px;
    }
    .footer_text{
    border-top:4px solid #E9E9E9;
    padding-top:10px;           
    font-size:10px;
    margin:0px 20px 10px 20px;
    text-align:center;                
    }
    .float-left{
    float:left;
    padding:10px;
    color: #000000;
    font-size: 13px;
    }
    .float-right{
    float:right;
    padding:12px;
    font-size: 10.5px;
    color: #444444;
    }
    .page-break {
    
    page-break-after:always;
    }
    .patient-portal {   
    color: #2B3942; 
    width:100%;
    font-size: 35px;
    text-align:center;
    margin-top:-50px;
    margin-bottom:50px;
    }
    .study-name {   
    color: #444444;  
    font-size: 23px;
    text-align:center;
    margin-bottom:20px;
    padding:0 150px;
    }
    .study-info {   
    color: #444444; 
    font-size: 15px;
    text-align:center;
    margin-bottom:50px;
    padding:0 240px;
    }
    .visit-date {   
    color: #6E6E6E;
    width:100%;
    font-size: 23px;
    text-align:center;
    }
    .datatab
    {
    margin-right:103px;
    }
    table, th, td {
    border-collapse: collapse;
    border: 1px solid #E9E9E9;
    }
    th{
    height: 33px;
    background-color: #F6F7FB;
    text-align: center
    }
	.rtlEnable {
   /* @noflip */  direction: rtl;
    unicode-bidi: bidi-override !important;
    direction: unset !important;
    text-align: right;
    margin-right: 22px;
}