.c-container {
    border: 1px solid #d8dde6;
    margin: 10px 0 20px 0;
}
.large {
    height: 10px;
}
.x-large {
    height: 10px;
}
.custom-box {
    text-align: center;
    background-color: #f4f6f9;
    padding: 1rem;
    border: 1px solid #d8dde6;
}
.icon-cont {
    box-sizing: border-box;
    height: 185px;
    border: 1px solid #d9d9d9;
    border-radius: 16px;
    background: linear-gradient(180deg, #ffffff 0%, #ffffff 100%);
    padding-bottom: 20px;
    width: 442px;
}
.icon-cont1 {
    box-sizing: border-box;
    height: 519px;
    width: 310px;
    border: 1px solid #d9d9d9;
    border-radius: 16px;
    background: linear-gradient(180deg, #ffffff 0%, #ffffff 100%);
}
.center {
    text-align: center;
}
.visit3 {
    color: #444444;
    font-family: 'Proxima Nova';
    letter-spacing: 0;
    line-height: 48px;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0;
    padding: 22px;
}

.visit3 lightning-formatted-date-time {
    font-size: 20px;
    color: #444444;
    font-family: 'Proxima Nova';
}

.dt-fsize {
    color: #444444;
    font-family: 'Proxima Nova';
    letter-spacing: 0;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 48px;
    font-weight: 300 !important;
}
.view-result {
    color: #2e7cf3;
}
.vertical {
    padding: 10px 0;
}
.padding-image {
    padding: 136px 0;
}
.what-to-expect {
    height: 32px;
    width: 217px;
    color: #444444;
    font-family: 'Proxima Nova';
    font-size: 18px;
    letter-spacing: 0;
    line-height: 32px;
    font-weight: 600;
}
.icon-siz {
    height: 32px !important;
    width: 32px !important;
}
.fasting {
    color: #595959;
    font-family: 'Proxima Nova';
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 32px;
}
.slds-grid_vertical-align-center,
.slds-grid--vertical-align-center {
    text-align: center;
    padding: 80px;
}

.name-style {
    color: #595959;
    font-family: 'Proxima Nova';
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 32px;
}

.scrollar {
    height: 20rem;
}

.icon-style {
    float: right;
    padding-right: 1rem;
}
a,
.slds-button {
    background: #297dfd !important;
    border-radius: 15px 0 0 15px;
    color: white;
}
.up-button {
    border-radius: 16px 0 0 16px;
    border: 1px solid #d9d9d9 !important;
    margin-left: 72px;
}

.active-button-background {
    color: white !important;
    background-color: #015ff1;
}

.inactive-button-background {
    color: #595959 !important;
    background-color: #ffffff !important;
}

.past-button {
    box-sizing: border-box;
    border: 1px solid #d9d9d9;
    border-radius: 0 16px 16px 0 !important;
    font-family: 'Proxima Nova';
    font-weight: 500;
    letter-spacing: 0;
    line-height: 24px;
    text-align: center;
    height: 32px;
    width: 109px;
}
.slds-button + .slds-button {
    margin-left: -1px;
    margin-top: -1px;
}
.scroll-bar {
    height: 30rem;
    border-radius: 4px;
}
.left-line {
    margin-left: -10px;
    height: 48px;
    width: 4px;
    border-radius: 32px;
    background-color: #009dd6;
}
.l-padding {
    margin-left: -25px;
}
.dv-line {
    border-left: 1px solid #d9d9d9;
    height: 495px;
    position: absolute;
    margin-left: 385px;
    top: 170px;
}
b,
strong,
dfn {
    font-weight: var(--lwc-fontWeightBold, 700);
    margin-left: -25px !important;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.08);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background: #999999;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: #999999;
}
.no-date {
    margin-left: -25px !important;
}
.image-result {
    height: 92px;
    width: 128px;
}
.image-result-visit {
    height: 197px;
    width: 270px;
}

@media all and (max-width: 486px) {
    .col1,
    .col3 {
        display: none;
    }
}

.active-custom-box-class {
    box-sizing: border-box;
    height: 80px;
    width: 313px;
    border: 1px solid #015ff1;
    border-radius: 16px;
    background-color: #ffffff;
    padding: 16px;
}

.inactive-custom-box-class {
    box-sizing: border-box;
    height: 80px;
    width: 313px;
    border: 1px solid #d9d9d9;
    border-radius: 16px;
    background-color: #ffffff;
    padding: 16px;
}

.top-padding {
    padding-top: 10px;
}

.left-grey-line {
    margin-left: -10px;
    height: 48px;
    width: 4px;
    border-radius: 32px;
    background-color: #999999;
}
