body {
    margin: 0;
}

.cardRTL {
    direction: rtl;
}

.resource-gutter {
    padding-right: 20px;
}

.resource-gutter-left {
    padding-left: 20px;
}

.res-container {
    height: auto;
    background: #f7f8fa;
}

.res-header {
    height: 48px;
    width: 340px;
    color: #444444;
    font-family: 'Proxima Nova';
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 48px;
}

.res-box-engage-container,
.res-box-relLinks-container,
.res-box-answers-container {
    box-sizing: border-box;
    height: 335px;
    width: auto;
    border: 1px solid #e9e9e9;
    border-radius: 16px;
    background-color: #ffffff !important;
    /* overflow-y: auto;
     padding: 10px 15px; 
    overflow-x: hidden; */
    position: relative;
}

.res-box-document-container {
    box-sizing: border-box;
    height: 335px;
    width: auto;
    border: 1px solid #e9e9e9;
    border-radius: 16px;
    background-color: #ffffff !important;
}

.res-explore-container {
    box-sizing: border-box;
    height: 607px;
    width: auto;
    border: 1px solid #e9e9e9;
    border-radius: 16px;
    background-color: #ffffff !important;
}

.engage-header,
.rel-header,
.explore-header,
.document-header,
.answers-header {
    height: 32px;
    width: auto;
    color: #444444;
    font-family: 'Proxima Nova';
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 48px;
}

.mb-8 {
    margin-bottom: 8px;
}

@keyframes sway {
    0% {
        transform: rotate(8deg);
    }
    50% {
        transform: rotate(-8deg);
    }
    100% {
        transform: rotate(8deg);
    }
}

.object {
    position: relative;
    animation: sway 2.4s infinite;
    animation-timing-function: ease-in-out;
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    transform-origin: top;
    left: 0;
    right: 0;
    height: 5%;
    z-index: 999;
    text-transform: uppercase;
}

.object-shape {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    background-color: lightgray;
    margin: 0 auto;
    position: relative;
    color: #fff;
    text-align: center;
    padding-top: 25px;
    font-weight: 800;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.object-shape span {
    font-size: 22px;
    color: white;
}

.object-rope {
    height: 100%;
    width: 5px;
    background-color: lightgray;
    content: '';
    display: block;
    margin-left: 50%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 500px;
    padding: 35vh 20px 20px 20px;
}

.logo {
    max-width: 300px;
}

p {
    font-family: sans-serif;
    text-align: center;
}

.message {
    margin-top: 40px;
}

.pad10 {
    padding: 10px;
    padding-bottom: 20px;
}

/* Scroll bar custom */
/* ::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #fff;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #999999;
} */

.crossed {
    background: linear-gradient(
            to top left,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0) calc(50% - 0.8px),
            #e9e9e9 50%,
            rgba(0, 0, 0, 0) calc(50% + 0.8px),
            rgba(0, 0, 0, 0) 100%
        ),
        linear-gradient(
            to top right,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0) calc(50% - 0.8px),
            #e9e9e9 50%,
            rgba(0, 0, 0, 0) calc(50% + 0.8px),
            rgba(0, 0, 0, 0) 100%
        );
}

.change-preferences {
    height: 24px;
    width: 118px;
    color: #015ff1;
    font-family: 'Proxima Nova';
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0;
    text-decoration: underline;
}
.change-preferences:hover {
    cursor: pointer;
}
.resource-container {
    height: 95px;
    width: 627px;
}
.url-disclaimer {
    height: 34px;
    width: 564px;
    color: #444444;
    font-family: 'Proxima Nova';
    font-size: 14px;
    letter-spacing: 0;
    line-height: 17px;
}
.contribute {
    height: 17px;
    width: 68px;
    color: #444444;
    font-family: 'Proxima Nova';
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 17px;
}
.btn {
    border-radius: 25px;
}
.input-container {
    box-sizing: border-box;
    height: 32px;
    width: 503px;
    border: 1px solid #d9d9d9;
    border-radius: 16px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0);
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.no-links-available {
    color: #999999;
    font-family: 'Proxima Nova';
    font-size: 13px;
    letter-spacing: 0;
    line-height: 24px;
    text-align: center;
    margin-top: 84%;
    text-align: center;
}
.no-links-availables {
    color: #999999;
    font-family: 'Proxima Nova';
    font-size: 13px;
    letter-spacing: 0;
    line-height: 24px;
    text-align: center;
    margin-top: 130%;
    text-align: center;
}
.empty-state {
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.right-align {
    float: right;
}

.newHeight {
    height: 607px;
}

.left-column {
    overflow-y: hidden;
}
