/**
 * Created by Igor Malyuta on 19.09.2019.
 */

.THIS.empty-assignments {
    background-color: antiquewhite;
}

.THIS .name-overflow {
    max-width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.THIS .uiInput--default {
    display: inline-block;
}

.THIS .uiInput--default .form-element__label {
    display: none;
}

.THIS .cell {
    background: white;
}

.THIS .cell-center {
    text-align: center;
}

.THIS .visit-plan .slds-form-element__label {
    display: block;
    margin-top: -24px;
    margin-left: 26px;
}

.THIS .slds-form-element__icon {
    padding-top: 0;
    vertical-align: middle;
}
