.scroll-bar-box {
    padding-top: 16px;
    padding-bottom: 8px;
    height: 100%;
    margin: 0 10px 0 10px;
}

.scroll-bar {
    height: 95%;
    border-radius: 4px;
    background-color: #fff;
}

.no-data-is-available {
    color: #999999;
    font-family: 'Proxima Nova';
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    height: 100%;
}

.no-links-available {
    color: #999999;
    font-family: 'Proxima Nova';
    font-size: 13px;
    letter-spacing: 0;
    line-height: 24px;
    text-align: center;
    text-align: center;
}

.center {
    text-align: center;
}
