/**
 * Created by Leonid Bartenev
 */
 .THIS.rr-table th {
    height: 43px;
    background-color: #f8f9fb;
    padding: 4px 10px;
}

.THIS.rr-table.rtl,
.THIS.rr-table.rtl th,
.THIS.rr-table.rtl td {
   /* @noflip */ text-align: right;
}

.THIS.rr-table td {
    color: #595959;
    padding: 2px 10px;
    height: 36px;
}

.THIS.rr-table tr:not:last-child td {
    border-bottom: 1px solid #eaeaea;
}

.THIS.rr-table a {
    color: #297dfd;
    font-size: 1rem;
    line-height: 21px;
}

/* @krishna Mahto - PEH-1379  */
.THIS .slds-form-element__icon {
    display: inline-block;
    position: absolute;
    padding-top: 0;
    vertical-align: top;
    line-height: 1;
    z-index: 1;
}

.THIS .ts-tab.disabled {
    background-color: #ffffff;
    pointer-events: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
.THIS .ts-tub-button.disabled {
    opacity: 0.6;
    pointer-events: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

@media all and (max-width: 768px) {
    .THIS {
        flex-direction: column;
    }
    .THIS .ts-tab-left {
        order: 2;
    }
    .THIS .ts-tab-right {
        order: 1;
        justify-content: flex-start;
    }
}

@media all and (max-width: 468px) {
    .THIS .ts-tab-right .ts-tab {
        min-width: 60px;
    }

    .THIS.ts-tab-container .ts-tab-right .ts-tab:first-child {
        padding: 10px 0 10px 36px;
        margin-left: 25px;
    }


}