.THIS .resource-footer {
	width: 100%;
	height: 50px;
	margin-top: auto;
}

.THIS.resource-card {
	display: flex;
	flex-direction: column;
	min-width: 565px;
	min-height: 645px;
}

.THIS .last-resource-container {
	margin-bottom: 20px !important;
}

.THIS .resource-card-title {
	height: 27px;
	color: #000000;
	font-family: "Proxima Nova";
	font-size: 16px;
	font-weight: 500;
	line-height: 27px;
	margin: 14px 0 18px 33px;
}

.THIS .resource-error-message {
	top: 50%;
	position: sticky;
	height: 26px;
	color: #999999;
	font-family: "Proxima Nova";
	font-size: 17px;
	line-height: 26px;
	text-align: center;
}