.cover {
    object-fit: cover;
    overflow: hidden;
    height: 100px;
    width: 100%;
}
.enage-image {
    cursor: pointer;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.enage-section-horizontal {
    height: 101px;
    background-color: #f2f2f2;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border: 1px solid #e9e9e9;
}

.engage-bottom-manage {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border: 1px solid #e9e9e9;
}

.resource-title {
    margin-left: 10px;
    padding-top: 10px;
    cursor: pointer;
    color: #444444;
    font-family: 'Proxima Nova';
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 20px;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
.resource-description {
    margin-left: 10px;
    padding-bottom: 5px;
    color: #999999;
    font-family: 'Proxima Nova';
    font-size: 13px;
    letter-spacing: 0;
    line-height: 20px;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
@media screen and (max-width: 768px) {
    .cover {
        height: 120px;
    }
    .enage-section-horizontal {
        height: 122px;
    }
}