.THIS {
    text-align: center;
    margin-top: 1rem;
}

.THIS img {
    width: 100%;
    height: 100%;
}

.THIS > p {
    font-size: 14px;
    color: #cccccc;
    margin: 4px 0;
}

.THIS .prfile-img-stub {
    width: 100px;
    min-height: 50px;
    margin: 10px auto;
}

.THIS .slds-avatar {
    border-radius: 100%;
    min-width: 55px;
    width: 55px;
    height: 55px;
}

.THIS .inputFile {
    position: absolute;
    left: 0;
    opacity: 0;
    top: 0;
    bottom: 0;
}

.THIS .prfile-btn-container {
    display: flex;
    justify-content: space-around;
}

.THIS .profileLabel {
    color: #0768fd;
    font-family: 'Proxima Nova';
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 24px;
    text-align: center;
    margin-right: 3px;
}
.THIS .profileLabel:hover {
    background-color: #eef5ff;
}
.THIS .profileLabel-ltr {
    margin-left: -14px;
}
.THIS .profileLabel-rtl {
    margin-right: 20px;
}

.THIS .btn-upload-photo {
    position: relative;
    margin: 0 auto;
    cursor: pointer;
    display: flex;
    align-items: flex-end;
}

.THIS .btn-upload-photo svg {
    width: 20px;
    height: 22px;
    fill: #999999;
    margin-right: 5px;
    flex-shrink: 0;
}

.THIS .btn-upload-photo .input-control {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    cursor: pointer;
}

.THIS .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.THIS .inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
    cursor: pointer;
}

.THIS .inputfile:focus + label,
.THIS .inputfile + label:hover {
    background-color: red;
}

.THIS .custom-file-upload {
    display: inline-block;
    padding: 6px 0 0 20px;
    cursor: pointer;
    color: blue;
}
.THIS .custom-file-uploadRTL {
    display: inline-block;
    padding: 6px 17px 0px 0px;
    cursor: pointer;
    color: blue;
}

.THIS .hideInput {
    position: absolute !important;
    left: 0 !important;
    opacity: 0 !important;
    top: 0 !important;
    bottom: 0 !important;
    width: 100% !important;
}


.THIS .slds-avatar .slds-icon_container {
    background-color: mediumvioletred;
}

.THIS .avatar {
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.THIS .username {
    height: 20px;
    color: #000000;
    font-family: 'Proxima Nova';
    font-size: 17px;
    margin-left: 18px;
    max-width: 76%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.THIS .usernameRTL {
    height: 20px;
    color: #000000;
    font-family: 'Proxima Nova';
    font-size: 17px;
    margin-right: 18px;
    max-width: 76%;
    overflow: hidden;
    text-overflow: ellipsis;
}
/**
 * Created by Nargiz Mamedova on 6/10/2020.
 */

.THIS .slds-icon-standard-avatar {
}

.THIS.arrow-down {
    height: 6px;
    width: 8px;
    cursor: pointer;
    margin-left: 9px;
}

.THIS .small-avatar {
    height: 20px;
    width: 18px;
}

/**
 * Created by Nargiz Mamedova on 6/10/2020.
 */

.THIS.header-container {
    width: 315px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid #f8f9fb;
}

.THIS .avatar-icon {
    background-color: #df216d;
    height: 55px;
    min-width: 55px;
    border-radius: 100%;
}
.THIS .noAvatar-icon {
    border-radius: 100%;
    border: 0.1px solid lightgrey;
    width: 55px;
    height: 55px;
}

.THIS .slds-avatar_large,
.THIS .slds-avatar--large {
    width: 55px;
    height: 100%;
}

.THIS .delegate-avatar {
    height: 38px;
    width: 38px;
    margin-top: 15%;
    margin-left: 15%;
}

.THIS .single-avatar {
    height: 24px;
    width: 21px;
    margin-top: 27%;
}

.THIS .user-name {
    color: #000000;
    font-family: 'Proxima Nova';
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 5px;
}

.THIS .user-mode {
    color: #595959;
    font-family: 'Proxima Nova';
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    margin-bottom: 15px;
}

.THIS .photo-label {
    text-align: left;
    width: 100%;
}
.THIS .photo-labelRTL {
 /* @noflip */    text-align: right;
    width: 100%;
}
.THIS .photo-label-rtl {
   /* @noflip */  text-align: right;
   /* @noflip */  width: 100%;
   /* @noflip */  margin-right: 17px;
}
.THIS .edit {
    /*color : blue;*/
}
/* Dropdown Button */
.THIS .dropbtn {
    background-color: white;
    color: #0065ff;
    /* padding: 16px;*/
    border: none;
    cursor: pointer;
    font-family: 'Proxima Nova';
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 24px;
    text-align: center;
    padding-left: 17px;
}
.THIS .remove {
    font-size: 16px;
    color: #0768fd;
    font-family: 'Proxima Nova';
    letter-spacing: 0;
    line-height: 24px;
    text-align: center;
    font-weight: 500;
    margin-left: 3px;

    /*padding: 20px;*/
    /*margin-left:-12px;*/
    /*display: inline-block;*/
    /*padding: 6px 0 0 8px;*/
    cursor: pointer;
}
.THIS .remove:hover {
    background-color: #eef5ff;
}
.THIS .noProfile {
    font-size: 16px;
    padding: 20px;
    color: grey;
    font-weight: 600;
    margin-left: -12px;
}
.THIS .remove-photo-disabled {
    opacity: 0.4;
    color: #0768fd;
    font-family: 'Proxima Nova';
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 24px;
    text-align: center;
    margin-left: 1px;
}
.THIS .slds-icon-text-default {
    fill: rgb(21, 137, 238);
}
.THIS .slds-icon_small {
    width: 0.75rem;
    height: 0.75rem;
    line-height: 1;
    margin-left: 8px;
}

/* Dropdown button on hover & focus */
.THIS .dropbtn:hover {
    background-color: #f6f7fb;
    border: none;
}
.THIS .dropbtn:focus {
    background-color: white;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.THIS .dropdown {
    position: relative;
    display: inline-block;
    padding-left: 5px;
}

/* Dropdown Content (Hidden by Default) */
.THIS .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 170px;
    width: 170px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding-left: 17px;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
}

/* Links inside the dropdown */
.THIS .dropdown-content a {
    color: #444;
    /* padding: 12px 16px;*/
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.THIS .dropdown-content a:hover {
    background-color: white;
}
.THIS .divider-vertical-standard-line {
    margin-right: 2px;
    color: rgb(212, 212, 212);
    height: 14px;
    font-size: 16px;
    font-weight: 600;
    background-color: rgb(255 255 255);
    width: 1px;
    margin-top: 6px;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.THIS .show {
    display: block;
}
.THIS .hide {
    display: none;
}

@media all and (max-width: 500px) {
    .THIS .username {
        height: 20px;
        color: #000000;
        font-family: 'Proxima Nova';
        font-size: 15px;
        margin-left: 18px;
        max-width: 76%;
        overflow: visible !important;
        text-overflow: ellipsis;
        padding-bottom: 2px;
    }
    .THIS .usernameRTL {
        height: 20px;
        color: #000000;
        font-family: 'Proxima Nova';
        font-size: 15px;
        margin-right: 18px;
        max-width: 76%;
        overflow: visible !important;
        text-overflow: ellipsis;
        padding-bottom: 2px;
    }
    .THIS .custom-file-upload {
        display: inline-block;
        padding: 6px 0 0 20px;
        cursor: pointer;
        color: blue;
        padding-top: 17px;
    }
    .THIS .custom-file-uploadRTL {
        display: inline-block;
        padding: 6px 17px 0px 0px;
        cursor: pointer;
        color: blue;
        padding-top: 17px;
    }
}