.THIS {
    text-align: center;
    margin-top: 1rem;
}

.THIS > p {
    font-size: 14px;
    color: #CCCCCC;
    margin: 4px 0;
}


.THIS .prfile-img-stub {
    width: 100px;
    min-height: 50px;
    margin: 10px auto;
}
.THIS .slds-avatar{
    border-radius: 100%;
    width: 56px;
    height: 56px;
}

.THIS .inputFile {
    position: absolute;
    left: 0;
    opacity: 0;
    top: 0;
    bottom: 0;
}

.THIS .prfile-btn-container {
    display: flex;
    justify-content: space-around;
}

.THIS .profileLabel {
    color: #0768FD;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 24px;
    text-align: center;
}

.THIS .btn-upload-photo {
    position: relative;
    margin: 0 auto;
    cursor: pointer;
    display: flex;
    align-items: flex-end;
}

.THIS .btn-upload-photo svg {
    width: 20px;
    height: 22px;
    fill: #999999;
    margin-right: 5px;
    flex-shrink: 0;
}

.THIS .btn-upload-photo .input-control {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    cursor: pointer;
}

.THIS .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.THIS .inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
    cursor: pointer;
}

.THIS .inputfile:focus + label,
.THIS .inputfile + label:hover {
    background-color: red;
}


.THIS .custom-file-upload {
    display: inline-block;
    padding: 6px 0 0 20px;
    cursor: pointer;
    color: blue;
}

.THIS .hideInput {
    position: absolute !important;
    left: 0 !important;
    opacity: 0 !important;
    top: 0 !important;
    bottom: 0 !important;
    width: 100% !important;

}


.THIS .slds-avatar .slds-icon_container {
    background-color: mediumvioletred;
}

.THIS .avatar {
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.THIS .username {
    height: 20px;
    width: 86px;
    color: #000000;
    font-family: "Proxima Nova";
    font-size: 17px;
    letter-spacing: 0;
    line-height: 20px;
    margin-left: 18px;
  }
/**
 * Created by Nargiz Mamedova on 6/10/2020.
 */

.THIS .slds-icon-standard-avatar {
}

.THIS.arrow-down{
    height: 6px;
    width: 8px;
    cursor: pointer;
    margin-left: 9px;
}

.THIS .small-avatar{
    height: 20px;
    width: 18px;
}

/**
 * Created by Nargiz Mamedova on 6/10/2020.
 */

.THIS.header-container{
    width: 315px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid #F8F9FB;
}

.THIS .avatar-icon{
    background-color: #DF216D;
    height: 55px;
    width: 55px;
    border-radius: 100%;
}
.THIS .noAvatar-icon{
    border-radius: 100%;
    border: 0.1px solid lightgrey;
    
}

.THIS .slds-avatar_large,
.THIS .slds-avatar--large {
    width: 55px;
    height: 55px;
}

.THIS .delegate-avatar{
    height: 38px;
    width: 38px;
    margin-top: 15%;
    margin-left: 15%;
}

.THIS .single-avatar {
    height: 24px;
    width: 21px;
    margin-top: 27%;
}

.THIS .user-name{
    color: #000000;
    font-family: "Proxima Nova";
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 5px;
}

.THIS .user-mode{
    color: #595959;
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    margin-bottom: 15px;
}