.page-section {
    border: solid 1px #ccc;
    padding: 1rem;
}
.page-header,
.page-footer {
    height: 50px;
}
.page-main {
    background: #f8f8f8;
}
.page-left,
.page-right {
    background: #f0efef;
}
.po-fontsize {
    color: #444444;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 12px;
}
.margin-top-bottom-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.visit {
    box-sizing: border-box;
    height: 88px;
    width: 88px;
    border: 1px solid #e9e9e9;
    border-radius: 16px;
    background: linear-gradient(180deg, #00a3e0 0%, #005587 100%);
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.04);
}
.tasks {
    box-sizing: border-box;
    height: 88px;
    width: 88px;
    border: 1px solid #e9e9e9;
    border-radius: 16px;
    background: linear-gradient(180deg, #e7a0c6 0%, #c226a3 61.66%, #9c1c82 100%);
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.04);
}
.updates {
    box-sizing: border-box;
    height: 88px;
    width: 88px;
    border: 1px solid #e9e9e9;
    border-radius: 16px;
    background: linear-gradient(180deg, #00649e 0%, #005587 39.92%, #003346 100%);
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.04);
    position: relative;
}
.progress {
    box-sizing: border-box;
    height: 88px;
    width: 88px;
    border: 1px solid #e9e9e9;
    border-radius: 16px;
    background: linear-gradient(180deg, #00bfb3 0.04%, #077b85 45.44%, #032a2d 100%);
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.04);
}
.vline {
    border-left: 1px solid #e9e9e9;
    height: 32px;
    width: 1px;
}
.bord-top {
    border-top: 6px solid #20b2aa;
    margin-top: 20px;
}
.bc {
    color: blue;
    margin-top: 30px;
}
.icon-marg {
    height: 35px;
    width: 35px;
    margin-left: 25px !important;
    margin-top: 25px !important;
}
.icon-updates {
    margin-left: 30px !important;
    margin-top: 11px !important;
    text-align: center;
    width: 25px;
    height: 25px;
}
.icon-progress {
    margin-left: 31px !important;
    margin-top: 11px !important;
    text-align: center;
    width: 25px;
    height: 25px;
}
.icon-update-section-small {
    margin-left: 32px !important;
    margin-top: 11px !important;
    text-align: center;
    width: 25px;
    height: 25px;
}
.icon-update-section-large {
    margin-left: 28px !important;
    margin-top: 18px !important;
    width: 25px;
    height: 18px;
}

.p-text {
    margin-top: 10px;
    height: 24px;
    width: 100%;
    color: #ffffff;
    font-family: 'Proxima Nova';
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 24px;
    text-align: center;
    word-wrap: break-word;
}

.p-text-televisit {
    margin-top: 10px;
    height: 24px;
    width: 100%;
    color: #ffffff;
    font-family: 'Proxima Nova';
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 24px;
    text-align: center;
    word-wrap: break-word;
}

.v-line {
    border-left: 4px solid #005587;
    height: 40px;
}

.svg-icon-with-text {
    top: 6px;
    position: relative;
}

.border-padding {
    padding-right: 60px;
}

/*  */
.vertical {
    border-left: 4px solid #005587;
    height: 38px;
    position: relative;
    margin-top: 25px;
    margin-left: 46%;
}
.task-pink {
    border-left: 4px solid #c627a6;
    margin-top: 50px;
}
.progress-green {
    border-left: 4px solid #044b51;
    margin-top: 50px;
}
.updates-darkblue {
    border-left: 4px solid #003346;
    margin-top: 50px;
}
.around-small-custom {
    padding: 12px 22px 12px 0px;
}

.around-right-zero {
    padding-right: 0px;
}

.taskIconPosition {
    padding-top: 14px !important;
    margin-left: 29px !important;
}
.update-circle {
    background-color: #e20000;
    border: 1.5px solid #ffff;
    height: auto;
    min-width: 24px;
    border-radius: 12px;
    position: absolute;
    text-align: center;
    right: -6px;
    top: -10px;
}
.update-count {
    color: #ffffff;
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    font-family: 'Proxima Nova';
    text-align: center;
}
.update-count-font {
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    padding: 0px 7px;
}
.pad-left {
    margin-left: -30px !important;
}

.televisit-button {
    box-sizing: border-box;
    border: 1px solid #d9d9d9;
    /* border-radius: 0 16px 16px 0; */
    font-family: 'Proxima Nova';
    font-weight: 600;
    letter-spacing: 0;
    line-height: 24px;
    text-align: center;
    height: 32px;
    /*min-width: 109px;*/
    padding: 0 36px;
    width: auto;
    margin-left: -1px;
    margin-bottom: 10px;
    font-size: 14px;
}
@media all and (min-width: 768px) and (max-width: 1024px) {
    .televisit-button {
        padding: 0px 20px !important;
    }
    .visit-button {
        padding: 0px 20px !important;
    }
}
.visit-button {
    /* border-radius: 16px 0 0 16px; */
    border: 1px solid #d9d9d9;
    font-size: 14px;
    padding: 0px 36px;
    font-weight: 600;
}

.border-radius-rtl {
    border-radius: 0 16px 16px 0;
}

.border-radius {
    border-radius: 16px 0 0 16px;
}

.mr-auto {
    margin-right: auto;
}

.active-button-background {
    color: white;
    background-color: #015ff1;
    border-color: #015ff1;
}

.inactive-button-background {
    color: #595959;
    background-color: #ffffff;
}

.inactive-button-background:hover,
.inactive-button-background:focus {
    background-color: #ecf3ff;
    border-color: #0557d5;
}

.active-button-background:hover,
.active-button-background:focus {
    background-color: #0557d5;
}

.upcomingheader {
    height: 3.14%;
    color: #444444;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 32px;
}

.taskHeader {
    height: 3.14%;
    color: #444444;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 32px;
}

.card-wrap {
    padding: 0;
}
.container-card {
    background-color: #f6f7fb;
    border-top-color: #00a3e0;
    border-top-width: 8px;
    padding: 0;
    border-radius: 7px;
    /* width: 412px; */
    height: 416px;
}

.overflow-scroll {
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 1rem 0 1rem;
}
.upcoming-card {
    /*background: rgb(248, 249, 251);*/
    max-width: 468px;
    margin: 10px auto 0 auto;
    height: auto;
    /*border: 1px solid lightgrey;*/
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border-top-color: #005587;
    background: linear-gradient(to bottom, #005587 32px, #005587 32px, #f8f9fb 0%, #f8f9fb 100%);
}

.uc-text-mobile {
    /*margin-top: 6px;*/
    font-family: 'Proxima Nova';
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.5;
    text-align: center;
    color: #ffffff;
    height: 32px;
    letter-spacing: 0.5px;
    line-height: 32px;
}
.progressTab {
    max-width: 468px;
    margin: 10px auto 0px auto;
    height: 32px;
    margin-top: 13px;
    border-radius: 20.5px 20.5px 0 0;
    background-color: #044b51;
    color: #ffffff;
    font-family: 'Proxima Nova';
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.5px;
    line-height: 32px;
    text-align: center;
}

.marginbottom {
    margin-bottom: -50px;
}
.progressIconPosition {
    padding-top: 7px !important;
    margin-left: 24px !important;
}
.tablet-margin {
    margin: 10px auto 0 auto !important;
}
.ipad-width {
    max-width: 468px;
    margin: auto;
}
@media (max-width: 500px) {
    .progressTab {
        margin: 10px 10px 0px 10px;
    }
    .upcoming-card {
        margin: 10px 10px 0px 10px;
    }
    .progress-container {
        margin: 0px 10px 0px 10px !important;
    }
}

@media all and (max-width: 380px) {
    .mobileSet {
        zoom: 0.97;
    }
}
@media all and (max-width: 372px) {
    .mobileSet {
        zoom: 0.95;
    }
}
@media all and (max-width: 362px) {
    .mobileSet {
        zoom: 0.93;
    }
}
@media all and (max-width: 350px) {
    .mobileSet {
        zoom: 0.91;
    }
}
@media all and (max-width: 342px) {
    .mobileSet {
        zoom: 0.89;
    }
}
@media all and (max-width: 332px) {
    .mobileSet {
        zoom: 0.87;
    }
}
@media all and (max-width: 326px) {
    .mobileSet {
        zoom: 0.85;
    }
}
