.po-container {
  border: 1px solid #d8dde6;
  margin: 10px 0 20px 0;
}
.page-section {
  border: solid 1px #ccc;
  padding: 1rem;
}
.page-header,
.page-footer {
  height: 50px;
}
.page-main {
  background: #f8f8f8;
}
.page-left,
.page-right {
  background: #f0efef;
}
.po-fontsize {
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 38px;
}
.margin-top-bottom-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
/*  mobile css*/
.bg-cards{
  background-color: #F6F7FB;
}
.visit{
  margin-left: 9px;
  box-sizing: border-box;
  height: 88px;
  width: 88px;
  border: 1px solid #E9E9E9;
  border-radius: 16px;
  background: linear-gradient(180deg, #00A3E0 0%, #005587 100%);
  box-shadow: 0 4px 16px 0 rgba(0,0,0,0.04);
}
.tasks{
  box-sizing: border-box;
  height: 88px;
  width: 88px;
  border: 1px solid #E9E9E9;
  border-radius: 16px;
  background: linear-gradient(180deg, #E7A0C6 0%, #C226A3 61.66%, #9C1C82 100%);
  box-shadow: 0 4px 16px 0 rgba(0,0,0,0.04);
}
.updates{
  box-sizing: border-box;
  height: 88px;
  width: 88px;
  border: 1px solid #E9E9E9;
  border-radius: 16px;
  background: linear-gradient(180deg, #00649E 0%, #005587 39.92%, #003346 100%);
  box-shadow: 0 4px 16px 0 rgba(0,0,0,0.04);
}
.progress{
  box-sizing: border-box;
  height: 88px;
  width: 88px;
  border: 1px solid #E9E9E9;
  border-radius: 16px;
  background: linear-gradient(180deg, #00BFB3 0.04%, #077B85 45.44%, #032A2D 100%);
  box-shadow: 0 4px 16px 0 rgba(0,0,0,0.04);
}
.vl {
  border-left: 1px solid #E9E9E9;
  height: 32px;
  width: 1px;
}
.bord-top{
  border-top: 6px solid #20B2AA;
  margin-top: 20px;
}
.bc{
  color: blue;
  margin-top: 30px;
}