/**
 * Created by dmytro.fedchyshyn on 02.09.2019.
 */

/**
 * Created by Igor Malyuta on 08.04.2019.
 */
.THIS.sv-panel {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
}

.THIS .sv-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 9px;
}

.THIS .sv-title{
    font-size: 16px;
    font-weight: 600;
    line-height: 27px;
}

.THIS .sv-btn {
    box-shadow: 0 4px 8px 0 rgba(41, 125, 253, 0.16),
    0 4px 4px 0 rgba(0, 0, 0, 0.04),
    0 8px 16px 0 rgba(41, 125, 253, 0.32);
}

.THIS .sv-body{
    min-height: 220px;
    position: relative;
}




