.title {
    height: 32px;
    width: 644px;
    color: #000000;
    font-family: "Proxima Nova";
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 32px;
}
.bar {    
    height: 4px;
    background: linear-gradient(270deg,#0076ae,#250056);
    position: relative;
}