.title {
    height: 32px;
    width: 644px;
    color: #000000;
    font-family: "Proxima Nova";
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 32px;
}
.bar {    
    height: 4px;
    background: linear-gradient(270deg,#0076ae,#250056);
    position: relative;
}

.participants_modal{
    width: 80%;
    border-radius: 3px;
}
@media all and (max-width: 768px) {
    .participants_modal{
        width: 100%;
        border-radius: 3px;
    }
}
@media screen and  (orientation: portrait) and (min-width: 769px) and (max-width: 1139px)   {
    .participants_modal{
        margin-top: 19rem;
    }
}
@media screen and  (orientation: landscape) and (min-width: 840px) and (max-width: 1280px)   {
    .modelclosetab{
        padding-left: 0rem;
        margin-left: -0.5rem;
    }
}