/**
 * Created by Andrii Kryvolap.
 * Updated by Sumit Surve.
 */
.THIS .db-quick-actions-container{
    margin-top: 25px;
}
.THIS .db-quick-actions-container-participant{
    margin-top: -208px;
}

.THIS.pi-picklist-container{
    padding-bottom: 2%;
    padding-left: 12px;
}

.THIS .picklist-block{
    width:251px;
}

@media all and (max-width: 1024px) {
    .THIS .db-quick-actions-container-participant{
        margin-top: 24px;
    }

}

@media all and (max-width: 500px){
    .THIS.pi-picklist-container{
        padding-right: 12px;
    }

}