/**
* Created by Andrii Kryvolap.
* Updated by Sumit Surve.
* Updated by E Srinath.
*/
.THIS .db-quick-actions-container {
    margin-top: 25px;
}
.THIS .db-quick-actions-container-participant {
    margin-top: -208px;
}

.THIS.pi-picklist-container {
    padding-bottom: 2%;
    padding-left: 12px;
    display: inline-flex; /* added for REF-2611 bug fixing */
    flex-wrap: wrap; /* added for REF-2611 bug fixing */
}
.THIS .rtl {
    /* @noflip */  direction: rtl;
}
.THIS .picklist-block {
    width: 251px;
}

@media all and (max-width: 1024px) {
    .THIS .db-quick-actions-container-participant {
        margin-top: 24px;
    }
}

@media all and (max-width: 768px) {
    .THIS.db-section > .slds-col:nth-child(-n + 2) {
            min-width: 100%;
        }
    }       
    @media (max-width: 768px) {

        .THIS.pi-picklist-container {
             padding-right: 0;
             width: 100%;
             padding-left: 0;
             display: block;
             margin-right: 0;
             margin-left: 0;
                 }
     
      .THIS.pi-picklist-container .slds-p-right_large {
          padding-right: 0;
      }
     
      .THIS .cRrSelect.rrs-container {
                width: 100%;
      }
     
      .THIS.cRrSelect.rrs-container:first-child {
                margin: 1rem 0 .5rem;
      } }
  