/**
 * Created by Andrii Kryvolap.
 */

.THIS {
    margin-bottom: 1.5rem;
}

.THIS .db-quick-actions-container{
    margin-top: 25px;
}


@media screen and (max-width: 550px){
    
    .THIS > .slds-col {
        min-width: 100%;
    }
    
    .THIS .rr-white-panel {
        padding: 0!important;
    }
    
    .THIS .cDashboardTimeWaitingContact {
        margin-bottom: 25px;
    }
    
    .THIS .dqa-view-more {
        height: 25px;
        padding: 0;
    }
}