/**
 * Created by Leonid Bartenev
 */

.THIS.reviw-status {
    white-space: nowrap;
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
}

.THIS.reviw-status.green {
    color: #00c82b;
}

.THIS.reviw-status.red {
    color: #e63f5b;
}

.THIS.reviw-status .rr-icon-default {
    width: 12px;
    height: 12px;
    margin-right: 4px;
}

.THIS.reviw-status.green .rr-icon-default {
    fill: #00c82b;
}

.THIS.reviw-status.red .rr-icon-default {
    fill: #e63f5b;
}
