.combobox-filter {
    color: grey;
}
.filterDiv {
    background-color: white;
    opacity: 1;
    position: absolute;
    left: 1px;
    top: 60px;
    z-index: 25;
    /*width: 310px;
    margin-left: 15px !important;*/
}
.btn {
    height: 50px;
}
.righDiv {
    position: absolute;
    right: 15px;
    font-size: 14px;
    line-height: 24px;
}
@media screen and (orientation:landscape)
and (max-device-width: 898px) 
{
    .filter-landscape{
     width: 100%;
    }
}