.THIS .h_font{
	color: #595959;
}

.THIS.myPart{
	color: black;
	font-weight: 600;
	font-size: 14px;
	padding-bottom: 15px;
	display: flex;
	justify-content: space-between;
}

.THIS .switchButton {
	display: inline-block;
	margin-top: -3px;
}

.THIS.ListViewHead {
    display:flex;
    justify-content: space-between;
    margin-bottom: 1.0rem;
}

.THIS.DiversityMessage {
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 20px;
}

@media all and (max-width: 360px) {
    .THIS.ListViewHead  span:first-child {
        width: 40%
    }
    
}