.THIS .h_font {
    color: #595959;
}

.THIS .vp-navigation{
    margin-bottom: 1.0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.THIS.myPart {
    color: black;
    font-weight: 600;
    font-size: 14px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
}
.THIS.arabic {
    direction: rtl;
    padding-bottom: 100px;
}
.THIS.english {
    padding-bottom: 100px;
}
.THIS .switchButton {
    display: inline-block;
    margin-top: -3px;
}

.THIS.ListViewHead {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.0rem;
	align-items: center;
}

.THIS.ListViewHead > span:first-child {
    font-size: 13px;
    font-weight: 600;
    color: #000;
    line-height: 1;
}
.THIS.DiversityMessage {
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 20px;
}


.THIS .navigation-breadcrumbs {
    font-weight: 600;
    font-size: 13px;
}

.THIS .navigation-breadcrumbs-mes {
    font-weight: 700;
    font-size: 13px;
}

.THIS.ListViewHead > span:first-child {
	font-size: 13px;
	font-weight: 600;
	color: #000;
	line-height: 1;
}

.THIS .check{
    height: 16px;
    width: 16px;
    padding-bottom: 2px;
    padding-right: 4px;
}

@media all and (max-width: 500px) {
    .THIS.ListViewHead {
        margin-top: 12px;
    }

    .THIS.ListViewHead span:last-child a {
        white-space: nowrap;
    }
}
@media all and (max-width: 500px) {
    .THIS.ListViewHead {
        margin-top: 12px;
    }

    .THIS.ListViewHead span:last-child a {
        white-space: nowrap;
    }
}