/**
 * Created by Igor Malyuta on 12.04.2019.
 */
.THIS.sv-body {
    /* padding-bottom: 50px; */
    background: #fff;
    border-radius: 0 0 4px 4px;
    border: 1px solid #e9e9e9;
    border-width: 0 1px 1px 1px;
    box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.04);
    margin-top: -15px;
}
.THIS .cRRTable.rr-table .wrapText {
    /* white-space: nowrap; */
    word-break: break-word;
    text-align: left;
    line-height: inherit;
}

.THIS.sv-body .rr-white-panel {
    border: none;
}

.THIS.sv-body.hidden {
    display: none;
}

.THIS .tt-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    padding: 20px 0 15px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.THIS .cRRTable.rr-table td {
    border-bottom: 1px solid #eaeaea;
    min-height: 45px;
}

.THIS th {
    font-size: 14px;
    line-height: 21px;
}

.THIS .cRRIconSplitter.icons-container {
    min-height: 32px;
    flex-wrap: wrap;
    overflow: visible;
    height: auto;
}

.THIS .rtl.cRRTable th,
.THIS .rtl.cRRTable td {
    padding: 0 10px;
    /*@noflip*/
    text-align: right;
}

.THIS .cRRTable.rr-table tr td.sv-t-reminder {
    color: #297dfd;
    cursor: pointer;
    width: max-content;
}

.THIS .sv-t-reminder {
    width: max-content;
}

.THIS .cRRIconSplitter .icon-item:first-child {
    margin-left: 0;
}

.THIS .cRRIconSplitter .dots {
    display: none;
}

.THIS .cRRIconSplitter .icons-row {
    margin-right: 1rem;
    position: relative;
}

.THIS .cRRIconSplitter .icon .tooltiptext {
    left: -50px;
}

.THIS .svl-icon {
    height: 20px;
    width: 32px;
    margin: 8px 0;
    cursor: pointer;
}

.THIS .pagination {
    margin-top: 20px;
    margin-bottom: 15px;
}

.THIS .invisible {
    display: none;
}

.THIS .no-visits-message {
    margin-bottom: 1.5em;
}

.THIS .select-container {
    display: flex;
    padding: 0 2% 2% 25px;
    align-items: center;
    color: #666666;
}

.THIS .select-list {
    margin-left: 1%;
    height: max-content;
}

.THIS .visitsLabel {
    display: none;
}

.THIS .uiScrollerWrapper.scrollable {
    overflow: visible;
}

@media (max-width: 768px) {
    .THIS .rr-table .tableHeader {
        display: none;
    }

    .THIS .uiScrollerWrapper.scrollable {
        padding-left: 1rem;
    }

    .THIS .rr-table tr {
        display: flex;
        flex-direction: column;
    }

    .THIS .cRRTable.rr-table tr td {
        width: 100%;
        border-bottom: none;
        color: #000;
    }

    .THIS .cRRTable.rr-table tr td.sv-t-name {
        padding-left: 10px;
        width: 100%;
    }

    .THIS .cRRTable.rr-table tr td.sv-t-icons {
        height: auto;
        padding-bottom: 1rem;
    }

    .THIS .cRRTable.rr-table tr td .sv-t-reminder {
        display: flex;
        align-items: flex-start;
    }

    .THIS .cRRTable.rr-table tr td .sv-t-reminder .slds-button {
        margin-top: -5px;
    }

    .THIS .visitsLabel {
        display: inline-block;
        padding-right: 5px;
        color: #595959;
        position: relative;
    }

    .THIS .rtl .taskLabel {
        padding: 0 0 0 5px;
    }

    .THIS .cRRTable.rr-table tr td:last-child {
        border-bottom: 1px solid #d9d9d9;
        margin-bottom: 1.5rem;
        padding-top: 0;
    }

    .THIS .cRRIconSplitter.icons-container {
        overflow: visible;
    }

    .THIS .cRRIconSplitter .icons-row {
        width: 100%;
    }
}

@media (any-pointer: coarse) {
    .THIS .rr-table {
        font-size: 1rem;
    }

    .THIS .icons-container.cRRIconSplitter {
        overflow: visible;
    }

    .THIS .cRRIconSplitter .icons-row {
        width: 95%;
    }

    .THIS .cRRTable.rr-table tr td .icon {
        position: relative;
        overflow: visible;
    }

    .THIS .cRRIconSplitter .icon-item {
        padding-left: 5px;
        margin: 8px;
    }
}

@media screen and (max-width: 800px) and (min-width: 600px) {
    .THIS .cRRIconSplitter .icons-row {
        width: 65%;
    }
}

@media (max-width: 468px) {
    .THIS .cRRTable.rr-table tr td .icon {
        position: static;
    }

    .THIS .cRRIconSplitter .icon .tooltiptext {
        left: -10%;
    }
}

@media (max-width: 350px) {
    .THIS .cRRIconSplitter .icon .tooltiptext {
        left: -35px;
    }
}
