/**
 * Created by Leonid Bartenev
 */
.THIS {
}

/* @krishna Mahto- REF-2179 - start */
.THIS .slds-form-element__icon {
    padding-top:0;
}

/* @krishna Mahto- REF-2179 - end */
.THIS .hp-welcome-line {
    display: flex;
    justify-content: space-between;
}

.THIS .hp-welcome-msg {
    color: #999999;
    font-size: 17px;
    line-height: 26px;
    margin-bottom: 20px;
}

.THIS.rtl .hp-welcome-msg{
    direction: rtl;
}

.THIS.rtl .main-layout{
    flex-direction: row-reverse;
}

.THIS.rtl .logo-text{
    direction: rtl;
}

.THIS .cPSECard.rr-white-panel {
    padding: 16px;
}

.THIS > .slds-grid > .slds-col,
.THIS > .slds-grid > [class*=slds-col_padded],
.THIS > .slds-grid > [class*=slds-col--padded] {
    flex: 0 0 auto;
}

.THIS .rr-white-panel {
    margin-bottom: 20px;
}

.THIS .hp-logo-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.THIS .hp-logo-panel img {
    max-width: 200px;
}

.THIS .logo-text {
    font-size: 20px;
    font-weight: bold;
}

.THIS .contrast-logo {
    padding: 10px;
}

.THIS .apollo-btn.primary.dark {
    width: 200px;
}

.THIS .apollo-btn.primary.dark .rr-icon-default {
    margin-right: 10px;
}

.THIS .cParticipantCardFields .vpi-fields {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    /*   height: 125px; */
    width: 90%;
}

.THIS .cParticipantCardFields .vpi-field {
    padding: 0 12px;
    margin: 0;
    flex: 0 0 33%;
}

@media (max-width: 768px){
    .THIS > .slds-grid > [class*="slds-medium-size_"] {
        width: 100%;
    }
    .THIS > div:nth-child(2) {
        flex-direction: column;
    }
}

@media all and (max-width:500px) {
    .THIS .hp-welcome-msg {
        max-width: 100%
    }

    .THIS .apollo-btn.primary.dark {
        width: 100%;
    }
}