/**
 * Created by Yehor Dobrovolskyi on 20.02.2019.020.
 */
.THIS {
}
.THIS .rectangle-8 {
    box-sizing: border-box;
    height: 94px;
    width: 1442px;
    border: 1px solid #F2F2F2;
    background-color: #FFFFFF;
    box-shadow: 0 8px 30px 0 rgba(0,0,0,0.15);
}
.THIS .rectangle-8-copy {
    box-sizing: border-box;
    height: 32px;
    width: 1442px;
    border: 1px solid #F2F2F2;
    background-color: #FFFFFF;

}
.THIS .button-back{
    display: inline-block;
}
.THIS .margin-left-side{
    margin-left: 135px;
}
.THIS .margin-left-side1{
    margin-left: 151px;
}
.THIS .back-to-study-worksp {
    height: 16px;
    width: 148px;
    color: #297DFD;
    font-family: "Proxima Nova";
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
}
.THIS .back-to-study-worksp {
    height: 16px;
    width: 148px;
    color: #297DFD;
    font-family: "Proxima Nova";
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
}
.THIS .study-name-approved {
    height: 16px;
    width: 222.1px;
    color: #666666;
    font-family: "Proxima Nova";
    font-size: 13px;
    line-height: 16px;
}
.THIS .pre-eligibility-scre {
    height: 20px;
    width: 176px;
    color: #000000;
    font-family: "Proxima Nova";
    font-size: 17px;
    font-weight: 500;
    line-height: 20px;
}
.THIS .study-name{
    margin-top: 10px;
}
.THIS .resource-detail-block{
    max-width: 628px;
    margin: 36px auto auto;
}
.THIS .button-back {
    text-decoration: none;
    font-size: 14px;
    color: #3294FE;
    margin-top: 5px;
}
.THIS .icon-back-home {
    height: 14px;
    width: 14px;
}