/**
 * Created by Leonid Bartenev
 */
.THIS {
    width: 100%;
}

.THIS .pill-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.THIS .pill-container .close-btn{
    flex-shrink: 0;
}

.THIS .dots-item{
    padding: 0 16px;
    margin-bottom: 8px;
}