/* Tooltip for Text length overflow  */
.THIS .tooltip span
{
text-decoration: none;
position: absolute;
background-color: #002448;
color: white;
padding: 0.5rem 1rem;
border-radius: 4px;
font-size: .850rem;
font-weight: 400;
text-align: left;
width: max-content;
max-width: 500px;
top:0;
left:50%;
margin-top: -10px;
visibility: hidden;
opacity: 0;
}
.THIS .tooltip:hover{
position: relative;
}
.THIS .tooltip:hover span
{
opacity: 1;
visibility: visible;
transform: translate(-50%, -100%) scale(1);
animation: pulse 1s;
}
.THIS .tooltip:hover span::after
{
top: 100%;
left: 50%;
transform: translateX(-50%);
border: solid transparent;
content: '';
height: 0;
width: 0;
position: absolute;
pointer-events: none;
border-top: 8px solid #002448;
border-right: 8px solid transparent;
border-left: 8px solid transparent;
border-width: 10px;
}
.THIS .tooltip {
position: relative;
display: inline-block;
cursor: pointer;
white-space: nowrap;
}
.THIS .textoverlap
{
width: 18rem ;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
}

.THIS .cursorType{
    cursor: text;
    }

.THIS .textinline{
    display:inline-block;
}
.THIS .textmargin{
    margin-bottom: 3.5px;
}
.THIS .margintext{
  margin-left: 30px;
}
.THIS .margintextRTL{
    display: none;
}



/* ----------------END-----------*/

/**
 * Created by Leonid Bartenev
 */

 .THIS.add-patient-form {
    min-height: 80vh;
}

.THIS .ap-top-info {
    margin-top: 40px;
    margin-bottom: 15px;
}

.THIS .ap-bottom-info {
    margin-top: 25px;
}

.THIS .ap-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-bottom: 80px;
}

.THIS .ap-buttons .tertiary {
    color: #297dfd;
    padding: 3px 8px;
    min-width: auto;
}

.THIS .ap-buttons .tertiary:hover {
    background: #eef5ff;
}

.THIS .rr-form-element + .rr-form-element {
    margin-top: 0;
}

.THIS .rr-form-element {
    margin-bottom: 10px;
}

.THIS .rr-error
{
     color: rgb(234, 0, 30);
}

.THIS .ap-section-title {
    font-size: 1rem;
    line-height: 36px;
    color: #000;
    font-weight: 600;
}

.THIS .ap-section + .ap-section {
    margin-top: 20px;
}

.THIS .rr-form-element .slds-form-element__label {
    display: none;
}

.THIS .slds-form-element__label-for-checkbox {
    height: 48px;
    width: 812px;
    color: #000000;
    font-family: 'Proxima Nova';
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 24px;
}

.THIS .slds-checkbox_faux {
    margin-bottom: 3px;
}

.THIS .rr-form-element .cRrSelect .slds-select_container .slds-select {
    margin-top: 0;
}
.THIS .slds-form-element__icon {
    padding-top: 0;
    margin-left: 3px;
}
.THIS .lightning-primitiveicon_primitiveicon-host {
    padding: 20px;
    color: white;
}

.THIS .status-alert-icon {
    width: 24px;
    height: 24px;
    fill: #ff9300;
}

.THIS .delegate-alert-message {
    border: 1px solid #e9e9e9;
    border-radius: 7px;
    padding: 24.83px 32.5px 14.5px 17.5px;
    margin: 16px 10px;
}

.THIS .alert-text {
    font-size: 16px;
    margin-bottom: 16px;
}

.THIS .alert-text :first-child {
    font-weight: 600;
}

.THIS .status-alert-action-button {
    font-size: 14px;
    line-height: 24px;
    color: #444444;
    background-color: #f2f2f2;
}

.THIS .rr-cb-container .slds-form-element__help {
    white-space: nowrap;
    margin-top: -5px;
}

@media all and (max-width: 768px) {
    .THIS .rr-medium-up-hide {
        display: none;
    }

    .THIS .rr-white-panel > .ap-section .slds-grid > .rr-form-element:nth-of-type(6),
    .THIS .rr-white-panel > .ap-section .slds-grid > .rr-form-element:nth-of-type(10) {
        display: none;
    }

    .THIS .rr-cb-container .slds-form-element__help {
        margin-top: 10px;
    }

    .THIS .ap-section > .slds-grid > .slds-grid.slds-p-top_small {
        flex-wrap: nowrap;
    }
}

@media all and (max-width: 500px) {
    .THIS .ap-buttons {
        flex-direction: column;
    }
    .THIS .ap-buttons .apollo-btn {
        margin-bottom: 20px;
        margin-left: 0;
    }

    .THIS .rr-cb-container .slds-form-element__help {
        margin-top: 30px;
    }

    .THIS .ap-section > .slds-grid > .slds-grid.slds-p-top_small {
        flex-wrap: wrap;
    }
}

.THIS .slds-checkbox{
    display: inline-flex;
}

.THIS .slds-checkbox-custom .slds-checkbox__label{
    display: inline-table;
}

.THIS .delegateAttest{
    font-size: 16px;
    color: #000000;
    font-weight: 500;
}

.THIS .chErr{
    outline: 2px solid red;
}
.THIS select.rr-select-error, .THIS .rr-select-error select {
    border: 2px solid rgb(234, 0, 30) !important;
}
/** RH-5929*/
.THIS .slds-has-error .slds-select {
    border: 1px solid #d9d9d9;
}