/**
 * Created by Leonid Bartenev
 */
.THIS .ap-top-info{
    margin-top: 40px;
    margin-bottom: 15px;
}

.THIS .ap-bottom-info{
    margin-top: 25px;
}

.THIS .ap-buttons{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-bottom: 80px;
}

.THIS .ap-buttons .tertiary{
    color: #297dfd;
    padding: 3px 8px;
    min-width: auto;
}

.THIS .ap-buttons .tertiary:hover{
    background: #eef5ff;

}


.THIS .rr-form-element + .rr-form-element{
    margin-top: 0;
}

.THIS .rr-form-element{
    margin-bottom: 10px;
}

.THIS .ap-section-title{
    font-size: 1rem;
    line-height: 36px;
    color: #000;
    font-weight: 600;
}

.THIS .ap-section + .ap-section{
    margin-top: 20px;
}

.THIS .rr-form-element .slds-form-element__label{
    display: none;
}

.THIS .slds-form-element__label-for-checkbox {
    height: 48px;
    width: 812px;
    color: #000000;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 24px;
}

.THIS .rr-form-element .cRrSelect .slds-select_container .slds-select{
    margin-top: 0;
}
.THIS .slds-form-element__icon {
    padding-top: 0;
    margin-left: 3px;
}
.THIS .lightning-primitiveicon_primitiveicon-host{
    padding: 20px;
    color: white;
}

.THIS .status-alert-icon{
    width:24px;
    height: 24px;
    fill: #FF9300;
}

.THIS .delegate-alert-message{
    border: 1px solid #E9E9E9;
    border-radius: 7px;
    padding: 24.83px 32.5px 14.5px 17.5px;
    margin: 16px 10px;
}

.THIS .alert-text {
    font-size: 16px;
    margin-bottom: 16px;
}

.THIS .alert-text :first-child{
    font-weight: 600;
}

.THIS .status-alert-action-button{
    font-size: 14px;
    line-height: 24px;
    color: #444444;
    background-color: #F2F2F2;
}

@media all and (max-width: 500px){
     .THIS .ap-buttons{
        flex-direction: column;
    } 
    .THIS .ap-buttons .apollo-btn {
     	margin-bottom: 20px;
        margin-left: 0;
    }
}