/**
 * Created by Leonid Bartenev
 */

 .THIS.add-patient-form {
    min-height: 80vh;
}

.THIS .ap-top-info {
    margin-top: 40px;
    margin-bottom: 15px;
}

.THIS .ap-bottom-info {
    margin-top: 25px;
}

.THIS .ap-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-bottom: 80px;
}

.THIS .ap-buttons .tertiary {
    color: #297dfd;
    padding: 3px 8px;
    min-width: auto;
}

.THIS .ap-buttons .tertiary:hover {
    background: #eef5ff;
}

.THIS .rr-form-element + .rr-form-element {
    margin-top: 0;
}

.THIS .rr-form-element {
    margin-bottom: 10px;
}

.THIS .rr-error
{
     color: rgb(194, 57, 52);
}

.THIS .ap-section-title {
    font-size: 1rem;
    line-height: 36px;
    color: #000;
    font-weight: 600;
}

.THIS .ap-section + .ap-section {
    margin-top: 20px;
}

.THIS .rr-form-element .slds-form-element__label {
    display: none;
}

.THIS .slds-form-element__label-for-checkbox {
    height: 48px;
    width: 812px;
    color: #000000;
    font-family: 'Proxima Nova';
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 24px;
}

.THIS .slds-checkbox_faux {
    margin-bottom: 3px;
}

.THIS .rr-form-element .cRrSelect .slds-select_container .slds-select {
    margin-top: 0;
}
.THIS .slds-form-element__icon {
    padding-top: 0;
    margin-left: 3px;
}
.THIS .lightning-primitiveicon_primitiveicon-host {
    padding: 20px;
    color: white;
}

.THIS .status-alert-icon {
    width: 24px;
    height: 24px;
    fill: #ff9300;
}

.THIS .delegate-alert-message {
    border: 1px solid #e9e9e9;
    border-radius: 7px;
    padding: 24.83px 32.5px 14.5px 17.5px;
    margin: 16px 10px;
}

.THIS .alert-text {
    font-size: 16px;
    margin-bottom: 16px;
}

.THIS .alert-text :first-child {
    font-weight: 600;
}

.THIS .status-alert-action-button {
    font-size: 14px;
    line-height: 24px;
    color: #444444;
    background-color: #f2f2f2;
}

.THIS .rr-cb-container .slds-form-element__help {
    white-space: nowrap;
    margin-top: -5px;
}

@media all and (max-width: 768px) {
    .THIS .rr-medium-up-hide {
        display: none;
    }

    .THIS .rr-white-panel > .ap-section .slds-grid > .rr-form-element:nth-of-type(6),
    .THIS .rr-white-panel > .ap-section .slds-grid > .rr-form-element:nth-of-type(10) {
        display: none;
    }

    .THIS .rr-cb-container .slds-form-element__help {
        margin-top: 10px;
    }

    .THIS .ap-section > .slds-grid > .slds-grid.slds-p-top_small {
        flex-wrap: nowrap;
    }
}

@media all and (max-width: 500px) {
    .THIS .ap-buttons {
        flex-direction: column;
    }
    .THIS .ap-buttons .apollo-btn {
        margin-bottom: 20px;
        margin-left: 0;
    }

    .THIS .rr-cb-container .slds-form-element__help {
        margin-top: 30px;
    }

    .THIS .ap-section > .slds-grid > .slds-grid.slds-p-top_small {
        flex-wrap: wrap;
    }
}

.THIS .slds-checkbox{
    display: inline-flex;
}

.THIS .delegateAttest{
    font-size: 16px;
    color: #000000;
    font-weight: 500;
}