/**
 * Created by Leonid Bartenev
 */
.THIS .ap-top-info{
    margin-top: 40px;
    margin-bottom: 15px;
}

.THIS .ap-bottom-info{
    margin-top: 25px;
}

.THIS .ap-buttons{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-bottom: 80px;
}

.THIS .ap-buttons .tertiary{
    color: #297dfd;
    padding: 3px 8px;
    min-width: auto;
}

.THIS .ap-buttons .tertiary:hover{
    background: #eef5ff;

}

@media all and (max-width: 500px){
     .THIS .ap-buttons{
        flex-direction: column;
    } 
    .THIS .ap-buttons .apollo-btn {
     	margin-bottom: 20px;
        margin-left: 0;
    }
}