.msg-study-header {
    height: 72px;
    border-bottom: inset;
}
.study-header {
    height: 32px;
    width: 100%;
    color: #444444;
    font-family: 'Proxima Nova';
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 32px;
    margin-top: 24px;
    margin-left: 32px;
    margin-bottom: 16px;
}
.empty-msg {
    font-size: 16px;
    color: #595959;
    font-family: 'Proxima Nova';
}
.parent-chat-item-sec {
    text-align: justify;
    padding: 8px 8px 8px 8px;
}
.child-chat-item-sec {
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0px 8px 0px 8px;
}
.ms-send-button {
    height: 35px;
    width: 96px;
    border: none;
    border-radius: 1rem;
}
.mob-parent-chat-item-sec {
    padding: 0px 8px 21px 8px;
}
.mob-parent-chat-item-header-sec {
    padding: 0px 8px 0px 8px;
}
.mob-parent-chat-item-sec-past {
    padding: 0px 8px 0px 8px;
}
.mob-child-chat-item-sec {
    overflow-y: auto;
    height: 290px;
    padding-right: 8px;
}
.medium {
    height: 472px;
    text-align: center;
    color: #595959;
    font-size: 16px;
}
.mob-medium {
    height: 220px;
    text-align: center;
    color: #595959;
    font-size: 16px;
}

.active-study {
    height: 472px !important;
}
.old-study {
    height: 560px !important;
}
.active-study-mob {
    height: 430px !important;
}
.old-study-mob {
    height: 290px !important;
}
.study-mob-no-msg {
    height: 200px !important;
}
.question-item {
    height: 88px;
    border-top: 1px solid #d9d9d9;
}
.selection {
    box-sizing: border-box;
    --sds-c-input-radius-border: 20px;
    height: 40px;
    margin: 1.2rem 0 0 2rem;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0);
}
.send-button {
    height: 35px;
    width: 96px;
    margin: 1.2rem 0 0 4rem;
}
.send-message {
    border-radius: 20px;
    width: 96px;
    height: 40px;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.04), 0 4px 8px 0 rgba(7, 104, 253, 0.32);
}
.hideDesktop {
    display: none;
}
.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 472px;
}
.mob-selection {
    --sds-c-input-radius-border: 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0);
    margin: 0;
}

.mob-send-button {
    height: 40px;
    margin: 1rem 0 0 0rem;
}

.slds-truncate {
    max-width: 100%;
    overflow: visible !important;
    white-space: normal !important;
}
.mob-question-item {
    border: 1px solid #d9d9d9;
}
@media all and (max-width: 47.9375em) {
    .hideDesktop {
        display: unset;
    }
    .hideMobile {
        display: none;
    }
}
@media all and (min-width: 768px) and (max-width: 1024px) {
    .selection {
        margin: 1.2rem 0 0 1rem;
    }
    .send-button {
        margin: 1.2rem 0 0 1rem;
    }
    .active-study-mob {
        height: 700px !important;
    }
}
