.active-btn {
    background: #015ff1;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
    border: none;
}

.completed-task {
    border-radius: 0rem 1rem 1rem 0rem;
    width: 7.5rem;
    height: 2rem;
    margin-left: 0rem;
    letter-spacing: 0;
    line-height: 1.5rem;
}

.completed-task:hover {
    background-color: #ecf3ff;
    transition: .2s;
    transition-timing-function: cubic-bezier(0.38,0,1,1);
}

.inactive-btn {
    --slds-c-button-brand-color-background: #ffffff;
    color: #595959;
    font-size: 1rem;
    font-weight: 500;
    border: 1px solid #d9d9d9;
}
.create-task {
    background: #015ff1;
    border-radius: 2rem;
    color: #ffffff;
    width: 510px;
    height: 40px;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 1.5rem;
    border: none;
}
.plus-icon {
    --sds-c-icon-color-foreground-default: #ffffff;
    padding-right: 16px;
}
.before-create-task {
    background: #015ff1;
    cursor: pointer;
}

.after-create-task {
    background: #015ff1;
    opacity: 0.4;
    pointer-events: none;
}

.create-task:hover,
.before-create-task:hover,
.after-create-task:hover,
.active-btn:hover {
    background: #0557d5;
    transition: .2s;
    transition-timing-function: cubic-bezier(0.38,0,1,1);
}

.tasks {
    color: #444444;
    font-size: 32px;
    font-weight: 600;
}

.inactive-custom-box {
    box-sizing: border-box;
    /* height: 96px; */
    height: fit-content;
    min-height: 96px;
    width: 510px;
    border: 1px solid #e9e9e9;
    border-radius: 16px;
    background-color: #ffffff;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.04);
    margin-bottom: 8px;
    /* margin-top: 8px; */
}

.popup-default {
    color: #444444;
    font-family: 'Proxima Nova';
    font-size: 14px;
    letter-spacing: 0;
    line-height: 24px;
}

.set-up-your-account {
    height: 29px;
    color: #444444;
    font-family: 'Proxima Nova';
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0;
}

.due-time {
    height: 24px;
    width: 303px;
    color: #6e6e6e;
    font-family: 'Proxima Nova';
    font-size: 16px;
    letter-spacing: 0;
    line-height: 21px;
    margin-top: 19px;
}

.sys-task {
    margin-left: 2px;
}

.curpointer {
    cursor: pointer;
}
.open-task-icon {
    box-sizing: border-box;
    background-color: #ffffff;
    margin-left: 20px;
    cursor: pointer;
}

.complete-mask {
    box-sizing: border-box;
    height: 230px;
    width: 320px;
    border: 1px solid #d9d9d9;
    border-radius: 16px;
    background-color: #ffffff;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.08);
    margin-top: 16.875rem;
}
.complete-mask-margin {
    height: 16px;
    width: 320px;
    margin-left: -1px;
    margin-top: -12rem;
    background: linear-gradient(90deg, #005587 0%, #008d9e 100%);
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
}
.modal-title {
    height: 32px;
    width: 100%;
    color: #000000;
    font-family: 'Proxima Nova';
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 32px;
    margin-top: 2rem;
    margin-left: 1rem;
}
.modal-body {
    height: 72px;
    width: 272px;
    color: #444444;
    font-family: 'Proxima Nova';
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    margin-left: 1rem;
    margin-top: 1rem;
}
.modal-button {
    border-radius: 20px;
    background: rgba(7, 104, 253, 1);
    color: #ffffff;
    width: 7.5rem;
    height: 2rem;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 1.5rem;
    border: none;
    float: right;
}
.home-inactive-custom-box {
    margin-top: 10px !important;
    box-sizing: border-box;
    height: 88px;
    /* width: 380px; */
    border: 1px solid #e9e9e9;
    border-radius: 16px;
    background-color: #ffffff;
}
.home-sys-task {
    margin-left: -9px;
    cursor: pointer;
}
.overflow-scroll {
    height: 500px;
    overflow-y: auto;
}
.active-custom-box {
    border: 1px solid #c42ea5;
    border-radius: 16px;
    background-color: #ffffff;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.04);
}
.fill-oval {
    fill: rgba(196, 46, 165, 0.1);
}
.empty-oval {
    fill: #ffffff;
}
.critical-rect {
    position: relative;
    float: right;
    padding: 0px 6px 0 6px;
    background-color: #e20000;
    font-size: 13px;
    font-weight: 600;
    color: #ffffff;
    border-radius: 2px;
}
.no-task-list-view {
    height: 152px !important;
}
.no-task-txt {
    font-size: 16px;
    font-weight: 500;
}
.dis-block {
    display: inline-grid;
}
.center {
    text-align: center;
}
.complete-container {
    border: 1px solid #c42ea5;
}
.complete-header {
    color: #595959;
    cursor: default;
}
.complete-datetime {
    color: #6e6e6e;
}

.ignore-container {
    border: 1px solid #e9e9e9;
}
.ignore-header {
    color: #595959;
}
.ignore-datetime {
    color: #6e6e6e;
}

.expire-container {
    opacity: 0.7;
    border: 1px solid #e9e9e9;
}
.expire-header {
    color: #595959;
}
.expire-datetime {
    color: #6e6e6e;
}

.ignored {
    height: 24px;
    width: 62px;
    color: #444444;
    font-family: 'Proxima Nova';
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 20px;
}
.expired {
    height: 24px;
    width: 61px;
    color: #444444;
    font-family: 'Proxima Nova';
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 20px;
}
.path-2-copy {
    box-sizing: border-box;
    height: 1px;
    width: 439px;
    border: 0.8px solid #979797;
    margin-top: 10px;
    margin-left: -17px;
}

.crit-subject-ellipsis {
    width: 90%;
    /* white-space: nowrap; */
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}
.home-crit-subject-ellipsis {
    width: 215px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.subject-ellipsis {
    /* width: 90%; */
    /* white-space: nowrap; */
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}

.home-subject-ellipsis {
    width: 320px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.cursor-default {
    cursor: default;
}

.task-action-menu {
    margin-top: -16px;
    margin-right: 3px;
}
.task-modal-footer {
    float: right;
    margin-right: -1rem;
}
.task-modal-footer-item-cancel {
    margin-top: 2.5rem;
    margin-right: 1rem;
}
.task-modal-footer-item-continue {
    margin-top: 2.2rem;
    margin-right: 1rem;
}
.task-modal-footer-complete {
    float: right;
    margin-right: -1rem;
}
.task-modal-complete-close-icon {
    margin-left: 5rem;
    margin-top: 2rem;
    cursor: pointer;
}
.task-modal-ignore-close-icon {
    margin-left: 9rem;
    margin-top: 2rem;
    cursor: pointer;
}
.vertical-padding {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.slds-dropdown-trigger {
    cursor: pointer;
}

.slds-dropdown-trigger:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    background: #ecf3ff;
    z-index: 1;
    top: 19px;
    left: 7px;
    border-radius: 50%;
    transition: .2s;
    transition-timing-function: cubic-bezier(0.38,0,1,1);
    opacity: 0;
}

.slds-dropdown-trigger:hover:before {
    width: 36px;
    height: 36px;
    background: #ecf3ff;
    z-index: 1;
    top: 3px;
    left: -9px;
    border-radius: 50%;
    transition: .2s;
    transition-timing-function: cubic-bezier(0.38,0,1,1);
    opacity: 1;
}

.image-result {
    height: 40px;
    width: 20px;
    position: relative;
    z-index: 10;
}


@media all and (max-width: 486px) {
    .inactive-custom-box {
        width: 100%;
        height: fit-content;
        min-height: 96px;
    }
    .path-2-copy {
        /*   width: 301px; */
        margin-left: 0.3rem;
    }
    .open-task {
        margin-left: 10px;
    }
    .mob-task-sub {
        margin-left: 0.75rem;
    }
    .tasks {
        margin-left: 1rem;
    }
    .overflow-scroll {
        height: unset !important;
        overflow-y: unset !important;
    }
    .critical-rect {
        right: -10px;
        float: none;
    }
    .crit-mob-subject-ellipsis {
        width: 75%;
    }
    .home-crit-mob-subject-ellipsis {
        width: 225px;
    }
    .mob-subject-ellipsis {
        width: 230px;
    }
    .open-task-icon {
        margin-left: 9px !important;
    }
    .home-sys-task {
        margin-left: -7px;
    }
}
/* Scroll bar custom */
::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background-color: #fff;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #999999;
}