.THIS .white-panel {
    background-color: white !important;
    margin-left: 40px;
    margin-top:13px;
    margin-bottom:9px;

}
.THIS .div-container {
    background-color: #f2f2f2; 
    margin-left: 50px;
    margin-top:13px;
    margin-bottom:9px;
	font-weight: 600;

}
.THIS .fp-search-input
{
   padding-left: 25px;   
    background: #fff 7Px 9px;
	background-size: 14px 14px;
	padding-left: 25px;
	top: 0;
	left: 0;
}

.THIS .link-click-status {
    font-size: 14px;
    width: 20%;
    color: #000000;
    font-family: "Proxima Nova";
    font-weight: 500;
    line-height: 21px;
}

.THIS .rr-simple-white-panel {
    box-sizing: border-box;
    width: 75%;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    background-color: #FFFFFF;
    margin-bottom: 30px;
    margin-top: 0;
    padding: 16px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.04);
}

.THIS .rr-white-panel{
    border: 1px solid #F2F2F2;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.04);
    overflow: hidden;
}
.THIS .db-qal-title{
    color: #000000;
    font-size: 18px;
    font-weight: 600;
}
.THIS .db-qal-main{
    padding: 16px;
}
.THIS .db-qal-items{
    max-height: 650px;
    overflow-y: auto;
}
.THIS .wraptext{
    white-space:normal;
}

.THIS .slds-table thead th {
	background: #f8f9fb; 
    border: none;
}

.THIS .sort-icon {
    margin-left: 5%;
    cursor: pointer;
}

.THIS .slds-table_bordered tbody th:hover,
.THIS .slds-table_bordered tbody td:hover,
.THIS .slds-table_bordered tbody tr:hover,
.THIS .slds-table_bordered:not(.slds-no-row-hover) tbody tr:hover > th:not(.slds-has-focus),
.THIS .slds-table_bordered:not(.slds-no-row-hover) tbody tr:hover > td:not(.slds-has-focus){
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    box-shadow: none;
}

.THIS .slds-table_bordered tbody th,
.THIS .slds-table_bordered tbody td {
    box-shadow: none;
    border-top: 1px solid transparent;
    border-bottom: 1px solid #f8f9fb;
}

.THIS .slds-table_striped tbody tr:nth-of-type(2n) > td,
.THIS .slds-table_striped tbody tr:nth-of-type(2n) > th{
    background-color: transparent;
}

.THIS .slds-table:not(.slds-no-row-hover) tbody tr:hover > td, 
.THIS .slds-table:not(.slds-no-row-hover) tbody tr:hover > th, 
.THIS .slds-table:not(.slds-no-row-hover) tbody tr:focus > td, 
.THIS .slds-table:not(.slds-no-row-hover) tbody tr:focus > th {
    background-color: #f8f9fb;
}

.THIS .slds-table_bordered {
    border: none;
}

.THIS .slds-table th,
.THIS .slds-table td {
    white-space: normal;
}

.THIS .fp-search-input
{
   padding-left: 25px;   
    background: #fff url(/resource/1570111512000/searchIcon) no-repeat 7px 9px;
	background-size: 14px 14px;
	padding-left: 25px;
	position: relative;
	top: 0;
	left: 0;
     display: inline-block;
}
.THIS .db-qal-title{
    color: #000000;
    font-size: 18px;
    font-weight: 600;
}
.THIS .db-qal-main{
    padding: 16px;
}
.THIS .db-qal-items{
    max-height: 650px;
    overflow-y: auto;
}

.THIS .slds-table thead th {
	background: #f8f9fb; 
    border: none;
}

.THIS .slds-input-has-icon .slds-input__icon {
    top: 45%;
}

.THIS .slds-table_bordered tbody th:hover,
.THIS .slds-table_bordered tbody td:hover,
.THIS .slds-table_bordered tbody tr:hover,
.THIS .slds-table_bordered:not(.slds-no-row-hover) tbody tr:hover > th:not(.slds-has-focus),
.THIS .slds-table_bordered:not(.slds-no-row-hover) tbody tr:hover > td:not(.slds-has-focus){
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    box-shadow: none;
}

.THIS .slds-table_bordered tbody th,
.THIS .slds-table_bordered tbody td {
    box-shadow: none;
    border-top: 1px solid transparent;
    border-bottom: 1px solid #f8f9fb;
}

.THIS .slds-table_striped tbody tr:nth-of-type(2n) > td,
.THIS .slds-table_striped tbody tr:nth-of-type(2n) > th{
    background-color: transparent;
}

.THIS .slds-table:not(.slds-no-row-hover) tbody tr:hover > td, 
.THIS .slds-table:not(.slds-no-row-hover) tbody tr:hover > th, 
.THIS .slds-table:not(.slds-no-row-hover) tbody tr:focus > td, 
.THIS .slds-table:not(.slds-no-row-hover) tbody tr:focus > th {
    background-color: #f8f9fb;
}

.THIS .slds-table_bordered {
    border: none;
}

.THIS .align-left{
    text-align: left;
}

.THIS .participantBtn {
    margin-left: 25px;
}

@media all and (max-width: 768px){
    .THIS .slds-max-medium-table_stacked-horizontal td,
    .THIS .slds-max-medium-table--stacked-horizontal td {
        text-align: left;
    }

    .THIS .participantTitle {
        color: #595959;
        padding-right: 5px;
        white-space: nowrap;
    }

    .THIS td .slds-truncate {
        color: #000;
    }

    .THIS .slds-max-medium-table_stacked-horizontal tr,
    .THIS .slds-max-medium-table--stacked-horizontal tr {
        border-top: none;
        border-bottom: 1px solid #f8f9fb;
    }

}

@media all and (max-width: 500px){
    .THIS .participantSearch {
        min-width: 100%
    }

    .THIS .participantBtn {
        margin-top: 15px;
        margin-left: 0;
    }

    .THIS .participantStudy + .slds-button {
        display: inline-block;
        max-width: 80%;
    }


    .THIS .participantPhone .participantTitle {
        display: block;
    }

}