/**
 * Created by Leonid Bartenev
 */

.THIS .header-block {
    display: flex;
    height: 100%;
    align-items: center;
}
.THIS .GSKBanner {
    background: #ea6621;
}

.THIS .logo-block {
    /* height: 39px;*/
    width: 165px;
    display: inline-block;
}

.THIS .logo-click {
    display: inline-block;
    cursor: pointer;
}
