.my-files {
  color: #444444;
  font-size: 32px;
  font-weight: 600;
}
.document-box-desk {
  box-sizing: border-box;
  height: 814px;
  width: auto;
  border: 1px solid #e9e9e9;
  border-radius: 16px;
  background-color: #ffffff;
  margin-top: 10px;
}
.document-box {
  box-sizing: border-box;
  width: auto;
  border: 1px solid #e9e9e9;
  border-radius: 16px;
  background-color: #ffffff;
  margin-top: 10px;
  min-height: 680px;
}
.file-uppercase {
  text-transform: uppercase;
}
/*drpdown css start */
.w-100 {
  width: 100%;
}
.fw-550 {
  font-weight: 550;
}
a,
.slds-button {
  color: unset;
}
.btn-shadow:focus {
  border-color: var(--lwc-colorBorderInputActive, rgb(27, 150, 255));
  box-shadow: var(--lwc-shadowButtonFocus, 0 0 3px #0176d3);
}
.button-content {
  border-radius: 20px;
  box-sizing: border-box;
  border: 1px solid #d9d9d9;
  text-align: left;
  padding: 1rem;
}
.sortbutton-content {
  box-sizing: border-box;
  background: #f6f7fb;
  text-align: left;
  padding: 0.5rem;
  border: transparent;
  height: 40px;
}
.sortIcon {
  height: 26px;
  width: 17px;
}
.sortitems {
  margin-left: 4rem;
  width: 74%;
  top: 1.5rem;
}
.text-width {
  width: 140px;
  text-align: left;
}
.dropdown-zindex {
  z-index: 9;
}
.font-dropdowns {
  font-size: 14px;
}
.m-grid {
  margin-top: 1rem;
  border-bottom: 1px solid #f6f7fb;
}
.titleLink {
  height: 24px;
  /* width: 183px; */
  width: 340px;
  color: #015ff1;
  font-family: "Proxima Nova";
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
}
.table-Header-Sorted {
  font-weight: 700 !important;
  color: #444444;
}
.blackArrow {
  --sds-c-icon-color-foreground-default: #444444;
  --sds-c-icon-color-background: transparent;
}

/*drpdown css End */
.upload-newdocument-box {
  box-sizing: border-box;
  height: 698px;
  width: 410px;
  border: 1px solid #e9e9e9;
  border-radius: 16px;
  background-color: #ffffff;
}
.document {
  color: #444444;
  font-size: 18px;
  font-weight: 500;
}
.upload-new-document {
  color: #444444;
  font-size: 18px;
  font-weight: 500;
}
.slds-tabs_default {
  display: block;
  width: 36% !important;
}
.all-tabs .slds-tabs_default__item:after {
  width: 30%;
  margin: 0 auto;
  border-radius: 80px;
  height: calc(var(--sds-c-tabs-list-sizing-border, 2px) + 2.5px);
}
.section-padding {
  padding-left: 10px;
  padding-right: 16px;
}
.dis-block {
  display: inline-grid;
}
.center {
  text-align: center;
}
.no-doc-img-size {
  width: 79px;
  height: 72px;
}
.upload-new-doc-img-size {
  height: 120px;
  width: 133.71px;
}
.mob-upload-new-doc-img-size {
  height: 56px;
  width: 63px;
}
.no-doc-txt {
  color: #999999;
  font-size: 13px;
  font-weight: 500;
}
.top-center {
  margin-top: 13rem;
}
.sort-margin {
  margin-top: -24px;
}
.drag-drop-txt {
  color: #444444;
  font-size: 16px;
}

.sort .slds-combobox__input-value {
  background-color: black;
}
.browse-btn {
  height: 32px;
  width: 132px;
  border-radius: 16px;
  background-color: #0557d5;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.04),
    0 2px 8px 0 rgba(7, 104, 253, 0.32);
  cursor: pointer;
  color: #ffffff;
  border: none;
}
.cuPointer {
  cursor: pointer;
}

.body-container {
  color: #444444;
  font-size: 1rem;
  letter-spacing: 0;
  line-height: 1.5rem;
  width: 100%;
}
.button-cancel {
  color: #0768fd;
  height: 2rem;
  font-size: 0.875rem;
  font-weight: 600;
  border-color: transparent;
  line-height: 1.3125rem;
  text-align: center;
}
.button-delete .slds-button:active {
  border: transparent;
}
.button-cancel .slds-button:active {
  border: transparent;
}
.sort-onhover:hover .boldfont {
  font-weight: 700 !important;
  color: #444444;
}

.button-delete {
  justify-content: center;
  width: 107px;
  height: 2rem;
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1.3125rem;
  text-align: center;
  border-radius: 1.25rem;
  background-color: #e20000;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.04),
    0 4px 8px 0 rgba(226, 0, 0, 0.16);
}
.button-delete-mobile {
  justify-content: center;
  width: 100%;
  height: 2rem;
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.3125rem;
  text-align: center;
  border-radius: 1.25rem;
  background-color: #e20000;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.04),
    0 4px 8px 0 rgba(226, 0, 0, 0.16);
}
.wait-time {
  color: #757575;
  font-size: 13px;
  font-style: italic;
  font-weight: 600;
  position: relative;
  top: 10rem;
}
.upload-new-file-txt {
  height: 24px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
}
.mob-upload-rectangle {
  box-sizing: border-box;
  height: 250px;
  width: 382px;
  border: 1px dashed #979797;
  border-radius: 8px;
  background-color: #f2f2f2;
}
.mob-wait-time {
  height: 20px;
  color: #757575;
  font-size: 13px;
  font-style: italic;
  font-weight: 600;
}

.tablePP .table-width {
  /* max-height: 529px; */
  overflow-y: hidden !important;
  margin-right: 12px;
  margin-left: 12px;
}
.tablePP .table-width-nodata {
  height: auto;
}
.tablePP .table-border {
  border: solid 1px #d4d4d4;
}
.tablePP .table-header {
  height: 30px;
  background-color: #f6f7fb;
}

.slds-table:not(.slds-no-row-hover) tbody tr:hover > td,
.slds-table:not(.slds-no-row-hover) tbody tr:hover > th,
.slds-table:not(.slds-no-row-hover) tbody tr:focus > td,
.slds-table:not(.slds-no-row-hover) tbody tr:focus > th {
  background: #ecf3ff !important;
}
.table-width-D {
  width: 100%;
  white-space: nowrap;
}
.tablePP .table-header-label {
  font-family: "Proxima Nova";
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 21px;
}
.tablePP .table-data {
  text-align: center;
  color: #000000;
  font-family: "Proxima Nova";
  font-size: 14px;
  letter-spacing: 0;
  line-height: 21px;
}
.divider {
  height: 1px;
  width: 756px;
  border-bottom: 1px solid #f6f7fb;
  /* background-color: #f6f7fb; */
}
.tablePP .table-row {
  height: 49px;
  width: 1173.6px;
  font-family: "Proxima Nova";
  font-size: 14px;
}

.tablePP .table-text-left {
  text-align: left;
}
.tablePP .ftitle {
  width: 295%;
}
.tablePP .ffiletype {
  width: 13%;
}

.tablePP .fuploaddate {
  width: 10%;
}
.tablePP .noData {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}
.tablePPn .pg {
 
  width: 1205px;
  
}
.pg {
  position: relative;
  margin-top: 2.7rem;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
tr:hover {
  background: unset !important ;
}

.selected:hover {
  background: #ffffff !important;
}
.slds-border--right .slds-border--left .slds-border--bottom {
  border-right: none !important ;
  border-left: none !important ;
  border-bottom: none !important ;
}
.boxShadow {
  box-shadow: none;
  border-radius: 0;
}
.bg {
  background: white;
}
.tablePPn .pg input {
  color: #000000;
  box-sizing: border-box;
  height: 32px;
  width: 65px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 0%);
  text-align: center;
}
.pg input:focus-visible {
  outline: none;
}
.pg .slds-icon_container {
  cursor: pointer;
}
.pg .disabled .slds-icon_container {
  cursor: unset;
}
.upld-file-name {
  word-wrap: break-word;
  color: #015ff1;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0.2rem;
}
.uploadeditemswidth {
  max-width: unset;
  width: -webkit-fill-available;
  margin-right: 1.5rem;
}
.pdf {
  color: #595959;
  font-size: 13px;
  font-weight: 600;
}
.file-upld-date {
  color: #6e6e6e;
  font-size: 14px;
  height: 24px;
}
.iconMargin {
  margin-left: 10px;
}
.iconColor {
  font-weight: 700 !important;
  cursor: pointer;
}
.my-icon {
  --sds-c-icon-color-foreground-default: #017df1;
}
.disArrow {
  display: none;
}
.disArrowdiv .disArrow:hover {
  display: inline !important;
}
.mobScroll {
  overflow: scroll;
}

.arrowUp-dis-none {
  display: none;
  position: absolute;
  top: 9px;
  left: 47px;
}
.arrowUp-dis-none-type {
  display: none;
  position: absolute;
  top: 9px;
  right: 3rem;
}
.sort-onhover:hover .arrowUp-dis-none-type {
  display: block;
}
.arrowUp-dis-none-date {
  display: none;
  position: absolute;
  top: 9px;
  right: 8.65rem;
}
.sort-onhover:hover .arrowUp-dis-none-date {
  display: block;
}
.arrowDown-dis-none {
  display: none;
  position: absolute;
  top: 9px;
  left: 47px;
}

.sort-onhover:hover .arrowUp-dis-none {
  display: block;
}
.pptablewidth {
  width: 55px;
}

.title-txt:hover {
  font-weight: 700;
}
.type-txt:hover {
  font-weight: 700;
}
.date-txt:hover {
  font-weight: 700;
}
@media (max-width: 768px) {
  .document-box {
    width: 100%;
    margin-bottom: 49px;
    border-radius: 0px;
  }
  .upload-newdocument-box {
    width: auto;
    margin: 0 1rem;
  }
  .my-files {
    padding: 0.5rem 0 0.5rem 1rem;
  }

  .ppcombo-dropdown-all {
    width: 100% !important;
  }
  .ppCombobox {
    margin: 0px;
  }

  .upload-newFile-btn {
    height: 32px;
    width: 382px;
    border-radius: 16px;
    background-color: #0557d5;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.04),
      0 2px 8px 0 rgba(7, 104, 253, 0.32);
    cursor: pointer;
    color: #ffffff;
    border: none;
  }
}
@media all and (min-width: 363px) and (max-width: 376px) {
  .document-box {
    width: 349px !important;
    margin-left: 13px;
    margin-bottom: 49px;
    border-radius: 0px;
  }
  .tablePPn {
    width: 93%;
  }
}

@media all and (min-width: 376px) and (max-width: 395px) {
  .document-box {
    width: 355px !important;
    margin-left: 17px;
    margin-bottom: 49px;
    border-radius: 0px;
  }
  .tablePPn {
    width: 91%;
    margin-left: -1px;
  }
}
@media all and (min-width: 321px) and (max-width: 362px) {
  .document-box {
    width: 335px !important;
    margin-left: 12px;
    margin-bottom: 49px;
    border-radius: 0px;
  }
  .tablePPn {
    width: 93%;
    margin-left: -1px;
  }
}
@media all and (max-width: 321px) {
  .document-box {
    width: 284px !important;
    margin-left: 17px;
  }
}
@media all and (min-width: 396px) and (max-width: 427px) {
  .document-box {
    width: 382px;
    margin-left: 16px;
    margin-bottom: 49px;
    border-radius: 0px;
  }
  .tablePPn {
    width: 92.5%;
  }
}
@media all and (min-width: 427px) and (max-width: 767px) {
  .document-box {
    width: 392px;
    margin-left: 17px;
  }
}
@media all and (min-width: 769px) and (max-width: 820px) {
  .document-box {
    margin-bottom: 49px;
    border-radius: 0px;
  }
}
@media all and (min-width: 821px) and (max-width: 912px) {
  .document-box {
    height: 979px;
    margin-bottom: 13px;
    border-radius: 0px;
  }
}
@media screen and (pointer: coarse) and (orientation: landscape) and (max-width: 740px) {
  .document-box {
    width: 99%;
  }
}
@media screen and (pointer: coarse) and (orientation: landscape) and (min-width: 427px) and (max-width: 767px) {
  .document-box {
    margin-left: 10px;
  }
}
.clickbox{
  display: inline-block;
  height: 48px;
  width: 48px;
  padding: 14px 16px;
}