/**
 * Created by Igor Malyuta on 12.04.2019.
 */
.THIS.icons{
    display: inline-flex;
}

.THIS .icon-item{
    padding-left: 10px;
}

.THIS .dots{
    padding-left: 10px;
    padding-top: 13px;
    font-weight: bold;
}