/**
 * Created by Igor Malyuta on 08.04.2019.
 */
.THIS.sv-panel {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
    overflow: visible;
}

.THIS .sv-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 9px;
}

.THIS .sv-title {
    font-size: 1rem;
    font-weight: 600;
    line-height: 27px;
}

.THIS .PP_Name_Btn {
    line-height: unset !important;
}

.THIS .sv-btn {
    box-shadow: 0 4px 8px 0 rgba(41, 125, 253, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.04),
        0 8px 16px 0 rgba(41, 125, 253, 0.32);
}

.THIS .sv-body {
    min-height: 220px;
    position: relative;
}

.THIS .visitIcons {
    max-width: 180px;
}
/*
.THIS .cRRIconSplitter .icon .tooltiptext {
    left: auto;
    right: 0;
}
*/
.THIS .leftIcon {
    display: inline-block;
}

.THIS .svl-icon {
    height: 32px;
    width: 32px;
}

.THIS .cRRIconSplitter .dots {
    display: none;
}

.THIS .sv-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-grow: 1;
    height: 49px;
    background-color: #f8f9fb;
}

.THIS .sv-footerRTL {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-grow: 1;
    height: 49px;
    background-color: #f8f9fb;
}

.THIS .sv-footer .cRRLink.rr-link {
    padding-right: 16px;
    position: relative;
    font-size: 1rem;
}

.THIS .sv-footer .cRRLink.rr-link:after {
    content: '';
    position: absolute;
    background-size: 14px 14px;
    background-image: url(/resource/1569526732000/ChevronRightBlue);
    height: 14px;
    width: 14px;
    top: 10px;
    right: 0px;
    opacity: 0.7;
}

.THIS .main-container .message {
    padding: 10% 0 0;
}

.THIS .cEmptyListStub:after {
    content: '';
    position: absolute;
    background-size: 40px 40px;
    background-image: url(/resource/1569528630000/iconNotes);
    height: 40px;
    width: 40px;
    top: 45px;
    right: 46%;
    opacity: 0.3;
}

.THIS .cRRTable.rr-table th,
.THIS .cRRTable.rr-table td {
    /*padding: 4px 13px;*/
    font-size: 15px;
}

.THIS .visit-schedule {
    max-width: 140px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.THIS .visitIcons .cRRIconSplitter .icon:nth-of-type(n + 7) {
    display: none;
}

.THIS .cRRTable.rr-table tr td.visitIcons .cRRIconSplitter .icon:nth-of-type(6) {
    pointer-events: none;
    cursor: not-allowed;
    position: relative;
}

.THIS .visitIcons .cRRIconSplitter .icon:nth-of-type(6) .icon-item {
    visibility: hidden;
}

.THIS .visitIcons .cRRIconSplitter .icon:nth-of-type(6):after {
    content: '...';
    position: absolute;
    left: 10px;
    bottom: -3px;
    font-size: 1.5rem;
}

.THIS .visitIcons .icons-container.cRRIconSplitter {
    overflow: visible;
}

.THIS .visitIcons .cRRIconSplitter .icons-row {
    position: relative;
}

@media all and (max-width: 768px) {
    .THIS .sv-body {
        padding: 1rem;
    }

    .THIS .sv-header {
        padding: 10px 1rem;
    }

    .THIS tr:first-child {
        display: none;
    }

    .THIS tr {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #e9e9e9;
    }

    .THIS tr:last-child {
        border-bottom: none;
    }

    .THIS .cRRTable.rr-table td {
        display: flex;
        margin-bottom: 12px;
        color: #000;
        padding: 0;
        height: auto;
        max-width: 100%;
    }

    .THIS .cRRTable.rr-table tr:nth-of-type(n + 3) td:first-child {
        padding-top: 15px;
    }

    .THIS .cRRTable.rr-table td:last-child {
        margin-bottom: 1rem;
    }

    .THIS .cRRIconSplitter .icon:nth-of-type(6):after {
        bottom: -5px;
    }

    .THIS .cRRIconSplitter .icons-row {
        width: 100%;
    }
}

@media (any-pointer: coarse) {
    .THIS .rr-table {
        font-size: 1rem;
    }

    .THIS .icons-container.cRRIconSplitter {
        overflow: visible;
    }

    .THIS .cRRTable.rr-table tr td .icon {
        position: relative;
        overflow: visible;
    }

    .THIS .cRRIconSplitter .icon:first-child .icon-item {
        margin-left: 0;
    }

    .THIS .cRRIconSplitter .icon-item {
        padding-left: 5px;
        margin: 8px;
    }
}

@media all and (min-width: 769px) {
    .THIS .cRRIconSplitter .icon .tooltiptext {
        left: auto;
        right: 0;
    }
}

@media all and (max-width: 768px) {
    .THIS .cRRIconSplitter .icon .tooltiptext {
        left: -10%;
        right: auto;
    }
}

@media all and (max-width: 468px) {
    .THIS .cRRTable.rr-table tr td .cRRIconSplitter .icon {
        position: static;
    }
}

.THIS .PP_Name_Btn button{
    text-align: left;
}