/**
 * Created by Leonid Bartenev
 */
.THIS.all-content {
    overflow: auto;
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Proxima Nova';
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 50px;
}

.THIS .body-cell {
}

.THIS .body-content {
    width: 320px;
    margin: 0 auto;
}

.THIS .logo-block {
    text-align: center;
    font-size: 30px;
    margin: auto;
    margin-top: 50px;
    max-width: 450px;
}

.THIS .login-title {
    font-size: 60px;
    font-weight: 500;
    line-height: 70px;
    text-align: center;
    margin-bottom: 30px;
}

.THIS .login-sub-title {
    opacity: 0.7;
    color: #ffffff;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
}

.THIS .rr-link {
    color: #297dfd;
    display: inline-flex;
    align-items: center;
    /* margin-bottom: 45px; */
}

.THIS .rr-link:hover {
    color: #297dfd;
    text-decoration: none;
}

.THIS .logo-row {
    display: inline-flex;
}

.THIS .main-logo {
    margin: 40px 0;
    /*height: 110px;*/
}

.THIS .login-form-panel {
    background: white;
    border-radius: 4px;
    padding-top: 50px;
    /* padding-bottom: 10px; */
}

.THIS .CPRAFooter{
    background-color : #F2F2F2;
    height: 116px;
    margin-top: 40px;
    text-align: center;
}

.THIS .login-form-panel .brand-header {
    color: #ea6621;
    height: 48px;
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    text-align: center;
}

.THIS .login-form-panel .brand-sub-header {
    width: 314px;
    opacity: 0.7;
    color: #444444;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 20px;
    padding: 0 10px;
}

.THIS .lg-form-element input {
    color: #000000 !important ;
}

.THIS .lg-form-element {
    border-bottom-color: #868686;
}

.THIS .lg-form-element label {
    color: #868686;
}

.THIS a.forgot-password-link {
    color: #868686 !important;
}

/*.THIS .rr-login-info-title {*/
/*    display: none;*/
/*}*/

.THIS .powered-by {
    color: black;
    font-size: 14px;
    /* text-align: center; */
    /* padding: 11px;  */
}
.THIS .page-link {
    cursor: pointer;
    display: inline-block;
    font-family: 'Proxima Nova';
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color : #0768fd;
    /* text-align: center; */
    width: 100%;
    /* padding-top: 33px; */
}

.THIS .lg-form-element input {
    border: none !important;
}
.THIS .imgclass{
    margin-left: 5px;
    padding-bottom: 2px;
}

@media (max-width: 500px) {
    .THIS.all-content {
        align-items: normal;
        padding-top: 30px;
    }

    .THIS .body-content {
        margin: 0 1rem;
        width: auto;
    }

    .THIS .login-form-panel .brand-sub-header {
        width: 100%;
    }

    .THIS .login-form-panel {
        padding: 1rem 0.5rem;
    }

    .THIS .cRRLoginForm {
        padding-top: 0 !important;
    }

    .THIS .logo-block {
        margin-top: 10px;
    }

    .THIS .main-logo {
        margin: 0;
        padding: 0 20px;
        margin-top: 10px;
    }
}

@media screen and (max-width: 350px) {
    .THIS .login-form-panel .brand-header {
        font-size: 28px;
    }
}