/**
 * Created by Nikita Abrazhevitch on 13-Jun-20.
 */

.THIS .status-alert-icon{
    width:24px;
    height: 24px;
    fill: #FF9300;
}

.THIS.delegate-alert-message{
    border: 1px solid #E9E9E9;
    border-radius: 7px;
    padding: 24.83px 32.5px 14.5px 17.5px;
    margin: 16px 10px;
}

.THIS .alert-text {
    font-size: 16px;
    margin-bottom: 16px;
}

.THIS .alert-text :first-child{
    font-weight: 600;
}

.THIS .status-alert-action-button{
    font-size: 14px;
    line-height: 24px;
    color: #444444;
    background-color: #F2F2F2;
}

.THIS .alert-icon-margin{
    margin-right: 16px;
}