.result-container {
    box-sizing: border-box;
    /* height: 519px; */
    width: 100%;
    border: 1px solid #d9d9d9;
    border-radius: 1rem;
    background: linear-gradient(180deg, #ffffff 0%, #ffffff 100%);
}
.result-container-mobile {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #d9d9d9;
    border-radius: 1rem;
    background: linear-gradient(180deg, #ffffff 0%, #ffffff 100%);
}
.position-container {
    position: relative;
    height: 100%;
}

.full-width {
    width: 100%;
}

.curve-input {
    display: flex;
    position: relative;
    width: 100%;
    border-radius: 1rem;
    border: 1px solid #d9d9d9;
    padding-left: 2.25rem;
    background-color: #f2f2f2;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 1.5rem;
    color: #595959;
}
.curve-input:focus-within {
    border: 1px solid #015ff1;
}

.curve-input .svg-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    left: 20px;
    fill: #009dd6;
}

.image-result-header {
    height: 3.25rem;
    width: 5rem;
    float: right;
}

.no-result-image {
    height: 4.84rem;
    width: 5.69rem;
}

.no-result-text {
    height: 1.5rem;
    color: #999999;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.5rem;
    text-align: center;
}

.result-type-disclaimer {
    color: #444444;
    font-size: 0.875rem;
    letter-spacing: 0;
    line-height: 1.3125rem;
    text-align: start;
    word-wrap: break-word;
}

.divider {
    opacity: 0.75;
    border-color: #e9e9e9 !important;
}

.show-result-type-text {
    color: #000000;
    font-size: 0.875rem;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 1.5rem;
}

.toggle-off-image {
    height: 2.5rem;
    width: 2.6rem;
}

.toggle-off-text {
    color: #6e6e6e;
    font-size: 1rem;
    letter-spacing: 0;
    text-align: center;
    padding-bottom: 5.313rem;
}

.no-result-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 22.5rem;
}

.height-container-with-result {
    min-height: 100%;
}
.height-container-with-out-result {
    min-height: 493px;
}

.view-all-results {
    color: #0768fd;
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
}
.loading-container {
    height: 228px;
}
