/**
 * Created by Andrii Kryvolap.
 */
.nic-button {
    color: #ffffff;
    display: inline;
    padding: 16px 20px
}
.nic-container{
    position: relative;
    display: inline;
}
.nic-container:hover{
    cursor: default;

}
.nic-container:focus{
    outline: none;
}
:host {
    height: 50px;
    min-width: 30px;
}