/**
 * Created by Nargiz Mamedova on 12/13/2019.
 */

.THIS.sv-panel {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
}

.THIS .sv-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 9px;
}

.THIS .sv-title{
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    padding: 16px;
}

.THIS .sv-body{
    min-height: 220px;
    position: relative;
}

.THIS .sv-element{
    margin-left: 20px;
}