/**
 * Created by Igor Malyuta on 04.01.2020.
 */
.ms-item {
    width: 770px;
    display: flex;
    padding: 5px 10px;
}

.ms-item-icon {
    width: 33px;
    height: 32px;
    border-radius: 50%;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ms-item-content {
    padding: 0 5px;
    width: 100%;
}

.ms-item-title {
    display: flex;
    justify-content: space-between;
}

.ms-item-name {
    font-weight: 600;
    font-size: 16px;
}

.ms-item-time {
    font-size: 14px;
    font-weight: 400;
}

.ms-item-text {
    padding-top: 5px;
    font-size: 16px;
    font-weight: 400;
    word-break: break-word;
    word-wrap: break-word;
}