/**
 * Created by Igor Malyuta on 04.01.2020.
 */
.ms-item {
    width: 780px;
    display: flex;
}

.ms-item-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: white;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ms-item-content {
    padding: 0 5px;
    width: 100%;
}

.ms-item-title {
    display: flex;
    justify-content: space-between;
}

.ms-item-name {
    font-weight: bold;
}

.ms-item-time {

}

.ms-item-text {
    padding-top: 5px;
}