/**
 * Created by Igor Malyuta on 04.01.2020.
 */
.ms-item {
    display: flex;
    padding: 10px;
    flex: 1 1 auto;
}

.ms-item-icon {
    min-width: 33px;
    width: 33px;
    height: 32px;
    border-radius: 50%;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ms-item-content {
    padding: 0 5px 0 13px;
    flex: 1 1 auto;
}

.ms-item-title {
    display: flex;
    justify-content: space-between;
}

.ms-item-name {
    font-weight: 600;
    font-size: 16px;
    color: #000;
}

.ms-item-time {
    font-size: 14px;
    font-weight: 400;
    color: #444444;
    line-height: 21px;
    text-align: right;
}

.ms-item-text {
    padding-top: 5px;
    font-size: 16px;
    font-weight: 400;
    word-break: break-word;
    word-wrap: break-word;
    color: #4A4A4A;
}

.ms-attach {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    height: 32px;
    border: .5px solid #b5b5b5;
    border-radius: 4px;
    background: #fff;
    margin-top: 6px;
    padding: 0 10px;
}

.ms-att-label {
    max-width: 600px;
    flex-grow: 1;
    padding-left: 5px;
    padding-right: 10px;
    color: #297DFD;
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 479px){
    .ms-item-title {
        flex-direction: column;
        align-items: flex-start;
    }
    .ms-att-label {
        max-width: 200px;
    }
}