/**
 * Created by Igor Malyuta on 18.03.2019.
 */

/*Hide side markersTitle list*/
.THIS .slds-coordinates{
    display: none;
}

.THIS.inform-window{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 374px;
    background-color: #D9D9D9;
    color: #6b6b6b;
    font-size: 20px;
    text-align: center;
}

@media all and (max-width: 500px) {
 	.THIS .slds-map {
        min-width: auto;
    }   
}