/**
 * Created by Leonid Bartenev
 */
.THIS.page-link {
    cursor: pointer;
    display: inline-block;

    color: #297dfd;
    font-family: 'Proxima Nova';
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
}

.THIS .imgclass{
    margin-left: 5px;
}