/**
 * Created by Andrii Kryvolap.
 */
.THIS.db-participant-card {
    background-color: #F8F9FB;
    margin-top: 16px;
    border-radius: 4px;
    padding: 10px 7px 14px 14px;
    font-size: 16px;
}

.THIS .db-participant-card-title{
    display: flex;
    justify-content: space-between;
}
.THIS .accept-btn{
    overflow-x: visible;
}
.THIS .accept-btn .menu-popup-panel{
    left: -130px;
}

@media screen and (max-width: 550px){
    .THIS .db-participant-card-title {
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;          
    }
    
    .THIS .db-participant-card-title .accept-btn {
        margin: 15px 0;
    }
}
/*.THIS.db-participant-card + .THIS.db-participant-card{*/
/*    background-color: #F8F9FB;*/
/*    margin-top: 16px;*/
/*    border-radius: 4px;*/
/*}*/

