/**
 * Created by Yehor Dobrovolskyi
 */
.THIS {
}
.THIS.as-title {
    color: #000000;
    font-size: 30px;
    line-height: 36px;
}

.THIS.as-sub-title {
    color: #444;
    font-size: 13px;
    line-height: 16px;
}

.THIS .apollo-btn.primary {
    margin-top: 30px;
}

@media screen and (max-width: 500px) {
    
    .THIS .slds-pill {
     	height: 40px;   
    }
    
    .THIS .slds-pill .slds-pill__label {
        width: 65%;
        padding-left: .5rem;
    }
    
    .THIS .slds-pill .slds-button {
        margin-right: .5rem;
    }
    
     .THIS .slds-pill .slds-button__icon_small {
        width: 1.25rem;
        height: 1.25rem
    }
}