/**
 * Created by Sneha Shilpa Thuluri
 */

.THIS {
    padding: 1.5rem;
}

.THIS .ls-select {
    width: 100%;
}

.THIS .language-switcher {
    width: 95%;
}

.THIS .language-switcher > * {
    margin-top: 20px;
}

.THIS .slds-form-element__icon {
    margin-top: -2px;
    margin-left: 7px;
}

.THIS .language-switcher .slds-form-element__icon .slds-button {
    color: #297dfd;
}

.THIS .language-switcher .slds-form-element__icon .slds-button .slds-button__icon {
    width: 16px;
    height: 16px;
}

.THIS .section-description {
    width: 80%;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #444;
}

.THIS .slds-form-element__icon {
    padding-top: 0;
    margin-left: 3px;
}

.THIS .as-title {
    color: #000000;
    font-family: 'Proxima Nova';
    font-size: 18px;
    font-weight: 600;
    line-height: 1;
    margin-top: 10px;
}

.THIS .apollo-btn.secondary {
    background: #0768fd;
    color: white;
    margin-top: 10px;
    margin-left: 20px;
}

.THIS.as-container {
    position: relative;
    padding-bottom: 100px;
    padding-left: 24px;
}

.THIS .pr_40 {
    padding-top: 40px;
}

.THIS .slds-form-element__help {
    position: absolute;
}

.THIS .as-buttons-footer {
    margin-top: 30px;
}

@media (max-width: 768px) {
    .THIS {
        padding: 12px 1.5rem 1.5rem;
    }

    .THIS .as-title {
        line-height: 19px;
    }

    .THIS.as-container .as-sub-title,
    .THIS .cLanguageSwitcher .section-description {
        width: 100%;
    }

    .THIS .as-email-pref-item {
        margin-top: 15px;
        height: 42px;
        display: flex;
        padding-left: 80px;
        align-items: center;
        position: relative;
    }

    .THIS .as-email-pref-item .ah-toggle {
        left: 0;
        top: 5px;
        position: absolute;
    }

    .THIS .section-description {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .THIS {
        padding-bottom: 85px;
    }

    .THIS .language-switcher > * {
        padding: 0;
    }

    .THIS .slds-gutters.as-email-input .slds-col,
    .THIS .slds-gutters.as-password-input .slds-col {
        padding-right: 0;
        margin-bottom: 15px;
    }

    .THIS .language-switcher {
        width: 100%;
        margin: 0;
    }
    .THIS .apollo-btn {
        width: 100%;
    }

    .THIS .rr-form-element .label {
        min-width: 100%;
    }

    .THIS.as-container .as-language-switcher .apollo-btn {
        width: 100%;
        margin-top: 15px;
        height: auto;
    }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .THIS .widthAlign input {
        width: auto;
    }

    .THIS .ls-select {
        width: 300px;
    }
}
