/**
 * Created by Leonid Bartenev
 */

.THIS {
    padding: 30px;
}

.THIS .ls-select{
    width: 100%
}
.THIS .as-container .slds-grid.language-switcher{
    width: 95%;
}

.THIS .language-switcher > .rr-form-element {
    margin-bottom: 2rem;
}

.THIS .language-switcher > .rr-form-element:first-child {
    margin-bottom: 2rem;
    margin-top: 1.5rem;
}

.THIS .rr-form-element + .rr-form-element {
    margin-top: 0;
}

.THIS .section-description {
    width: 80%;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 1rem;
    color: #595959;
}

.THIS .slds-form-element__icon {
    padding-top: 0;
    margin-left: 3px;
}

.THIS .as-title{
    height: 22px;
    width: 300px;
    color: #000000;
    font-family: "Proxima Nova";
    font-size: 18px;
}
.THIS .apollo-btn.secondary{
    background: #0768FD;
    color:white;
    margin-top: 10px;
    margin-left:20px;
}

.THIS.as-container {
    position: relative;
   padding-left: 12px;
   
}

.THIS .slds-button__icon {
    color: #b5b5b5;
}

.THIS .as-buttons-footer {
    margin-top: .5rem;
}