.THIS .rr-error {
    color: rgb(194, 57, 52);
    font-size: 0.75rem;
}

.THIS .slds-checkbox {
    display: inline-flex;
}

.THIS .connectPatient {
    margin-top: 21px;
}

@media all and (max-width: 500px) {
    .THIS .connectPatient {
        margin-top: 0;
    }

    .THIS:nth-child(6) {
        /*order: 7;*/
    }

    .THIS.rr-form-element {
        padding-right: 10px;
    }

    .THIS > .slds-size--2-of-10 {
        max-width: 50%;
    }
}
